/** ************************************************************* **/
/* submenu */

#topNav {
  ul.dropdown-menu {
    text-align: left;
    margin-top: 0;
    box-shadow: none;
    border: #eee 1px solid;
    border-top: #eee 1px solid;
    list-style: none;
    background: #fff;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 12px;
    min-width: 200px;
    padding: 0;
    border-color: #1ABC9C #fff #fff;
    -webkit-transition: top .4s ease;
    -o-transition: top .4s ease;
    transition: top .4s ease;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    ul.dropdown-menu {
      margin-top: -1px !important;
      /* -1px required for border-top menu */
    }
    li {
      position: relative;
      /*border-bottom: rgba(0,0,0,0.06) 1px solid;*/
      &:last-child {
        border-bottom: 0;
      }
      a {
        margin: 0;
        padding: 7px 15px;
        font-weight: 400;
        line-height: 23px;
        color: #666;
        font-size: 12px;
        display: block;
        text-decoration: none;
      }
    }
    > li a i {
      margin-right: 6px;
      font-size: 12px;
    }
    a.dropdown-toggle {
      background-position: right center;
      background-repeat: no-repeat;
    }
    li {
      &.active {
        > a, &:hover > a, &:focus > a {
          color: #000;
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
      &:hover > a, &:focus > a {
        color: #000;
        background-color: rgba(0, 0, 0, 0.05);
      }
      &.divider {
        margin: -1px 0 0 0;
        padding: 0;
        border: 0;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .nav li:hover > ul.dropdown-menu {
    padding: 0;
    display: block;
    z-index: 100;
  }
  ul.dropdown-menu {
    li .badge {
      margin-top: 4px;
    }
    > li:hover > ul.dropdown-menu {
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
      padding: 0;
      margin: 0;
      border-left: 0 !important;
      border-right: 0 !important;
      border-bottom: 0 !important;
    }
  }
}



/* sub-submenu */

/** ************************************************************* **/


/** Responsive Top Nav
 ********************* **/
@media only screen and (max-width: 992px) {
  .navbar-collapse {
    height: 100%;
  }
  form.mobile-search {
    display: block;
  }
  #topNav {
    div.nav-main-collapse {
      padding: 0;
      margin: 0;
    }
    button.btn-mobile {
      display: block;
      float: right;
      margin-right: 0;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
  #header {
    &.dark #topNav button.btn-mobile, &.transparent #topNav button.btn-mobile, &.theme-color #topNav button.btn-mobile {
      color: #fff;
    }
  }
  #topNav {
    nav.nav-main {
      background-color: #fff;
    }
    div.nav-main-collapse {
      width: 100%;
      margin: -1px 0 0 0;
      &.in {
        width: 100%;
        margin: -1px 0 0 0;
      }
      float: none;
      overflow-x: hidden;
      max-height: 350px;
    }
  }
  /* ======================== MOBILE MENU V2 ===================== */
  html.noscroll {
    overflow: hidden !important;
    body {
      overflow: hidden !important;
    }
  }
  #header.fixed #topNav div.nav-main-collapse {
    max-height: 100% !important;
    height: 100%;
    width: 100%;
    position: fixed !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999 !important;
    overflow-y: scroll !important;
    padding-top: 58px !important;
    margin: 0 !important;
  }
  #topNav div.nav-main-collapse {
    max-height: 100% !important;
    height: 100%;
    width: 100%;
    position: fixed !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999 !important;
    overflow-y: scroll !important;
    padding-top: 58px !important;
    margin: 0 !important;
    -webkit-overflow-scrolling: touch;
    /* iOS smooth scroll */
    -webkit-animation: fadeIn .3s !important;
    animation: fadeIn .3s !important;
  }
  #header.fixed #topNav button.btn-mobile-active {
    position: fixed !important;
    z-index: 999999 !important;
    background-color: #232323 !important;
    height: 60px !important;
    top: 0 !important;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 !important;
    opacity: 0.9;
  }
  #topNav button.btn-mobile-active {
    position: fixed !important;
    z-index: 999999 !important;
    background-color: #232323 !important;
    height: 60px !important;
    top: 0 !important;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 !important;
    opacity: 0.9;
    > i {
      float: right;
      margin-right: 10px;
      margin-left: 10px;
      color: #fff !important;
      font-size: 30px;
      &:before {
        content: "\f00d" !important;
      }
    }
  }
  #menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10 !important;
  }
  /* dropdown background color */
  #topMain {
    color: #fff;
    background-color: #333;
    display: block;
  }
  #topNav ul.dropdown-menu {
    color: #fff;
    background-color: #333;
    display: block;
    border: 0;
  }
  #topMain > li > a {
    color: #fff !important;
  }
  #topNav ul.dropdown-menu li > a {
    color: #fbfbfb !important;
  }
  #topMain > li > a {
    font-size: 15px !important;
  }
  #topNav {
    ul.dropdown-menu li > a {
      font-size: 15px !important;
    }
    div.nav-main-collapse {
      &.collapse:not(.show) {
        display: none;
      }
      &.in {
        display: block !important;
      }
      position: relative;
    }
  }
  /* ====================== END MOBILE MENU V2 ==================== */
  #topMain {
    > li > a > span {
      display: none !important;
    }
    li {
      display: block !important;
      float: none;
      text-align: left;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      a {
        text-align: left;
        border: 0;
        height: auto;
        line-height: 15px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
    > li {
      &:hover {
        border-top: 0 !important;
        > a {
          border-top: 0 !important;
        }
      }
      > a {
        height: auto;
        line-height: auto;
      }
    }
    ul.dropdown-menu {
      position: static;
      clear: both;
      float: none;
      display: none !important;
      border-left: 0 !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  /* submenu */
  #topNav {
    nav.nav-main li.resp-active > ul.dropdown-menu {
      display: block !important;
      margin-left: 30px;
      margin-right: 30px;
      padding: 20px 0;
      border-right: 0;
      li {
        border-left: 0;
      }
    }
    ul {
      &.nav > li {
        &:hover > a:before, &.active > a:before {
          background-color: transparent;
        }
      }
      &.dropdown-menu > li:hover > ul.dropdown-menu {
        position: static;
      }
    }
    div.submenu-dark ul.dropdown-menu {
      border-top: 0;
    }
    nav.nav-main li {
      &.resp-active > ul.dropdown-menu {
        margin: 0;
        padding: 0;
      }
      > ul.dropdown-menu li a {
        padding-left: 40px;
        width: 100%;
        display: block;
      }
    }
    .dropdown-menu {
      &.float-right, &.float-left {
        float: none !important;
      }
    }
  }
  /** sub menu */
}

@media only screen and (max-width: 500px) {
  #topNav div.nav-main-collapse {
    max-height: 290px;
    overflow-y: auto;
  }
}

/* Mega Menu */

#topNav {
  #topMain > li.mega-menu {
    position: inherit;
    color: #fff;
    > ul {
      max-width: 100%;
      width: 100%;
      top: inherit;
    }
    div.row {
      display: table;
      margin: 0;
      padding: 0;
      width: 100%;
      div {
        display: table-cell;
        border-left: rgba(0, 0, 0, 0.1) 1px solid;
        margin-left: -1px;
        display: table-cell;
        vertical-align: top;
        float: none;
        margin: 0;
        padding: 15px 0 0 0;
        > ul > li > span {
          color: #111;
          font-weight: bold;
          display: block;
          padding: 6px 15px 15px 15px;
        }
        &:first-child {
          border-left: 0;
        }
        > ul > li + li > span {
          margin-top: 25px;
        }
      }
      > div:first-child {
        border-left: 0 !important;
      }
    }
  }
  ul.dropdown-menu a.dropdown-toggle {
    background-image: url('../images/_smarty/submenu_light.png');
  }
  div.submenu-dark {
    ul.dropdown-menu {
      background: #333;
      background-color: #333;
      a.dropdown-toggle {
        background-image: url('../images/_smarty/submenu_dark.png');
      }
      li {
        &.active {
          > a, &:hover > a, &:focus > a {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.15);
          }
        }
        &:hover > a, &:focus > a {
          color: #fff;
          background-color: rgba(0, 0, 0, 0.15);
        }
        &.divider {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
      > li a {
        color: #ccc;
      }
    }
    #topMain > li.mega-menu div.row {
      div > ul > li > span {
        color: #fff;
      }
      > div {
        border-left: rgba(0, 0, 0, 0.2) 1px solid;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  #topNav #topMain > li.mega-menu div.row div > ul > li > span {
    color: #fff;
  }
}

/* LIGHT SUBMENU */

/* DARK SUBMENU */

@media only screen and (max-width: 992px) {
  #topNav div.submenu-dark li > a {
    color: #fff !important;
  }
  #header {
    &.translucent #topMain, &.dark.transparent #topMain {
      background-color: #333 !important;
    }
  }
}