     <table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
         <td><br />{$also_purchased_products}</td>
       </tr>
       <tr>
         <td><br />{$xsell_products}</td>
       </tr>
       <tr>
         <td><br />{$up_sell_products}</td>
       </tr>
      <tr>
        <td>{include file="$theme_set/products/history_products.html"}</td>
      </tr>
{$new_products}
{$featured}
      <tr>
       <td><hr size="1" noshade></td>
      </tr>
{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
{/if}
  <tr>
    <td>{include file="$theme_set/products/slavery_product_listing.html"}</td>
  </tr>
{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
{/if}
     </table>
