extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Pages'
  
//- Page Content
block content

  .container.pb-5
    .pt-5
      img(src='img/404.jpg' alt='404 Page not found').d-block.my-4.mx-auto
    .pt-3.pb-2.text-center
      h1.h2 Page not found!
      p.text-muted
        | It seems we can’t find the page you are looking for.&nbsp;
        a(href='index.html').font-weight-semibold Go back to Homepage
        br
        | Or try using search at the top right corner of the page.
