extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Pages'
  
//- Page Content
block content

  .container-fluid.px-0

    // Row
    .row.no-gutters
      .col-md-6.bg-position-center.bg-size-cover.bg-secondary(style='min-height: 15rem; background-image: url(img/about/01.jpg);')
        span.split-section-arrow.arrow-left
      .col-md-6.px-3.px-md-5.py-5
        .mx-auto(style='max-width: 35rem;').py-lg-5
          h2.h3.pb-3 Search, Select, Buy online
          p.pb-3.opacity-75 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor tristique nec.
          a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary
            | View products
            i(data-feather='arrow-right').ml-1
    
    // Row
    .row.no-gutters
      .col-md-6.bg-position-center.bg-size-cover.bg-secondary.order-md-2(style='min-height: 15rem; background-image: url(img/about/02.jpg);')
        span.split-section-arrow.arrow-right
      .col-md-6.px-3.px-md-5.py-5.order-md-1
        .mx-auto(style='max-width: 35rem;').py-lg-5
          h2.h3.pb-3 Fast delivery worldwide
          p.pb-3.opacity-75 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor tristique nec.
          a(href='#').btn.btn-pill.btn-outline-primary
            | Shipping details
            i(data-feather='arrow-right').ml-1

    // Row
    .row.no-gutters
      .col-md-6.bg-position-center.bg-size-cover.bg-secondary(style='min-height: 15rem; background-image: url(img/about/03.jpg);')
        span.split-section-arrow.arrow-left
      .col-md-6.px-3.px-md-5.py-5
        .mx-auto(style='max-width: 35rem;').py-lg-5
          h2.h3.pb-3 Great mobile app. Shop on the go
          p.pb-3.opacity-75 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod. Duis erat lectus, ultrices euismod sagittis at dolor tristique nec.
          a(href='#' role='button').market-btn.apple-btn.mr-3.mb-3
            span.market-button-subtitle Download on the
            span.market-button-title App Store
          a(href='#' role='button').market-btn.google-btn.mr-3.mb-3
            span.market-button-subtitle Download on the
            span.market-button-title Google Play
    
    // Row
    .row.no-gutters
      .col-md-6.bg-position-center.bg-size-cover.bg-secondary.order-md-2(style='min-height: 15rem; background-image: url(img/about/04.jpg);')
        span.split-section-arrow.arrow-right
      .col-md-6.px-3.px-md-5.py-5.order-md-1
        .mx-auto(style='max-width: 35rem;').py-lg-5
          h2.h3.pb-3 Shop offline. Cozy outlet stores
          p.pb-3.opacity-75 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor tristique nec.
          a(href='contacts.html').btn.btn-pill.btn-outline-primary
            | See outlet stores
            i(data-feather='arrow-right').ml-1

    // Row
    .row.no-gutters
      .col-md-6.bg-position-center.bg-size-cover.bg-secondary(style='min-height: 15rem; background-image: url(img/about/05.jpg);')
        span.split-section-arrow.arrow-left
      .col-md-6.px-3.px-md-5.py-5
        .mx-auto(style='max-width: 35rem;').py-lg-5
          h2.h3.pb-3 We are hiring new talents
          p.pb-3.opacity-75 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor tristique nec.
          a(href='#').btn.btn-pill.btn-outline-primary
            | Submit your CV
            i(data-feather='arrow-right').ml-1
