extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Pages'
  
//- Page Content
block content

  .container.pb-5.mb-sm-4
    .row.justify-content-center.pt-5
      .col-lg-8.col-md-10.mt-sm-3
        h2.h3.mb-4 Forgot your password?
        p Change your password in three easy steps. This helps to keep your new password secure.
        ol.list-unstyled
          li
            span.font-weight-semibold.text-primary.mr-2 1.
            | Fill in your email address below.
          li
            span.font-weight-semibold.text-primary.mr-2 2.
            | We'll email you a temporary code.
          li
            span.font-weight-semibold.text-primary.mr-2 3.
            | Use the code to change your password on our secure website.
        .card.py-2.mt-4
          form(novalidate).card-body.needs-validation
            .form-group
              label(for='recover-email') Enter your email address
              input(type='email' id='recover-email' required).form-control
              .invalid-feedback Please provide valid email address.
            button(type='submit').btn.btn-primary Get new password
