extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Pages'
  
//- Page Content
block content

  .container.pb-5.mb-sm-4
    .row.pt-5
      .col-md-6.pt-sm-3
        .card
          .card-body
            h2.h4.mb-1 Sign in
            .d-sm-flex.align-items-center.py-3
              h3.h6.font-weight-semibold.opacity-70.mb-3.mb-sm-2.mr-sm-3 With social account:
              div
                a(href='#' data-toggle='tooltip' title='Sign in with Facebook').social-btn.sb-facebook.mr-2.mb-2
                  i.flaticon-facebook
                a(href='#' data-toggle='tooltip' title='Sign in with Twitter').social-btn.sb-twitter.mr-2.mb-2
                  i.flaticon-twitter
                a(href='#' data-toggle='tooltip' title='Sign in with LinkedIn').social-btn.sb-linkedin.mr-2.mb-2
                  i.flaticon-linkedin
            hr
            h3.h6.font-weight-semibold.opacity-70.pt-4.pb-2 Or using form below
            form(novalidate).needs-validation
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i(data-feather='mail')
                input(type='email' placeholder='Email' required).form-control
                .invalid-feedback Please enter valid email address!
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i(data-feather='lock')
                input(type='password' placeholder='Password' required).form-control
                .invalid-feedback Please enter valid password!
              .d-flex.flex-wrap.justify-content-between
                .custom-control.custom-checkbox
                  input(type='checkbox' checked)#remember_me.custom-control-input
                  label(for='remember_me').custom-control-label Remember me
                a(href='account-password-recovery.html').nav-link-inline.font-size-sm Forgot password?
              hr.mt-4
              .text-right.pt-4
                button(type='submit').btn.btn-primary Sign In
      .col-md-6.pt-5.pt-sm-3
        h2.h4.mb-3 No account? Sign up
        p.text-muted.mb-4 Registration takes less than a minute but gives you full control over your orders.
        form(novalidate).needs-validation
          .row
            .col-sm-6
              .form-group
                label(for='reg-fn') First Name
                input(type='text' required)#reg-fn.form-control
                .invalid-feedback Please enter your first name!
            .col-sm-6
              .form-group
                label(for='reg-ln') Last Name
                input(type='text' required)#reg-ln.form-control
                .invalid-feedback Please enter your last name!
            .col-sm-6
              .form-group
                label(for='reg-email') E-mail Address
                input(type='email' required)#reg-email.form-control
                .invalid-feedback Please enter valid email address!
            .col-sm-6
              .form-group
                label(for='reg-phone') Phone Number
                input(type='text' required)#reg-phone.form-control
                .invalid-feedback Please enter your phone number!
            .col-sm-6
              .form-group
                label(for='reg-password') Password
                input(type='password' required)#reg-password.form-control
                .invalid-feedback Please enter password!
            .col-sm-6
              .form-group
                label(for='reg-password-confirm') Confirm Password
                input(type='password' required)#reg-password-confirm.form-control
                .invalid-feedback Passwords do not match!
          .text-right
            button(type='submit').btn.btn-primary Sign Up

