extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Pages'
  - var isModalTicket = true
  
//- Page Content
block content

  .container.pt-lg-3.pb-5.mb-sm-3

    .row.pt-5

      // Sidebar
      .col-xl-3.col-lg-4

        // Customer picture
        a(href='#' style='max-width: 18.75rem;').gallery-item.mb-grid-gutter.mx-auto
          img(src='img/account/customer-lg.jpg' alt='Daniel Adams')
          .gallery-caption
            .gallery-indicator
              i(data-feather='refresh-ccw').gallery-indicator-icon
            | Change profile picture
        
        // Technical support + Tickets (visible Desktop)
        .d-none.d-lg-block
          h6.font-size-sm.mb-3.pb-2.border-bottom Technical support
          ul.list-unstyled
            li.font-size-sm.mb-2
              i(data-feather='mail' style='width: .875rem; height: .875rem;').text-muted.mr-2
              a(href='mailto:support@example.com').nav-link-inline support@example.com
            li.font-size-sm.mb-2
              i(data-feather='phone' style='width: .875rem; height: .875rem;').text-muted.mr-2
              a(href='tel:+100331697720').nav-link-inline +1 00 33 169 7720
            li.font-size-sm.mb-2
              i(data-feather='clock' style='width: .875rem; height: .875rem;').text-muted.mr-2
              | 1-2 business days
          .pt-2
            a(href='account-tickets.html').btn.btn-outline-secondary.btn-sm.btn-block
              i(data-feather='tag').mr-1
              | My tickets (1)
            a(href='account-tickets.html' data-toggle='modal' data-target='#open-ticket').btn.btn-success.btn-sm.btn-block Submit new ticket
      
      // Main content
      .col-lg-8.offset-xl-1

        // Customer details
        .d-flex.flex-wrap.justify-content-between.pb-4
          .pt-3.mr-3
            h3.mb-0 Daniel Adams
            span.font-size-sm.text-warning d.adams@example.com
          .pt-3
            a(href='account-signin.html').btn.btn-outline-primary.btn-sm
              i(data-feather='log-out').mr-1
              | Sign Out
        
        hr.pb-3

        // Tickets list
        .d-flex.pt-3.flex-wrap.justify-content-between.align-items-center
          h5.mb-3.mr-2
            | My tickets
            span.font-weight-normal.text-muted.ml-1 (1)
          .mb-3
            a(href='account-orders.html').btn.btn-outline-secondary
              i(data-feather='settings').mr-1
              | Back to dashboard
        
        .form-inline.pb-4.pt-3
          label(for='tickets-sort').text-muted.mr-3 Sort tickets
          select#tickets-sort.form-control.custom-select
            option All
            option Open
            option Closed
        .table-responsive.font-size-sm
          table.table.table-hover.mb-0
            thead
              tr
                th Ticket Subject
                th Date Submitted | Updated
                th Type
                th Priority
                th Status
            tbody
              tr
                td
                  a(href='account-single-ticket.html').nav-link-inline My new ticket
                td 05/08/2019 | 05/14/2019
                td Website problem
                td
                  span.badge.badge-warning.m-0 High
                td
                  span.badge.badge-primary.m-0 Open
              tr
                td
                  a(href='account-single-ticket.html').nav-link-inline Another ticket
                td 07/21/2018 | 07/23/2018
                td Partner request
                td
                  span.badge.badge-info.m-0 Medium
                td
                  span.badge.badge-secondary.m-0 Closed
              tr
                td
                  a(href='account-single-ticket.html').nav-link-inline Yet another ticket
                td 05/19/2018 | 05/20/2018
                td Complaint
                td
                  span.badge.badge-danger.m-0 Urgent
                td
                  span.badge.badge-secondary.m-0 Closed
              tr
                td
                  a(href='account-single-ticket.html').nav-link-inline My old ticket
                td 05/19/2018 | 05/20/2018
                td Info inquiry
                td
                  span.badge.badge-success.m-0 Low
                td
                  span.badge.badge-secondary.m-0 Closed
        hr.mb-4
        .text-right
          button(class='btn btn-primary btn-sm' data-toggle='modal' data-target='#open-ticket') Submit new ticket
        
        // Technical support + Tickets (visible Mobile)
        .d-lg-none.bg-secondary.px-3.py-4.mt-5
          h6.font-size-sm.mb-3.pb-2.border-bottom Technical support
          ul.list-unstyled
            li.font-size-sm.mb-2
              i(data-feather='mail' style='width: .875rem; height: .875rem;').text-muted.mr-2
              a(href='mailto:support@example.com').nav-link-inline support@example.com
            li.font-size-sm.mb-2
              i(data-feather='phone' style='width: .875rem; height: .875rem;').text-muted.mr-2
              a(href='tel:+100331697720').nav-link-inline +1 00 33 169 7720
            li.font-size-sm.mb-2
              i(data-feather='clock' style='width: .875rem; height: .875rem;').text-muted.mr-2
              | 1-2 business days
          .pt-2
            a(href='account-tickets.html').btn.btn-outline-secondary.btn-sm.btn-block
              i(data-feather='tag').mr-1
              | My tickets (1)
            a(href='account-tickets.html' data-toggle='modal' data-target='#open-ticket').btn.btn-success.btn-sm.btn-block Submit new ticket
