extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Blog right sidebar'
  - var parentMenu = 'Blog'
  - var menuTitle = 'Blog Right Sidebar'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Blog', 'link': '#'}]

//- Page Content
block content
  .container.pb-5.mb-4
    .row
      .col-lg-9

        // Post
        .row.pb-5
          .col-md-4
            .post-meta.d-flex.flex-wrap.justify-content-between.pb-3
              div.mr-2
                | by&nbsp;
                a(href='#') Olivia Reyes
                span.meta-divider
                a(href='#') Apr 20
              a(href='#')
                i(data-feather='message-square').mr-1
                | 13
            h3.h4.mb-4
              a(href='blog-single-rs.html').post-title Must have clothing on your next trip
          .col-md-8
            a(href='blog-single-rs.html').d-block.mb-3
              img(src='img/blog/01.jpg' alt='Post thumb').d-block
            p.font-size-sm Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni...
            .post-meta
              div 
                | in&nbsp;
                a(href='#') Fashion, &nbsp;
                a(href='#') Travelling
                span.meta-divider
                a(href='#') #apparel
        hr.pb-5

        // Post
        .row.pb-5
          .col-md-4
            .post-meta.d-flex.flex-wrap.justify-content-between.pb-3
              div.mr-2
                | by&nbsp;
                a(href='#') Paul Goodrich
                span.meta-divider
                a(href='#') Mar 16
              a(href='#')
                i(data-feather='message-square').mr-1
                | 24
            h3.h4.mb-4
              a(href='blog-single-rs.html').post-title Smart homes become even more smart
          .col-md-8
            a(href='https://player.vimeo.com/video/203972818?title=0&byline=0&portrait=0' data-fancybox data-width='1000' data-height='563').d-block.position-relative.mb-3
              .video-player-btn.position-absolute(style='top: 50%; left: 50%; margin-top: -2.25rem; margin-left: -2.25rem;')
                i(data-feather='play')
              img(src='img/blog/02.jpg' alt='Post thumb').d-block
            p.font-size-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
            .post-meta
              div 
                | in&nbsp;
                a(href='#') Consumer electronics
                span.meta-divider
                a(href='#') #IoT
        hr.pb-5

        // Post
        .row.pb-5
          .col-md-4
            .post-meta.d-flex.flex-wrap.justify-content-between.pb-3
              div.mr-2
                | by&nbsp;
                a(href='#') Cynthia Gomez
                span.meta-divider
                a(href='#') Feb 19
              a(href='#')
                i(data-feather='message-square').mr-1
                | 8
            h3.h4.mb-4
              a(href='blog-single-rs.html').post-title Global travel and vacations on a tight budget
          .col-md-8
            p.font-size-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse. Aliquid id nobis, amet dolorum earum maxime. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo...
            .post-meta
              div 
                | in&nbsp;
                a(href='#') Travelling, &nbsp;
                a(href='#') Vacations,
        hr.pb-5

        // Post
        .row.pb-5
          .col-md-4
            .post-meta.d-flex.flex-wrap.justify-content-between.pb-3
              div.mr-2
                | by&nbsp;
                a(href='#') Logan Coleman
                span.meta-divider
                a(href='#') Jan 27
              a(href='#')
                i(data-feather='message-square').mr-1
                | 31
            h3.h4.mb-4
              a(href='blog-single-rs.html').post-title How To Make Professional Video With Drones
          .col-md-8
            a(href='blog-single-rs.html').d-block.mb-3
              img(src='img/blog/03.jpg' alt='Post thumb').d-block
            p.font-size-sm Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni...
            .post-meta
              div 
                | in&nbsp;
                a(href='#') Consumer electronics
                span.meta-divider
                a(href='#') #drones
        hr.pb-4.mb-2

        //- pagination.pug template
        include partials/pagination

      .col-lg-3
        //- sidebar-blog.pug template
        include partials/sidebar-blog