extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Shop'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Shop', 'link': '#'}]

//- Page Content
block content

  .container.pb-5.mb-sm-4
    .pt-5
      .card.py-3.mt-sm-3
        .card-body.text-center
          h3.h4.pb-3 Thank you for your order!
          p.mb-2 Your order has been placed and will be processed as soon as possible.
          p.mb-2 Make sure you make note of your order number, which is <strong>34VB5540K83.</strong>
          p You will be receiving an email shortly with confirmation of your order. <u>You can now:</u>
          a(href='shop-style1-ls.html').btn.btn-secondary.mt-3.mr-3 Go back shopping
          a(href='order-tracking.html').btn.btn-primary.mt-3
            i(data-feather='map-pin')
            | &nbsp;Track order
