extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Single topic'
  - var parentMenu = 'Pages'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Help center', 'link': 'help-topics.html'}]

//- Page Content
block content
  .container.pb-5.mb-2
    .row
      .col-xl-3.col-lg-4

        // Related articles sidebar
        .offcanvas-sidebar
          .offcanvas-sidebar-toggle
            span.toggle-knob
              i(data-feather='chevrons-right')
              | Sidebar
          .offcanvas-sidebar-body
            .widget.widget-links
              h3.widget-title Related articles
              ul
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Managing account
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Working with dashboard
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Available payment methods
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Delivery information
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Order tracking instructions
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Refund policy
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Offers and discounts
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Reward points
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Affiliate program
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | After purchase support
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Service terms &amp; conditions
                li
                  a(href='#')
                    i(data-feather='chevron-right').widget-categories-indicator
                    | Most popular questions

      .col-xl-9.col-lg-8
        h2.h4.pb-3 Available payment methods when checkout
        p.font-size-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        p.font-size-sm Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
        .row.pt-3.pb-4.mb-2.mb-md-4
          .col-md-7
            img(src='img/pages/help-article.jpg' style='max-width: 508px;' alt='Help image').w-100.img-thumbnail
          .col-md-5.pt-4
            h3.h6 Pros of our payment options
            ul.list-unstyled.font-size-sm.pt-2
              li.d-flex.align-items-center.mb-1
                i(data-feather='check' style='width: 1rem; height: 1rem;').text-success.mr-2
                span Ut enim ad minima veniam, quis nostrum
              li.d-flex.align-items-center.mb-1
                i(data-feather='check' style='width: 1rem; height: 1rem;').text-success.mr-2
                span At vero eos et accusamus et iusto odio
              li.d-flex.align-items-center.mb-1
                i(data-feather='check' style='width: 1rem; height: 1rem;').text-success.mr-2
                span Nam libero tempore, cum soluta nobis
              li.d-flex.align-items-center.mb-1
                i(data-feather='check' style='width: 1rem; height: 1rem;').text-success.mr-2
                span Et harum quidem rerum facilis est et expedita
              li.d-flex.align-items-center.mb-1
                i(data-feather='check' style='width: 1rem; height: 1rem;').text-success.mr-2
                span Quis autem vel eum iure reprehenderit
              li.d-flex.align-items-center.mb-1
                i(data-feather='check' style='width: 1rem; height: 1rem;').text-success.mr-2
                span Excepteur sint occaecat cupidatat non
        h2.h4.pb-3 Methods detail
        #methods.accordion
          .card
            .card-header
              h3.accordion-heading
                a(href='#methodOne' role='button' data-toggle='collapse' aria-expanded='true' aria-controls='methodOne')
                  | Credit / debit cards
                  span.accordion-indicator
                    i(data-feather='chevron-up')
            #methodOne.collapse.show(data-parent='#methods')
              .card-body
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.
          .card
            .card-header
              h3.accordion-heading
                a(href='#methodTwo' role='button' data-toggle='collapse' aria-expanded='true' aria-controls='methodTwo').collapsed
                  | Pay with PayPal
                  span.accordion-indicator
                    i(data-feather='chevron-up')
            #methodTwo.collapse(data-parent='#methods')
              .card-body
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.
          .card
            .card-header
              h3.accordion-heading
                a(href='#methodThree' role='button' data-toggle='collapse' aria-expanded='true' aria-controls='methodThree').collapsed
                  | Redeem reward points
                  span.accordion-indicator
                    i(data-feather='chevron-up')
            #methodThree.collapse(data-parent='#methods')
              .card-body
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.

        // Submit request
        .text-center.pt-5.mt-2
          h4.pb-3 Haven't found the answer? We can help.
          .mb-2
            .icon-box-icon
              i(data-feather='life-buoy')
          a(href='help-submit-request.html').btn.btn-primary Submit a request
          p.pt-4 Contact us and we’ll get back to you as soon as possible.
