extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var pageTitle = 'MStore | Home Apparel Shop'
  - var parentMenu = 'Home'

//- Page Content
block content

  // Hero slider
  section.container-fluid.bg-secondary.px-0
    .row.no-gutters.align-items-center
      .col-md-6
        .mx-auto.bg-light.my-sm-4(style='max-width: 37rem;')
          .owl-carousel.trigger-carousel(data-owl-carousel='{ "nav": true, "dots": false, "loop": true, "autoHeight": true }' data-target-carousel='#target-carousel')
            .py-5.px-3.px-sm-5
              img(src='img/home/apparel/hero-slide-logo01.png' width='180' alt='Reebok').d-block.mb-2
              h2.mb-1 Sneakers Classic Collection
              h3.font-weight-light.opacity-70.pb-3 starting at $105.99
              a(href='shop-style1-ls.html').btn.btn-primary
                | Shop now
                i(data-feather='arrow-right').ml-2
            .py-5.px-3.px-sm-5
              img(src='img/home/apparel/hero-slide-logo02.png' width='129' alt='The North Face').d-block.mb-2
              h2.mb-1 Sports Hoodie Collection
              h3.font-weight-light.opacity-70.pb-3 starting at $89.00
              a(href='shop-style1-ls.html').btn.btn-primary
                | Shop now
                i(data-feather='arrow-right').ml-2
            .py-5.px-3.px-sm-5
              img(src='img/home/apparel/hero-slide-logo03.png' width='182' alt='Calvin Klein').d-block.mb-2
              h2.mb-1 Sunglasses Collection
              h3.font-weight-light.opacity-70.pb-3 starting at $16.99
              a(href='shop-style1-ls.html').btn.btn-primary
                | Shop now
                i(data-feather='arrow-right').ml-2
      .col-md-6
        #target-carousel.owl-carousel(data-owl-carousel='{ "nav": false, "dots": false, "loop": true, "mouseDrag": false, "touchDrag": false, "pullDrag": false, "animateOut": "fadeOut" }')
          img(src='img/home/apparel/hero-slide01.jpg' alt='Sneakers Collection').ml-auto.mr-0
          img(src='img/home/apparel/hero-slide02.jpg' alt='Hoodie Collection').ml-auto.mr-0
          img(src='img/home/apparel/hero-slide03.jpg' alt='Sunglasses Collection').ml-auto.mr-0

  // Popular categories (carousel)
  section.container.py-5.mt-3
    h2.h3.text-center.pb-4 Popular categories
    .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "margin": 30, "responsive": {"0":{"items":1},"460":{"items":2}, "768":{"items":3}} }')
      .card.border-0
        a(href='shop-style1-ls.html').card-img-tiles
          .main-img
            img(src='img/shop/apparel/categories/01.jpg' alt='Clothing')
          .thumblist
            img(src='img/shop/apparel/categories/02.jpg' alt='Clothing')
            img(src='img/shop/apparel/categories/03.jpg' alt='Clothing')
        .card-body.border.mt-n1.py-4.text-center
          h2.h5.mb-1 Clothing
          span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$49.99</span>
          a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop clothing
      .card.border-0
        a(href='shop-style1-ls.html').card-img-tiles
          .main-img
            img(src='img/shop/apparel/categories/04.jpg' alt='Shoes')
          .thumblist
            img(src='img/shop/apparel/categories/05.jpg' alt='Shoes')
            img(src='img/shop/apparel/categories/06.jpg' alt='Shoes')
        .card-body.border.mt-n1.py-4.text-center
          h2.h5.mb-1 Shoes
          span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$56.00</span>
          a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop shoes
      .card.border-0
        a(href='shop-style1-ls.html').card-img-tiles
          .main-img
            img(src='img/shop/apparel/categories/07.jpg' alt='Bags')
          .thumblist
            img(src='img/shop/apparel/categories/08.jpg' alt='Bags')
            img(src='img/shop/apparel/categories/09.jpg' alt='Bags')
        .card-body.border.mt-n1.py-4.text-center
          h2.h5.mb-1 Bags
          span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$27.00</span>
          a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop bags

  // Brands carousel
  section.container.pb-4.mt-md-3
    h2.h3.text-center.pb-4 Shop by brand
    .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":2, "margin": 15},"460":{"items":3, "margin": 15}, "768":{"items":4}} }')
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/01.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/02.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/03.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/04.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/05.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/06.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/07.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/08.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/09.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/10.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/11.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      a(href='#').d-block.bg-white.border.py-3.py-sm-4
        img(src='img/shop/apparel/brands/12.png' style='width: 150px;' alt='Brand').d-block.mx-auto

  // Sale promo
  section.container-fluid.mb-5.mt-4
    .bg-size-cover.bg-position-center.py-5(style='background-image: url(img/home/apparel/promo-banner.jpg);')
      .row.py-lg-4
        .col-lg-5.col-md-8.offset-xl-2.offset-lg-1
          .px-3.px-lg-0
            h3.font-weight-light
              | Shop cheap
              span.badge.badge-danger.font-size-xs.ml-3.align-middle Sale up to 50%
            h2.h1.mb-4 Backpacks for your next adventure
            h4.mb-3.font-weight-light Hurry up! Limited time offer.
            .d-table.bg-light.pt-4.p-3.mb-4
              .countdown.h3.mb-0(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "d", "label-hour": "h", "label-minute": "m", "label-second": "s"}')
            a(href='#').btn.btn-primary
              | Shop now
              i(data-feather='arrow-right').ml-2

  // Featured products grid
  section.container.pt-3.pb-4
    h2.h3.text-center.pb-4 Featured products
    .row
      // Product
      .col-lg-3.col-md-4.col-sm-6
        .product-card.mb-4
          .product-thumb
            a(href='shop-single-apparel.html').product-thumb-link
            span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
              i(data-feather='heart')
            img(src='img/shop/apparel/01.jpg' alt='Product')
          .product-card-body.text-center
            a(href='#').product-meta Men's jeans
            h3.product-card-title
              a(href='shop-single-apparel.html') Gues Slim Taper Fit Jeans
            span.text-primary $124.99
          .product-card-body.body-hidden
            .pb-2.text-center
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-1' id='xl-1').custom-control-input
                label(for='xl-1').custom-option-label XL
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-1' id='l-1' checked).custom-control-input
                label(for='l-1').custom-option-label L
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-1' id='m-1').custom-control-input
                label(for='m-1').custom-option-label M
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-1' id='s-1').custom-control-input
                label(for='s-1').custom-option-label S
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-1' id='xs-1').custom-control-input
                label(for='xs-1').custom-option-label XS
            button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
            a(href='#quick-view' data-toggle='modal').quick-view-btn
              i(data-feather='eye').mr-1
              | Quick view
      // Product
      .col-lg-3.col-md-4.col-sm-6
        .product-card.mb-4
          .product-thumb
            a(href='shop-single-apparel.html').product-thumb-link
            span.badge.badge-success.rounded-0 &starf; Popular
            span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
              i(data-feather='heart')
            img(src='img/shop/apparel/04.jpg' alt='Product')
          .product-card-body.text-center
            a(href='#').product-meta Hats &amp; Caps
            h3.product-card-title
              a(href='shop-single-apparel.html') 47Brand Denim Cap
            span.text-primary $21.50
          .product-card-body.body-hidden
            .pb-2.text-center
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='color-2' id='red-2').custom-control-input
                label(for='red-2').custom-option-label
                  span(style='background-color: #c53b4b;').custom-option-color
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='color-2' id='blue-2' checked).custom-control-input
                label(for='blue-2').custom-option-label
                  span(style='background-color: #4e5392;').custom-option-color
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='color-2' id='white-2').custom-control-input
                label(for='white-2').custom-option-label
                  span(style='background-color: #e5ddd5;').custom-option-color
            button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
            a(href='#quick-view' data-toggle='modal').quick-view-btn
              i(data-feather='eye').mr-1
              | Quick view
      // Product
      .col-lg-3.col-md-4.col-sm-6
        .product-card.mb-4
          .product-thumb
            a(href='shop-single-apparel.html').product-thumb-link
            span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
              i(data-feather='heart')
            img(src='img/shop/apparel/03.jpg' alt='Product')
          .product-card-body.text-center
            a(href='#').product-meta Men's shoes
            h3.product-card-title
              a(href='shop-single-apparel.html') Calvin Klein Jeans Keds
            span.text-primary $125.00
          .product-card-body.body-hidden
            .pb-2.text-center
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-2' id='s-10').custom-control-input
                label(for='s-10').custom-option-label 10
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-2' id='s-95' checked).custom-control-input
                label(for='s-95').custom-option-label 9.5
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-2' id='s-9').custom-control-input
                label(for='s-9').custom-option-label 9
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-2' id='s-85').custom-control-input
                label(for='s-85').custom-option-label 8.5
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-2' id='s-8').custom-control-input
                label(for='s-8').custom-option-label 8
            button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
            a(href='#quick-view' data-toggle='modal').quick-view-btn
              i(data-feather='eye').mr-1
              | Quick view
      // Product
      .col-lg-3.col-md-4.col-sm-6
        .product-card.mb-4
          .product-thumb
            a(href='shop-single-apparel.html').product-thumb-link
            span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
              i(data-feather='heart')
            img(src='img/shop/apparel/06.jpg' alt='Product')
          .product-card-body.text-center
            a(href='#').product-meta Sunglasses
            h3.product-card-title
              a(href='shop-single-apparel.html') Medicine Chameleon Sunglasses
            span.text-muted Out of stock
          .product-card-body.body-hidden
            .pb-2.text-center
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='color-3' id='brown-3' checked).custom-control-input
                label(for='brown-3').custom-option-label
                  span(style='background-color: #ba7764;').custom-option-color
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='color-3' id='black-3').custom-control-input
                label(for='black-3').custom-option-label
                  span(style='background-color: #222;').custom-option-color
            a(href='shop-single-apparel.html').btn.btn-primary.btn-sm.btn-block Pre-order
            a(href='#quick-view' data-toggle='modal').quick-view-btn
              i(data-feather='eye').mr-1
              | Quick view
      // Product
      .col-lg-3.col-md-4.col-sm-6
        .product-card.mb-4
          .product-thumb
            a(href='shop-single-apparel.html').product-thumb-link
            span.badge.badge-danger.rounded-0 Sale -10%
            span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
              i(data-feather='heart')
            img(src='img/shop/apparel/08.jpg' alt='Product')
          .product-card-body.text-center
            a(href='#').product-meta Women's sneakers
            h3.product-card-title
              a(href='shop-single-apparel.html') Reebok Classic Sneakers Pyro
            span.text-primary
              del.text-muted.mr-1 $105.00
              | $94.50
          .product-card-body.body-hidden
            .pb-2.text-center
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-5' id='s-5-95').custom-control-input
                label(for='s-5-95').custom-option-label 9.5
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-5' id='s-5-9' checked).custom-control-input
                label(for='s-5-9').custom-option-label 9
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-5' id='s-5-85').custom-control-input
                label(for='s-5-85').custom-option-label 8.5
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-5' id='s-5-8').custom-control-input
                label(for='s-5-8').custom-option-label 8
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-5' id='s-5-75').custom-control-input
                label(for='s-5-75').custom-option-label 7.5
            button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
            a(href='#quick-view' data-toggle='modal').quick-view-btn
              i(data-feather='eye').mr-1
              | Quick view
      // Product
      .col-lg-3.col-md-4.col-sm-6
        .product-card.mb-4
          .product-thumb
            a(href='shop-single-apparel.html').product-thumb-link
            span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
              i(data-feather='heart')
            img(src='img/shop/apparel/07.jpg' alt='Product')
          .product-card-body.text-center
            a(href='#').product-meta Dresses
            h3.product-card-title
              a(href='shop-single-apparel.html') Floral Printed Maxi Dress
            span.text-primary $47.99
          .product-card-body.body-hidden
            .pb-2.text-center
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-4' id='l-4').custom-control-input
                label(for='l-4').custom-option-label L
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-4' id='m-4' checked).custom-control-input
                label(for='m-4').custom-option-label M
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-4' id='s-4').custom-control-input
                label(for='s-4').custom-option-label S
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-4' id='xs-4').custom-control-input
                label(for='xs-4').custom-option-label XS
            button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
            a(href='#quick-view' data-toggle='modal').quick-view-btn
              i(data-feather='eye').mr-1
              | Quick view
      // Product
      .col-lg-3.col-md-4.col-sm-6
        .product-card.mb-4
          .product-thumb
            a(href='shop-single-apparel.html').product-thumb-link
            span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
              i(data-feather='heart')
            img(src='img/shop/apparel/09.jpg' alt='Product')
          .product-card-body.text-center
            a(href='#').product-meta Handbags
            h3.product-card-title
              a(href='shop-single-apparel.html') Roxy Cotton Handbag
            span.text-primary $52.00
          .product-card-body.body-hidden
            .pb-2.text-center
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='color-4' id='cyan-4').custom-control-input
                label(for='cyan-4').custom-option-label
                  span(style='background-color: #8ab5be;').custom-option-color
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='color-4' id='blue-4' checked).custom-control-input
                label(for='blue-4').custom-option-label
                  span(style='background-color: #4e5392;').custom-option-color
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='color-4' id='beige-4').custom-control-input
                label(for='beige-4').custom-option-label
                  span(style='background-color: #fccec2;').custom-option-color
            button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
            a(href='#quick-view' data-toggle='modal').quick-view-btn
              i(data-feather='eye').mr-1
              | Quick view
      // Product
      .col-lg-3.col-md-4.col-sm-6
        .product-card.mb-4
          .product-thumb
            a(href='shop-single-apparel.html').product-thumb-link
            span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
              i(data-feather='heart')
            img(src='img/shop/apparel/11.jpg' alt='Product')
          .product-card-body.text-center
            a(href='#').product-meta Men's tshirts
            h3.product-card-title
              a(href='shop-single-apparel.html') Medicine Tshirt Sailor Spirit
            span.text-primary $17.00
          .product-card-body.body-hidden
            .pb-2.text-center
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-7' id='xl-7').custom-control-input
                label(for='xl-7').custom-option-label XL
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-7' id='l-7' checked).custom-control-input
                label(for='l-7').custom-option-label L
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-7' id='m-7').custom-control-input
                label(for='m-7').custom-option-label M
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-7' id='s-7').custom-control-input
                label(for='s-7').custom-option-label S
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio' name='size-7' id='xs-7').custom-control-input
                label(for='xs-7').custom-option-label XS
            button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
            a(href='#quick-view' data-toggle='modal').quick-view-btn
              i(data-feather='eye').mr-1
              | Quick view

  // Product widgets
  section.container.pt-sm-3.pb-4.pb-md-5
    .row
      .col-md-4.col-sm-6.d-block.d-sm-none.d-md-block.mb-3
        // Promo banner
        a(href='#' style='max-width: 24rem;').d-block.text-decoration-0.mx-auto
          .bg-secondary
            .px-3.pt-4.text-center
              h4.font-size-sm.font-weight-normal.pt-1.mb-2 2019 Spring / Summer
              h4.h5.pb-2 Hoodie Collection
              .btn.btn-primary.btn-sm Shop now
            img(src='img/shop/banner01.jpg' alt='Promo banner')
      .col-md-4.col-sm-6.mb-2.py-3
        .widget.widget-featured-entries
          h3.widget-title.font-size-lg Best sellers
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/01.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Keds - Kickstart Pom Pom
              p.featured-entry-meta $42.99
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/02.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Nike - Brasilia Medium Backpack
              p.featured-entry-meta $27.99
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/03.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Guess - GU7295
              p.featured-entry-meta $38.00
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/11.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Adidas Originals Cap
              p.featured-entry-meta $35.00
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/13.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Big Star Flip Tops
              p.featured-entry-meta $10.60
      .col-md-4.col-sm-6.mb-2.py-3
        .widget.widget-featured-entries
          h3.widget-title.font-size-lg New arrivals
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/08.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') The North Face Hoodie
              p.featured-entry-meta $134.00
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/09.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Medicine Chameleon Sunglasses
              p.featured-entry-meta $47.00
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/10.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Adidas Performance Hat
              p.featured-entry-meta $19.00
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/07.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Calvin Klein Jeans Keds
              p.featured-entry-meta $125.00
          .media
            a(href='#').featured-entry-thumb
              img(src='img/shop/widget/12.jpg' width='64' alt='Product thumb')
            .media-body
              h6.featured-entry-title
                a(href='#') Roxy Cotton Handbag
              p.featured-entry-meta $52.00

  // Blog + Insta split section
  section.container-fluid.px-0.border-bottom
    .row.no-gutters
      .col-md-6.py-5.px-4(style='background-color: #efefef;')
        div(style='max-width: 25rem;').mx-auto.py-3
          h2.mb-1 Read the blog
          p.opacity-75.pb-3 Latest fashion news and trends
          a(href='blog-ls.html').btn.btn-outline-dark
            i(data-feather='book').mr-2
            | Go to blog
      .col-md-6.bg-secondary.py-5.px-4
        div(style='max-width: 25rem;').mx-auto.py-3
          h2.mb-1 Follow on Instagram
          p.opacity-75.pb-3 #ShopWithMStore
          a(href='#').btn.btn-dark
            i(data-feather='instagram').mr-2
            | Follow us
  
  //- modal-quickview.pug template
  include partials/modal-quickview

  //- toast-shop.pug template
  include partials/toast-shop
