//- Include config.pug file that holds all variables
block config
  include helpers/config

//- Mixins - reusable code snippets
include helpers/mixins

doctype html
html(lang="en")

  //- head.pug template
  include partials/head 
  
  // Body
  body

    if isTagManager
      // Google Tag Manager (noscript)
      noscript
        iframe(src='//www.googletagmanager.com/ns.html?id=GTM-PVV9F7F' height='0' width='0' style='display: none; visibility: hidden;')

    // Header
    header.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-light
      .container-fluid.navbar-inner.flex-nowrap

        // navbar brand
        a(class='navbar-brand' style='min-width: 100px;')&attributes(isNestedFile ? {'href': '../index.html'} : {'href': 'index.html'})
          +image('img/logo-dark.png', 'MStore')(width='100')

        // navbar collapse area
        #menu.collapse.navbar-collapse
          
          //- menu.pug template
          include partials/menu
        
        // navbar buttons
        .d-flex.w-100.justify-content-end
          div(data-toggle='collapse' data-target='#menu' style='cursor: pointer;').navbar-toggler.navbar-btn.collapsed.border-left-0.bg-0.pt-2
            i(data-feather='menu').mx-auto.mb-1
          a(href='#').btn.btn-primary.ml-2.pr-3
            i(data-feather='shopping-cart').mr-2
            | Buy now
    
    // Hero section
    section.container-fluid.pt-grid-gutter
      .row
        .col-md-6.mb-grid-gutter
          a(href='home-apparel.html').d-block.bg-faded-primary.pt-5.text-center.text-decoration-0
            .px-3
              h2.h3.mb-4.pt-4 Home Apparel Shop
              .btn.btn-pill.btn-outline-primary.mb-4 View demo
            img(src='img/home/intro/home-apparel.jpg' alt='Apparel Shop').d-block.mx-auto
        .col-md-6.mb-grid-gutter
          a(href='home-electronics.html').d-block.bg-faded-warning.pt-5.text-center.text-decoration-0
            .px-3
              h2.h3.mb-4.pt-4 Home Electronics Store
              .btn.btn-pill.btn-outline-warning.mb-4 View demo
            img(src='img/home/intro/home-electronics.jpg' alt='Electronics Store').d-block.mx-auto    

    // Pages
    section.container.pt-4
      h2.h3.text-center.pt-md-2.pb-4 Other pages &amp; templates
      .row.no-gutters
        .col-lg-4.col-sm-6.category-card.border.border-collapse
          .card.py-3.border-0
            .card-body.pb-3.pl-4
              .icon-box-icon.mb-3
                i(data-feather='shopping-bag')
              h5.card-title.py-2 Shop layouts
              .widget.widget-links.mb-0
                ul
                  li
                    a(href='shop-style1-ls.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shop Style 1 - Left Sidebar
                  li
                    a(href='shop-style1-rs.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shop Style 1 - Right Sidebar
                  li
                    a(href='shop-style1-ft.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shop Style 1 - Filters Top
                  li
                    a(href='shop-style2-ls.htm')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shop Style 2 - Left Sidebar
                  li
                    a(href='shop-style2-rs.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shop Style 2 - Right Sidebar
                  li
                    a(href='shop-style2-ft.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shop Style 2 - Filters Top
        .col-lg-4.col-sm-6.category-card.border.border-collapse
          .card.py-3.border-0
            .card-body.pb-3.pl-4
              .icon-box-icon.mb-3
                i(data-feather='shopping-cart')
              h5.card-title.py-2 Shop pages
              .widget.widget-links.mb-0
                ul
                  li
                    a(href='shop-categories-apparel.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shop Categories - Apparel
                  li
                    a(href='shop-categories-electronics.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shop Categories - Electronics
                  li
                    a(href='shop-single-apparel.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Product Page #1 - Apparel
                  li
                    a(href='shop-single-electronics.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Product Page #2 - Electronics
                  li
                    a(href='cart.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Shopping Cart
                  li
                    a(href='checkout-details.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Checkout
        .col-lg-4.col-sm-6.category-card.border.border-collapse
          .card.py-3.border-0
            .card-body.pb-3.pl-4
              .icon-box-icon.mb-3
                i(data-feather='edit')
              h5.card-title.py-2 Blog pages
              .widget.widget-links.mb-0
                ul
                  li
                    a(href='blog-rs.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Blog Right Sidebar
                  li
                    a(href='blog-ls.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Blog Left Sidebar
                  li
                    a(href='blog-ns.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Blog No Sidebar
                  li
                    a(href='blog-single-rs.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Post Right Sidebar
                  li
                    a(href='blog-single-ls.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Post Left Sidebar
                  li
                    a(href='blog-single-ns.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Post No Sidebar
        .col-lg-4.col-sm-6.category-card.border.border-collapse
          .card.py-3.border-0
            .card-body.pb-3.pl-4
              .icon-box-icon.mb-3
                i(data-feather='user')
              h5.card-title.py-2 Account pages
              .widget.widget-links.mb-0
                ul
                  li
                    a(href='account-orders.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Orders History
                  li
                    a(href='account-profile.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Profile Settings
                  li
                    a(href='account-address.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Account Addresses
                  li
                    a(href='account-payment.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Payment Methods
                  li
                    a(href='account-wishlist.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Wishlist
                  li
                    a(href='account-tickets.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | My Tickets
                  li
                    a(href='account-single-ticket.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Single Ticket
                  li
                    a(href='account-signin.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Sign In / Sign Up Page
                  li
                    a(href='account-password-recovery.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Password Recovery
        .col-lg-4.col-sm-6.category-card.border.border-collapse
          .card.py-3.border-0
            .card-body.pb-3.pl-4
              .icon-box-icon.mb-3
                i(data-feather='layout')
              h5.card-title.py-2 Secondary pages
              .widget.widget-links.mb-0
                ul
                  li
                    a(href='about.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | About Us
                  li
                    a(href='contacts.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Contacts
                  li
                    a(href='help-topics.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Help Topics
                  li
                    a(href='help-single-topic.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Single Topic
                  li
                    a(href='help-submit-request.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Submit a Request
                  li
                    a(href='product-comparison.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Product Comparison
                  li
                    a(href='order-tracking.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Order Tracking
                  li
                    a(href='404.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | 404 Not Found
        .col-lg-4.col-sm-6.category-card.border.border-collapse
          .card.py-3.border-0
            .card-body.pb-3.pl-4
              .icon-box-icon.mb-3
                i(data-feather='file-text')
              h5.card-title.py-2 Documentation
              .widget.widget-links.mb-0
                ul
                  li
                    a(href='docs/dev-setup.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Online docs
                  li
                    a(href='components/alerts.html')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Components
                  li
                    a(href='mailto:contact@createx.studio')
                      i(data-feather='chevron-right').widget-categories-indicator
                      | Support

    // Pages
    section.container.py-5.mb-2
      h2.h3.text-center.pt-md-2.pb-4 And some cool features
      .row
        .col-md-6
          ul.list-unstyled
            li.media.pt-2.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 Kick-start your development
                p.font-size-sm.opacity-70 Start your development process fast and easy with Node.js and Gulp setup. Configuration files are included in download package. Full tasks automation.
            li.media.pt-4.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 Easy to customize with Sass
                p.font-size-sm.opacity-70 MStore is built using Sass. Easily change colors, typography and much more. It is the most mature, stable, and powerful CSS extension language in the world.
            li.media.pt-4.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 Pug - Node templating engine
                p.font-size-sm.opacity-70 No need to write huge amount of HTML, if you don’t want to. Pug provides features not available in plain HTML like variables, includes, mixins, etc.
            li.media.pt-4.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 Built with latest Bootstrap 4
                p.font-size-sm.opacity-70 MStore is the ultimate website front-end solution based on Bootstrap 4 - the world's most popular responsive, mobile-first front-end component library.
            li.media.pt-4.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 40+ flexible components
                p.font-size-sm.opacity-70 Besides styling all default Bootstrap 4 components MStore introduces lots of new flexible, customizable and reusable elements to use across the website.
        .col-md-6
          ul.list-unstyled
            li.media.pt-2.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 Mobile friendly interface
                p.font-size-sm.opacity-70 It's not a surprise that nowadays over 60% of users shop online using their mobile devices. MStore is 100% responsive and optimized for small touch screens.
            li.media.pt-4.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 Google Fonts
                p.font-size-sm.opacity-70 MStore uses Google fonts which are free, fast to load and of very high quality. Currently Google fonts library includes 870+ font families to choose from.
            li.media.pt-4.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 Touch-enabled sliders
                p.font-size-sm.opacity-70 In the era of touch screens it's important to ensure great user experience on handheld devices, especially when it comes to such importnat interface component as slider.
            li.media.pt-4.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 Vector based HD ready icons
                p.font-size-sm.opacity-70 MStore uses font-based icon pack to ensure that infographics and interface icons look sharp on any device with any screen resolution and pixel density.
            li.media.pt-4.pb-2.border-bottom
              i(data-feather='check-circle' style='width: 1.125rem; height: 1.125rem;').text-success.mr-3
              .media-body
                h6 W3C valid HTML code
                p.font-size-sm.opacity-70 All HTML files are checked via W3C validator to ensure 100% valid code. As you probably know invalid HTML limits innovation, but MStore is innovative at its core.

    footer.pt-5.bg-dark.bg-position-right-center.bg-no-repeat(style='background-image: url(img/home/intro/footer-pattern.jpg);')
      .container.text-center.pt-2
        h2.font-weight-light.text-white Still not convinced?
        h2.text-white.pb-4 Add premium support and lifetime updates to this.
        a(href='#').btn.btn-primary
          i(data-feather='shopping-cart').mr-2
          | Buy MStore
        hr.border-light.mt-5
        .pt-5
          h5.text-white Subscribe to newsletter
          .row.justify-content-center.pt-2
            .col-xl-6.col-lg-7.col-md-9
              form(action='https://studio.us12.list-manage.com/subscribe/post-json?u=c7103e2c981361a6639545bd5&amp;id=29ca296126&c=?' method='get' name='mc-embedded-subscribe-form')#mc-embedded-subscribe-form.validate.pb-4
                .input-group.mb-2
                  .input-group-prepend
                    span.input-group-text(style='background-color: #e8e8e8;')
                      i(data-feather='mail')
                  input(type='email' name='EMAIL' id='mce-EMAIL' value='' placeholder='Your email' required).form-control.border-0.box-shadow-0.bg-secondary
                  .input-group-append
                    button(type='submit' name='subscribe')#mc-embedded-subscribe.btn.btn-primary.btn-block Subscribe*
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;' aria-hidden='true')
                  input(type='text' name='b_c7103e2c981361a6639545bd5_29ca296126' tabindex='-1')
                
                p.font-size-xs.text-white.opacity-60.pt-2.mb-2 *Enter email to receive a newsletter about updates and new products.
                // Subscription status
                .subscribe-status
      .py-3(style='background-color: rgba(20,20,20, .45);')
        .container.font-size-xs.text-center(aria-label='Copyright')
          span.text-white.opacity-80.mr-1 © All rights reserved. Made by
          a(href='https://createx.studio/' target='_blank').nav-link-inline.nav-link-light Createx Studio
    
    // Back To Top Button
    a(href='#').scroll-to-top-btn
      i(data-feather='chevron-up').scroll-to-top-btn-icon
    
    // JavaScript (jQuery) libraries, plugins and custom scripts
    script()&attributes(isNestedFile ? {'src': '../js/vendor.min.js'} : {'src': 'js/vendor.min.js'})
    if isCardScript
      script()&attributes(isNestedFile ? {'src': '../js/card.min.js'} : {'src': 'js/card.min.js'})
    if isCodeHighlighting
      script()&attributes(isNestedFile ? {'src': '../js/prism.min.js'} : {'src': 'js/prism.min.js'})
    script()&attributes(isNestedFile ? {'src': '../js/theme.min.js'} : {'src': 'js/theme.min.js'})
