extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Tracking order: <span class="h3 font-weight-semibold">34VB5540K83</span>'
  - var parentMenu = 'Pages'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Shop', 'link': '#'}]
  - var isModalOrder = true

//- Page Content
block content

  .container.pb-5.mb-sm-4

    // Details
    .row.mb-3
      .col-sm-4.mb-2
        .bg-secondary.p-4.text-dark.text-center
          span.font-weight-semibold.mr-2 Shipped via:
          | UPS Ground
      .col-sm-4.mb-2
        .bg-secondary.p-4.text-dark.text-center
          span.font-weight-semibold.mr-2 Status:
          | Quality check
      .col-sm-4.mb-2
        .bg-secondary.p-4.text-dark.text-center
          span.font-weight-semibold.mr-2 Expected date:
          | June 17, 2019
    
    // Progress
    .steps
      .steps-header
        .progress
          .progress-bar(role="progressbar", style="width: 40%", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100")
      .steps-body
        .step.step-completed
          span.step-indicator
            i(data-feather='check')
          span.step-icon
            i(data-feather='check-circle')
          | Order confirmed
        .step.step-completed
          span.step-indicator
            i(data-feather='check')
          span.step-icon
            i(data-feather='settings')
          | Processing order
        .step.step-active
          span.step-icon
            i(data-feather='award')
          | Quality check
        .step
          span.step-icon
            i(data-feather='truck')
          | Product dispatched
        .step
          span.step-icon
            i(data-feather='home')
          | Product delivered
    
    // Footer
    .d-sm-flex.flex-wrap.justify-content-between.align-items-center.text-center.pt-4
      .custom-control.custom-checkbox.mt-2.mr-3
        input(type='checkbox' id='notify-me' checked).custom-control-input
        label(for='notify-me').custom-control-label Notify me when order is delivered
      a(href='#order-details' data-toggle='modal').btn.btn-primary.btn-sm.mt-2 View Order Details
