extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Product comparison'
  - var parentMenu = 'Pages'
  - var navbarTemplate = 'navbar-multilevel'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Pages', 'link': '#'}]
  
//- Page Content
block content

  //- toast-shop.pug template
  include partials/toast-shop

  .container.pb-5.mb-2
    .comparison-table
      table.table.table-bordered
        thead.bg-secondary
          tr
            td.align-middle
              select(id='compare-criteria' data-filter='trigger').form-control.custom-select
                option(value='all') Comparison criteria *
                option(value='summary') Summary
                option(value='general') General
                option(value='multimedia') Multimedia
                option(value='performance') Performance
                option(value='design') Design
                option(value='display') Display
                option(value='storage') Storage
                option(value='camera') Camera
                option(value='battery') Battery
                option(value='price') Price &amp; rating
              small.form-text.text-muted * Choose criteria to filter table below.
              .pt-3
                .custom-control.custom-checkbox
                  input(type='checkbox' id='differences').custom-control-input
                  label(for='differences').custom-control-label Show differences only
            td
              .comparison-item
                span.remove-item
                  i(data-feather='x')
                a(href='shop-single.html').comparison-item-thumb
                  img(src='img/shop/comparison/01.jpg' alt='Apple iPhone Xs Max')
                a(href='shop-single.html').comparison-item-title Apple iPhone Xs Max
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-pill.btn-outline-primary.btn-sm Add to Cart
            td
              .comparison-item
                span.remove-item
                  i(data-feather='x')
                a(href='shop-single.html').comparison-item-thumb
                  img(src='img/shop/comparison/02.jpg' alt='Google Pixel 3 XL')
                a(href='shop-single.html').comparison-item-title Google Pixel 3 XL
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-pill.btn-outline-primary.btn-sm Add to Cart
            td
              .comparison-item
                span.remove-item
                  i(data-feather='x')
                a(href='shop-single.html').comparison-item-thumb
                  img(src='img/shop/comparison/03.jpg' alt='Samsung Galaxy S10+')
                a(href='shop-single.html').comparison-item-title Samsung Galaxy S10+
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-pill.btn-outline-primary.btn-sm Add to Cart
        tbody(id='summary' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Summary
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Performance
            td Hexa Core
            td Octa Core
            td Octa Core
          tr
            th Display
            td 6.5-inch
            td 6.3-inch
            td 6.4-inch
          tr
            th Storage
            td 64 GB
            td 64 GB
            td 128 GB
          tr
            th Camera
            td Dual 12-megapixel
            td 12.2-megapixel
            td 12,16,12-megapixel
          tr
            th Battery
            td 3,174 mAh
            td 3,430 mAh
            td 4,100 mAh
        tbody(id='general' data-filter='target')
          tr.bg-secondary
            th.text-uppercase General
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Quick charging
            td Yes
            td Yes
            td Yes
          tr
            th Operating system
            td iOS v12
            td Android v9.0 Pie	
            td Android v9.0 with Samsung One UI	
          tr
            th Sim slots
            td Single SIM, GSM
            td Single SIM, GSM
            td Hybrid SIM slot, GSM
          tr
            th Launch date
            td September 12, 2018 (Official)
            td November 1, 2018 (Official)
            td February 20, 2019 (Official)
          tr
            th Sim size
            td SIM1: Nano
            td SIM1: Nano
            td SIM1: Nano SIM2: Nano (Hybrid)
          tr
            th Network
            td 4G: Available (supports Indian bands) 3G: Available, 2G: Available
            td 4G: Available (supports Indian bands) 3G: Available, 2G: Available
            td 4G: Available (supports Indian bands) 3G: Available, 2G: Available
          tr
            th Fingerprint sensor
            td None (Face ID)
            td Back cover
            td In-screen
        tbody(id='multimedia' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Multimedia
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Loudspeaker
            td Yes
            td Yes
            td Yes
          tr
            th FM radio
            td No
            td No
            td No
          tr
            th Headphone jack
            td No
            td No
            td Yes
        tbody(id='performance' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Performance
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Processor
            td Apple A12 Bionic
            td Qualcomm Snapdragon 845 (2.5GHz octa-core)
            td Octa-core Qualcomm Snapdragon 855
          tr
            th Graphics
            td Apple GPU (4-core graphics)
            td Adreno 630
            td Mali-G72 MP18
          tr
            th Architecture
            td 64 bit
            td 64 bit
            td 64 bit
          tr
            th RAM
            td 4 GB
            td 4 GB
            td 8 GB
        tbody(id='design' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Design
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Build material
            td Case: AluminiumBack: Mineral Glass
            td Case: AluminiumBack: Aluminium
            td Case: AluminiumBack: Mineral Glass
          tr
            th Thickness
            td 7.7 mm
            td 7.9 mm
            td 8.5 mm
          tr
            th Width
            td 70.9 mm
            td 76.7 mm
            td 73.8 mm
          tr
            th Height
            td 143.6 mm
            td 157.9 mm
            td 158.1 mm
          tr
            th Weight
            td 174 grams
            td 175 grams
            td 189 grams
          tr
            th Waterproof
            td Yes Water resistant (up to 30 minutes in a depth of 1 meter), IP67
            td Yes Water resistant (up to 30 minutes in a depth of 1 meter), IP67
            td Yes Water resistant (up to 30 minutes in a depth of 1.5 meter), IP68
          tr
            th Colors
            td Silver, Space Grey
            td Black, Black and White
            td Midnight Black, Coral Blue, Lilac Purple
        tbody(id='display' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Display
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Display type
            td Super Retina OLED
            td 'flexible' OLED
            td Super AMOLED
          tr
            th Pixel density
            td 458 ppi
            td 522 ppi
            td 522 ppi
          tr
            th Screen protection
            td Yes
            td Corning Gorilla Glass v5
            td Corning Gorilla Glass v5
          tr
            th Screen size
            td 6.5 inches
            td 6.3 inches
            td 6.4 inches
          tr
            th Screen resolution
            td 1125 x 2436 pixels
            td 1440 x 2880 pixels
            td 1440 x 2960 pixels	
          tr
            th Touch screen
            td Yes, 3D Touch Touchscreen, Multi-touch
            td Yes, Capacitive Touchscreen, Multi-touch
            td Yes, Capacitive Touchscreen, Multi-touch
        tbody(id='storage' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Storage
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Internal memory
            td 64 GB
            td 64 GB
            td 128 GB
          tr
            th Expandable memory
            td No
            td No
            td Yes Up to 1 TB
        tbody(id='camera' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Camera
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Settings
            td Exposure compensation, ISO control
            td Exposure compensation, ISO control
            td Exposure compensation
          tr
            th Aperture
            td F2.2
            td F2.4
            td F1.7
          tr
            th Camera features
            td 10 x Digital zoom, Optical zoom, Auto flash, Face detection, Touch to focus
            td Fixed zocus
            td Wide angle selfie
          tr
            th Image resolution
            td 4000 x 3000 pixels
            td 4000 x 3000 pixels
            td 4000 x 3000 pixels
          tr
            th Sensor
            td BSI sensor
            td CMOS image sensor
            td CMOS image sensor
          tr
            th Autofocus
            td Yes
            td No
            td Yes
          tr
            th Shooting modes
            td Continuos shooting, High dynamic range mode (HDR), Burst mode
            td Continuos shooting, High dynamic range mode (HDR)
            td Continuos shooting, High dynamic range mode (HDR)
          tr
            th Optical image stabilisation
            td Yes, Dual optical image stabilization
            td Yes
            td Yes
          tr
            th Flash
            td Yes, Retina flash
            td Yes, Dual LED flash
            td Yes, LED flash
        tbody(id='battery' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Battery
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Talktime
            td Up to 21 hours(4G)
            td Up to 24 hours(4G)
            td Up to 25 hours(4G)
          tr
            th Quick charging
            td Yes, fast, 50 % in 30 minutes
            td Yes
            td Yes
          tr
            th Wireless charging
            td Yes
            td Yes
            td Yes
          tr
            th Type
            td Li-ion
            td Li-ion
            td Li-ion
          tr
            th Capacity
            td 3,174 mAh
            td 3,430 mAh
            td 4,100 mAh
        tbody(id='price' data-filter='target')
          tr.bg-secondary
            th.text-uppercase Price &amp; rating
            td: span.text-dark.font-weight-semibold Apple iPhone Xs Max
            td: span.text-dark.font-weight-semibold Google Pixel 3 XL
            td: span.text-dark.font-weight-semibold Samsung Galaxy S10+
          tr
            th Price
            td $1,099
            td $899
            td $1,000
          tr
            th Rating
            td 4.5/5
            td 4.5/5
            td 4.5/5
          tr
            th
            td
              button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-outline-primary.btn-block Add to Cart
            td
              button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-outline-primary.btn-block Add to Cart
            td
              button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-outline-primary.btn-block Add to Cart
