extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Samsung Gear 360 Real 360° 4K VR Camera'
  - var parentMenu = 'Shop'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Electronics', 'link': '#'}, {'title': 'Action cameras', 'link': '#'}]
  - var navbarTemplate = 'navbar-multilevel'
  - var isModalReview = true

//- Page Content
block content

  //- toast-shop.pug template
  include partials/toast-shop

  .container.pb-4
    .row
      .col-lg-7

        // Product gallery
        .product-gallery
          span.badge.badge-danger Sale -30%
          ul.product-thumbnails
            li.active
              a(href='#one')
                img(src='img/shop/electronics/single/th01.jpg' alt='Product thumb')
            li
              a(href='#two')
                img(src='img/shop/electronics/single/th02.jpg' alt='Product thumb')
            li
              a(href='#three')
                img(src='img/shop/electronics/single/th03.jpg' alt='Product thumb')
            li
              a(href='#four')
                img(src='img/shop/electronics/single/th04.jpg' alt='Product thumb')
            li.video-thumbnail
              a(href='#five')
                span.thumb-caption Video
                img(src='img/shop/electronics/single/th05.jpg' alt='Product thumb')
          .product-carousel.owl-carousel
            a(href='img/shop/electronics/single/01.jpg' data-fancybox='prod-gallery' data-hash='one')
              img(src='img/shop/electronics/single/01.jpg' alt='Product')
            a(href='img/shop/electronics/single/02.jpg' data-fancybox='prod-gallery' data-hash='two')
               img(src='img/shop/electronics/single/02.jpg' alt='Product')
            a(href='img/shop/electronics/single/03.jpg' data-fancybox='prod-gallery' data-hash='three')
              img(src='img/shop/electronics/single/03.jpg' alt='Product')
            a(href='img/shop/electronics/single/04.jpg' data-fancybox='prod-gallery' data-hash='four')
               img(src='img/shop/electronics/single/04.jpg' alt='Product')
            .pt-sm-5.mt-sm-5(data-hash='five')
              .embed-responsive.embed-responsive-16by9
                iframe(src='https://www.youtube.com/embed/Ml14W2K0Few' allowfullscreen).embed-responsive-item

      // Product details    
      .col-lg-5.pt-4.pt-lg-0
        .pb-4
          a(href='#reviews').d-inline-block.scroll-to
            +star-rating(4)
            span.d-inline-block.align-middle.font-size-sm.mt-1.ml-1.text-body 295 reviews
          h2.h1.font-weight-light.pt-3.pb-2
            del.lead.text-muted.mr-2 $175.00
            span.text-primary $123.00
          .d-flex.align-items-center.pt-2
            input(type='number' name='quantity' style='width: 3.2rem;' value='1' required).px-2.form-control.mr-2
            button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-block
              i(data-feather='shopping-cart').mr-2
              | Add to cart
          .d-flex.flex-wrap.align-items-center.pt-3
            a(href='#' data-toggle='toast' data-target='#compare-toast').btn.box-shadow-0.nav-link-inline.px-4.border-right
              i(data-feather='repeat' style='width: 1.1rem; height: 1.1rem;').align-middle.mr-1
              | Compare
            a(href='#' data-toggle='toast' data-target='#wishlist-toast').btn.box-shadow-0.nav-link-inline.px-4
              i(data-feather='heart' style='width: 1.1rem; height: 1.1rem;').align-middle.mr-1
              | Add to wishlist
              
        // Product panels
        #productPanels.accordion
          .card
            .card-header
              h3.accordion-heading
                a(href='#productInfo' role='button' data-toggle='collapse' aria-expanded='true' aria-controls='productInfo')
                  span.d-inline-block.pr-2.border-right.mr-2.align-middle.mt-n1
                    i(data-feather='info' style='width: 1.1rem; height: 1.1rem;')
                  | Product information
                  span.accordion-indicator
                    i(data-feather='chevron-up')
            #productInfo.collapse.show(data-parent='#productPanels')
              .card-body
                ul.mb-0
                  li Tell the whole story with the 360° camera that captures every angle in 4K brilliance and share instantly
                  li Capture life as it happens in stunning 4K video and 15MP photos thanks to dual 180° lenses
                  li: a(href='#product-details').scroll-to.font-weight-semibold More info
          .card
            .card-header
              h3.accordion-heading
                a(href='#shippingOptions' role='button' data-toggle='collapse' aria-expanded='true' aria-controls='shippingOptions').collapsed
                  span.d-inline-block.pr-2.border-right.mr-2.align-middle.mt-n1
                    i(data-feather='truck' style='width: 1.1rem; height: 1.1rem;')
                  | Shipping options
                  span.accordion-indicator
                    i(data-feather='chevron-up')
            #shippingOptions.collapse(data-parent='#productPanels')
              .card-body
                .d-flex.justify-content-between.border-bottom.pb-2
                  div
                    .font-weight-semibold.text-dark Courier
                    .font-size-sm.text-muted 2 - 4 days
                  div $26.50
                .d-flex.justify-content-between.border-bottom.py-2
                  div
                    .font-weight-semibold.text-dark Local shipping
                    .font-size-sm.text-muted up to one week
                  div $10.00
                .d-flex.justify-content-between.border-bottom.py-2
                  div
                    .font-weight-semibold.text-dark Flat rate
                    .font-size-sm.text-muted 5 - 7 days
                  div $33.85
                .d-flex.justify-content-between.border-bottom.py-2
                  div
                    .font-weight-semibold.text-dark UPS ground shipping
                    .font-size-sm.text-muted 4 - 6 days
                  div $18.00
                .d-flex.justify-content-between.pt-2
                  div
                    .font-weight-semibold.text-dark Local pickup from store
                    .font-size-sm.text-muted &mdash;
                  div $0.00
          .card
            .card-header
              h3.accordion-heading
                a(href='#tagCloud' role='button' data-toggle='collapse' aria-expanded='true' aria-controls='tagCloud').collapsed
                  span.d-inline-block.pr-2.border-right.mr-2.align-middle.mt-n1
                    i(data-feather='tag' style='width: 1.1rem; height: 1.1rem;')
                  | Tag cloud
                  span.accordion-indicator
                    i(data-feather='chevron-up')
            #tagCloud.collapse(data-parent='#productPanels')
              .card-body
                a.tag-link.mr-2.mb-2(href='#') #action camera
                a.tag-link.mr-2.mb-2(href='#') #360° camera
                a.tag-link.mr-2.mb-2(href='#') #samsung
                a.tag-link.mr-2.mb-2(href='#') #4K video
                a.tag-link.mr-2.mb-2(href='#') #gear 360
                a.tag-link.mr-2.mb-2(href='#') #VR
                a.tag-link.mr-2.mb-2(href='#') #electronics
        
        // Share product
        .py-4
          span.d-inline-block.align-middle.font-size-sm.mr-3.mb-2 Share product:
          a(href='#').social-btn.sb-instagram.mr-2.mb-2
            i.flaticon-instagram
          a(href='#').social-btn.sb-facebook.mr-2.mb-2
            i.flaticon-facebook
          a(href='#').social-btn.sb-twitter.mr-2.mb-2
            i.flaticon-twitter
          a(href='#').social-btn.sb-pinterest.mr-2.mb-2
            i.flaticon-pinterest

  // Product info
  #product-details.bg-secondary.pt-5.pb-4(data-offset-top='-5')
    .container.pt-sm-3.pb-sm-3
      .row
        .col-md-6
          h3.h5.mb-3 Details
          p.mb-4.pb-2 The Gear 360 has evolved to let you record in 4K or broadcast live, and then make it your own with the Samsung Gear 360 app. And with the Gear 360's smaller size and redesigned, easy-to-grip body, memories aren't the only thing you'll want to hold onto.
          h3.h5.mb-3 Features
          ul.ml-n3.mb-4.pb-2
            li Tell the whole story with the 360° camera that captures every angle in 4K brilliance and share instantly
            li Capture life as it happens in stunning 4K video and 15MP photos thanks to dual 180° lenses
            li Gear 360 is easy to hold and take with you, and has an IP53 water-resistant rating
            li Preview and edit your videos with an easy-to-use app, or share them straight to social or Samsung VR with your Galaxy S8 or S8+
            li Upload your photos or videos to Samsung VR to experience your moments in virtual reality
        .col-md-6
          h3.h5.mb-3 Specifications
          ul.list-unstyled.mb-4.pb-2
            li.d-block.pb-2.border-bottom <strong>Color:</strong> White
            li.d-block.py-2.border-bottom <strong>Dimensions:</strong> 100.6 x 46.3 x 45.1mm
            li.d-block.py-2.border-bottom <strong>Weight:</strong> 130 g
            li.d-block.py-2.border-bottom <strong>Camera:</strong> CMOS 8.4MP x2 / F2.2 lens (Default output pixel count - 15MP)
            li.d-block.py-2.border-bottom <strong>Video:</strong> 360˚ Dual Lens: up to 4096 x 2048 (24fps)
            li.d-block.py-2.border-bottom <strong>Battery:</strong> 1,160mAh
            li.d-block.py-2.border-bottom <strong>External Memory:</strong> MicroSD card (up to 256GB)
            li.d-block.py-2.border-bottom <strong>OS Convergence:</strong> Android, iOS - Mobile App / Windows, Mac - PC Software
            li.d-block.py-2.border-bottom <strong>Connectivity:</strong> Wi-Fi 802.11 (2.4/5GHz), Bluetooth v4.1, USB 2.0 (Type-C)
            li.d-block.py-2.border-bottom <strong>Sensor:</strong> Gyro, Accelerometer

  // Reviews
  #reviews.container.pt-5.pb-1.pb-md-4(data-offset-top='-5')
    .row.pt-sm-3
      .col-md-4.pb-5
        .card
          .card-body
            .d-flex.justify-content-center.align-items-end.pt-2.pb-4
              .display-4.mr-2 4.3
              div
                .text-muted.font-size-xs.mb-n1 based on 295 reviews
                +star-rating(4)
            .font-size-sm.font-weight-semibold.mb-2
              | 5 stars - 
              span.text-muted 177
            .progress.mb-3(style="height: 2px;")
              .progress-bar.bg-warning(role="progressbar", style="width: 60%", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100")
            .font-size-sm.font-weight-semibold.mb-2
              | 4 stars - 
              span.text-muted 88
            .progress.mb-3(style="height: 2px;")
              .progress-bar.bg-warning(role="progressbar", style="width: 30%", aria-valuenow="30", aria-valuemin="0", aria-valuemax="100")
            .font-size-sm.font-weight-semibold.mb-2
              | 3 stars - 
              span.text-muted 20
            .progress.mb-3(style="height: 2px;")
              .progress-bar.bg-warning(role="progressbar", style="width: 8%", aria-valuenow="8", aria-valuemin="0", aria-valuemax="100")
            .font-size-sm.font-weight-semibold.mb-2
              | 2 stars - 
              span.text-muted 9
            .progress.mb-3(style="height: 2px;")
              .progress-bar.bg-warning(role="progressbar", style="width: 3%", aria-valuenow="3", aria-valuemin="0", aria-valuemax="100")
            .font-size-sm.font-weight-semibold.mb-2
              | 1 star - 
              span.text-muted 0
            .progress.mb-3(style="height: 2px;")
              .progress-bar.bg-warning(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")
            .py-2
              a(href='#leaveReview' data-toggle='modal').btn.btn-warning.btn-block Leave a review
      .col-md-8.pb-5
        h2.h3 Latest reviews
        // Review
        .blockquote.comment.border-top-0.border-left-0.border-right-0.px-0.pt-0
          .d-sm-flex.align-items-center.pb-2
            h6.mb-0 Awesome quality for the price
            span.d-none.d-sm-inline.mx-2.text-muted.opacity-50 |
            +star-rating(5)
          p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est...
          .media.align-items-center.mb-2
            img(src='img/testimonials/01.jpg' width='50' alt='Author ava').mr-3
            .media-body
              h6.font-size-sm.mb-0 Jonathan Smith
              span.d-block.font-size-sm.text-muted May 30, 2019
        // Review
        .blockquote.comment.border-top-0.border-left-0.border-right-0.px-0.pt-0
          .d-sm-flex.align-items-center.pb-2
            h6.mb-0 My husband love his new toy
            span.d-none.d-sm-inline.mx-2.text-muted.opacity-50 |
            +star-rating(4)
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse...
          .media.align-items-center.mb-2
            img(src='img/testimonials/03.jpg' width='50' alt='Author ava').mr-3
            .media-body
              h6.font-size-sm.mb-0 Barbara Palson
              span.d-block.font-size-sm.text-muted May 17, 2019
        // Review
        .blockquote.comment.border-top-0.border-left-0.border-right-0.px-0.pt-0
          .d-sm-flex.align-items-center.pb-2
            h6.mb-0 Great quality and fast delivery
            span.d-none.d-sm-inline.mx-2.text-muted.opacity-50 |
            +star-rating(5)
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur...
          .media.align-items-center.mb-2
            img(src='img/testimonials/02.jpg' width='50' alt='Author ava').mr-3
            .media-body
              h6.font-size-sm.mb-0 Deniel Adams
              span.d-block.font-size-sm.text-muted April 13, 2019
        .pt-2
          //- pagination.pug template
          include partials/pagination

  // Related products
  .container.pb-5
    h2.h3.pb-4 You may also like
    .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 15, "responsive": {"0":{"items":1},"360":{"items":2}, "630":{"items":3}, "850":{"items":4}, "1200":{"items":5}} }')
      .product-card
        .product-thumb.box-shadow-0
          a(href='#').product-thumb-link
          span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
            i(data-feather='heart')
          img(src='img/shop/electronics/01.jpg' alt='Product')
        .product-card-body.box-shadow-0
          .d-flex.flex-wrap.justify-content-between.pb-1
            a(href='#').product-meta Headphones
            +star-rating-short(4.7)
          h3.product-card-title
            a(href='#') Sony WH-CH700N Wireless Noise Canceling Headphones, Black
          span.text-primary $198.00
      .product-card
        .product-thumb.box-shadow-0
          a(href='#').product-thumb-link
          span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
            i(data-feather='heart')
          img(src='img/shop/electronics/02.jpg' alt='Product')
        .product-card-body.box-shadow-0
          .d-flex.flex-wrap.justify-content-between.pb-1
            a(href='#').product-meta Computers
            +star-rating-short(3.9)
          h3.product-card-title
            a(href='#') Apple AirPort Extreme Base Station ME918LL (Refurbished)
          span.text-primary $129.00
      .product-card
        .product-thumb.box-shadow-0
          a(href='#').product-thumb-link
          span.badge.badge-danger.rounded-0 Sale -40%
          span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
            i(data-feather='heart')
          img(src='img/shop/electronics/04.jpg' alt='Product')
        .product-card-body.box-shadow-0
          .d-flex.flex-wrap.justify-content-between.pb-1
            a(href='#').product-meta Smart home
            +star-rating-short(4.2)
          h3.product-card-title
            a(href='#') All-new Echo Dot (3rd Gen) - Smart speaker with Alexa - Charcoal
          span.text-primary
            del.text-muted.mr-1 $49.99
            | $29.99
      .product-card
        .product-thumb.box-shadow-0
          a(href='#').product-thumb-link
          span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
            i(data-feather='heart')
          img(src='img/shop/electronics/05.jpg' alt='Product')
        .product-card-body.box-shadow-0
          .d-flex.flex-wrap.justify-content-between.pb-1
            a(href='#').product-meta Wearable electronics
            +star-rating-short(3.6)
          h3.product-card-title
            a(href='#') Fitbit Ionic GPS Smart Watch, Charcoal/Smoke Gray, One Size
          span.text-primary $317.40
      .product-card
        .product-thumb.box-shadow-0
          a(href='#').product-thumb-link
          span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
            i(data-feather='heart')
          img(src='img/shop/electronics/06.jpg' alt='Product')
        .product-card-body.box-shadow-0
          .d-flex.flex-wrap.justify-content-between.pb-1
            a(href='#').product-meta Smartphones
            +star-rating-short(4.5)
          h3.product-card-title
            a(href='#') Apple - iPhone XS 128GB - Space Gray
          span.text-primary $1,049.99
      .product-card
        .product-thumb.box-shadow-0
          a(href='#').product-thumb-link
          span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
            i(data-feather='heart')
          img(src='img/shop/electronics/08.jpg' alt='Product')
        .product-card-body.box-shadow-0
          .d-flex.flex-wrap.justify-content-between.pb-1
            a(href='#').product-meta Computers
          h3.product-card-title
            a(href='#') Acer R11 11.6" Convertible 2-in-1 HD Touchscreen (2019)
          span.text-primary $339.00
