extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Categories - Apparel'
  - var parentMenu = 'Shop'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Shop', 'link': '#'}]

//- Page Content
block content

  .container.pb-5.mb-sm-1

    // Categories grid
    .row

      // Category
      .col-md-4.col-sm-6
        .card.border-0.mb-grid-gutter
          a(href='shop-style1-ls.html').card-img-tiles
            .main-img
              img(src='img/shop/apparel/categories/01.jpg' alt='Clothing')
            .thumblist
              img(src='img/shop/apparel/categories/02.jpg' alt='Clothing')
              img(src='img/shop/apparel/categories/03.jpg' alt='Clothing')
          .card-body.border.mt-n1.py-4.text-center
            h2.h5.mb-1 Clothing
            span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$49.99</span>
            a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop clothing

      // Category
      .col-md-4.col-sm-6
        .card.border-0.mb-grid-gutter
          a(href='shop-style1-ls.html').card-img-tiles
            .main-img
              img(src='img/shop/apparel/categories/04.jpg' alt='Shoes')
            .thumblist
              img(src='img/shop/apparel/categories/05.jpg' alt='Shoes')
              img(src='img/shop/apparel/categories/06.jpg' alt='Shoes')
          .card-body.border.mt-n1.py-4.text-center
            h2.h5.mb-1 Shoes
            span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$56.00</span>
            a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop shoes

      // Category
      .col-md-4.col-sm-6
        .card.border-0.mb-grid-gutter
          a(href='shop-style1-ls.html').card-img-tiles
            .main-img
              img(src='img/shop/apparel/categories/07.jpg' alt='Bags')
            .thumblist
              img(src='img/shop/apparel/categories/08.jpg' alt='Bags')
              img(src='img/shop/apparel/categories/09.jpg' alt='Bags')
          .card-body.border.mt-n1.py-4.text-center
            h2.h5.mb-1 Bags
            span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$27.00</span>
            a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop bags

      // Category
      .col-md-4.col-sm-6
        .card.border-0.mb-grid-gutter
          a(href='shop-style1-ls.html').card-img-tiles
            .main-img
              img(src='img/shop/apparel/categories/10.jpg' alt='Sunglasses')
            .thumblist
              img(src='img/shop/apparel/categories/12.jpg' alt='Sunglasses')
              img(src='img/shop/apparel/categories/11.jpg' alt='Sunglasses')
          .card-body.border.mt-n1.py-4.text-center
            h2.h5.mb-1 Sunglasses
            span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$35.99</span>
            a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop sunglasses

      // Category
      .col-md-4.col-sm-6
        .card.border-0.mb-grid-gutter
          a(href='shop-style1-ls.html').card-img-tiles
            .main-img
              img(src='img/shop/apparel/categories/13.jpg' alt='Hats')
            .thumblist
              img(src='img/shop/apparel/categories/14.jpg' alt='Hats')
              img(src='img/shop/apparel/categories/15.jpg' alt='Hats')
          .card-body.border.mt-n1.py-4.text-center
            h2.h5.mb-1 Hats
            span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$14.50</span>
            a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop hats

      // Category
      .col-md-4.col-sm-6
        .card.border-0.mb-grid-gutter
          a(href='shop-style1-ls.html').card-img-tiles
            .main-img
              img(src='img/shop/apparel/categories/16.jpg' alt='Gloves')
            .thumblist
              img(src='img/shop/apparel/categories/17.jpg' alt='Gloves')
              img(src='img/shop/apparel/categories/18.jpg' alt='Gloves')
          .card-body.border.mt-n1.py-4.text-center
            h2.h5.mb-1 Gloves
            span.d-block.mb-3.font-size-xs.text-muted Starting from <span class='font-weight-semibold'>$10.45</span>
            a(href='shop-style1-ls.html').btn.btn-pill.btn-outline-primary.btn-sm Shop accessories

    // Popular brands
    h2.h3.pt-4.pt-md-5.text-center Popular brands
    .row.pt-4
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/01.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/02.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/03.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/04.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/05.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/06.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/07.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/08.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/09.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/10.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/11.png' style='width: 150px;' alt='Brand').d-block.mx-auto
      .col-md-3.col-sm-4.col-6
        a(href='#').d-block.bg-white.border.py-3.py-sm-4.mb-grid-gutter
          img(src='img/shop/apparel/brands/12.png' style='width: 150px;' alt='Brand').d-block.mx-auto
