extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Shop style 1 <span class="lead font-weight-semibold text-muted">(Right sidebar)</span>'
  - var parentMenu = 'Shop'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Shop', 'link': '#'}]

//- Page Content
block content

  //- modal-quickview.pug template
  include partials/modal-quickview

  //- toast-shop.pug template
  include partials/toast-shop

  .container.pb-5.mb-4
    .row
      
      .col-lg-9

        //- toolbar-shop.pug template
        include partials/toolbar-shop

        // Products grid
        .row

          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/01.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Men's jeans
                h3.product-card-title
                  a(href='shop-single-apparel.html') Gues Slim Taper Fit Jeans
                span.text-primary $124.99
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-1' id='xl-1').custom-control-input
                    label(for='xl-1').custom-option-label XL
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-1' id='l-1' checked).custom-control-input
                    label(for='l-1').custom-option-label L
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-1' id='m-1').custom-control-input
                    label(for='m-1').custom-option-label M
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-1' id='s-1').custom-control-input
                    label(for='s-1').custom-option-label S
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-1' id='xs-1').custom-control-input
                    label(for='xs-1').custom-option-label XS
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.badge.badge-danger.rounded-0 Sale -15%
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/02.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Backpacks
                h3.product-card-title
                  a(href='shop-single-apparel.html') JanSport Hatchet Special Edition
                span.text-primary
                  del.text-muted.mr-1 $70.00
                  | $58.90
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-1' id='blue-1').custom-control-input
                    label(for='blue-1').custom-option-label
                      span(style='background-color: #193481;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-1' id='gray-1' checked).custom-control-input
                    label(for='gray-1').custom-option-label
                      span(style='background-color: #cdc7c7;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-1' id='terracote-1').custom-control-input
                    label(for='terracote-1').custom-option-label
                      span(style='background-color: #c46652;').custom-option-color
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/03.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Men's shoes
                h3.product-card-title
                  a(href='shop-single-apparel.html') Calvin Klein Jeans Keds
                span.text-primary $125.00
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-2' id='s-10').custom-control-input
                    label(for='s-10').custom-option-label 10
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-2' id='s-95' checked).custom-control-input
                    label(for='s-95').custom-option-label 9.5
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-2' id='s-9').custom-control-input
                    label(for='s-9').custom-option-label 9
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-2' id='s-85').custom-control-input
                    label(for='s-85').custom-option-label 8.5
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-2' id='s-8').custom-control-input
                    label(for='s-8').custom-option-label 8
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.badge.badge-success.rounded-0 &starf; Popular
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/04.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Hats &amp; Caps
                h3.product-card-title
                  a(href='shop-single-apparel.html') 47Brand Denim Cap
                span.text-primary $21.50
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-2' id='red-2').custom-control-input
                    label(for='red-2').custom-option-label
                      span(style='background-color: #c53b4b;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-2' id='blue-2' checked).custom-control-input
                    label(for='blue-2').custom-option-label
                      span(style='background-color: #4e5392;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-2' id='white-2').custom-control-input
                    label(for='white-2').custom-option-label
                      span(style='background-color: #e5ddd5;').custom-option-color
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/05.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Hoodies &amp; Sweatshirts
                h3.product-card-title
                  a(href='shop-single-apparel.html') Nike Tech Fleece Hoodie
                span.text-primary $130.00
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-3' id='xl-3').custom-control-input
                    label(for='xl-3').custom-option-label XL
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-3' id='l-3' checked).custom-control-input
                    label(for='l-3').custom-option-label L
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-3' id='m-3').custom-control-input
                    label(for='m-3').custom-option-label M
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-3' id='s-3').custom-control-input
                    label(for='s-3').custom-option-label S
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-3' id='xs-3').custom-control-input
                    label(for='xs-3').custom-option-label XS
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/06.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Sunglasses
                h3.product-card-title
                  a(href='shop-single-apparel.html') Medicine Chameleon Sunglasses
                span.text-muted Out of stock
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-3' id='brown-3' checked).custom-control-input
                    label(for='brown-3').custom-option-label
                      span(style='background-color: #ba7764;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-3' id='black-3').custom-control-input
                    label(for='black-3').custom-option-label
                      span(style='background-color: #222;').custom-option-color
                a(href='shop-single-apparel.html').btn.btn-primary.btn-sm.btn-block Pre-order
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/07.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Dresses
                h3.product-card-title
                  a(href='shop-single-apparel.html') Floral Printed Maxi Dress
                span.text-primary $47.99
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-4' id='l-4').custom-control-input
                    label(for='l-4').custom-option-label L
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-4' id='m-4' checked).custom-control-input
                    label(for='m-4').custom-option-label M
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-4' id='s-4').custom-control-input
                    label(for='s-4').custom-option-label S
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-4' id='xs-4').custom-control-input
                    label(for='xs-4').custom-option-label XS
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.badge.badge-danger.rounded-0 Sale -10%
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/08.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Women's sneakers
                h3.product-card-title
                  a(href='shop-single-apparel.html') Reebok Classic Sneakers Pyro
                span.text-primary
                  del.text-muted.mr-1 $105.00
                  | $94.50
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-5' id='s-5-95').custom-control-input
                    label(for='s-5-95').custom-option-label 9.5
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-5' id='s-5-9' checked).custom-control-input
                    label(for='s-5-9').custom-option-label 9
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-5' id='s-5-85').custom-control-input
                    label(for='s-5-85').custom-option-label 8.5
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-5' id='s-5-8').custom-control-input
                    label(for='s-5-8').custom-option-label 8
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-5' id='s-5-75').custom-control-input
                    label(for='s-5-75').custom-option-label 7.5
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/09.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Handbags
                h3.product-card-title
                  a(href='shop-single-apparel.html') Roxy Cotton Handbag
                span.text-primary $52.00
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-4' id='cyan-4').custom-control-input
                    label(for='cyan-4').custom-option-label
                      span(style='background-color: #8ab5be;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-4' id='blue-4' checked).custom-control-input
                    label(for='blue-4').custom-option-label
                      span(style='background-color: #4e5392;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-4' id='beige-4').custom-control-input
                    label(for='beige-4').custom-option-label
                      span(style='background-color: #fccec2;').custom-option-color
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/10.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Men's sandals
                h3.product-card-title
                  a(href='shop-single-apparel.html') Big Star Flip Tops
                span.text-primary $10.60
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-6' id='s-6-10').custom-control-input
                    label(for='s-6-10').custom-option-label 10
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-6' id='s-6-95' checked).custom-control-input
                    label(for='s-6-95').custom-option-label 9.5
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-6' id='s-6-9').custom-control-input
                    label(for='s-6-9').custom-option-label 9
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-6' id='s-6-85').custom-control-input
                    label(for='s-6-85').custom-option-label 8.5
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-6' id='s-6-8').custom-control-input
                    label(for='s-6-8').custom-option-label 8
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/11.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Men's tshirts
                h3.product-card-title
                  a(href='shop-single-apparel.html') Medicine Tshirt Sailor Spirit
                span.text-primary $17.00
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-7' id='xl-7').custom-control-input
                    label(for='xl-7').custom-option-label XL
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-7' id='l-7' checked).custom-control-input
                    label(for='l-7').custom-option-label L
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-7' id='m-7').custom-control-input
                    label(for='m-7').custom-option-label M
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-7' id='s-7').custom-control-input
                    label(for='s-7').custom-option-label S
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='size-7' id='xs-7').custom-control-input
                    label(for='xs-7').custom-option-label XS
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view
          
          // Product
          .col-md-4.col-sm-6
            .product-card.mb-4
              .product-thumb
                a(href='shop-single-apparel.html').product-thumb-link
                span.product-wishlist-btn(data-toggle='tooltip' data-placement='left' title='Add to wishlist')
                  i(data-feather='heart')
                img(src='img/shop/apparel/12.jpg' alt='Product')
              .product-card-body.text-center
                a(href='#').product-meta Men's belts
                h3.product-card-title
                  a(href='shop-single-apparel.html') Diesel Leather Belt
                span.text-primary $109.00
              .product-card-body.body-hidden
                .pb-2.text-center
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-5' id='black-5' checked).custom-control-input
                    label(for='black-5').custom-option-label
                      span(style='background-color: #222;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-5' id='orange-5').custom-control-input
                    label(for='orange-5').custom-option-label
                      span(style='background-color: #dc6442;').custom-option-color
                  .custom-control.custom-option.custom-control-inline.mb-2
                    input(type='radio' name='color-5' id='gray-5').custom-control-input
                    label(for='gray-5').custom-option-label
                      span(style='background-color: #ccc;').custom-option-color
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block Add to cart
                a(href='#quick-view' data-toggle='modal').quick-view-btn
                  i(data-feather='eye').mr-1
                  | Quick view

        hr.pb-4.mb-2

        //- pagination.pug template
        include partials/pagination

      .col-lg-3
        //- sidebar-shop-1.pug template
        include partials/sidebar-shop-1
