body {
    font-family                        : Tahoma, "MS Serif", Arial;
    font-size                        : 11px;
    font-weight                        : normal;
    color                            : #666666;
    background-color                : #F6F6F6;
    margin                            : 0px;
    background-image                : url(../images/back_lin.png);
    background-repeat                : repeat;
    }
a { 
    text-decoration                    : none; 
    }
hr {
    color                            : #CCCCCC;
    }
.schadow {
    background-image                : url(../images/schadow.png);
    background-repeat                : repeat;
    background-position                : left;
    }
.schadow_buttom {

    background-image                : url(../images/schadow_buttom.png);
    background-repeat                : repeat;
}
.upper {
    text-transform: uppercase;
}
a:link {
    color: #999999;
}
a:visited {
    color: #999999;
}
a:hover {
    color: #CC0000;
    text-decoration: underline;
}
a:active {
    color: #999999;
}
.ico_activ {
    font-weight: bold;
    color: #CC0000;
    vertical-align: middle;
}
.title {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
.footer {
    background-image: url(images/back_lin.png);
    background-repeat: repeat;
}
