# Ignore configuration files that may contain sensitive information.
/wordpress/wordpress/wp-config.php
/myoos/includes/local/
/nbproject/private/
/wordpress/wordpress/nbproject/private/
/myoos/nbproject/private/
/myoos/themes/phoenix/less/bootstrap.min.less
/myoos/themes/phoenix/less/font-awesome.min.less
/myoos/themes/phoenix/less/style.min.less
/xibo/nbproject/private/
/forum/nbproject/private/
/wordpress/wordpress/wp-content/themes/shop/less/bootstrap.min.less
/wordpress/wordpress/wp-content/themes/shop/less/font-awesome.min.less
/myoos/admin/less/bootstrap.min.less
/myoos/admin/less/font-awesome.min.less
/myoos/admin/less/style.min.less
/wordpress/wordpress/wp-content/themes/shop/less/style.min.less
/wordpress/wordpress/wp-content/themes/shop/less/flexslider.min.less
nbproject
/forum/nbproject
/myoos/nbproject
/xibo/nbproject
/mobil/MyOOSCordovaApp/MyOOSCordovaApp/bin
/mobil/MyOOSCordovaApp/MyOOSCordovaApp/bld
/mobil/MyOOSCordovaApp/MyOOSCordovaApp/hooks
prepros-6.config

