/**	 Margins
*************************************************** **/

/* Margin Top */
$i: 1;
@while $i < 11 {
	.mt-#{$i} {
		@include px-to-rem(margin-top, $i*1px !important);
	}
	$i: $i + 1;
}
$i: 10;
@while $i < 80 {
	.mt-#{$i} {
		@include px-to-rem(margin-top, $i*1px !important);
	}
	$i: $i + 10;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

/* Margin Bottom */
$i: 1;
@while $i < 21 {
	.mb-#{$i} {
		@include px-to-rem(margin-bottom, $i*1px !important);
	}
	$i: $i + 1;
}
$i: 10;
@while $i < 171 {
	.mb-#{$i} {
		@include px-to-rem(margin-bottom, $i*1px !important);
	}
	$i: $i + 5;
}

/* Margin Left */
$i: 1;
@while $i < 11 {
	.m-ml-#{$i} {
		@include px-to-rem(margin-left, $i*1px !important);
	}
	$i: $i + 1;
}
$i: 5;
@while $i < 51 {
	.m-ml-#{$i} {
		@include px-to-rem(margin-left, $i*1px !important);
	}
	$i: $i + 5;
}

/* Margin Right */
$i: 1;
@while $i < 11 {
	.mr-#{$i} {
		@include px-to-rem(margin-right, $i*1px !important);
	}
	$i: $i + 1;
}
$i: 5;
@while $i < 51 {
	.mr-#{$i} {
		@include px-to-rem(margin-right, $i*1px !important);
	}
	$i: $i + 5;
}

/* Margin X */
$i: 1;
@while $i < 11 {
	.mx-#{$i} {
		@include px-to-rem(margin-left, $i*1px !important);
        @include px-to-rem(margin-right, $i*1px !important);
	}
	$i: $i + 1;
}
