<!--  $Id: affiliate_account_details.html,v 1.2 2009/02/19 14:26:06 r23 Exp $ -->

<table border="0" width="100%" cellspacing="0" cellpadding="2">
  <tr>
    <td class="formAreaTitle">{$lang.category_personal}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
  {if $smarty.const.ACCOUNT_GENDER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_gender}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$info_gender}
    {elseif $error eq 'true'}
      {if $gender_error eq 'true'}
       	<input type="radio" name="a_gender" value="m" checked="checked">&nbsp;&nbsp;{$lang.male}&nbsp;&nbsp;<input type="radio" name="a_gender" value="f">&nbsp;&nbsp;{$lang.female}&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_info_text}</font></small>
      {else}
         {if $a_gender eq 'm'}
		    {$lang.male}
		 {else}
		    {$lang.female}
		 {/if}
          <input type=hidden name="a_gender" value="{$a_gender}">
       {/if}
    {else}
      <input type="radio" name="a_gender" value="m" checked="checked">&nbsp;&nbsp;{$lang.male}&nbsp;&nbsp;<input type="radio" name="a_gender" value="f">&nbsp;&nbsp;{$lang.female}&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
    {/if}
            </td>
          </tr>
  {/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_first_name}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_firstname}
  {elseif $error eq 'true'}
    {if $firstname_error eq 'true'}
      <input type="text" name="a_firstname" value="{$a_firstname}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_first_name_error}</font></small>
    {else}
      {$a_firstname}<input type=hidden name="a_firstname" value="{$a_firstname}">
    {/if}
  {else}
     <input type="text" name="a_firstname" value="{$affiliate.affiliate_firstname}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
  {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_last_name}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_lastname}
  {elseif $error eq 'true'}
    {if $lastname_error eq 'true'}
      <input type="text" name="a_lastname" value="{$a_lastname}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_last_name_error}</font></small>
    {else}
     {$a_lastname}<input type=hidden name="a_lastname" value="{$a_lastname}">
    {/if}
  {else}
    <input type="text" name="a_lastname" value="{$affiliate.affiliate_lastname}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
  {/if}
            </td>
          </tr>
  {if $smarty.const.ACCOUNT_DOB eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_date_of_birth}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_dob|oos_date_short}
    {elseif $error eq 'true'}
      {if $date_of_birth_error eq 'true'}
         <input type="text" name="a_dob" value="{$a_dob}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_date_of_birth_text}</font></small>
      {else}
        {$a_dob}<input type=hidden name="a_dob" value="{$a_dob}">
      {/if}
    {else}
      <input type="text" name="a_dob" value="{$affiliate.affiliate_dob|oos_date_short}">&nbsp;&nbsp;<small>{$lang.entry_date_of_birth_text}<font color="#AABBDD">{$lang.entry_info_text}</font></small>
    {/if}
            </td>
          </tr>
  {/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_email_address}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_email_address}
  {elseif $error eq 'true'}
      {if $email_address_error eq 'true'}
	      <input type="text" name="a_email_address" value="{$a_email_address}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_email_address_error}</font></small>
	  {elseif $email_address_check_error eq 'true'}
	      <input type="text" name="a_email_address" value="{$a_email_address}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_email_address_check_error}</font></small>
	  {elseif $email_address_exists eq 'true'}
	      <input type="text" name="a_email_address" value="{$a_email_address}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_email_address_error_exists}</font></small>
	  {else}
	      {$a_email_address}<input type=hidden name="a_email_address" value="{$a_email_address}">
      {/if}
  {else}
    <input type="text" name="a_email_address" value="{$affiliate.affiliate_email_address}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
  {/if}
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  {if $smarty.const.ACCOUNT_COMPANY eq 'true'}
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_company}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_company}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_company}
    {elseif $error eq 'true'}
      {$a_company}<input type=hidden name="a_company" value="{$a_company}">
    {else}
      <input type="text" name="a_company" value="{$affiliate.affiliate_company}">
    {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_company_taxid}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_company_taxid}
    {elseif $error eq 'true'}
        {$a_company_taxid}<input type=hidden name="a_company_taxid" value="{$a_company_taxid}">
    {else}
      <input type="text" name="a_company_taxid" value="{$affiliate.affiliate_company_taxid}">
    {/if}
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  {/if}
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_payment_details}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
  {if $smarty.const.AFFILIATE_USE_CHECK eq 'true'}
         <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_payment_check}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_payment_check}
    {elseif $error eq 'true'}
        {$a_payment_check}<input type=hidden name="a_payment_check" value="{$a_payment_check}">
    {else}
       <input type="text" name="a_payment_check" value="{$affiliate.affiliate_payment_check}">
    {/if}
            </td>
          </tr>
  {/if}
  {if $smarty.const.AFFILIATE_USE_PAYPAL eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_payment_paypal}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_payment_paypal}
    {elseif $error eq 'true'}
      {$a_payment_paypal}<input type=hidden name="a_payment_paypal" value="{$a_payment_paypal}">
    {else}
      <input type="text" name="a_payment_paypal" value="{$affiliate.affiliate_payment_paypal}">
    {/if}
            </td>
          </tr>
  {/if}
  {if $smarty.const.AFFILIATE_USE_BANK eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_payment_bank_name}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_payment_bank_name}
    {elseif $error eq 'true'}
      {$a_payment_bank_name}<input type=hidden name="a_payment_bank_name" value="{$a_payment_bank_name}">
    {else}
       <input type="text" name="a_payment_bank_name" value="{$affiliate.affiliate_payment_bank_name}">
    {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_payment_bank_branch_number}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_payment_bank_branch_number}
    {elseif $error eq 'true'}
      {$a_payment_bank_branch_number}<input type=hidden name="a_payment_bank_branch_number" value="{$a_payment_bank_branch_number}">
    {else}
       <input type="text" name="a_payment_bank_branch_number" value="{$affiliate.affiliate_payment_bank_branch_number}">
    {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_payment_bank_swift_code}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_payment_bank_swift_code}
    {elseif $error eq 'true'}
      {$a_payment_bank_swift_code}<input type=hidden name="a_payment_bank_swift_code" value="{$a_payment_bank_swift_code}">
    {else}
      <input type="text" name="a_payment_bank_swift_code" value="{$affiliate.affiliate_payment_bank_swift_code}">
    {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_payment_bank_account_name}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_payment_bank_account_name}
    {elseif $error eq 'true'}
      {$a_payment_bank_account_name}<input type=hidden name="a_payment_bank_account_name" value="{$a_payment_bank_account_name}">
    {else}
       <input type="text" name="a_payment_bank_account_name" value="{$affiliate.affiliate_payment_bank_account_name}">
    {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_payment_bank_account_number}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_payment_bank_account_number}
    {elseif $error eq 'true'}
      {$a_payment_bank_account_number}<input type=hidden name="a_payment_bank_account_number" value="{$a_payment_bank_account_number}">
    {else}
       <input type="text" name="a_payment_bank_account_number" value="{$affiliate.affiliate_payment_bank_account_number}">
    {/if}
            </td>
          </tr>
  {/if}
	      </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_address}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_street_address}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_street_address}
  {elseif $error eq 'true'}
    {if $street_address_error eq 'true'}
      <input type="text" name="a_street_address" value="{$a_street_address}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_street_address_error}</font></small>
    {else}
      {$a_street_address}<input type=hidden name="a_street_address" value="{$a_street_address}">
    {/if}
  {else}
    <input type="text" name="a_street_address" value="{$affiliate.affiliate_street_address}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
  {/if}
            </td>
          </tr>
  {if $smarty.const.ACCOUNT_SUBURB eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_suburb}</td>
            <td class="main">&nbsp;
    {if $is_read_only eq 'true'}
      {$affiliate.affiliate_suburb}
    {elseif $error eq 'true'}
       {$a_suburb}<input type=hidden name="a_suburb" value="{$a_suburb}"></td>
    {else}
      <input type="text" name="a_suburb" value="{$affiliate.affiliate_suburb}">
    {/if}
            </td>
          </tr>
  {/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_post_code}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_postcode}
  {elseif $error eq 'true'}
    {if $post_code_error eq 'true'}
      <input type="text" name="a_postcode" value="{$a_postcode}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_post_code_error}</font></small>
    {else}
      {$a_postcode}<input type=hidden name="a_postcode" value="{$a_postcode}">
    {/if}
  {else}
   <input type="text" name="a_postcode" value="{$affiliate.affiliate_postcode}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
  {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_city}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_city}
  {elseif $error eq 'true'}
    {if $city_error eq 'true'}
      <input type="text" name="a_city" value="{$a_city}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_city_error}</font></small>
    {else}
     {$a_city}<input type=hidden name="a_city" value="{$a_city}">
    {/if}
  {else}
     <input type="text" name="a_city" value="{$affiliate.affiliate_city}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
  {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_country}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$country_name}
  {elseif $error eq 'true'}
    {if $country_error eq 'true'}
      {oos_get_country_list name=a_country}&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_country_error}</font></small>
    {else}
      {$country_name} <input type=hidden name="a_country" value="{$a_country}">
    {/if}
  {else}
    {oos_get_country_list name=a_country selected=$affiliate.affiliate_country_id}
  {/if}
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_contact}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_telephone_number}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_telephone}
  {elseif $error eq 'true'}
    {if $telephone_error eq 'true'}
      <input type="text" name="a_telephone" value="{$a_telephone}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_telephone_number_error}</font></small>
    {else}
     {$a_telephone}<input type=hidden name="a_telephone" value="{$a_telephone}">
    {/if}
  {else}
    <input type="text" name="a_telephone" value="{$affiliate.affiliate_telephone}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
  {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_fax_number}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_fax}
  {elseif $error eq 'true'}
    {$a_fax}<input type=hidden name="a_fax" value="{$a_fax}">
  {else}
    <input type="text" name="a_fax" value="{$affiliate.affiliate_fax}">
  {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_affiliate_homepage}</td>
            <td class="main">&nbsp;
  {if $is_read_only eq 'true'}
    {$affiliate.affiliate_homepage}
  {elseif $error eq 'true'}
    {if $homepage_error eq 'true'}
      <input type="text" name="a_homepage" value="{$a_homepage}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_affiliate_homepage_error}</font></small>
    {else}
      {$a_homepage}<input type=hidden name="a_homepage" value="{$a_homepage}">
    {/if}
  {else}
      <input type="text" name="a_homepage" value="{$affiliate.affiliate_homepage}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
  {/if}
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  {if $is_read_only eq 'false'}
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_password}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_password}</td>
            <td class="main">&nbsp;
    {if $error eq 'true'}
      {if $password_error eq 'true'}
        <input type="password" name="a_password" maxlength="40">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_password_error}</font></small>
      {else}
        {$password_hidden}<input type=hidden name="a_password" value="{$a_password}"><input type=hidden name="a_confirmation" value="{$a_confirmation}">
      {/if}
    {else}
        <input type="password" name="a_password" maxlength="40">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small>
    {/if}
            </td>
          </tr>
    {if $error eq 'false' or $password_error eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_password_confirmation}</td>
            <td class="main">&nbsp;<input type="password" name="a_confirmation" maxlength="40">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></td>
          </tr>
    {/if}
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br></td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;</td>
            <td class="main">&nbsp;<input type="checkbox" name="a_agb" value="1">{$lang.entry_affiliate_accept_agb}
    {if $agb_error eq 'true'}
      <br>{$lang.entry_affiliate_agb_error}
    {/if}
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
{/if}
</table>