<!--  $Id: new_news.html,v 1.2 2009/02/19 14:26:06 r23 Exp $ -->
{if $new_news_block eq 'true'}
 {section name=i loop=$new_news_array}
          <tr>
            <td><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="100%" class="block_head_background">{$new_news_array[i].news_name}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="4" class="oos-BoxContents">
  <tr>
    <td class="smallText" valign="top"><a href="{html_href_link modul=$modules.news file=$filename.news_news news_id=$new_news_array[i].news_id}">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$new_news_array[i].news_image alt=$new_news_array[i].news_name align=right hspace=10 vspace=10}</a>{$new_news_array[i].news_description}...</td>
  </tr>
  <tr>
    <td class="smallText"><center>{$lang.text_news_postedby} {$new_news_array[i].author_name} {$lang.text_news_on} {$new_news_array[i].news_date_added|oos_date_long} ( {$new_news_array[i].news_viewed} {$lang.text_news_reads} ) <br>
            ( <a href="{html_href_link modul=$modules.news file=$filename.news_news news_id=$new_news_array[i].news_id}"><b>{$lang.text_news_readmore}</b></a> | {if $oEvent->installed_plugin('reviews')}<a href="{html_href_link modul=$modules.news file=$filename.news_reviews news_id=$new_news_array[i].news_id}">{$lang.text_news_comments}</a> | {/if} {$lang.text_news_score} {$new_news_array[i].news_reviews|number}% )</center></td>
  </tr>
</table>
            </td>
          </tr>
 {/section}
{/if}
