<!--  $Id: user_password_forgotten.html,v 1.2 2009/02/19 14:26:06 r23 Exp $ -->
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr><td>{$oosPageHeading}</td></tr>
      <tr><td height="10"></td></tr>
{if isset($smarty.get.email) && ($smarty.get.email eq 'nonexistent')}
      <tr><td class="smallText">{$lang.text_no_email_address_found}</td></tr>
{/if}
      <tr><td><table border="0" width="100%" cellspacing="0" cellpadding="3">
        <tr><td height="15"></td></tr>
        <tr><td class="heading_title">{$lang.sub_title}</td></tr>
        <tr><td height="10"></td></tr>
        <tr><td class="main">{$lang.text_info}</td></tr>
      </table></td></tr>
      <tr>
        <td><form name="password_forgotten" method="post" action="{html_href_link modul=$modules.user file=$filename.password_forgotten action=process connection=SSL}"><br><table border="0" width="100%" cellspacing="0" cellpadding="3">
          <tr>
            <td align="right" class="main">{$lang.entry_email_address}</td>
            <td class="main"><input type="text" name="email_address" maxlength="96" value="{$smarty.post.email_address}"></td>
          </tr>
          <tr>
            <td></td>
            <td>{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
          </tr>
        </table></form></td>
      </tr>
      <tr><td height="15"></td></tr>
      <tr><td class="main">{$lang.text_new_account_info}</td></tr>
      <tr><td height="15"></td></tr>
      <tr><td class="main"><a href="{html_href_link modul=$modules.user file=$filename.create_account connection=SSL}"><u><b>{$lang.text_create_new_account}</b></u></a></td></tr>
    </table>
