<!--  $Id: user_create_account.html,v 1.2 2009/02/19 14:26:06 r23 Exp $ -->
    <form name="account_edit" action="{html_href_link content=$filename.create_account_process connection=SSL}" method="post" onSubmit="return check_form();"><input type="hidden" name="action" value="process"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
{if $snapshot > 0 }
      <tr>
        <td class="smallText"><br>{$login_orgin_text}</td>
      </tr>
{/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>
{include file="$theme_set/modules/user_account_details.html"}
        </td>
      </tr>
      <tr>
        <td align="right" class="main"><br>{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table>
    </form>