/** Side Nav
*************************************************** **/

.side-nav {
  font-size: 15px;
}

div.side-nav {
  li.list-group-item {
    padding: 0 15px;
    li.list-group-item {
      padding: 0;
      > ul {
        padding-left: 15px;
        padding-right: 5px;
      }
      a.dropdown-toggle:before {
        right: 5px;
      }
    }
  }
  ul {
    border: 0 !important;
    > li {
      border: 0 !important;
      position: relative;
      background-color: transparent !important;
      &:before {
        content: "\f105";
        font-family: FontAwesome;
        position: absolute;
        font-size: 15px;
        left: 0;
        top: 4px;
        color: #999;
      }
    }
  }
  li.list-group-noicon:before {
    content: '';
    display: none;
  }
  ul {
    &.list-group-noicon > li {
      &:before, > ul > li:before {
        content: '';
        display: none;
      }
      padding-left: 0;
      ul {
        display: none;
      }
    }
    > li {
      > a {
        display: block;
        padding: 4px 0 4px 0;
        color: #777;
        text-decoration: none;
      }
      &:hover > a, &.active > a {
        color: #111 !important;
      }
    }
  }
}

/* deep nav fix */

button.page-side-nav-mobile {
  display: none;
}

div.side-nav ul > li > ul > li > a {
  padding: 4px 0 4px 15px;
}

ul.side-nav > li > a > i {
  margin-right: 8px;
}

/* side nav sub categs */

div.side-nav {
  ul > li {
    > a.dropdown-toggle:before {
      content: "\f196";
      font-family: FontAwesome;
      position: absolute;
      font-size: 17px;
      right: 20px;
      top: 6px;
      color: #999;
    }
    &.active {
      > a.dropdown-toggle:before {
        content: "\f147";
      }
      > ul {
        display: block;
      }
    }
    > ul {
      display: none;
    }
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        margin: 0;
        padding: 0;
        list-style: none;
        a {
          font-size: 12px;
        }
      }
      padding: 10px 0;
    }
  }
  .side-nav-head {
    position: relative;
  }
  ul.list-group-bordered > li > a {
    display: block;
    /*border-bottom:rgba(0,0,0,0.05) 1px solid;*/
    padding: 6px;
    > span {
      &.float-left, &.float-right {
        margin-top: 3px;
      }
    }
  }
  .side-nav-head button {
    display: none;
    font-size: 21px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 44px;
    width: 44px;
  }
}

/* */

@media only screen and (min-width: 990px) {
  div.side-nav > ul {
    display: block !important;
  }
}

@media only screen and (max-width: 767px) {
  div.side-nav {
    ul {
      display: none;
      max-height: 350px;
      overflow-y: auto;
      margin-bottom: 30px;
      > li {
        border-bottom: rgba(0, 0, 0, 0.03) 1px solid !important;
      }
    }
    .side-nav-head {
      height: 44px;
      background-color: rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
      > h4 {
        line-height: 44px;
        padding-left: 15px;
        margin: 0;
      }
      button {
        display: block;
        position: absolute;
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  div.side-nav ul {
    max-height: 250px;
    overflow-y: auto;
  }
}
