<!--  $Id: advanced_search.html,v 1.1 2007/06/15 07:42:42 r23 Exp $ -->
   <form name="advanced_search" action="{html_get_link}" method="get" onSubmit="return check_form(this);"><input type="hidden" name="mp" value="{$modules.search}"><input type="hidden" name="file" value="{$filename.advanced_search_result}"><input type=hidden name="{$oos_session_name}" value="{$oos_session_id}"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td><table border="0" cellpadding="1" cellspacing="0" bgcolor="#000000" width="100%" class="oos-BlockHeading">
              <tr>
                <td><table border="0" cellpadding="3" cellspacing="0" bgcolor="#C0C0C0" width="100%" class="oos-BlockHeadingContent">
              <tr>
                <td align="left" class="oos-infoBlockHeading">{$lang.heading_search_criteria}</td>
             </tr>
               </table></td>
            </tr>
           </table>
           <table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
             <tr>
              <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="oos-BoxContents">
             <tr>
              <td height="1"></td>
             </tr>
             <tr>
               <td class="boxText"><input type="text" name="keywords" id="keywords" onKeyUp="loadXMLDoc(this.value)" autocomplete="off" style="width: 100%"></td>
             </tr>
<!-- ajax contrib start -->
             <tr>
               <td><div style="display: block; margin-left: 0%; width:100%; float: left;border:solid 1px;background-color:#CCCCCC;" id="quicksearch">Quick Find Results....</div></td>
             </tr>
<!-- ajax contrib end -->

             <tr>
              <td align="right" class="boxText"><input type="checkbox" name="search_in_description" value="1">{$lang.text_search_in_description}</td>
             </tr>
             <tr>
              <td height="1"></td>
             </tr>
            </table></td>
           </tr>
          </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="smallText"><a href="javascript:searchWindow('{html_href_link modul=$modules.search file=$filename.popup_search_help}')">{$lang.text_search_help_link}</a></td>
            <td class="smallText" align="right">{html_image_submit image="search.gif" alt=$lang.image_button_search}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
         <tr>
           <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="oos-BoxContents">
            <tr>
              <td height="1"></td>
            </tr>
            <tr>
             <td class="boxText">{$options_box}</td>
            </tr>
            <tr>
             <td height="1"></td>
           </tr>
          </table></td>
        </tr>
       </table> </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main">{$info_message}</td>
      </tr>
    </table>
    </form>
