    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>{include file="$theme_set/modules/links/link_listing.html"}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><a href="{oos_back_link}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
            <td class="main" align="right"><a href="{html_href_link modul=$modules.links file=$filename.links_submit oos_get=$get_parameters}">{html_image_button image="submit_link.gif" alt=$lang.image_button_submit_link}</a></td>
          </tr>
        </table></td>
      </tr>
    </table>