{if $new_news_block eq 'true'}
 {section name=i loop=$new_news_array}
          <tr>
            <td><br />
<table border="0" cellpadding="1" cellspacing="0" width="100%">
  <tr>
    <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="left" class="tbl_header_green">&nbsp;&nbsp;{$new_news_array[i].news_name}</td>
        <td align="left" class="tbl_header_green"><img src="{$theme_image}/trans.gif" alt=" " width="2" height="22"></td>
      </tr>
    </table></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="4" class="oos-BoxContents">
  <tr>
    <td class="smallText" valign="top"><a href="{html_href_link modul=$modules.news file=$filename.news_news news_id=$new_news_array[i].news_id}">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$new_news_array[i].news_image alt=$new_news_array[i].news_name align=right hspace=10 vspace=10}</a>{$new_news_array[i].news_description}...</td>
  </tr>
  <tr>
    <td class="smallText"><center>{$lang.text_news_postedby} {$new_news_array[i].author_name} {$lang.text_news_on} {$new_news_array[i].news_date_added|oos_date_long} ( {$new_news_array[i].news_viewed} {$lang.text_news_reads} ) <br />
            ( <a href="{html_href_link modul=$modules.news file=$filename.news_news news_id=$new_news_array[i].news_id}"><b>{$lang.text_news_readmore}</b></a> | {if $oEvent->installed_plugin('reviews')}<a href="{html_href_link modul=$modules.news file=$filename.news_reviews news_id=$new_news_array[i].news_id}">{$lang.text_news_comments}</a> | {/if}<a href="{html_href_link modul=$modules.news file=$filename.news_info_pdf news_id=$new_news_array[i].news_id}"><img src="{$theme_image}/print.gif" border="0" alt="{$lang.text_news_printer}" title="{$lang.text_news_printer}" width="16" height="11" /></a> | {$lang.text_news_score} {$new_news_array[i].news_reviews|number}% )</center></td>

  </tr>
</table>
            </td>
          </tr>
 {/section}
{/if}
