    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td height="2"></td>
      </tr>
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td align="left" valign="top" class="main">{if $news_info.news_image != '' }{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$news_info.news_image alt=$news_info.news_name align=left hspace=5 vspace=5}{/if}{$news_info.news_description|stripslashes}</td>
          </tr>
        </table></td>
       </tr>
       <tr>
         <td height="10"></td>
       </tr>
{if $reviews_total > 0 }
      <tr>
        <td class="main"><br />{$lang.text_current_reviews}&nbsp;{$reviews_total}</td>
      </tr>
{/if}
{if $news_info.news_url != '' }
      <tr>
        <td class="main"><br />{$redirect|string_format:$lang.text_more_information}</td>
      </tr>
{/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
{if $oEvent->installed_plugin('reviews')}
       <td><br /><table border="0" width="100%" cellspacing="0" cellpadding="0">
         <tr>
           <td align="right" class="main">
{if $reviews_total > 0 }
        <a href="{html_href_link modul=$modules.news file=$filename.news_reviews news_id=$news_info.news_id}">{html_image_button image="reviews.gif" alt=$lang.image_button_reviews}</a></td>
{else}
        <a href="{html_href_link modul=$modules.news file=$filename.news_reviews_write news_id=$news_info.news_id}">{html_image_button image="write_review.gif" alt=$lang.image_button_write_review}</a></td>
{/if}</td>
          </tr>
        </table></td>
      </tr>
{/if}
     </table>
