<table border="0" cellpadding="1" cellspacing="0" width="100%" class="oos-BlockHeading">
  <tr>
    <td><table border="0" cellpadding="3" cellspacing="0" width="100%" class="oos-BlockHeadingContent">
      <tr>
        <td class="body_head">{$news_info.news_name}</td>
      </tr>
    </table></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="3" class="oos-BoxContents">
  <tr>
    <td height="1"></td>
  </tr>
  <tr>
    <td class="boxText">{$lang.text_news_postedon} {$news_info.news_date_added|oos_date_long} {$lang.text_news_on} {$news_info.author_name} | <a href="{html_href_link modul=$modules.news file=$filename.news_reviews news_id=$news_info.news_id}">{$lang.text_news_comments}</a> | <a href="{html_href_link modul=$modules.news file=$filename.news_info_pdf news_id=$news_info.news_id}"><img src="{$theme_image}/print.gif" border="0" alt="{$lang.text_news_printer}" title="{$lang.text_news_printer}" width="16" height="11"></a></td>
  </tr>
  <tr>
    <td height="1"></td>
  </tr>
</table>
</td>
