<!--  $Id: user_account.html,v 1.1 2007/06/15 07:42:42 r23 Exp $ -->
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td class="formAreaTitle">{$lang.category_personal}</td>
         </tr>
         <tr>
           <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
            <tr>
              <td class="main"><table border="0" cellspacing="0" cellpadding="2">
{if $smarty.const.ACCOUNT_GENDER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_gender}</td>
            <td class="main">&nbsp;{$gender}</td>
          </tr>
{/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_first_name}</td>
            <td class="main">&nbsp;{$account.customers_firstname}</td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_last_name}</td>
            <td class="main">&nbsp;{$account.customers_lastname}</td>
          </tr>
{if $smarty.const.ACCOUNT_DOB eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_date_of_birth}</td>
            <td class="main">&nbsp;{$account.customers_dob|oos_date_short}</td>
          </tr>
{/if}
{if $smarty.const.ACCOUNT_NUMBER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_number}</td>
            <td class="main">&nbsp;{$account.customers_number}</td>
          </tr>
{/if}
         <tr>
            <td class="main">&nbsp;{$lang.entry_email_address}</td>
            <td class="main">&nbsp;{$account.customers_email_address}</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
{if $smarty.const.ACCOUNT_COMPANY eq 'true'}
  <tr>
    <td class="formAreaTitle"><br />{$lang.category_company}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_company}</td>
            <td class="main">&nbsp;{$account.entry_company}</td>
          </tr>
  {if $smarty.const.ACCOUNT_OWNER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_owner}</td>
            <td class="main">&nbsp;{$account.entry_owner}</td>
          </tr>
  {/if}
  {if $smarty.const.ACCOUNT_VAT_ID eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_vat_id}</td>
            <td class="main">&nbsp;{$account.customers_vat_id}</td>
          </tr>
  {/if}
        </table></td>
      </tr>
    </table></td>
  </tr>
{/if}
  <tr>
    <td class="formAreaTitle"><br />{$lanf.category_address}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_street_address}</td>
            <td class="main">&nbsp;{$account.entry_street_address}</td>
          </tr>
{if $smarty.const.ACCOUNT_SUBURB eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_suburb}</td>
            <td class="main">&nbsp;{$account.entry_suburb}</td>
          </tr>
{/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_post_code}</td>
            <td class="main">&nbsp;{$account.entry_postcode}</td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_city}</td>
            <td class="main">&nbsp;{$account.entry_city}</td>
          </tr>
{if $smarty.const.ACCOUNT_STATE eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_state}</td>
            <td class="main">&nbsp;{oos_get_zone_name country_id=$account.entry_country_id zone_id=$account.entry_zone_id default_zone=$account.entry_state}</td>
          </tr>
{/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_country}</td>
            <td class="main">&nbsp;{$oos_get_country_name}</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br />{$lang.category_contact}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_telephone_number}</td>
            <td class="main">&nbsp;{$account.customers_telephone}</td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_fax_number}</td>
            <td class="main">&nbsp;{$account.customers_fax}</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br />{$lang.category_options}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_newsletter}</td>
            <td class="main">&nbsp;{$newsletter}</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
 </table>
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td align="center" class="main"><a href="{html_href_link modul=$modules.account file=$filename.account_address_book connection=SSL}">{html_image_button image="address_book.gif" alt=$lang.image_button_address_book}</a></td>
            <td align="center" class="main"><a href="{html_href_link modul=$modules.account file=$filename.account_history connection=SSL}">{html_image_button image="history.gif" alt=$lang.image_button_history}</a></td>
{if $oEvent->installed_plugin('notify')}
            <td align="center" class="main"><a href="{html_href_link modul=$modules.user file=$filename.product_notifications connection=SSL}">{html_image_button image="notifications.gif" alt=$lang.image_button_notifications}</a></td>
{/if}
            <td align="center" class="main"><a href="{html_href_link modul=$modules.user file=$filename.account_edit connection=SSL}">{html_image_button image="edit_account.gif" alt=$lang.image_button_edit_account}</a></td>
          </tr>
        </table></td>
      </tr>
    </table>
