<table cellpadding="0" cellspacing="0" class="moduletable">
<tbody><tr><th valign="top">{$block_heading_change_template}</th></tr>
<tr>
	<td>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr><td height="8"></td></tr>
		<tr>
			<td align="center">
<img src="themes/{$smarty.session.theme}/images/template_thumbnail.gif" name="preview" border="1" width="140" height="90" alt="{$smarty.session.theme}" />
<br />
{literal}
<script language='JavaScript1.2' type='text/javascript'>
<!--
  function showimage() {
    document.images.preview.src = 'themes/' + getSelectedValue( 'templateform', 'template' ) + '/images/template_thumbnail.gif';
  }
  function getSelectedValue( frmName, srcListName ) {
    var form = eval( 'document.' + frmName );
    var srcList = eval( 'form.' + srcListName );
    i = srcList.selectedIndex;
    if (i != null && i > -1) {
      return srcList.options[i].value;
    } else {
      return null;
    }
}
-->
</script>
{/literal}
<form name="templateform" action="{html_get_link}" method="get">
    <input type="hidden" name="mp" value="{$main_page}">
    <input type="hidden" name="file" value="{$page_file}">
    <input type="hidden" name="{$oos_session_name}" value="{$oos_session_id}">
    <select name=template onchange="showimage()">{html_options values=$skins selected=$smarty.session.theme output=$skins}</select>
    {html_image_submit image="quick_find.gif" alt=$block_heading_search}
</form>
			</td>
		</tr>
		<tr><td height="2"></td></tr>
		</tbody></table>
	</td>
</tr>
</tbody></table>