<table cellpadding="0" cellspacing="0" class="moduletable">
<tbody><tr><th valign="top">{$block_heading_information}</th></tr>
<tr>
	<td>
		<table class="contentpaneopen">
		<tbody><tr><td height="8"></td></tr>

{if $oEvent->installed_plugin('gallery')}
		<tr><td>&nbsp;&nbsp;&nbsp; <img src="{$theme_image}/icons/folder.gif" alt=" ">&nbsp;&nbsp;<a href="{html_href_link modul=$modules.info file=$filename.info_gallery}">{$lang.block_information_gallery}</a></td></tr>
		<tr><td height="2"></td></tr>
		<tr><td><img src="{$theme_image}/layout/block.gif" alt=" " width="159" height="1"></td></tr>
		<tr><td height="2"></td></tr>
{/if}
{foreach item=info from=$information}
		<tr><td>&nbsp;&nbsp;&nbsp; <img src="{$theme_image}/icons/folder.gif" alt=" ">&nbsp;&nbsp;<a href="{html_href_link modul=$modules.info file=$filename.information information_id=$info.information_id}">{$info.information_name}</a></td></tr>
		<tr><td height="2"></td></tr>
		<tr><td><img src="{$theme_image}/layout/block.gif" alt=" " width="159" height="1"></td></tr>
		<tr><td height="2"></td></tr>
{/foreach}
		<tr><td>&nbsp;&nbsp;&nbsp; <img src="{$theme_image}/icons/folder.gif" alt=" ">&nbsp;&nbsp;<a href="{html_href_link modul=$modules.main file=$filename.contact_us}">{$lang.block_information_contact}</a></td></tr>
		<tr><td height="2"></td></tr>
		<tr><td><img src="{$theme_image}/layout/block.gif" alt=" " width="159" height="1"></td></tr>
		<tr><td height="2"></td></tr>

		<tr><td height="4"></td></tr>
		</tbody></table>
	</td>
</tr>
</tbody></table>