{if $xsell_block eq 'true'}
<table cellpadding="0" cellspacing="0" class="moduletable">
<tbody><tr><th valign="top">{$block_heading_xsell}</th></tr>
<tr>
	<td>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr><td colspan="3" height="8"></td></tr>

{foreach name=xsell item=xsell_products from=$block_xsell_products}
		<tr>
			<td class="boxText">{$smarty.foreach.xsell.iteration|number_format}.</td>
	{if $smarty.const.BLOCK_XSELL_PRODUCTS_IMAGE eq 'true'}
			<td class="boxText">{tooltip products_id=$xsell_products.products_id products_description=$xsell_products.products_description image=$xsell_products.products_image}{$xsell_products.products_name|truncate:14:"":true|close_tags}</a></td>
	{else}
			<td class="boxText"><a href="{product_info_link products_id=$xsell_products.products_id}">{$xsell_products.products_name|truncate:14:"":true|close_tags}</a></td>
	{/if}
			<td class="boxText">{if $smarty.session.member->group.show_price eq 1 }<a href="{html_href_link modul=$main_page file=$page_file action=buy_now products_id=$xsell_products.products_id}">{html_image_button image="cart.gif" alt=$lang.icon_cart}</a>{/if}</td>
		</tr>

		<tr><td colspan="3" height="3"></td></tr>
{/foreach}
		<tr><td colspan="3" height="2"></td></tr>
		</tbody></table>

	</td>

</tr>
</tbody></table>
{/if}