<table cellpadding="0" cellspacing="0" class="moduletable">
<tbody><tr><th valign="top">{$block_heading_ticket}</th></tr>
<tr>
	<td>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr><td height="8"></td></tr>
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.ticket file=$filename.ticket_create}">{$lang.block_ticket_generate}</a></td></tr>
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.ticket file=$filename.ticket_view}">{$lang.block_ticket_view}</a></td></tr>
		<tr><td height="2"></td></tr>
		</tbody></table>
	</td>
</tr>
</tbody></table>