<table width="150"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="2"><img src="{$theme_image}/block/tbl_top_left.gif" alt=" " width="2" height="4"></td>
    <td colspan="2" class="tbl_top_center"></td>
    <td width="2"><img src="{$theme_image}/block/tbl_top_right.gif" alt=" " width="2" height="4"></td>
  </tr>
  <tr>
    <td rowspan="2" class="tbl_left"></td>
    <td width="4" class="tbl_header"><img src="{$theme_image}/trans.gif" alt=" " width="2" height="22"></td>
    <td width="146" align="left" valign="middle" class="tbl_header">{$block_heading_information}</td>
    <td rowspan="2" class="tbl_right"></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top" bgcolor="#F6F7F1">
	<table width="100%"  border="0" cellspacing="3" cellpadding="0">
  <tr>
    <td>
{if $oEvent->installed_plugin('gallery')}
  <img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.info file=$filename.info_gallery}">{$lang.block_information_gallery}</a><br />
{/if}
{foreach item=info from=$information}
  <img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.info file=$filename.information information_id=$info.information_id}">{$info.information_name}</a><br />
{/foreach}
<img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.main file=$filename.contact_us}">{$lang.block_information_contact}</a><br />
	</td>
  </tr>
</table>	</td>
  </tr>
  <tr>
    <td><img src="{$theme_image}/block/tbl_buttom_left.gif" alt=" " width="2" height="2"></td>
    <td colspan="2" class="tbl_buttom_center"></td>
    <td><img src="{$theme_image}/block/tbl_buttom_right.gif" alt=" " width="2" height="2"></td>
  </tr>
</table>