//
// Utilities
// Extends default Bootstrap utility classes
// Classes with a purpose to reduce the frequency of 
// highly repetitive declarations
// --------------------------------------------------

// Added .bg-muted class to default set of Bootstrap .bg- classes
.bg-muted {
  background-color: $gray-100 !important;
}

// Disabled background of the element
.bg-0 {
  background: none !important;
}

// Override .bg-secondary
.bg-secondary {
  background-color: $gray-100 !important;
}

// Faded background color
.bg-faded-primary {
  background-color: rgba($primary, .1) !important;
}
.bg-faded-success {
  background-color: rgba($success, .1) !important;
}
.bg-faded-danger {
  background-color: rgba($danger, .1) !important;
}
.bg-faded-warning {
  background-color: rgba($warning, .1) !important;
}
.bg-faded-info {
  background-color: rgba($info, .1) !important;
}
.bg-faded-dark {
  background-color: rgba(theme-color('dark'), .1) !important;
}
.bg-faded-light,
.bg-faded-white {
  background-color: rgba($white, .1) !important;
}

// Background image specific utilities
.bg-size-cover {
  background-size: cover !important;
}
.bg-position-center {
  background-position: center !important;
}
.bg-position-right-top {
  background-position: right top !important;
}
.bg-position-right-center {
  background-position: right center !important;
}
.bg-no-repeat {
  background-repeat: no-repeat !important;
}
.bg-repeat-x {
  background-repeat: repeat-x !important;
}
.bg-repeat-y {
  background-repeat: repeat-y !important;
}

// Overlay
.bg-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $black;
  opacity: .5;
  z-index: 1;
}
.bg-overlay-content {
  display: block;
  position: relative;
  z-index: 5;
}

// Added .font-weight-semibold class to default set of Bootstrap .font-weight- classes
.font-weight-semibold {
  font-weight: $font-weight-semibold !important;
}

// Body font size variants: .font-size-{lg}
@each $size, $value in $font-sizes {
  @include font-size-variant(".font-size-#{$size}", $value);
}

// Text shadow
.text-shadow {
  text-shadow: $text-shadow !important;
}

// Default box-shadow
.box-shadow {
  box-shadow: 0 .75rem 1.25rem .0625rem rgba($gray-700, .09) !important;
  border-color: lighten($border-color, 4%) !important;
}

// Disable box-shadow for specific component
.box-shadow-0 {
  box-shadow: none !important;
}

// Disable text decoration
.text-decoration-0 {
  text-decoration: none !important;
}

// Additional vertical spacing that matches grid gutter
.mt-grid-gutter {
  margin-top: $grid-gutter-width !important;
}
.mb-grid-gutter {
  margin-bottom: $grid-gutter-width !important;
}
.pt-grid-gutter {
  padding-top: $grid-gutter-width !important;
}
.pb-grid-gutter {
  padding-bottom: $grid-gutter-width !important;
}

// Override border-light color
.border-light {
  border-color: $border-light-color !important;
}

// Border collapse
.border-collapse {
  margin: {
    right: -$border-width;
    bottom: -$border-width;
  }
  @media (max-width: 26rem) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @include media-breakpoint-up(md) {
    &:not(.promo-banner):not(.category-card):hover {
      transition: $product-card-transition;
      border-color: $white !important;
      z-index: 10;
    }
  }
}

// Opacity classes
.opacity-25 {
  opacity: .25 !important;
}
.opacity-50 {
  opacity: .5 !important;
}
.opacity-60 {
  opacity: .6 !important;
}
.opacity-70 {
  opacity: .70 !important;
}
.opacity-75 {
  opacity: .75 !important;
}
.opacity-80 {
  opacity: .8 !important;
}
.opacity-90 {
  opacity: .9 !important;
}
.opacity-100 {
  opacity: 1 !important;
}

// Inline nav link
.nav-link-inline {
  transition: $nav-link-inline-transition;
  color: $nav-link-inline-color;
  font-weight: $nav-link-inline-font-weight;
  text-decoration: none;
  &:hover {
    color: $nav-link-inline-hover-color;
    text-decoration: none;
  }
  &.nav-link-light {
    color: $nav-link-inline-light-color;
    &:hover {
      color: $nav-link-inline-light-hover-color;
    }
  }
}

// Full height iframe
.iframe-full-height-wrap {
  min-height: 18rem;
  overflow: hidden;
}
.iframe-full-height {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// Fade out animation (used for carousels)
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
.fadeOut {
  animation-name: fadeOut;
}
