    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2">{$oosPageHeading}</td>
      </tr>
      <tr>
        <td colspan="2" height="10"></td>
      </tr>
      <tr>
        <td colspan="2"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{$lang.text_information}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="middle" class="main"><hr size="1" noshade></td>
      </tr>
      <tr>
        <td align="left" valign="middle" class="main"><a href="{oos_back_link}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
        <td align="right" valign="middle" class="main"><a href="{html_href_link modul=$modules.main file=$filename.main}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="middle" class="main">&nbsp;</td>
      </tr>
    </table>