{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

<!-- wrapper -->
<div id="wrapper">	
{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}



	{if $webgl}
		<div class="container">
            <div class="row">
                <div class="col-12">
					<div class="product_details_desc clearfix">
				<div id="info">
					<a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> -
					<a href="https://github.com/KhronosGroup/glTF" target="_blank" rel="noopener">glTF</a> 2.0 loader<br />
					<div id="description"></div>
				</div>

			<div id="scene3d"></div>
			
			
				<div class="description_area">
				{$lang.navigation_help}
				</div>

					</div>
				</div>
			</div>
		</div>
	{/if}


{if $webgl}
	{$webgl}
{/if}


{include file="phoenix/system/_footer.html"}