<!-- Off-canvas account-->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvas-account" aria-labelledby="offcanvas-accountLabel">
	<div class="offcanvas-header d-flex justify-content-between align-items-center">
        <h3 class="offcanvas-title" id="offcanvas-accountLabel">{$smarty.const.STORE_NAME}</h3>
        <button type="button" class="btn-close" data-bs-toggle="offcanvas" aria-label="Close"></button>
	</div>	
	<div class="offcanvas-body">
		<div class="offcanvas-body-inner">
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li class="nav-item"><a class="nav-link active" href="#signin" data-bs-toggle="tab" role="tab"><i data-feather="log-in"></i>&nbsp;{$lang.header_title_login}</a></li>
				<li class="nav-item"></li>
			</ul>
			<div class="tab-content pt-1">
				<div class="tab-pane fade show active" id="signin" role="tabpanel">
					<form name="login" action="{html_get_link}" method="POST" class="needs-validation" novalidate>
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="process">
						<input type="hidden" name="content" value="{$filename.login}">			  

						<div class="form-group">
							<label class="sr-only" for="signin-email">Email</label>
							<div class="input-group">
								<div class="input-group-prepend"><span class="input-group-text" id="signin-email-icon"><i data-feather="mail"></i></span></div>
								<input class="form-control" type="email" name="email_address" id="signin-email" placeholder="{$lang.entry_email_address}" aria-label="Email" aria-describedby="signin-email-icon" required>
								<div class="invalid-feedback">{$lang.text_please_provide_email_address}.</div>
							</div>
						</div>
								
						<div class="form-group">
							<label class="sr-only" for="signin-password">Password</label>
							<div class="input-group">
								<div class="input-group-prepend"><span class="input-group-text" id="signin-password-icon"><i data-feather="lock"></i></span></div>
								<input class="form-control" name="password" type="password" id="signin-password" placeholder="{$lang.entry_password}" aria-label="Password" aria-describedby="signin-password-icon" required>
								<div class="invalid-feedback">{$lang.text_please_enter_a_password}.</div>
							</div>
						</div>
						<div class="d-grid gap-2">
							<button class="btn btn-primary" type="submit">{$lang.button_login}</button>
						</div>				
					</form>
					<div class="text-left pt-4">
						<p>{$lang.text_password_forgotten} <a href="{html_href_link content=$filename.password_forgotten}">{$lang.link_password_forgotten}</a></p>
					<div>	
				</div>
				
				<div class="tab-pane fade" id="signup" role="tabpanel">

				</div>
			</div>
			<div class="d-flex align-items-center pt-5">
				<hr class="w-100">
				<div class="px-3 w-100 text-nowrap font-weight-semibold">{$lang.login_block_no_account_yet}</div>
				<hr class="w-100">
			</div>
			<div class="text-center pt-4">
				<a href="{html_href_link content=$filename.create_account}">
					{$lang.login_block_book_now|sprintf:$smarty.const.STORE_NAME}
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
				</a>
			<div>
        </div>
	</div>
</div>