<!-- Off-canvas cart-->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvas-cart" aria-labelledby="offcanvas-cartLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvas-cartLabel">{$lang.header_title_cart_contents}</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body">
		<div id="div-to-refresh" class="offcanvas-body-inner">
		{if $cart_count_contents > 0}		
			<div class="text-right"><button id="clear-cart" type="button" class="btn btn-link"><i class="fa fa-remove" aria-hidden="true"></i> {$lang.text_clear_cart}</button></div>

			{if $smarty.session.new_products_id_in_cart}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{$lang.text_item_successfull}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{/if}
			
			<div class="cart-entries pt-3">
			
				{foreach item=products from=$cart_products}								
					<div class="media"><!-- cart item -->			
						<div class="cart-entry-thumb mr-3"><a href="{product_link products_id=$products.id}">{product_image dir=min src=$products.image alt=$products.name}</a></div>
						<div class="media-body">
							<h6 class="cart-entry-title"><a href="{product_link products_id=$products.id}">{$products.quantity|quantity}<span class="text-muted">x</span>&nbsp;{$products.name}</a></h6>
							<p class="cart-entry-meta">{display_price price=$products.price tax=$products.tax}*</p>
							{if $products.products_base_price != 1}
								<p class="cart-entry-meta">{$products_units[$products.products_units_id].1} = {$products.base_product_price}*</p>
								<p class="cart-entry-meta"><strong>{$lang.text_content}</strong> {$products.products_product_quantity|cut_number}&nbsp;{$products_units[$products.products_units_id].0}</p>
							{/if}
							<p class="cart-entry-meta text-right"><strong>{display_price price=$products.final_price tax=$products.tax quantity=$products.quantity}*</strong></p>
						</div>

						<div class="text-right"><span class="item-remove-btn" data-id="{$products.id}" role="button"> <i class="fa fa-trash" aria-hidden="true"></i></span></div>

					</div><!-- /cart item -->	
					<hr>					
				{/foreach}
				
				<div class="d-flex justify-content-between align-items-center py-3">
					<div class="font-size-sm"> <span class="mr-2">{$lang.sub_title_total}</span><span class="font-weight-semibold text-dark">{$cart_show_total}*</span></div><a class="btn btn-outline-secondary btn-sm" href="{html_href_link content=$filename.shopping_cart}">{$lang.header_title_cart_contents} <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
				</div>
				<p class="prices-tax">{$tax_plus_shipping}</p>
				{if $myUser.show_price eq 1 }
				<div class="d-grid gap-2">
					<a class="btn btn-primary btn-sm" href="{html_href_link content=$filename.checkout_shipping}"><i class="fa fa-credit-card" aria-hidden="true"></i> {$lang.button_checkout}</a>
				</div>
				{/if}
			</div>		
		{/if}
		</div>
	</div>
</div>

