/** shopping_cart 
 ********************** **/
 
.cartContent {
    padding:0;
}
.cartContent .item {
    position:relative;
}

.cartContent .item {
    margin-top:-1px;
    border:rgba(0,0,0,0.05) 1px solid;
}
.cartContent .sky-form.boxed {
    border: rgba(0,0,0,0.1) 1px solid;
}

.cartContent .item.head {
    border-bottom:0;
}
.cartContent .item.head>span {
    min-height: 1px;
}
.cartContent .product_name {
    float:left;
    width:35%;
    padding:10px;
    text-decoration:none;
    min-height:60px;
}
    .cartContent .product_name:hover>span {
        text-decoration:underline;
    }
    .cartContent .product_name >small {
        display:block;
        font-size:12px;
        line-height:12px;
        color:rgba(0,0,0,0.5);
        font-family:'Open Sans',Arial,Helvetica,sans-serif;
    }
.cartContent .quantity {
    float:right;
    width:160px;
    font-size:15px;
    padding:10px;
    text-align:center;
}
.cartContent .quantity input {
    padding:3px; margin:0;
    border:#ccc 1px solid;
    width:50px; margin-right:3px;
    text-align:center;
}
.cartContent .total_price {
    float:right;
    width:150px;
    font-size:15px;
    padding:10px;
    line-height:30px;
    text-align:center;
    font-weight:bold;
}
.cartContent .remove_item {
    float:right;
    padding:5px;
    width:30px; margin-right:8px;
}
.cartContent a.remove_item {
    background:rgba(0,0,0,0.05);
    text-align: center;
    padding-top:0;
    margin-top:10px;
    height:30px;
    line-height:26px;
    font-size:18px;
    text-decoration:none;
    color:rgba(0,0,0,0.2);
}
.cartContent a.remove_item:hover {
    color: #d9534f;
}
.cartContent .btn_update {
    margin-top:20px;
}

@media only screen and (max-width: 992px) {
    .cartContent .item.head {
        display:none;
    }
    .cartContent .product_name {
        font-size:11px;
        line-height:15px;
    }
    .cartContent .item .qty {
        float:left;
        text-align:left;
    }
    .cartContent .product_name {
        width:50%;
    }
}
