//
// Search 
// --------------------------------------------------

form.search-global {
  width: 100%;
  max-width: calc(100% - 500px);
  float: right;
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;

  input, button {
    padding: 10px 15px !important;
    margin-bottom: 0 !important;
    font-size: 15px;
  }

  input {
    width: 100%;
    padding-right: 50px !important;
    z-index: 1 !important;
    border-radius: 5px !important;
    line-height: 18px !important;
    height: 40px !important;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border: 0;
    background: transparent;
    height: 40px !important;
    line-height: 1;

    > i {
      margin: 0;
      padding: 0;
    }

    &:not(.btn-primary) {
      color: #999;
    }
  }

  &:hover button:not(.btn-primary) {
    color: #313131;
  }
}


//
// Search autocomplete
// --------------------------------------------------

.easy-autocomplete {
  flex: 1 1 auto;
  width: 1% !important;
}
.easy-autocomplete-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: .0625rem;
  > ul {
    display: none;
    margin: 0;
    padding: 0;
    padding-top: $spacer;
    background-color: $search-result-bg;
    list-style: none;
    li { margin: 0; }
  }
}
.eac-item > a {
  display: inline-block;
  padding: .3125rem 0;
  color: $search-result-link-color;
  font-size: $font-size-sm;
  text-decoration: none;
  &:hover > .ac-title {
    color: $search-result-link-hover-color;
    text-decoration: underline;
  }
}

// Inside navbar
.navbar .easy-autocomplete-container ul {
  padding: {
    right: $spacer;
    bottom: $spacer;
    left: $spacer;
  }
  box-shadow: $search-result-box-shadow;
}