//
// Widgets
// --------------------------------------------------


// Widget title
.widget-title {
  display: block;
  position: relative;
  margin-bottom: 1.2rem;
  padding-bottom: .75rem;
  border-bottom: $widget-border-width solid $widget-border-color;
  font: {
    size: $widget-title-font-size;
    weight: $widget-title-font-weight;
  }
  &::after {
    position: absolute;
    bottom: -($widget-border-width * 2);
    left: 0;
    width: $widget-title-decor-width;
    height: $widget-border-width * 2;
    background-color: $widget-title-decor-color;
    content: '';
  }
}
.page-footer .widget-title::after,
.mega-dropdown .widget-title::after {
  display: none;
}


// Categories / Links widget

.widget-categories,
.widget-links {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      position: relative;
      padding-left: 1rem;
      > a {
        display: block;
        position: relative;
        transition: $widget-categories-link-transition;
        color: $widget-categories-link-color;
        font: {
          size: $widget-categories-sublink-font-size;
          weight: $widget-categories-link-font-weight;
        }
        &:hover {
          color: $widget-categories-link-hover-color;
          text-decoration: none;
        }
        &.active {
          color: $widget-categories-link-active-color;
        }
        .badge {
          font-weight: $font-weight-normal;
        }
        &.text-white:hover,
        &.text-light:hover {
          text-decoration: underline;
        }
      }
    }
  }
  > ul > li {
    margin-bottom: .5rem;
    padding-left: 1.25rem;
    &.has-children > a {
      color: $widget-categories-link-active-color;
      &.collapsed {
        color: $widget-categories-link-color;
      }
      &:hover {
        color: $widget-categories-link-hover-color;
      }
    }
    > a {
      font-size: $widget-categories-link-font-size;
    }
  }
  .has-children ul {
    padding: {
      top: .75rem;
      bottom: .125rem;
    }
    border-left: $widget-border-width solid $widget-border-color;
    > li {
      margin-bottom: .5rem;
      > a::before {
        display: block;
        position: absolute;
        top: 50%;
        left: -1rem;
        width: .5rem;
        height: .0625rem;
        margin-top: -.0625rem;
        background-color: darken($widget-border-color, 3%);
        content: '';
      }
      ul {
        padding-top: .5rem;
        > li {
          margin-bottom: .25rem;
        }
      }
    }
  }
  .widget-categories-indicator {
    display: block;
    position: absolute;
    top: 50%;
    left: -1.25rem;
    width: $widget-categories-indicator-size;
    height: $widget-categories-indicator-size;
    margin-top: -($widget-categories-indicator-size / 2);
    transition: transform .25s ease-in-out;
    color: $widget-categories-indicator-color;
  }
  .collapsed .widget-categories-indicator {
    transform: rotate(-90deg);
  }
}


// Range slider widget

.range-slider { padding-top: ($spacer / 1.5); }
.noUi-target {
  border: 0;
  border-radius: 0;
  background-color: $widget-range-track-color;
  box-shadow: none;
}
.noUi-horizontal {
  height: .1875rem;
  .noUi-handle {
    top: -.1875rem;
    left: -.375rem;
    width: .625rem;
    height: .625rem;
    border: 0;
    border-radius: 50%;
    box-shadow: none;
    &::before { display: none; }
    &::after {
      top: -.3125rem;
      left: -.3125rem;
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid transparent;
      border-radius: 50%;
      background: rgba($widget-range-handle-color, .15);
    }
    &.noUi-handle-lower,
    &.noUi-handle-upper {
      background-color: $widget-range-handle-color;
    }
    &:focus { outline: none; }
  }
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -.375rem;
  left: auto;
}
.noUi-connect {
  background-color: $widget-range-connect-color;
}
.ui-range-slider-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: ($spacer * 1.875);
  > .column:last-child {
    padding-left: ($spacer * .9375);
    text-align: right;
  }
}
.ui-range-values {
  display: inline-block;
  .ui-range-value-min,
  .ui-range-value-max {
    display: inline-block;
    font: {
      size: $widget-range-label-size;
      weight: $font-weight-bold;
    }
  }
  .ui-range-label {
    display: inline-block;
    margin-right: .125rem;
    color: $gray-600;
    font: {
      size: $widget-range-label-size;
      weight: $font-weight-semibold;
    }
  }
}


// Featured entries widget

.widget-featured-entries {
  .featured-entry-thumb {
    display: block;
    position: relative;
    width: $widget-featured-entries-thumb-width;
    margin-right: .75rem;
    > a {
      display: block;
      width: 100%;
      overflow: hidden;
    }
    .item-remove-btn {
      position: absolute;
      top: -($item-remove-btn-size / 3);
      right: -($item-remove-btn-size / 3);
    }
  }
  .featured-entry-title {
    margin: 0.175rem 0 .25rem 0;
    font: {
      size: $widget-featured-entries-title-font-size;
      weight: $widget-featured-entries-title-font-weight;
    }
    > a {
      display: block;
      color: $widget-featured-entries-title-color;
    }
    & + .star-rating {
      margin-top: -.75rem;
      & + .featured-entry-meta {
        margin-top: -.25rem;
      }
    }
  }
  .featured-entry-meta {
    margin-bottom: 0;
    font-size: $widget-featured-entries-meta-font-size;
  }
  .media {
    margin-bottom: $spacer;
    padding-top: .25rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


// Tags

.tag-link {
  display: inline-block;
  padding: $tag-padding-y $tag-padding-x;
  transition: $tag-transition;
  border: $tag-border-width solid $tag-border-color;
  @include border-radius($tag-border-radius);
  background-color: $tag-bg;
  color: $tag-color;
  text-decoration: none;
  font: {
    size: $tag-font-size;
    weight: $tag-font-weight;
  }
  &:hover {
    border-color: $tag-hover-border-color;
    background-color: $tag-hover-bg;
    color: $tag-hover-color;
    text-decoration: none;
  }
  &.active {
    border-color: $tag-active-border-color;
    background-color: $tag-active-bg;
    color: $tag-active-color;
    pointer-events: none;
    cursor: default;
  }
}


// Contacts

.contact-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    display: flex;
    margin-bottom: $spacer;
    &:last-child {
      margin-bottom: .25rem;
    }
  }
}
.contact-icon {
  flex: 0 0 $contact-icon-box-size;
  width: $contact-icon-box-size;
  height: $contact-icon-box-size;
  margin: {
    top: .125rem;
    right: .875rem;
  }
  border: $contact-icon-box-border-width solid $contact-icon-box-border-color;
  border-radius: 50%;
  color: $contact-icon-color;
  text-align: center;
  line-height: $contact-icon-box-size - .275rem;
  .feather {
    width: $contact-icon-size;
    height: $contact-icon-size;
  }
}
.contact-label {
  display: block;
  margin-bottom: .125rem;
  color: $contact-label-color;
  font: {
    size: $contact-label-font-size;
  }
}
.contact-link {
  display: block;
  color: $contact-link-color;
  font-weight: $contact-link-font-weight;
  line-height: 1.4;
  &:hover {
    color: $contact-link-color;
  }
}
