{if $oEvent->installed_plugin('affiliate')}
<table width="154" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="130" class="block_head_background">{$block_heading_affiliate}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="154" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="left" valign="top" class="block_content">
{if (isset($smarty.session.affiliate_id)) }
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_summary}">{$lang.block_affiliate_summary}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_account}">{$lang.block_affiliate_account}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_payment}">{$lang.block_affiliate_payment}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_clicks}">{$lang.block_affiliate_clickrate}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_sales}">{$lang.block_affiliate_sales}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_banners}">{$lang.block_affiliate_banners}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_contact}">{$lang.block_affiliate_contact}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_faq}">{$lang.block_affiliate_faq}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_logout}">{$lang.block_affiliate_logout}</a>
{else}
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_info}">{$lang.block_affiliate_info}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_affiliate}">{$lang.block_affiliate_login}</a>
{/if}
            </td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>
{/if}