{if $languages_block eq 'true'}
<table width="154" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="130" class="block_head_background">{$block_heading_languages}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="154" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="3">
          <tr>
           <td align="center" valign="top" class="block_content">
{foreach item=languages from=$languages_contents}
  {if $languages.iso_639_2 == $smarty.session.language}
<a href="{html_href_link modul=$main_page file=$page_file oos_get=$lang_get_parameters language=$languages.iso_639_2 connection=$request_type search_engine_safe='false'}"><img src="{$smarty.const.OOS_IMAGES}flags/{$languages.iso_639_2}.gif" border="0" alt="{$languages.name}" width="24" height="15"></a>
  {else}
<a href="{html_href_link modul=$main_page file=$page_file oos_get=$lang_get_parameters language=$languages.iso_639_2 connection=$request_type search_engine_safe='false'}"><img src="{$smarty.const.OOS_IMAGES}flags/lang_{$languages.iso_639_2}.gif" border="0" alt="{$languages.name}" width="24" height="15"></a>
  {/if}
{/foreach}
            </td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>
{/if}