{if $myworld_block eq 'true'}
<table width="154" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="130" class="block_head_background">{$block_heading_myworld}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="154" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="center" class="block_content">
<a href="{html_href_link modul=$modules.user file=$filename.customers_image connection=SSL}">{customers_image image=$myworld.customers_image}</a><br>
<br>
<a href="{html_href_link modul=$modules.user file=$filename.customers_image connection=SSL}">{$lang.edit_yourimage}</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="block_content">
{if (isset($smarty.session.customer_id)) }
  {$lang.text_date_account_created} {$account_created}<br>
  {$lang.entry_city} {$myworld.entry_city} / {$country_name}<br>
{/if}
<br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.user file=$filename.yourstore connection=SSL}">{$lang.text_yourstore}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.user file=$filename.account connection=SSL}">{$lang.login_block_my_account}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.user file=$filename.account_edit connection=SSL}">{$lang.login_block_account_edit}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.account file=$filename.account_history connection=SSL}">{$lang.login_block_account_history}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.account file=$filename.account_order_history connection=SSL}">{$lang.login_block_order_history}</a><br>
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.account file=$filename.account_address_book connection=SSL}">{$lang.login_block_address_book}</a><br>
{if $oEvent->installed_plugin('notify')}
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.user file=$filename.product_notifications connection=SSL}">{$lang.login_block_product_notifications}</a><br>
{/if}
<strong><big>&middot;</big></strong>&nbsp;<a href="{html_href_link modul=$modules.user file=$filename.logoff}">{$lang.login_block_logoff}</a></td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>
{/if}