{if $order_history_block eq 'true'}
<table width="154" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="130" class="block_head_background">{$block_heading_customer_orders}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="154" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="150"><table width="144" border="0" cellspacing="0" cellpadding="3">
{foreach item=order_products_history from=$order_history}
          <tr>
            <td class="block_content"><a href="{product_info_link products_id=$order_products_history.products_id}">{$order_products_history.products_name}</a></td>
            <td class="block_content" align="right" valign="top"><a href="{html_href_link modul=$main_page file=$page_file oos_get=$get_params action=cust_order pid=$order_products_history.products_id}">{html_image_button image="cart.gif" alt=$lang.icon_cart}</a></td>
          </tr>
{/foreach}
          <tr>
            <td colspan="2"><img src="{$theme_image}/pixel.gif" alt=" " width="144" height="3"></td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>
{/if}