{if $products_history_block eq 'true'}
<table width="154" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="130" class="block_head_background">{$block_heading_products_history}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="154" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="150"><table width="144" border="0" cellspacing="0" cellpadding="3">
{foreach name=history item=products_history from=$customer_products_history}
          <tr>
            <td class="block_content">{$smarty.foreach.history.iteration|number_format}.</td>
{if $smarty.const.BLOCK_PRODUCTS_HISTORY_IMAGE eq 'true'}
            <td class="block_content">{tooltip products_id=$products_history.products_id products_description=$products_history.products_description image=$products_history.products_image}{$products_history.products_name|truncate:11:"":true|close_tags}</a></td>
{else}
            <td class="block_content"><a href="{product_info_link products_id=$products_history.products_id}">{$products_history.products_name|truncate:11:"":true|close_tags}</a></td>
{/if}
            <td class="block_content" align="right">{if $smarty.session.member->group.show_price eq 1 }<a href="{html_href_link modul=$main_page file=$page_file oos_get=$get_params action=buy_now products_id=$products_history.products_id}">{html_image_button image="cart.gif" alt=$lang.icon_cart}</a>{/if}</td>
          </tr>
{/foreach}
          <tr>
            <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="144" height="3"></td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>
{/if}