{if $tell_a_friend_block eq 'true'}
<table width="154" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="130" class="block_head_background">{$block_heading_tell_a_friend}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="154" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="left" valign="top" class="block_content"><form name="tell_a_friend" action="{html_get_link}" method="get"><input type="hidden" name="mp" value="{$modules.tell_a_friend}"><input type="hidden" name="file" value="{$filename.tell_a_friend}"><input type="text" name="send_to" size="10">&nbsp;{html_image_submit image="tell_a_friend.gif" alt=$lang.block_heading_tell_a_friend}<input type="hidden" name="products_id" value="{$tell_products_id}"><input type="hidden" name="{$oos_session_name}" value="{$oos_session_id}"><br>{$lang.block_tell_a_friend_text}</form></td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>
{/if}