{if $whats_new_block eq 'true'}
<table width="154" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="115" class="block_head_background">{$block_heading_whats_new}</td>
    <td width="20" class="block_head_background" nowrap="nowrap"><a href="{html_href_link modul=$modules.products file=$filename.products_new}"><img src="{$theme_image}/infobox/more.gif" border="0" alt="{$lang.icon_arrow_right}" width="15" height="19"></a><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="154" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="center" valign="top" class="block_content">
    <a href="{product_info_link products_id=$random_product.products_id}">{small_product_image image=$random_product.products_image alt=$random_product.products_name|strip_tags}</a><br>
    <a href="{product_info_link products_id=$random_product.products_id}">{$random_product.products_name}</a><br>
{if (!empty($whats_new_special_price))}
   <s>{$whats_new_product_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$random_product.products_units_id]}</s><br>
   {if $random_product.products_base_price != 1}<s><span class="base_price">{$random_product.products_base_unit} = {$whats_new_base_product_price}</span></s><br>{/if}

   <span class="special_price">{$whats_new_product_special_price|price2image:true}{$smarty.const.UNITS_DELIMITER}{$products_units[$random_product.products_units_id]}</span>
   {if $random_product.products_base_price != 1}<br><span class="special_base_price">{$random_product.products_base_unit} = {$whats_new_base_product_special_price}</span></s><br>{/if}

{else}
  {if $whats_new_max_product_discount != 0}
    <s>{$whats_new_product_price}</s> -{$whats_new_max_product_discount}%<br>
    <span class="discount_price">{$whats_new_product_discount_price|price2image:true}{$smarty.const.UNITS_DELIMITER}{$products_units[$random_product.products_units_id]}</span>
    {if $random_product.products_base_price != 1}<br><span class="discount_base_price">{$random_product.products_base_unit} = {$whats_new_base_product_special_price}</span></s><br>{/if}

  {else}
    {$whats_new_product_price|price2image}{$smarty.const.UNITS_DELIMITER}{$products_units[$random_product.products_units_id]}
    {if $random_product.products_base_price != 1}<br><span class="base_price">{$random_product.products_base_unit} = {$whats_new_base_product_price}</span><br>{/if}

  {/if}
{/if}

<br><span class="pangv">{$pangv}</span><br>

</td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>
{/if}