/** Error 403
 **************************************************************** **/

.error-403 {
	content: '403';
	@include px-to-rem( font-size, 200px);
	@include px-to-rem( line-height, 200px);
	font-weight: bold;
	color: #ddd;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
