  <form name="cart_quantity" action="{html_href_link modul=$main_page file=$page_file oos_get=$get_params action=add_product}" method="post" enctype="multipart/form-data"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr><td height="5"></td></tr>
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr><td height="10"></td></tr>
      <tr>
        <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td class="main">{$product_info.products_description|stripslashes}
<br />
{if $smarty.const.PDF_DATA_SHEET eq 'true'}
<script language="javascript"><!--
document.write('<a href="javascript:void window.open(\'{html_href_link modul=$modules.products file=$filename.product_info_pdf products_id=$product_info.products_id}\', \'win2\', \'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no\');" title="{$lang.icon_button_pdf}">{html_js_icon image="pdf.gif" alt=$lang.icon_button_pdf}</a>');
//--></script>
{/if}

    </td>
    <td align="right" valign="top" class="smallText">
{if $product_info.products_image != '' }
<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link modul=$modules.products file=$filename.popup_image pID=$product_info.products_id image=0}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_image alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br />{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
 {html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_image alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br />
</noscript>
{/if}

            </td>
          </tr>
        </table></td>
       </tr>
{if $smarty.const.OOS_MO_PIC eq 'true'}
  {include file="$theme_set/products/mo_pics.html"}
{/if}
       </tr>

       <tr>
         <td><br />
<table border="0" cellpadding="0" cellspacing="0" width="400">
<tbody><tr><td height="15"></td></tr>
<tr>
	<td class="main">Domain: </td>
	<td class="main"><input type="text" name ="id[txt_1]" size="32" maxlength="32" value="ihredomain"></td>
</tr>
<tr>
	<td class="main"></td>
	<td class="main">Tragen Sie hier bitte den gew&uuml;nschten Domainnamen in der Form ihredomain (ohne .de oder anderen TLD) ein und w&auml;hlen Sie danach die gew&uuml;nschte Endung aus.</td>
</tr>
<tr><td colspan="2" height="5"></td></tr>

<tr>
	<td class="main">Domainendung:</td>
	<td class="main"><select name="id[3]"><option value="6">ch</option><option value="4" selected="selected">de</option><option value="5">at</option><option value="7">com</option></select></td>
</tr>
<tr><td colspan="2" height="5"></td></tr>

<tr>
	<td class="main">Domainart: </td>
	<td class="main"><input type="radio" name="id[4]" value="8" checked="checked">Neuregistrierung</td>
</tr>
<tr>
	<td class="main"></td>
	<td class="main">Achten Sie unbedingt darauf, das der gew&uuml;nschte Domainname frei ist.</td>
</tr>

<tr>
	<td class="main"></td>
	<td class="main"><input type="radio" name="id[4]" value="9">Providerwechsel</td>
</tr>
<tr>
	<td class="main"></td>
	<td class="main">Informieren Sie Ihren bisherigen Provider &uuml;ber den Domainumzug.<br />Umkonnektierungen, die auf Grund von unget&auml;tigten K&uuml;ndigungen oder falschen Angaben fehlschlagen, werden dennoch von der DeNIC berechnet und gehen daher leider zu Ihren Lasten.</td>
</tr>
<tr><td colspan="2" height="5"></td></tr>

<tr>
	<td class="main">Admin-C: </td>
	<td class="main"><input type="text" name ="id[txt_5]" size="32" maxlength="32" value="name"></td>
</tr>
<tr>
	<td class="main"></td>
	<td class="main">Tragen Sie hier bitte den Namen des Domaininhabers ein.</td>
</tr>
<tr><td colspan="2" height="5"></td></tr>



<tr>
	<td class="main">E-Mail: </td>
	<td class="main"><input type="text" name ="id[txt_6]" size="32" maxlength="32" value=""></td>
</tr>
<tr>
	<td class="main"></td>
	<td class="main">Geben Sie hier bitte die eMail Adresse des Domaininhabers an. Diese wird in der Datenbank der Registrierungsbeh&ouml;rde hinterlegt.</td>
</tr>
<tr><td colspan="2" height="5"></td></tr>


<tr>
	<td class="main">Monatsintervall.:</td>
	<td class="main"><select name="id[7]"><option value="12">3</option><option value="13">6</option><option value="14">12</option></select></td>
</tr>

</table></td>
       <tr>



{if $reviews_total gt 0 }
      <tr>
        <td class="main"><br />{$lang.text_current_reviews}&nbsp;{$reviews_total}</td>
      </tr>
{/if}
{if $product_info.products_url != '' }
      <tr>
        <td class="main"><br />{$redirect|string_format:$lang.text_more_information}</td>
      </tr>
{/if}
{if ($product_info.products_date_available > $oosDate) }
      <tr>
        <td align="center" class="smallText"><br />{$product_info.products_date_available|oos_date_long|string_format:$lang.text_date_available}</td>
      </tr>
{else}
  {if $smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true'}
      <tr>
        <td align="center" class="smallText"><br />{$product_info.products_date_added|oos_date_long|string_format:$lang.text_date_added}</td>
      </tr>
  {/if}
{/if}

{if $discounts_price eq 'true'}
  {include file="$theme_set/products/discounts_price.html"}
{/if}

     <tr><td height="10"></td></tr>
{if $smarty.session.error_cart_msg != ''}
      <tr>
        <td colspan="2" align="right" class="QtyErrors"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="errorBox"><img src="{$smarty.const.OOS_ICONS}warning.gif" border="0" alt="{$lang.icon_warning}" width="10" height="10" />{$smarty.session.error_cart_msg}</td>
          </tr>
        </table></td>
      </tr>
{/if}

<tr>
               <td valign="top" width="350">

               <table align="center" cellpadding="0" cellspacing="0" width="310">
               <tbody><tr><td height="15"></td></tr>
               <tr><td class="heading_title">{$product_info.products_name}</td></tr>
               <tr><td height="10"></td></tr>

{if $smarty.const.PRODUCT_LIST_MODEL > 0}
               <tr><td height="10"></td></tr>
               <tr>
               <td class="main"><b>{$lang.table_heading_model}</b> {$product_info.products_model}</td>
               </tr>
{/if}
{if $product_info.products_url != '' }
               <tr><td height="10"></td></tr>
               <tr>
               <td class="main">{$redirect|string_format:$lang.text_more_information}</td>
               </tr>
{/if}
{if ($product_info.products_date_available > $oosDate) }
               <tr><td height="10"></td></tr>
               <tr><td width="310" class="main">{$product_info.products_date_available|oos_date_long|string_format:$lang.text_date_available}</td>
               </tr>
{else}
  {if $smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true'}
               <tr><td height="10"></td></tr>
               <tr><td width="310" class="main">{$product_info.products_date_added|oos_date_long|string_format:$lang.text_date_added}</td>
               </tr>
  {/if}
{/if}

               <tr><td height="10"></td></tr>
               <tr><td class="main">{$lang.price_info}</td>
               </tr>


               <tr><td height="15"></td></tr>
               <tr><td><b>Preis pro Monat: </b>&nbsp;

{if (!empty($info_special_price))}
   <s>{$info_product_price}</s><br />
   {if $product_info.products_base_price != 1}<s><span class="base_price">{$product_info.products_base_unit} = {$info_base_product_price}</span></s><br />{/if}

   <span class="special_price">{$info_product_special_price|price2image:true}</span>
   {if $product_info.products_base_price != 1}<br /><span class="special_base_price">{$product_info.products_base_unit} = {$info_base_product_special_price}</span></s><br />{/if}

{else}
  {if $info_max_product_discount != 0}
    <s>{$info_product_price}</s> -{$info_max_product_discount}%<br />
    <span class="discount_price">{$info_product_discount_price|price2image:true}</span>
    {if $product_info.products_base_price != 1}<br /><span class="discount_base_price">{$product_info.products_base_unit} = {$info_base_product_special_price}</span></s><br />{/if}

  {else}
    {$info_product_price|price2image:true}
    {if $product_info.products_base_price != 1}<br /><span class="base_price">{$product_info.products_base_unit} = {$info_base_product_price}</span><br />{/if}

  {/if}
{/if}
 </td></tr>



               <tr><td height="10"></td></tr>
               <tr><td align="right">
<input type="hidden" name="products_id" value="{$product_info.products_id}">
<input type="hidden" name="cart_quantity" value="{$product_info.products_quantity_order_min}">

<!--
  <tr><td>
   {$lang.products_order_qty_text}&nbsp;<input type="text" name="cart_quantity" value="{$product_info.products_quantity_order_min}" maxlength="3" size="3">
   {if $product_info.products_quantity_order_min > 1 }
     {$lang.products_order_qty_min_text} {$product_info.products_quantity_order_min}
   {/if}
   {if $product_info.products_quantity_order_units > 1 }
     {$lang.products_order_qty_unit_text} {$product_info.products_quantity_order_units}
   {/if}
  </td></tr>
-->


{if $smarty.session.member->group.show_price eq 1 }
     {html_image_submit image="in_cart.gif" alt=$lang.image_button_in_cart}
{else}
   <a href="{html_href_link modul=$modules.user file=$filename.login connection=SSL}">{html_image_button image="login.gif" alt=$lang.image_button_login}</a>
{/if}</td></tr>

               <tr><td height="15"></td></tr>
               </tbody></table>

</td>
</tr>

<tr><td>
<b>Noch Fragen?</b><br />
Falls Sie mehr wissen m&ouml;chten oder einen Vorschlag machen wollen, finden Sie 
auf unserer <a href="{html_href_link modul=$modules.ticket file=$filename.ticket_create}"><img src="{$theme_image}/icons/folder.gif" alt=" " border="0"></a>&nbsp;&nbsp;<a href="{html_href_link modul=$modules.ticket file=$filename.ticket_create}">Kontaktseite</a>
 die verschienden Kontaktinformationen.
</td></tr>


      <tr>
       <td><br /></td>
      </tr>
{if $oos_page_numrows gt 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
{/if}
  <tr>
    <td>{include file="$theme_set/products/slavery_product_listing.html"}</td>
  </tr>
{if $oos_page_numrows gt 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
{/if}
       <tr>
         <td><br />{$xsell_products}</td>
       </tr>
       <tr>
         <td><br />{$up_sell_products}</td>
       </tr>
     </table>
     </form>
