{if $smarty.const.LIGHTBOX eq 'true'}
<script type="text/javascript" src="js/lightbox/prototype.js"></script>
<script type="text/javascript" src="js/lightbox/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
{/if}

<form name="cart_quantity" action="{html_get_link}" method="post" enctype="multipart/form-data">
<input type="hidden" name="action" value="add_product">
<input type="hidden" name="mp" value="{$main_page}">
<input type="hidden" name="file" value="{$page_file}">
<input type="hidden" name="{$oos_session_name}" value="{$oos_session_id}">
<table border="0" width="100%" cellspacing="0" cellpadding="0">

<table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr><td height="5"></td></tr>
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr><td height="10"></td></tr>
      <tr>
        <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td class="main">{$product_info.products_description|stripslashes}
<br />
{if $smarty.const.PDF_DATA_SHEET eq 'true'}
<script language="javascript"><!--
document.write('<a href="javascript:void window.open(\'{html_href_link modul=$modules.products file=$filename.product_info_pdf products_id=$product_info.products_id}\', \'win2\', \'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no\');" title="{$lang.icon_button_pdf}">{html_js_icon image="pdf.gif" alt=$lang.icon_button_pdf}</a>');
//--></script>
{/if}

    </td>
    <td align="right" valign="top" class="smallText">

{if $product_info.products_image != '' }
  {if $smarty.const.LIGHTBOX eq 'true'}
    <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_image}" rel="lightbox" title= {$product_info.products_name} ><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_image}" alt={$product_info.products_name|escape:"quotes"} border="0"></a><br>
    <br><br><a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_image}" rel="lightbox" title= {$product_info.products_name} >{html_js_icon image="zoom.gif" alt=$lang.icon_button_zoom}{$lang.text_click_to_enlarge}</a>

  {else}

<script language="javascript"><!--
document.write('<a href="javascript:popupWindow(\'{html_href_link modul=$modules.products file=$filename.popup_image pID=$product_info.products_id image=0}\')">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_image alt=$product_info.products_name|escape:"quotes" width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br />{$lang.text_click_to_enlarge}</a>');
//--></script>
<noscript>
 {html_oos_image basedir=$smarty.const.OOS_IMAGES image=$product_info.products_image alt=$product_info.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT hspace=5 vspace=5}<br />
</noscript>
  {/if}
{/if}

{if $product_info.products_zoomify != '' }
<script language="javascript"><!--
document.write('<br /><a href="javascript:popupZoom(\'{html_href_link modul=$modules.products file=$filename.product_zoom products_id=$product_info.products_id}\')">{html_js_icon image="zoom.gif" alt=$lang.icon_button_zoom}</a>');
//--></script>
{/if}

            </td>
          </tr>
        </table></td>
       </tr>
{if $smarty.const.OOS_MO_PIC eq 'true'}
  {include file="$theme_set/products/mo_pics.html"}
{/if}
       </tr>
       <tr>
         <td>{$options}</td>
       <tr>
{if $reviews_total gt 0 }
      <tr>
        <td class="main"><br />{$lang.text_current_reviews}&nbsp;{$reviews_total}</td>
      </tr>
{/if}
{if $product_info.products_url != '' }
      <tr>
        <td class="main"><br />{$redirect|string_format:$lang.text_more_information}</td>
      </tr>
{/if}
{if ($product_info.products_date_available > $oosDate) }
      <tr>
        <td align="center" class="smallText"><br />{$product_info.products_date_available|oos_date_long|string_format:$lang.text_date_available}</td>
      </tr>
{else}
  {if $smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true'}
      <tr>
        <td align="center" class="smallText"><br />{$product_info.products_date_added|oos_date_long|string_format:$lang.text_date_added}</td>
      </tr>
  {/if}
{/if}

{if $discounts_price eq 'true'}
  {include file="$theme_set/products/discounts_price.html"}
{/if}

     <tr><td height="10"></td></tr>
{if $smarty.session.error_cart_msg != ''}
      <tr>
        <td colspan="2" align="right" class="QtyErrors"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="errorBox"><img src="{$smarty.const.OOS_ICONS}warning.gif" border="0" alt="{$lang.icon_warning}" width="10" height="10" />{$smarty.session.error_cart_msg}</td>
          </tr>
        </table></td>
      </tr>
{/if}

<tr>
               <td valign="top" width="350">

               <table align="center" cellpadding="0" cellspacing="0" width="310">
               <tbody><tr><td height="15"></td></tr>
               <tr><td class="heading_title">{$product_info.products_name}</td></tr>
               <tr><td height="10"></td></tr>

{if $smarty.const.PRODUCT_LIST_MODEL > 0}
               <tr><td height="10"></td></tr>
               <tr>
               <td class="main"><b>{$lang.table_heading_model}</b> {$product_info.products_model}</td>
               </tr>
{/if}
{if $product_info.products_url != '' }
               <tr><td height="10"></td></tr>
               <tr>
               <td class="main">{$redirect|string_format:$lang.text_more_information}</td>
               </tr>
{/if}
{if ($product_info.products_date_available > $oosDate) }
               <tr><td height="10"></td></tr>
               <tr><td width="310" class="main">{$product_info.products_date_available|oos_date_long|string_format:$lang.text_date_available}</td>
               </tr>
{else}
  {if $smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true'}
               <tr><td height="10"></td></tr>
               <tr><td width="310" class="main">{$product_info.products_date_added|oos_date_long|string_format:$lang.text_date_added}</td>
               </tr>
  {/if}
{/if}

               <tr><td height="10"></td></tr>
               <tr><td class="main">{$lang.price_info}</td>
               </tr>


               <tr><td height="15"></td></tr>
               <tr><td><b>{$lang.price}: </b>&nbsp;

{if (!empty($info_special_price))}
   <s>{$info_product_price}</s><br />
   {if $product_info.products_base_price != 1}<s><span class="base_price">{$product_info.products_base_unit} = {$info_base_product_price}</span></s><br />{/if}

   <span class="special_price">{$info_product_special_price|price2image:true}</span>{$smarty.const.UNITS_DELIMITER} {$products_units[$product_info.products_units_id]}<br>
   {if $product_info.products_base_price != 1}<br /><span class="special_base_price">{$product_info.products_base_unit} = {$info_base_product_special_price}</span></s><br />{/if}

{else}
  {if $info_max_product_discount != 0}
    <s>{$info_product_price}</s> -{$info_max_product_discount}%<br />
    <span class="discount_price">{$info_product_discount_price|price2image:true}</span>{$smarty.const.UNITS_DELIMITER} {$products_units[$product_info.products_units_id]}<br>
    {if $product_info.products_base_price != 1}<br /><span class="discount_base_price">{$product_info.products_base_unit} = {$info_base_product_special_price}</span></s><br />{/if}

  {else}
    {if $price_discount}
       {$lang.price_from} {$price_discount|price2image}{$smarty.const.UNITS_DELIMITER} {$products_units[$product_info.products_units_id]}<br>
    {else}
      {$info_product_price|price2image}{$smarty.const.UNITS_DELIMITER} {$products_units[$product_info.products_units_id]}<br>
      {if $product_info.products_base_price != 1}<br /><span class="base_price">{$product_info.products_base_unit} = {$info_base_product_price}</span><br />{/if}
    {/if}

  {/if}
{/if}
 </td></tr>



               <tr><td height="10"></td></tr>
               <tr><td align="right">
<input type="hidden" name="products_id" value="{$product_info.products_id}">
<input type="hidden" name="cart_quantity" value="{$product_info.products_quantity_order_min|quantity}">

<!--
  <tr><td>
   {$lang.products_order_qty_text}&nbsp;<input type="text" name="cart_quantity" value="{$product_info.products_quantity_order_min}" size="3">
   {if $product_info.products_quantity_order_min > 1 }
     {$lang.products_order_qty_min_text} {$product_info.products_quantity_order_min|quantity}
   {/if}
   {if $product_info.products_quantity_order_units > 1 }
     {$lang.products_order_qty_unit_text} {$product_info.products_quantity_order_units|quantity}
   {/if}
  </td></tr>
-->


{if $smarty.session.member->group.show_price eq 1 }
     {html_image_submit image="in_cart.gif" alt=$lang.image_button_in_cart}
{else}
   <a href="{html_href_link modul=$modules.user file=$filename.login connection=SSL}">{html_image_button image="login.gif" alt=$lang.image_button_login}</a>
{/if}</td></tr>

               <tr><td height="15"></td></tr>
               </tbody></table>

</td>
</tr>

<tr><td>
<b>Noch Fragen?</b><br />
Falls Sie mehr wissen m&ouml;chten oder einen Vorschlag machen wollen, finden Sie 
auf unserer <a href="{html_href_link modul=$modules.ticket file=$filename.ticket_create}"><img src="{$theme_image}/icons/folder.gif" alt=" " border="0"></a>&nbsp;&nbsp;<a href="{html_href_link modul=$modules.ticket file=$filename.ticket_create}">Kontaktseite</a>
 die verschienden Kontaktinformationen.
</td></tr>


      <tr>
       <td><br /></td>
      </tr>
</table>
</form>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
{if $oos_page_numrows gt 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
{/if}
  <tr>
    <td>{include file="$theme_set/products/slavery_product_listing.html"}</td>
  </tr>
{if $oos_page_numrows gt 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
{/if}
       <tr>
         <td><br />{$xsell_products}</td>
       </tr>
       <tr>
         <td><br />{$up_sell_products}</td>
       </tr>
{if $social_bookmarks}
       <tr>
         <td><br />{$social_bookmarks}</td>
       </tr>
{/if}
</table>

