<table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpane">
<tbody>
<tr>
	<td width="100%" class="contentheading">{$product_info.products_name}</td>

{if $smarty.const.PDF_DATA_SHEET eq 'true'}
	<td align="right" width="100%" class="buttonheading">
<script language="javascript"><!--
document.write('<a href="javascript:void window.open(\'{html_href_link modul=$modules.products file=$filename.product_info_pdf products_id=$product_info.products_id}\', \'win2\', \'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no\');" title="{$lang.icon_button_pdf}">{html_js_icon image="pdf.gif" alt=$lang.icon_button_pdf}</a>');
//--></script>
	</td>
{/if}

	<td align="right" width="100%" class="buttonheading">
<script language="javascript"><!--
document.write('<a href="javascript:void window.open(\'{html_href_link modul=$modules.products file=$filename.popup_print products_id=$product_info.products_id}\', \'win2\', \'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no\');" title="{$lang.icon_button_print}">{html_js_icon image="print.gif" alt=$lang.icon_button_print}</a>');
//--></script>
	</td>

</tr>

</tbody></table>