/** Green	#8ab933
 **************************************************************** **/
	::selection {
		background: #8ab933;
	}
	::-moz-selection {
		background: #8ab933; /* Firefox */
	}
	::-webkit-selection {
		background: #8ab933; /* Safari */
	}


	a,
	a:focus:not(.btn),
	section.dark a,
	#slidetop a:hover,
	h1 > span,
	h2 > span,
	h3 > span,
	h4 > span,
	h5 > span,
	h6 > span,
	.pagination>li>a, 
	.pagination>li>a:hover, 
	.pagination>li>span,
	ul.list-links>li>a:hover,
	#sidepanel ul li a[data-toggle="collapse"],
	#sidepanel ul li a[data-toggle="collapse"]:hover,
	#sidepanel ul li a:hover,
	.menu-list ul li a:hover, 		/* header-0.css */
	.menu-list ul li.active a, 		/* header-0.css */
	#menu_overlay_close:hover, 	/* header-0.css */
	#topMain.nav-pills>li.active>a>span.topMain-icon,
	#page-menu.page-menu-light ul>li:hover>a>i,
	#page-menu.page-menu-dark ul>li:hover>a>i,
	#page-menu.page-menu-transparent ul>li:hover>a>i,
	#page-menu.page-menu-light ul>li.active>a>i,
	#page-menu.page-menu-dark ul>li.active>a>i,
	#page-menu.page-menu-transparent ul>li.active>a>i,
	.tp-caption.block_white,
	section span.theme-color, 
	section em.theme-color, 
	section i.theme-color, 
	section b.theme-color, 
	section div.theme-color, 
	section p.theme-color,
	.owl-carousel.featured a.figure>span>i,
	.owl-carousel.featured a:hover,
	figure.zoom>a.lightbox:hover,
	#portfolio h2>a:hover,
	#portfolio h3>a:hover,
	#portfolio h4>a:hover,
	#portfolio h5>a:hover,
	#portfolio h6>a:hover,
	.tab-post a:hover,
	.tag:hover>span.txt,
	section.dark .tag:hover>span.txt,
	ul.widget-twitter li>small>a:hover,
	.blog-post-item h2>a:hover,
	.blog-post-item h3>a:hover,
	.blog-post-item h4>a:hover,
	.blog-post-item h5>a:hover,
	.item-box .item-hover .inner .ico-rounded:hover>span,
	ul.side-nav>li:hover>a,
	ul.side-nav>li a:hover,
	ul.side-nav>li.active>a,
	a.href-reset:hover,
	a.href-reset.active,
	.href-reset a.active,
	.href-reset a:hover,
	.href-reset a.active,
	.price-clean-popular h4,
	.box-icon.box-icon-color i,
	.switch-primary.switch-round > input:checked + .switch-label:after,
	section.dark .nav-tabs.nav-clean>li>a.active { 
		color: #8ab933; 
	}
	
	#sidepanel.sidepanel-theme-color,
	div.alert.alert-theme-color,
	div.alert.alert-primary,
	span.badge-default,
	span.badge-default,
	.list-group-item.active>.badge.badge-default,
	.nav-tabs.nav-alternate>li>a.active,
	.datepicker table tr td.active.active,
	.callout-theme-color,
	.progress-bar-primary,
	.toast-primary,
	.owl-theme .owl-controls .owl-page span,
	.open>.dropdown-toggle.btn-primary,
	.show>.btn-primary.dropdown-toggle,
	.btn-primary,
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:focus,
	.pagination>.active>a,
	.pagination>.active>a:hover,
	#header li.quick-cart .quick-cart-box a.btn,
	#header li.quick-cart .quick-cart-box a.btn:hover, /* used by dark & transparent header */
	#topMain.nav-pills>li.active>a>span.theme-color ,
	.ei-slider-thumbs li.ei-slider-element,			/* elastic slider active indicator */
	.flex-control-paging li a.flex-active,				/* flex slider bullets */
	.tp-caption.block_theme_color,
	.tp-bullets.simplebullets.round .bullet.selected,
	i.ico-color,
	.caption-primary,
	.shop-list-options .btn.active,
	.box-static.box-color,
	.switch.switch-primary > input:checked + .switch-label,
	.fancy-file-upload.fancy-file-primary>span.button,
	.primary-slider .ui-slider .ui-slider-handle:before,
	.primary-slider .ui-slider .ui-slider-range,
	.ribbon-inner,
	.info-bar.info-bar-color,
	.music-album-title:hover,
	.inews-item .inews-thumbnail .inews-sticky,
	#progressBar #bar,								/* OWL */
	#page-menu,
	#page-menu ul {
		background-color:#8ab933;
	}
	
	.inews-content-inner h3>a,
	div.side-nav ul>li:hover>a, 
	div.side-nav ul>li.active>a,
	.pagination.pagination-simple>li.active>a,
	div.side-nav ul.list-group-bordered>li>a:hover,
	section .theme-color {
		color:#8ab933 !important;
	}

	.primary-slider .ui-slider .ui-slider-handle,
	.switch.switch-primary > input:checked + .switch-label,
	.timeline_center li h3:before, 
	.timeline_center:after,
	a.thumbnail.active,
	a.thumbnail:hover,
	.hvr-reveal:before,
	.btn-primary,
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:focus {
		border-color:#8ab933;
	}

	.open>.dropdown-toggle.btn-primary,
	.show>.btn-primary.dropdown-toggle,
	.btn-primary,
	.btn-primary:active,
	.btn-primary:focus,
	.btn-primary:hover
	.pagination>.active>a,
	.pagination>.active>a:hover {
		border-color: #8ab933;
	}

	#topNav ul.dropdown-menu { /* submenu border top color */
		border-top-color:#8ab933;
	}
	section.featured-grid div.row>div .ribbon:before,
	.modal-content {
		border-top-color:#8ab933;
	}

	#topNav ul.dropdown-menu {
		border-color: #8ab933 #fff #fff;
	}
	#topNav div.submenu-dark ul.dropdown-menu {
		border-color: #8ab933 #3F3F3F #3F3F3F;
	}
	#topNav div.submenu-color ul.dropdown-menu {
		border-color: #8ab933 #3F3F3F #3F3F3F;
	}
	#topMain li.search .search-box {
		border-top: #8ab933 2px solid;
	}


	/* COLOR DROP DOWN MENU */
	#topNav div.submenu-color ul.dropdown-menu {
		background-color:#8ab933;
	}
	#topNav div.submenu-color ul.dropdown-menu {
		border-color: #888 #8ab933 #8ab933;
	}

	#topNav div.submenu-color ul.dropdown-menu a.dropdown-toggle {
		background-image: url('../../images/_smarty/submenu_light.png');
	}
	#topNav div.submenu-color ul.dropdown-menu li.active>a, 
	#topNav div.submenu-color ul.dropdown-menu li.active:hover>a, 
	#topNav div.submenu-color ul.dropdown-menu li.active:focus>a, 
	#topNav div.submenu-color ul.dropdown-menu li:hover>a, 
	#topNav div.submenu-color ul.dropdown-menu li:focus>a, 
	#topNav div.submenu-color ul.dropdown-menu li:focus>a {
		color:#fff;
		background-color:rgba(0,0,0,0.15);
	}
	#topNav div.submenu-color ul.dropdown-menu li.divider {
		background-color:rgba(255,255,255,0.3);
	}
	#topNav div.submenu-color ul.dropdown-menu>li a {
		color:#fff;
	}
	#topNav div.submenu-color #topMain>li.mega-menu div.row div>ul>li>span {
		color:#fff;
	}
	#topNav div.submenu-color #topMain>li.mega-menu div.row div { 
		border-left: rgba(0,0,0,0.2) 1px solid;
	}

	










