$editor: true;

@import "variables/selectors-editor";
@import "variables/wordpress";
@import "variables/theme";

@import "assets/bootstrap4-editor";

@import "assets/icomoon";
@import "assets/fonts";

@import "theme/mixins";

@import "theme/color-palletes";
@import "theme/general";
@import "theme/alignment";
@import "theme/content";

@import "theme/elements/headers";
@import "theme/elements/buttons";
@import "theme/elements/forms"; 

@import "theme/components/entries";
@import "theme/components/blocks";

@import "theme/integrations/calendar-plus";
@import "theme/integrations/cp-directory";

@import "theme/block-editor";