$editor: false;

@import "variables/selectors-theme";
@import "variables/wordpress";
@import "variables/theme";

@import "assets/bootstrap4-theme";

@import "assets/icomoon";
@import "assets/fonts";

@import "theme/mixins";

@import "theme/elements/headers";
@import "theme/elements/buttons";
@import "theme/elements/forms"; 

@import "theme/components/sidebars";
@import "theme/components/modals";
@import "theme/components/alerts";
@import "theme/components/entries"; 
@import "theme/components/comments";
@import "theme/components/blocks";

@import "theme/color-palletes";
@import "theme/general";
@import "theme/navs";
@import "theme/hero";
@import "theme/alignment";
@import "theme/content";
@import "theme/footer";


@import "theme/integrations/calendar-plus";
@import "theme/integrations/cp-directory";