extends ../partials/layout-docs

//- Override default config variables
append config
  - var pageTitle = 'Sources and Credits'
  - var isNestedFile = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Docs', 'link': '#'}]

//- Page Content
block content
  .pb-5.mb-2
    p.font-weight-semibold While making this template we used 3rd party plugins, images, icons, fonts, etc... and want to thank their creators.

    h2.h4.pt-4 Plugins, Libraries and Frameworks:
    ul.list-unstyled
      li
        span.font-weight-semibold Node.js - 
        a(href='https://nodejs.org/en/' target='_blank') https://nodejs.org/en/
      li
        span.font-weight-semibold Gulp - 
        a(href='https://gulpjs.com/' target='_blank') https://gulpjs.com/
      li
        span.font-weight-semibold Pug - 
        a(href='https://pugjs.org/api/getting-started.html' target='_blank') https://pugjs.org/api/getting-started.html
      li
        span.font-weight-semibold Sass - 
        a(href='http://sass-lang.com/' target='_blank') http://sass-lang.com/
      li
        span.font-weight-semibold jQuery - 
        a(href='https://jquery.com/' target='_blank') https://jquery.com/
      li
        span.font-weight-semibold Bootstrap 4 - 
        a(href='https://getbootstrap.com/' target='_blank') https://getbootstrap.com/
      li
        span.font-weight-semibold Modernizr - 
        a(href='https://modernizr.com/' target='_blank') https://modernizr.com/
      li
        span.font-weight-semibold OWL Carousel 2 - 
        a(href='https://owlcarousel2.github.io/OwlCarousel2/docs/started-welcome.html' target='_blank') https://owlcarousel2.github.io/OwlCarousel2/docs/started-welcome.html
      li
        span.font-weight-semibold Fancybox - 
        a(href='https://fancyapps.com/fancybox/3/' target='_blank') https://fancyapps.com/fancybox/3/
      li
        span.font-weight-semibold EasyAutocomplete - 
        a(href='http://easyautocomplete.com/' target='_blank') http://easyautocomplete.com/
      li
        span.font-weight-semibold noUiSlider - 
        a(href='https://refreshless.com/nouislider/' target='_blank') https://refreshless.com/nouislider/
      li
        span.font-weight-semibold GMAP3 - 
        a(href='http://gmap3.net/' target='_blank') http://gmap3.net/
      li
        span.font-weight-semibold iziToast - 
        a(href='http://izitoast.marcelodolce.com/' target='_blank') http://izitoast.marcelodolce.com/
      li
        span.font-weight-semibold Popper.js - 
        a(href='https://popper.js.org/' target='_blank') https://popper.js.org/
      li
        span.font-weight-semibold The Final Countdown - 
        a(href='http://hilios.github.io/jQuery.countdown/' target='_blank') http://hilios.github.io/jQuery.countdown/
      li
        span.font-weight-semibold jQuery Inview - 
        a(href='https://github.com/protonet/jquery.inview' target='_blank') https://github.com/protonet/jquery.inview
      li
        span.font-weight-semibold Prism.js - 
        a(href='https://prismjs.com/' target='_blank') https://prismjs.com/

    h2.h4.pt-4 Google Fonts:
    ul.list-unstyled
      li
        span.font-weight-semibold Muli - 
        a(href='https://fonts.google.com/specimen/Muli' target='_blank') https://fonts.google.com/specimen/Muli

    h2.h4.pt-4 Font Icons:
    ul.list-unstyled
      li
        span.font-weight-semibold Feather Icons - 
        a(href='https://feathericons.com/' target='_blank') https://feathericons.com/
      li
        span.font-weight-semibold Social (Flaticon) Icons - 
        a(href='https://www.flaticon.com/' target='_blank') https://www.flaticon.com/

    h2.h4.pt-4 Graphic Assets:
    ul.list-unstyled
      li
        a(href='https://www.6pm.com' target='_blank') https://www.6pm.com
      li
        a(href='https://www.amazon.com/' target='_blank') https://www.amazon.com/
      li
        a(href='https://unsplash.com/photos/czMy5rFeEbU' target='_blank') https://unsplash.com/photos/czMy5rFeEbU
      li
        a(href='https://unsplash.com/photos/UWebmzDCWjI' target='_blank') https://unsplash.com/photos/UWebmzDCWjI
      li
        a(href='https://unsplash.com/photos/l_adRqoRjnY' target='_blank') https://unsplash.com/photos/l_adRqoRjnY
      li
        a(href='https://unsplash.com/photos/N4lrGQ6mrdg' target='_blank') https://unsplash.com/photos/N4lrGQ6mrdg
      li
        a(href='https://unsplash.com/photos/soxPanL_Rww' target='_blank') https://unsplash.com/photos/soxPanL_Rww
      li
        a(href='https://unsplash.com/photos/yBJw1up4n44' target='_blank') https://unsplash.com/photos/yBJw1up4n44
      li
        a(href='https://unsplash.com/photos/LxVxPA1LOVM' target='_blank') https://unsplash.com/photos/LxVxPA1LOVM
      li
        a(href='https://unsplash.com/photos/0-frPETzEVs' target='_blank') https://unsplash.com/photos/0-frPETzEVs
      li
        a(href='https://unsplash.com/photos/9489sFfgk4c' target='_blank') https://unsplash.com/photos/9489sFfgk4c
      li
        a(href='https://unsplash.com/photos/UkaxVVAgDaw' target='_blank') https://unsplash.com/photos/UkaxVVAgDaw
      li
        a(href='https://unsplash.com/photos/ZpPH2VO-xFc' target='_blank') https://unsplash.com/photos/ZpPH2VO-xFc
      li
        a(href='https://www.pexels.com/photo/adolescent-casual-cute-elegant-428338/' target='_blank') https://www.pexels.com/photo/adolescent-casual-cute-elegant-428338/
      li
        a(href='https://vimeo.com/203972818' target='_blank') https://vimeo.com/203972818
      li
        a(href='https://www.pexels.com/photo/white-and-black-dji-mavic-pro-1381541/' target='_blank') https://www.pexels.com/photo/white-and-black-dji-mavic-pro-1381541/
      li
        a(href='https://www.pexels.com/photo/black-and-grey-camera-1203803/' target='_blank') https://www.pexels.com/photo/black-and-grey-camera-1203803/
      li
        a(href='https://www.pexels.com/photo/man-wearing-white-turtle-neck-t-shirt-1036645/' target='_blank') https://www.pexels.com/photo/man-wearing-white-turtle-neck-t-shirt-1036645/
      li
        a(href='https://www.pexels.com/photo/woman-wearing-sunglasses-1926768/' target='_blank') https://www.pexels.com/photo/woman-wearing-sunglasses-1926768/
      li
        a(href='https://www.pexels.com/photo/two-woman-sitting-on-sand-while-playing-drone-1623016/' target='_blank') https://www.pexels.com/photo/two-woman-sitting-on-sand-while-playing-drone-1623016/
      li
        a(href='https://www.pexels.com/photo/aerial-photography-of-concrete-bridge-681347/' target='_blank') https://www.pexels.com/photo/aerial-photography-of-concrete-bridge-681347/
      li
        a(href='https://www.pexels.com/photo/bird-s-eye-view-photography-of-road-in-the-middle-of-desert-1201673/' target='_blank') https://www.pexels.com/photo/bird-s-eye-view-photography-of-road-in-the-middle-of-desert-1201673/
      li
        a(href='https://www.pexels.com/photo/exercise-hobby-jog-jogger-7432/' target='_blank') https://www.pexels.com/photo/exercise-hobby-jog-jogger-7432/
      li
        a(href='https://www.pexels.com/photo/smart-watch-smartwatch-futuristic-technology-9051/' target='_blank') https://www.pexels.com/photo/smart-watch-smartwatch-futuristic-technology-9051/
      li
        a(href='https://www.pexels.com/photo/person-holding-silver-iphone-x-turned-on-870903/' target='_blank') https://www.pexels.com/photo/person-holding-silver-iphone-x-turned-on-870903/
      li
        a(href='https://www.pexels.com/photo/casual-cheerful-daylight-friends-541518/' target='_blank') https://www.pexels.com/photo/casual-cheerful-daylight-friends-541518/
      li
        a(href='https://www.pexels.com/photo/active-activity-adventure-backpack-541520/' target='_blank') https://www.pexels.com/photo/active-activity-adventure-backpack-541520/
      li
        a(href='https://www.freepik.com/free-vector/404-error-web-template-with-computer-flat-style_1988657.htm' target='_blank') https://www.freepik.com/free-vector/404-error-web-template-with-computer-flat-style_1988657.htm
      li
        a(href='https://www.pexels.com/photo/working-macbook-computer-keyboard-34577/' target='_blank') https://www.pexels.com/photo/working-macbook-computer-keyboard-34577/
      li
        a(href='https://www.pexels.com/photo/woman-in-yellow-blouse-and-blue-jeans-taking-selfie-while-sitting-on-car-787472/' target='_blank') https://www.pexels.com/photo/woman-in-yellow-blouse-and-blue-jeans-taking-selfie-while-sitting-on-car-787472/
      li
        a(href='https://unsplash.com/photos/qnKhZJPKFD8' target='_blank') https://unsplash.com/photos/qnKhZJPKFD8
      li
        a(href='https://www.freepik.com/free-photo/white-wooden-table-background_4138733.htm' target='_blank') https://www.freepik.com/free-photo/white-wooden-table-background_4138733.htm
      li
        a(href='https://www.anthonyboyd.graphics/mockups/top-view-ipad-pro-2018-mockup-set-vol-2' target='_blank') https://www.anthonyboyd.graphics/mockups/top-view-ipad-pro-2018-mockup-set-vol-2
