extends ../partials/layout-docs

//- Override default config variables
append config
  - var pageTitle = 'Dev Environment Setup'
  - var isNestedFile = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Docs', 'link': '#'}]

//- Page Content
block content
  .pb-5.mb-2
    .alert.alert-info.alert-with-icon.font-size-sm.mb-4(role='alert')
      .alert-icon-box
        i(data-feather='info').alert-icon
      | <strong>Please note:</strong> this step is absolutely optional. It aims for advanced user who want to speed up development process with professional grade Front-End toolset shiped with MStore. If you are not familiar with these tools and have no time to dive in you can still use plain HTML / CSS / JS to customize MStore. Files you need are located inside <strong>MStore/dist</strong> folder. In this case you can skip this and next sections. Happy coding :)

    p.font-size-lg.font-weight-semibold.text-dark MStore is built using modern development toolset.
    img(src='../img/docs/technologies.png' alt='Technologies')
    .my-4
      dl
        dt.font-family-body.text-md
          | Node.js 
          a(href='https://nodejs.org/en/' target='_blank') Official website
        dd.pb-3.border-bottom Is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
        dt.font-family-body.text-md
          | Gulp 
          a(href='https://gulpjs.com/' target='_blank') Official website
        dd.pb-3.border-bottom The JavaScript task runner. It helps with performing repetitive tasks like minification, compilation, unit testing, linting, etc. This is possible thanks to extensive Gulp Plugins library.
        dt.font-family-body.text-md
          | Sass (Syntactically Awesome Style Sheets) 
          a(href='http://sass-lang.com/' target='_blank') Official website
        dd.pb-3.border-bottom Sass is a scripting language that is interpreted or compiled into Cascading Style Sheets (CSS). It is the most mature, stable, and powerful professional grade CSS extension language in the world. Sass gives you the power of variables, mixins, functions, etc.
        dt.font-family-body.text-md
          | Pug (former Jade) 
          a(href='https://pugjs.org/api/getting-started.html' target='_blank') Official website
        dd.pb-3.border-bottom Pug is a high performance Node.js Templating Engine. Just like SASS, Pug is a prepocessor and, as such it helps you accomplishing tasks like wrapping away repetitive work by providing features not available in plain HTML like variables, includes, mixins, functions, etc.
        dt.font-family-body.text-md
          | Bootstrap 4 
          a(href='http://getbootstrap.com' target='_blank') Official website
        dd.pb-3.border-bottom Latest version of the most popular HTML, CSS, and JS framework in the world. MStore is built on Bootstrap 4 and heavily depends on it. MStore has all BS4 components + bunch of own plugins and components.

    p.mb-4 <u>This section will explain how to setup professional Front-End development environment for fast and smooth MStore customization using these technologies.</u>

    h2.h4.pt-3 Text Editor and Terminal (Command Line)
    p 
      | You can use any text editor at your disposal and available Command line tool (Command Prompt for Windows or Terminal on MacOS). Our personal preference is 
      a(href='https://code.visualstudio.com/' class='font-weight-medium' target='_blank') Visual Studio Code.
      |  It is free, has great buil-in terminal (console), built-in git client, debugging, huge extensions library and available for MacOS, Windows, Linux.
    
    h2.h4.pt-3 Installing Node.js and npm
    p In order to be able to setup MStore development environment you will need to <strong>install Node.js and its Package Manager (npm)</strong>.
    p 
      | Node.js is absolutely free and available for download via its official website for MacOS, Windows, Linux systems. 
      a(href='https://nodejs.org/en/' class='font-weight-medium' target='_blank') Download Node.js and npm here.
    p
      | Learn more about Node Package Manager and available packages here: 
      a(href='https://www.npmjs.com' class='font-weight-medium' target='_blank') https://www.npmjs.com

    h2.h4.pt-3 Installing packages necessary for MStore development
    p When Node.js and npm is installed you are ready to install all dependencies necessary for MStore development.
    u.d-block.mb-3 Inside your command line tool type:
    kbd.d-inline-block.mb-3 npm install
    p
      | This will start the process of installing all dependencies which are listed inside <code>MStore/package.json</code> file. Wait until installation is finished and jump to the next section 
      a(href='working-with-gulp.html' class='font-weight-medium') Working with Gulp.
