extends ../partials/layout-docs

//- Override default config variables
append config
  - var pageTitle = 'Project Structure'
  - var isNestedFile = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Docs', 'link': '#'}]

//- Page Content
block content
  .pb-5.mb-2
    .table-responsive
      table.table.table-bordered.table-striped
        thead
          tr
            th.w-25 Folder / File name
            th.w-75 Description
        tbody
          tr
            td.w-25: span.font-weight-semibold MStore
            td.w-75 Folder contains all template source and production files.
          tr
            td.w-25: span.font-weight-semibold MStore / src
            td.w-75 This folder holds all template source files like .pug, .scss, .js that are then processed (compiled / minified) to <code>dist</code> folder.
          tr
            td.w-25: span.font-weight-semibold MStore / dist
            td.w-75 Folder contains all template distribution files like .html, .css, .js that have been processed (compiled / minified) from <code>src</code> folder using Node.js and Gulp.
          tr
            td.w-25: span.font-weight-semibold MStore / package.json
            td.w-75 File contains meta data about your app or module. Most importantly, it includes the list of dependencies to install from npm when running <kbd>npm install</kbd>.
          tr
            td.w-25: span.font-weight-semibold MStore / gulpfile.js
            td.w-75 Configuration file for Gulp library. It contains all tasks you want to perform with Gulp. Learn more about it from <a href='working-with-gulp.html'>Working with Gulp</a> section or <a href='https://github.com/gulpjs/gulp/blob/v3.9.1/docs/API.md' target='_blank'>official Gulp documentation</a>.
          tr
            td.w-25: span.font-weight-semibold MStore / src / js
            td.w-75 This folder contains main <code>theme.js</code> that is processed (compiled / minified) to <code>dist/js/theme.min.js</code>.
          tr
            td.w-25: span.font-weight-semibold MStore / src / scss
            td.w-75 This folder contains all project <code>sass</code> files that are compiled and minified to styles in <code>dist/css/</code> folder.
          tr
            td.w-25: span.font-weight-semibold MStore / src / templates
            td.w-75 This folder contains all <code>pug</code> files that are compiled into HTML in <code>dist</code>, <code>dist/components</code> and <code>dist/docs</code> folders.
          tr
            td.w-25: span.font-weight-semibold MStore / src / vendor
            td.w-75 This folder contains all vendor (plugins, font icons, libraries) <code>.js / .css</code> files that are compressed and concatinated into single <code>vendor.min.js</code> and <code>vendor.min.css</code> files respectively and put into <code>dist</code> folder.

    .alert.alert-info.alert-with-icon.font-size-sm.mt-3.mb-4
      .alert-icon-box
        i(data-feather='info').alert-icon
      | <strong>Note:</strong> if you do not use Pro Front-End setup with Node.js and Gulp and want directly edit html / css / js files you should be looking into <strong>dist</strong> folder.
    
    p Whether you work with Node.js and Gulp or not you can still take advantage of preprocessors for HTML and CSS.<br>In this case you might want to learn <a href='using-preprocessors.html' class='font-weight-semibold'>how to use Pug and Sass</a>.
