extends ../partials/layout-docs

//- Override default config variables
append config
  - var pageTitle = 'Utility Classes'
  - var isNestedFile = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Docs', 'link': '#'}]

//- Page Content
block content
  .pb-5.mb-2
    .alert.alert-info.alert-with-icon.font-size-sm.mb-4(role='alert')
      .alert-icon-box
        i(data-feather='info').alert-icon
      p.mb-0 Bootstrap includes dozens of utilities - classes with a single purpose to reduce the frequency of highly repetitive declarations.
    p Along with <a href='https://getbootstrap.com/docs/4.3/utilities/borders/' class='font-weight-semibold' target='_blank'>default Bootstrap 4 utility classes</a> MStore introduces its own. They all live inside <code>MStore/src/scss/theme/_utilities.scss</code> file.
    p See part of <code>_utilities.scss</code> file below:
    img(src='../img/docs/sass-utils.png' alt='Prepros').d-block.img-thumbnail.mb-4
