extends ../partials/layout-docs

//- Override default config variables
append config
  - var pageTitle = 'Working with Gulp'
  - var isNestedFile = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Docs', 'link': '#'}]

//- Page Content
block content
  .pb-5.mb-2
    p As has been mentioned in previous section, <strong>Gulp</strong> is a JavaScript task runner. It helps with performing repetitive tasks like minification, compilation, unit testing, linting, etc. This is possible thanks to extensive Gulp Plugins library.
    p
      | Gulp tasks are already set up for you. They are stored inside <code>MStore/gulpfile.js</code>. But in order to have access to them via you Command Line tool you will need to install <strong>gulp-cli node package</strong>. Gulp CLI stands for Gulp Command Line Interface. 
      u.d-block To do that type following line in your terminal:
    kbd.d-inline-block.mb-3 npm install -g gulp-cli
    span.d-block.text-info.mb-4 * if you are on Mac make sure to use <strong>sudo</strong> to install packages globally otherwise you may runt into error.

    h2.h4.pt-3 Gulp CLI commands
    ul.pt-2
      li.pb-3 
        kbd gulp
        |  - this main command will fire default gulp task which includes: <u>launching BrowserSync, vendor files concatination, javascript minification, sass and pug compilation and lanching watch task</u>. BrowserSync will create dev server and sync your browser with your code editor. Note: to use other separate tasks explained below you will need to open other Terminal window and leave this one with running server intact.
      li.pb-3 
        kbd gulp concat:js
        |  - concatination vendor <code>.js</code> files found inside <code>vendor</code> folder in one <code>vendor.min.js</code> file which are linked to your HTML document.
      li.pb-3 
        kbd gulp concat:css
        |  - concatination vendor <code>.css</code> files found inside <code>vendor</code> folder in one <code>vendor.min.css</code> file which are linked to your HTML document.
      li.pb-3 
        kbd gulp uglify
        |  - minify and uglify main <code>theme.js</code> file from <code>src</code> folder to <code>dist/js/theme.min.js</code> file which linked to your HTML document.
      li.pb-3 
        kbd gulp pug
        |  - compiles <code>.pug</code> template files into HTML. Again from <code>src</code> to <code>dist</code> folder.
      li.pb-3 
        kbd gulp sass:expanded
        |  - compiles <code>.scss</code> files into non-minified CSS (css/theme.css). From <code>src</code> to <code>dist</code> folder.
      li.pb-3 
        kbd gulp sass:minified
        |  - compiles <code>.scss</code> files into minified CSS (css/theme.min.css). From <code>src</code> to <code>dist</code> folder.
      li.pb-3 
        kbd gulp watch
        |  - launches <code>watch</code> task. It will watch changes of your .scss / .js / .pug files and automatically compile them into .css / .js / .html.
    
    h2.h4.pt-3 Next steps
    p Now you when you are equiped with all necessary tools and dev invironment is all set you are ready to dive into MStore customization.
    p Take some time to familiarize yourself with <a href='project-structure.html' class='font-weight-medium'>Project Structure</a>.
