<!--  $Id: directions.html,v 1.1 2007/06/15 07:15:31 r23 Exp $ -->
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2">{$oosPageHeading}</td>
      </tr>
      <tr>
        <td colspan="2" height="10"></td>
      </tr>
      <tr>
        <td colspan="2"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{$lang.text_intro}</td>
          </tr>
          <tr>
            <td>{html_oos_image basedir=$smarty.const.OOS_IMAGES image=store.jpg alt=$smarty.const.STORE_NAME}</td>
          </tr>
          <tr>
            <td class="main"><a href="{$mapquest}">{$lang.text_map_this_location}</a></td>
          </tr>
        </table></td>
      </tr>


<form action="http://www.mapquest.de/mq/directions/directions.do" method="post">
<input type="hidden" name="mapRefresh" value="true">
<input type="hidden" name="CID" value="lfddwid">

<tr>
	<td colspan="2">
		<div align="left"><a href="http://www.mapquest.de/mq/home.do"><img border="0" src="http://cdn.mapquest.com/mqstyleguide/ws_wt_sm" alt="MapQuest"></a></div>
	</td>
</tr>
<tr>
	<td align="center">
		<table width="80%" border="0" cellpadding="0" cellspacing="0">
		<tr><td colspan="2">{$lang.text_from}</td></tr>
		<tr><td colspan="2">{$lang.text_address}</td></tr>
		<tr><td colspan="2"><input type="text" name="a1" size="22" maxlength="30" value=""></td></tr>
		<tr><td colspan="2">{$lang.text_city}</td></tr>
		<tr><td colspan="2"><input type="text" name="c1" size="22" maxlength="30" value=""></td></tr>
		<tr><td>{$lang.text_postcode}</td></tr>
		<tr><td><input type="text" name="z1" size="8" maxlength="10" value=""></td></tr>
		<tr><td>{$lang.text_country}</td></tr>
		<tr><td>
			<select name="y1">
			<option value="AT">Austria</option>
			<option value="BE">Belgium</option>
			<option value="DK">Denmark</option>
			<option value="FR">France</option>
			<option value="DE" selected>Germany</option>
			<option value="IT">Italy</option>
			<option value="LU">Luxembourg</option>
			<option value="NL">Netherlands</option>
			<option value="ES">Spain</option>
			<option value="SE">Sweden</option>
			<option value="CH">Switzerland</option>
			<option value="GB">United Kingdom</option>
			</select>
		</td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		</table>
	</td>
	<td align="center">
		<table width="80%" border="0" cellpadding="0" cellspacing="0">
		<tr><td colspan="2">{$lang.text_to}</td></tr>
		<tr><td colspan="2">{$lang.text_address}</td></tr>
		<tr><td colspan="2"><input type="text" name="a2" size="22" maxlength="30" value="{$smarty.const.STORE_STREET_ADDRESS}"></td></tr>
		<tr><td colspan="2">{$lang.text_city}</td></tr><tr>
		<td colspan="2"><input type="text" name="c2" size="22" maxlength="30" value="{$smarty.const.STORE_CITY}"></td></tr>
		<tr><td>{$lang.text_postcode}</td></tr>
		<tr><td><input type="text" name="z2" size="4" value="{$smarty.const.STORE_POSTCODE}"></td></tr>
		<tr><td>{$lang.text_country}</td></tr>
		<tr><td>
			<select name="y2">
			<option value="AT">Austria</option>
			<option value="BE">Belgium</option>
			<option value="DK">Denmark</option>
			<option value="FR">France</option>
			<option value="DE" selected>Germany</option>
			<option value="IT">Italy</option>
			<option value="LU">Luxembourg</option>
			<option value="NL">Netherlands</option>
			<option value="ES">Spain</option>
			<option value="SE">Sweden</option>
			<option value="CH">Switzerland</option>
			<option value="GB">United Kingdom</option>
			</select>
		</td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		</table>
	</td>
</tr>
<tr>
	<td colspan="2" align="left" valign="middle" class="main">
		<input type="submit" name="dir" value="{$lang.text_get_direction}">
	</td>
</tr>


</form>


{if !isset($smarty.get.option)}
      <tr>
        <td align="right" class="main"><br /><a href="{html_href_link modul=$modules.main file=$filename.main}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
      </tr>
{/if}
    </table></td>