<!--  $Id: news_reviews_info.html,v 1.1 2007/06/15 07:15:31 r23 Exp $ -->
    <td width="100%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="main"><b>{$lang.sub_title_product}</b> {$reviews.news_name}</td>
            <td class="smallText" rowspan="3" align="center"><a href="{html_href_link modul=$modules.news file=$filename.news_news news_id=$reviews.news_id}">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$reviews.news_image alt=$reviews.news_name align=center hspace=5 vspace=5}</a></td>
          </tr>
          <tr>
            <td class="main"><b>{$lang.sub_title_from}</b> {$reviews.customers_name}</td>
          </tr>
          <tr>
            <td class="main"><b>{$lang.sub_title_date}</b> {$reviews.date_added|oos_date_long}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td class="main"><b>{$lang.sub_title_review}</b></td>
      </tr>
      <tr>
        <td class="main"><br />{$reviews.news_reviews_text|strip_tags|wordwrap:60:"<br />\n"|bbcode2html|B2Smilies}</td>
      </tr>
      <tr>
        <td class="main"><br /><b>{$lang.sub_title_rating}</b> <img src="{$smarty.const.OOS_IMAGES}stars_{$reviews.news_reviews_rating}.gif" border="0" alt="{$reviews.news_reviews_rating|string_format:$lang.text_of_5_stars}" width="59" height="11"> <small>{$reviews.news_reviews_rating|string_format:$lang.text_of_5_stars}</small></td>
      </tr>
      <tr>
        <td><br /><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="main"><a href="{html_href_link modul=$modules.news file=$filename.news_reviews news_id=$reviews.news_id}">{html_image_button image="back.gif" alt=$lang.image_button_back}</a></td>
            <td align="right" class="main"><a href="{html_href_link modul=$modules.news file=$filename.news_news news_id=$reviews.news_id}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
