<!--  $Id: user_login.html,v 1.2 2008/01/04 16:49:26 r23 Exp $ -->
    <td width="100%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $info_message !='' }
      <tr>
        <td class="smallText">{$info_message}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{/if}
      <tr>
        <td><form name="login" method="post" action="{html_href_link modul=$modules.user file=$filename.login action=process connection=SSL}"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main" width="50%" valign="top"><b>{$lang.heading_new_customer}</b></td>
            <td class="main" width="50%" valign="top"><b>{$lang.heading_returning_customer}</b></td>
          </tr>
          <tr>
            <td width="50%" height="100%" valign="top"><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="1" class="infoBox">
              <tr>
                <td><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2" class="infoBoxContents">
                  <tr>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td class="main" valign="top">{$lang.text_new_customer}<br /><br />{$lang.text_new_customer_introduction}</td>
                  </tr>
                  <tr>
                    <td height="10"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="50%" height="100%" valign="top"><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="1" class="infoBox">
              <tr>
                <td><table border="0" width="100%" height="100%" cellspacing="0" cellpadding="2" class="infoBoxContents">
                  <tr>
                <td colspan="2" height="10"></td>
                  </tr>
                  <tr>
                    <td class="main" colspan="2">{$lang.text_returning_customer}</td>
                  </tr>
                  <tr>
                <td colspan="2" height="10"></td>
                  </tr>
                  <tr>
                    <td class="main"><b>{$lang.entry_email_address}</b></td>
                    <td class="main"><input type="text" name="email_address" maxlength="96" size="20" value=""></td>
                  </tr>
                  <tr>
                    <td class="main"><b>{$lang.entry_password}</b></td>
                    <td class="main"><input type="password" name="password" maxlength="40" size="20" value=""></td>
                 </tr>
{if $oEvent->installed_plugin('autologon')}
               	  <tr>
                     <td></td>
 		             <td align="left" class="smalltext"><input type="checkbox" name="remember_me" checked="checked" />{$lang.entry_remember_me}</td>
                   </tr>
{/if}
                  <tr>
                <td colspan="2" height="10"></td>
                  </tr>
                  <tr>
                    <td class="smallText" colspan="2"><a href="{html_href_link modul=$modules.user file=$filename.password_forgotten connection=SSL}">{$lang.text_password_forgotten}</a></td>
                  </tr>
                  <tr>
                <td colspan="2" height="10"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="50%" align="right" valign="top"><a href="{html_href_link modul=$modules.user file=$filename.create_account connection=SSL}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
            <td width="50%" align="right" valign="top">{html_image_submit image="login.gif" alt=$lang.image_button_login}</td>
          </tr>
        </table></form></td>
      </tr>
    </table></td>