//
// Top Bar (currency, language, account etc.)
// --------------------------------------------------


.topbar {
	z-index: 99;
	padding: 3px 0;
	position: relative;
	background: #2a2a2a;
}

@media (max-width: 768px) {
    .topbar .left-topbar,
    .topbar .right-topbar {
        text-align: center;
        float: none !important;
    }
}

/*Left Top Bar*/
.topbar ul.right-topbar {
	padding-left: 0;
	margin-bottom: 1px;
}

.topbar ul.right-topbar > li {
	display: inline;
	list-style: none;
	position: relative;
	margin-right: 15px;
	padding-bottom: 15px;
}

.topbar ul.right-topbar > li > a {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}

.topbar ul.right-topbar > li > a:hover {
	cursor: pointer;
}



/*Currency & Language*/
.topbar ul.currency,
.topbar ul.language {
	top: 28px;
	left: -5px;
    z-index: 1;
	display: none;
	padding: 4px 0;
	padding-left: 0; 
	list-style: none;
	min-width: 125px;
	position: absolute;
	background: #2a2a2a;
}


@media (max-width: 768px) {
    .topbar ul.currency,
    .topbar ul.language {
        top: 20px;
    }
}

.topbar li:hover ul.currency,
.topbar li:hover ul.language {
	display: block;
}

.topbar ul.currency:after,
.topbar ul.language:after {
	top: -4px;
	width: 0; 
	height: 0;
	left: 8px;
	content: " "; 
	display: block; 
	position: absolute;
	border-bottom: 6px solid #2a2a2a;	
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}

.topbar ul.currency li a,
.topbar ul.language li a {
	color: #d1d1d1;
	display: block;
	font-size: 10px;
	padding: 2px 12px;
	margin-bottom: 1px;
	text-transform: uppercase; 
}

.topbar ul.currency li.active a i,
.topbar ul.language li.active a i {
	color: #d1d1d1;
	float: right;
	margin-top: 2px;
}

.topbar ul.currency li a:hover, 
.topbar ul.language li a:hover, 
.topbar ul.currency li.active a,
.topbar ul.language li.active a {
	background: #333;
}

.topbar ul.currency li a:hover,
.topbar ul.language li a:hover {
	text-decoration: none; 
}

/*Left Top Bar*/
.topbar .left-topbar {
	margin-bottom: 1px;
}

.topbar .left-topbar li {
	margin-left: 3px;
}

.topbar .left-topbar li:first-child {
	margin-left: 0;
}

.topbar .left-topbar li,
.topbar .left-topbar li a {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}

/*Header*/
.header {
    z-index: 99;
    position: relative;
}
