//
// The layout
// --------------------------------------------------


.subscribe {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #18ba9b;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}

.subscribe h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.subscribe input {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #fff;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #fff;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: #fff;
}

.subscribe .form-control {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}

/*Footer */
footer {
	font-size: 14px;
	line-height: 22px;
}

footer.dark-bg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #191919;
    color: #bbb;
}
footer .inner {
	padding-top: 45px;
	padding-bottom: 35px;
}
footer .container > .row {
	margin-left: -25px;
	margin-right: -25px;
}
footer .row .inner {
	padding: 25px;
}
footer h4 {
	text-transform: uppercase;
	margin-bottom: 20px;
}
footer p {
	margin-bottom: 15px;
}

footer a {
	color:#eee;
}

footer li a{
	color:#919191;
}

footer .inner {
    padding-bottom: 35px;
    padding-top: 45px;
}

footer a:hover, footer-bottom a:hover {
	text-decoration:none;
}

.footer-bottom {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #111;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
