//- Page title
- var pageTitle = 'MStore | Modern Bootstrap E-commerce Template'
- var pageSubTitle = ''

//- Breadcrumbs
- var breadcrumbs = []

//- Conditionals
- var isPageTitle = true
- var isPageTitleDivider = true
- var isFooter = true
- var isModalExample = false
- var isModalSizes = false
- var isModalOrder = false
- var isModalTicket = false
- var isModalPayment = false
- var isModalReview = false
- var isCardScript = false
- var isCodeHighlighting = false
- var isTagManager = false

//- Templates
- var navbarTemplate
- var footerTemplate

//- File nesting
- var isNestedFile = false

//- Active menu item
- var parentMenu