	<!-- FOOTER -->
	<div id="down" class="m-bg-black-opacity-0_9 m-color-white-opacity-0_8 m-py-60">
		<div class="container">
			<div class="row">
					
				<div class="col-md-3 col-sm-6">
					<h4>{$lang.header_title_my_account}</h4>
					<ul class="list-unstyled">
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.account}" title="{$lang.login_block_my_account}" rel="nofollow">{$lang.login_block_my_account}</a></li>
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.account_edit}" title="{$lang.login_block_account_edit}" rel="nofollow">{$lang.login_block_account_edit}</a></li>
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.account_history page=1}" title="{$lang.login_block_account_history}" rel="nofollow">{$lang.page_order_history}</a></li>
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.account_address_book}" title="{$lang.login_block_address_book}" rel="nofollow">{$lang.login_block_address_book}</a></li>
					{if $oEvent->installed_plugin('notify')}
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.product_notifications}" rel="nofollow">{$lang.login_block_product_notifications}</a></li>
					{/if}						
					</ul>

					<ul class="list-inline">			
					{if $languages_block}
						<li>
							<a class="dropdown-toggle no-text-underline dropup m-color-white-opacity-0_8 m-color-white--hover" data-toggle="dropdown" href="#">{$lang.header_select_language}: ({$language})</a>
							<ul class="dropdown-langs dropdown-menu">
							{foreach item=languages from=$languages_contents}
								{if $languages.iso_639_2 == $language}
									<li class="active">
								{else}
									<li>
								{/if}
										<a tabindex="-1" class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$page_file oos_get=$lang_get_parameters language=$languages.iso_639_2}">
											{$languages.name} ({$languages.iso_639_2}){if $languages.iso_639_2 == $language} <i class="fa fa-check" aria-hidden="true"></i>{/if}
										</a>
									</li>
							{/foreach}
							</ul>
						</li>
					{/if}
					{if $currency_block}
						<li>
							<a class="dropdown-toggle no-text-underline dropup m-color-white-opacity-0_8 m-color-white--hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{$lang.header_select_currencies}: ({$currency})</a>
							<ul class="dropdown-langs dropdown-menu">
							{foreach item=currencies from=$currencies_contents}
								{if $currencies.id == $currency}
									<li class="active">
								{else}
									<li>
								{/if}							
										<a tabindex="-1" class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$page_file oos_get=$currency_get_parameters currency=$currencies.id}">
											{$currencies.text} {if $currencies.id == $currency} <i class="fa fa-check" aria-hidden="true"></i>{/if}
										</a>
									</li>
							{/foreach}
							</ul>
						</li>
					{/if}		
					</ul>					
				
				</div><!-- .col -->
					
				<div class="col-md-3 col-sm-6">
					<h4>{$block_heading_information}</h4>
					
					<ul class="list-unstyled">
					{foreach $information as $info}
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.information information_id=$info.information_id}" title="{$info.information_name}">{$info.information_name}</a></li>
					{/foreach}
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.contact_us}" title="{$lang.block_service_contact}">{$lang.block_service_contact}</a></li>					
					</ul>
				</div><!-- .col -->
					
				<div class="col-md-3 col-sm-6">
					<h4>{$lang.header_title_service}</h4>
					<ul class="list-unstyled">
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.products_new}" title="{$lang.page_products_new}"><i class="fa fa-bullhorn" aria-hidden="true"></i> {$lang.page_products_new}</a></li>
					{if $oEvent->installed_plugin('spezials')}
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.specials}" title="{$lang.page_specials}"><i class="fa fa-star" aria-hidden="true"></i> {$lang.page_specials}</a></li>
					{/if}	
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.sitemap}" title="{$lang.block_service_sitemap}"><i class="fa fa-sitemap" aria-hidden="true"></i> {$lang.block_service_sitemap}</a></li>
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.advanced_search}" title="{$lang.block_service_advanced_search}"><i class="fa fa-search" aria-hidden="true"></i> {$lang.block_service_advanced_search}</a></li>
					{if $oEvent->installed_plugin('reviews')}
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.reviews}" title="{$lang.block_service_reviews}"><i class="fa fa-comments" aria-hidden="true"></i> {$lang.block_service_reviews}</a></li>
					{/if}
						<li><a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.shopping_cart}" title="{$lang.block_service_shopping_cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {$lang.block_service_shopping_cart}</a></li>
					</ul>
				</div><!-- .col -->
					
				<div class="col-md-3 col-sm-6">
					<h4>{$lang.get_in_touch_with_us}</h4>

					<address class="g-bg-no-repeat fs-12 mb-0" style="background-image: url({$theme}/images/maps/map.png);">
					<!-- Location -->
					<div class="d-flex mb-10">
						<div class="mr-10">
							<span class="m-color-white-opacity-0_6">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</span>
						</div>
						<p class="mb-0"><strong> {$smarty.const.STORE_NAME}</strong><br>
							{$smarty.const.STORE_ADDRESS_STREET}<br>
							{$smarty.const.STORE_ADDRESS_POSTCODE} {$smarty.const.STORE_ADDRESS_CITY} 				  
						</p>
					</div>
					<!-- End Location -->

					<!-- Phone -->
					<div class="d-flex mb-10">
						<div class="mr-10">
							<span class="m-color-white-opacity-0_6">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</span>
						</div>
						<p class="mb-0">{$smarty.const.STORE_ADDRESS_TELEPHONE_NUMBER}</p>
					</div>
					<!-- End Phone -->						

					<!-- Email and Website -->
					<div class="d-flex mb-10">
						<div class="mr-10">
							<span class="m-color-white-opacity-0_6">
								<i class="fa fa-globe" aria-hidden="true"></i>
							</span>
						</div>
						<p class="mb-0">
							<a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.contact_us}" title="{$lang.block_service_contact}">{$smarty.const.STORE_ADDRESS_EMAIL}</a>
							<br>
							<a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.home}">{$smarty.const.OOS_HTTPS_SERVER}</a>
						</p>
					</div>
					<!-- End Email and Website -->						
					</address>
				</div><!-- .col -->
					
			</div><!-- .row --> 
		</div><!--end container-->
	</div>	

	<!-- Copyright Footer -->
	<footer class="footer-bottom g-bg-gray-dark-v1 m-color-white-opacity-0_8 m-py-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 text-center text-md-left">
					<div class="d-lg-flex">
						{*
							GERMAN:
							Diese Rueckverlinkung darf nur entfernt werden,
							wenn Sie eine MyOOS Lizenz besitzen.
							:: Lizenzbedingungen: 
							http://www.myoos.de/Projektbezogene-Gebuehr-p-38.html

							ENGLISH:
							This back linking maybe only removed,
							if you possess a MyOOS Lizenz license.
							:: License conditions: 
							http://www.myoos.de/Projektbezogene-Gebuehr-p-38.html
						*}				  
			  
						<p class="text-left">
							<span>Copyright &copy; {$smarty.now|date_format:"%Y"}</span> <a class="m-color-white-opacity-0_8 m-color-white--hover" href="{html_href_link content=$filename.home}">{$smarty.const.STORE_NAME}</a> Powered by <a class="m-color-white-opacity-0_8 m-color-white--hover" href="https://www.oos-shop.de" target="_blank" rel="noopener">MyOOS [Shopsystem]</a>. Alle Rechte vorbehalten. 
						</p>
					</div>
				</div>				

				<div class="col-md-4 align-self-center">
					<ul class="list-inline text-center text-md-right">
					{if !empty($smarty.const.FACEBOOK_URL) }
						<li class="list-inline-item mx-10">
							<a href="{$smarty.const.FACEBOOK_URL}" target="_blank" rel="noopener" class="m-color-white-opacity-0_5 m-color-white--hover">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
					{/if}
					{if !empty($smarty.const.SKYPE_URL) }
						<li class="list-inline-item mx-10">
							<a href="{$smarty.const.SKYPE_URL}" target="_blank" rel="noopener" class="m-color-white-opacity-0_5 m-color-white--hover">
								<i class="fa fa-skype" aria-hidden="true"></i>
							</a>
						</li>
					{/if}
					{if !empty($smarty.const.LINKEDIN_URL) }
						<li class="list-inline-item mx-10">
							<a href="{$smarty.const.LINKEDIN_URL}" target="_blank" rel="noopener" class="m-color-white-opacity-0_5 m-color-white--hover">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
					{/if}
					{if !empty($smarty.const.PINTEREST_URL) }
						<li class="list-inline-item mx-10">
							<a href="{$smarty.const.PINTEREST_URL}" target="_blank" rel="noopener" class="m-color-white-opacity-0_5 m-color-white--hover">
								<i class="fa fa-pinterest" aria-hidden="true"></i>
							</a>
						</li>
					{/if}
					{if !empty($smarty.const.TWITTER_URL) }
						<li class="list-inline-item mx-10">
							<a href="{$smarty.const.TWITTER_URL}" target="_blank" rel="noopener" class="m-color-white-opacity-0_5 m-color-white--hover">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
					{/if}
					{if !empty($smarty.const.DRIBBBLE_URL) }
						<li class="list-inline-item mx-10">
							<a href="{$smarty.const.DRIBBBLE_URL}" target="_blank" rel="noopener" class="m-color-white-opacity-0_5 m-color-white--hover">
								<i class="fa fa-dribbble" aria-hidden="true"></i>
							</a>
						</li>
					{/if}
					</ul>
				</div>						
		
			</div><!-- .row -->
		</div><!--end container-->
	</footer>	
		

<div id="cookie-notice" role="banner" class="cn-bottom" style="color: #666; background-color: #f3f3f3;">
	<div class="cookie-notice-container">
		<span id="cn-notice-text">{$cookie_notice}</span>
			<a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button button">{$lang.cookie_agree}</a>
	</div>
</div>

<!-- Core --> 
<script src="js/jquery/jquery-3.4.1.min.js"></script>
<script src="js/plugins/popper/popper.min.js"></script>  
{$javascript}
{literal}
<script>
	$(document).ready(function() {

		// RADIO OPTION
		$('input[type=radio]').on('change', updateRadioOption);

		function updateRadioOption() {
			var option_value = $(this).attr('data-option-value');
			var option_base = $(this).attr('data-option-base');
			var change_image = $(this).attr('data-change-image');
			var change_model = $(this).attr('data-change-model');

			$("#item_price h4").text(option_value);
			$("#item_base span").text(option_base);
			$("#item_model").text(change_model);
			
			if (change_image != null && change_image != '' && change_image != undefined) {
				$("#item_image").attr("src", change_image);
				$("#item_zoom").attr("href", change_image);
			}
			
		}
	})
</script>
{/literal}
<!-- Plugins  -->
<script src="js/plugins/viewport-checker/viewportchecker.min.js"></script> 

<script src="js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script> 


<script src="js/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="js/plugins/owl-carousel/owl.carousel.min.js"></script>

	<script src="http://localhost/ent/image/dist/js/vendor2.min.js"></script>
    <script src="http://localhost/ent/image/dist/js/theme.js"></script>
<script src="{$theme}/js/shop.app.js"></script>
{literal}
<script>
/* <![CDATA[ */
var cnArgs = {/literal}{$cookiearray|@json_encode nofilter};{literal}
/* ]]> */
</script>
{/literal}
<script src="js/plugins/cookie-notice/js/front.min.js"></script>


<!-- HTML5 shim and Respond.js IE support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="{$theme}/crossbrowserjs/html5shiv.js"></script>
	<script src="{$theme}/crossbrowserjs/respond.min.js"></script>
	<script src="{$theme}/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->


</body>
</html>