$icomoon-font-family: "cpschool" !default;
$icomoon-font-path: "fonts" !default;

$cps-icon-user-graduate-solid: "\e912";
$cps-icon-theater-masks-solid: "\e929";
$cps-icon-shapes-solid: "\e92a";
$cps-icon-book-open-solid: "\e92b";
$cps-icon-book-reader-solid: "\e92c";
$cps-icon-laptop-code-solid: "\e92d";
$cps-icon-graduation-cap-solid: "\e92e";
$cps-icon-chalkboard-teacher-solid: "\e92f";
$cps-icon-chalkboard-solid: "\e930";
$cps-icon-school-solid: "\e931";
$cps-icon-clock-regular: "\e932";
$cps-icon-rocket-solid: "\e933";
$cps-icon-user-nurse-solid: "\e934";
$cps-icon-asterisk: "\f069";
$cps-icon-plus: "\f067";
$cps-icon-question: "\f128";
$cps-icon-minus: "\f068";
$cps-icon-music: "\f001";
$cps-icon-envelope-o: "\f003";
$cps-icon-heart: "\f004";
$cps-icon-star1: "\f005";
$cps-icon-star-o: "\f006";
$cps-icon-user1: "\f007";
$cps-icon-home1: "\f015";
$cps-icon-clock-o: "\f017";
$cps-icon-road: "\f018";
$cps-icon-inbox: "\f01c";
$cps-icon-lock1: "\f023";
$cps-icon-headphones: "\f025";
$cps-icon-print: "\f02f";
$cps-icon-camera1: "\f030";
$cps-icon-video-camera: "\f03d";
$cps-icon-gift1: "\f06b";
$cps-icon-plane: "\f072";
$cps-icon-calendar1: "\f073";
$cps-icon-comment1: "\f075";
$cps-icon-key: "\f084";
$cps-icon-bell-o: "\f0a2";
$cps-icon-chain: "\f0c1";
$cps-icon-link1: "\f0c1";
$cps-icon-money: "\f0d6";
$cps-icon-umbrella: "\f0e9";
$cps-icon-lightbulb-o: "\f0eb";
$cps-icon-user-md: "\f0f0";
$cps-icon-stethoscope: "\f0f1";
$cps-icon-suitcase: "\f0f2";
$cps-icon-bell1: "\f0f3";
$cps-icon-cutlery: "\f0f5";
$cps-icon-file-text-o: "\f0f6";
$cps-icon-ambulance: "\f0f9";
$cps-icon-medkit: "\f0fa";
$cps-icon-superscript: "\f12b";
$cps-icon-microphone: "\f130";
$cps-icon-sun-o: "\f185";
$cps-icon-moon-o: "\f186";
$cps-icon-wheelchair: "\f193";
$cps-icon-space-shuttle: "\f197";
$cps-icon-wordpress1: "\f19a";
$cps-icon-bank: "\f19c";
$cps-icon-institution: "\f19c";
$cps-icon-university: "\f19c";
$cps-icon-graduation-cap: "\f19d";
$cps-icon-mortar-board: "\f19d";
$cps-icon-child: "\f1ae";
$cps-icon-paw: "\f1b0";
$cps-icon-recycle: "\f1b8";
$cps-icon-automobile: "\f1b9";
$cps-icon-car: "\f1b9";
$cps-icon-paper-plane-o: "\f1d9";
$cps-icon-send-o: "\f1d9";
$cps-icon-copyright: "\f1f9";
$cps-icon-at: "\f1fa";
$cps-icon-bus: "\f207";
$cps-icon-cc: "\f20a";
$cps-icon-user-secret: "\f21b";
$cps-icon-user-plus: "\f234";
$cps-icon-balance-scale: "\f24e";
$cps-icon-creative-commons: "\f25e";
$cps-icon-credit-card-alt: "\f283";
$cps-icon-universal-access: "\f29a";
$cps-icon-wheelchair-alt: "\f29b";
$cps-icon-question-circle-o: "\f29c";
$cps-icon-address-card-o: "\f2bc";
$cps-icon-vcard-o: "\f2bc";
$cps-icon-user-o: "\f2c0";
$cps-icon-grav: "\f2d6";
$cps-icon-search1: "\e935";
$cps-icon-envelope: "\e936";
$cps-icon-bubble: "\e937";
$cps-icon-users1: "\e938";
$cps-icon-bell2: "\e939";
$cps-icon-pin: "\e905";
$cps-icon-calendar2: "\e93a";
$cps-icon-support: "\e93b";
$cps-icon-heart2: "\e93c";
$cps-icon-home4: "\e93d";
$cps-icon-ring_volume: "\e93e";
$cps-icon-where_to_vote: "\e93f";
$cps-icon-access_alarmalarm: "\e940";
$cps-icon-data_usage: "\e941";
$cps-icon-insert_emoticontag_facesmood: "\e942";
$cps-icon-insert_invitationevent: "\e943";
$cps-icon-camera_altphoto_cameralocal_see: "\e944";
$cps-icon-local_restaurantrestaurant_menu: "\e945";
$cps-icon-add_location: "\e946";
$cps-icon-near_me: "\e947";
$cps-icon-restaurant: "\e948";
$cps-icon-departure_board: "\e949";
$cps-icon-pie_chart: "\e94a";
$cps-icon-cake: "\e94b";
$cps-icon-notifications: "\e94c";
$cps-icon-school: "\e94d";
$cps-icon-sentiment_dissatisfied: "\e94e";
$cps-icon-sentiment_neutral: "\e94f";
$cps-icon-sentiment_satisfied: "\e950";
$cps-icon-sentiment_very_dissatisfied: "\e951";
$cps-icon-sentiment_very_satisfied: "\e952";
$cps-icon-thumb_down_alt: "\e953";
$cps-icon-thumb_up_alt: "\e954";
$cps-icon-account_balance: "\e955";
$cps-icon-search: "\e906";
$cps-icon-verified_user: "\e956";
$cps-icon-fingerprint: "\e957";
$cps-icon-g_translate: "\e928";
$cps-icon-wb_twighlight: "\e958";
$cps-icon-emoji_emotions: "\e959";
$cps-icon-emoji_events: "\e95a";
$cps-icon-emoji_objects: "\e95b";
$cps-icon-sports_esports: "\e95c";
$cps-icon-sports_football: "\e95d";
$cps-icon-sports_golf: "\e95e";
$cps-icon-sports_hockey: "\e95f";
$cps-icon-sports_rugby: "\e960";
$cps-icon-sports_soccer: "\e961";
$cps-icon-sports_volleyball: "\e962";
$cps-icon-sports_tennis: "\e963";
$cps-icon-lunch_dining: "\e964";
$cps-icon-park: "\e965";
$cps-icon-icecream: "\e966";
$cps-icon-volunteer_activism: "\e967";
$cps-icon-ac_unit: "\e968";
$cps-icon-beach_access: "\e969";
$cps-icon-child_care: "\e96a";
$cps-icon-room_service: "\e96b";
$cps-icon-activity: "\e908";
$cps-icon-aperture: "\e90a";
$cps-icon-bell: "\e90b";
$cps-icon-book-open: "\e90c";
$cps-icon-book: "\e90d";
$cps-icon-bookmark: "\e90e";
$cps-icon-calendar: "\e900";
$cps-icon-camera: "\e90f";
$cps-icon-chevron-left: "\e926";
$cps-icon-chevron-right: "\e927";
$cps-icon-clock: "\e96c";
$cps-icon-cloud: "\e910";
$cps-icon-coffee: "\e96d";
$cps-icon-compass: "\e911";
$cps-icon-dollar-sign: "\e96e";
$cps-icon-eye: "\e96f";
$cps-icon-file-text: "\e913";
$cps-icon-folder: "\e914";
$cps-icon-gift: "\e915";
$cps-icon-globe: "\e970";
$cps-icon-grid: "\e916";
$cps-icon-heart3: "\e971";
$cps-icon-help-circle: "\e972";
$cps-icon-home: "\e917";
$cps-icon-category: "\e901";
$cps-icon-info: "\e918";
$cps-icon-life-buoy: "\e973";
$cps-icon-link: "\e919";
$cps-icon-lock: "\e91a";
$cps-icon-mail: "\e91b";
$cps-icon-map-pin: "\e91c";
$cps-icon-menu: "\e907";
$cps-icon-comment: "\e904";
$cps-icon-paperclip: "\e91d";
$cps-icon-phone: "\e91e";
$cps-icon-printer: "\e91f";
$cps-icon-settings: "\e920";
$cps-icon-share: "\e921";
$cps-icon-shopping-bag: "\e922";
$cps-icon-star: "\e923";
$cps-icon-tag: "\e902";
$cps-icon-thumbs-up: "\e924";
$cps-icon-user: "\e903";
$cps-icon-users: "\e925";
$cps-icon-close: "\e909";
$cps-icon-home2: "\e974";
$cps-icon-home21: "\e975";
$cps-icon-home3: "\e976";
$cps-icon-pencil: "\e977";
$cps-icon-pencil2: "\e978";
$cps-icon-headphones1: "\e979";
$cps-icon-music1: "\e97a";
$cps-icon-price-tags: "\e97b";
$cps-icon-lifebuoy: "\e97c";
$cps-icon-pushpin: "\e97d";
$cps-icon-location2: "\e97e";
$cps-icon-tv: "\e97f";
$cps-icon-drawer: "\e980";
$cps-icon-bubbles3: "\e981";
$cps-icon-bubbles4: "\e982";
$cps-icon-key1: "\e98d";
$cps-icon-lock2: "\e98f";
$cps-icon-wrench: "\e991";
$cps-icon-magic-wand: "\e997";
$cps-icon-aid-kit: "\e998";
$cps-icon-stats-dots: "\e99b";
$cps-icon-trophy: "\e99e";
$cps-icon-gift2: "\e99f";
$cps-icon-spoon-knife: "\e9a3";
$cps-icon-lab: "\e9aa";
$cps-icon-sphere: "\e9c9";
$cps-icon-earth: "\e9ca";
$cps-icon-heart1: "\e9da";
$cps-icon-facebook: "\ea90";
$cps-icon-instagram: "\ea92";
$cps-icon-twitter: "\ea96";
$cps-icon-youtube: "\ea9d";
$cps-icon-wordpress: "\eab4";
$cps-icon-tumblr: "\eab9";
$cps-icon-linkedin1: "\eac9";
$cps-icon-linkedin: "\eaca";

