{if $also_purchased}
	<div class="mb-20 mt-50">
		
		<div class="heading mb-40">
			<h2>{$lang.text_also_purchased_products}</h2>
		</div>
		
		<ul class="product-list row list-inline m-0">

		{foreach item=purchased from=$also_purchased}
          
			<!-- item -->
			<li class="col-md-3 col-sm-6 ">
                <div class="imageBox">
					<div class="productImage clearfix">
						<a href="{product_link products_id=$purchased.products_id}">
							{product_image dir=medium src=$purchased.products_image alt=$purchased.products_name}
						</a>
					</div>
                </div> 
                <div class="product-summary text-center">
                    <h5><a href="{product_link products_id=$purchased.products_id}">{$purchased.products_name}</a></h5>
                </div>
            </li>		
		    <!-- end item -->

		{/foreach}
		
		</ul>
		
	</div>
{/if}
