{if $featured}
<!-- featured -->
<section>
	<div class="container">

		<div class="heading mb-40">
			<h2>{$lang.table_heading_featured_products}</h2>
		</div>
		
		<ul class="shop-item-list row list-inline m-0">

		{foreach item=featur from=$featured}
          
			<!-- item -->
			<li class="col-sm-3 col-12">
                <div class="imageBox">
					<div class="productImage clearfix">
						<a href="{product_link products_id=$featur.products_id}">
							{product_image dir=medium image=$featur.products_image alt=$featur.products_name}
						</a>
						{if $myUser.show_price eq 1 }
						<div class="productMasking">
                              <ul class="list-inline btn-group" role="group">
                                <li><a href="{html_href_link content=$page_file action=add_wishlist products_id=$featur.products_id}" class="btn btn-default btn-wishlist" role="button"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="{html_href_link content=$page_file oos_get=$get_params action=buy_now cart_quantity=$featur.order_min  products_id=$featur.products_id}" class="btn btn-default" role="button"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="{product_link products_id=$featur.products_id}" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true" role="button"></i></a></li>
                              </ul>
						</div>
						{/if}						
						
					</div>
                </div> 
                <div class="shop-item-summary text-center">
                    <h4><a href="{product_link products_id=$featur.products_id}" title="{$featur.products_name}">{$featur.products_name|truncate:18:"":true|close_tags}</a></h4>

					<div class="product-price clearfix">
					{if $myUser.show_price eq 1 }	
						{if (!empty($featur.featured_product_special_price))}
							<span class="price-offer">{$featur.featured_product_special_price}</span> <span class="price-old">{$featur.featured_product_price}</span>
						{else}
							{$featur.featured_product_price}
						{/if}					
						
						{if $featur.products_base_price != 1}<br>{$featur.product_quantity} {$products_units[$featur.products_units]} <span class="base_price">({$featur.featured_base_product_price}/{$products_units[$featur.products_base_unit]})</span>{/if}
					{/if}	
					</div>
                </div>
            </li>		
		    <!-- end item -->

		{/foreach}
		
		</ul>
	</div>
</section>
<!-- end specials -->
{/if}