{if $new_products_array}
<!-- New products grid-->
<section class="container pt-3 pb-4">
	<h2 class="h3 text-center pb-4">{$block_heading_new_products}</h2>
	<div class="row">
	  
	{foreach item=new_product from=$new_products_array}
		<!-- Product-->
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="product-card mb-4">
				<div class="product-thumb">
					<a href="{html_href_link content=$page_file action=add_wishlist products_id=$new_product.products_id}" class="product-wishlist-btn" data-bs-toggle="tooltip" data-placement="left" title="{$lang.button_add_wishlist}"><i data-feather="heart"></i></a>
					<a href="{product_link products_id=$new_product.products_id}">{product_image dir=medium src=$new_product.products_image alt=$new_product.products_name}</a>
				</div>
				<div class="product-card-body text-center"><a class="product-meta" href="{html_href_link content=$filename.shop category=$new_product.products_path}" title="{$new_product.categories_name}">{$new_product.categories_name}</a>
					<h3 class="product-card-title"><a href="{product_link products_id=$new_product.products_id}">{$new_product.products_name|truncate:18:"":true|close_tags}</a></h3>

					{if $myUser.show_price eq 1 }
					<div class="product-price clearfix">
						{if (!empty($new_product.new_product_special_price))}
							<span class="price-desc">{$new_product.only_until}</span><br>
							<span class="price-offer">{$new_product.new_product_special_price}</span>	
							
							{if $new_product.new_special_cross_out_price > 0}						
								<span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$new_product.new_special_cross_out_price}</span></span>
							{/if}					

						{elseif $new_product.new_product_price_list ne 0}
							<span class="price-old">{$lang.price_rrp} <span class="line-through">{$new_product.new_product_price_list}</span></span>
							{$new_product.new_product_price}<br>										
						{else}
							{if (!empty($new_product.new_product_discount_price))}
								<p class="clearfix"></p>
								{$lang.price_from} {$new_product.new_product_discount_price}<br>										
							{else}
								<p class="clearfix"></p>	
								{$new_product.new_product_price}<br>
							{/if}	
						{/if}

						{if $new_product.products_base_price != 1}
							<br>
							<span class="units-desc">{$new_product.products_product_quantity|cut_number}&nbsp;{$products_units[$new_product.new_product_units].0}</span>
							<span class="base_price">({$products_units[$new_product.new_product_units].1} = {$new_product.new_base_product_price})</span>
						{/if}
					</div>
					{/if}			  

				</div>
		
				<div class="d-grid gap-2 product-card-body body-hidden">
					<a href="{html_href_link content=$page_file oos_get=$get_params action=buy_now cart_quantity=$new_product.order_min  products_id=$new_product.products_id}" class="btn btn-primary btn-sm" role="button" data-bs-toggle="toast" data-bs-target="#cart-toast">{$lang.button_hp_buy}</a><a class="quick-view-btn" href="{product_link products_id=$new_product.products_id}" ><i class="mr-1" data-feather="eye"></i>{$lang.button_hp_more}</a>			
				</div>
			</div>
		</div>
		{/foreach}		
	</div>
</section>
<!-- End new products grid-->
{/if}