{if $spezials}
<!-- specials -->
<section>
	<div class="container">

		<div class="heading mb-40">
			<h2>{$lang.block_heading_specials}</h2>
		</div>
		
		<ul class="shop-item-list row list-inline m-0">

		{foreach item=spezial from=$spezials}

			<!-- item -->
			<li class="col-sm-3 col-12">
                <div class="imageBox">
					<div class="productImage clearfix">
						<a href="{product_link products_id=$spezial.products_id}">
							{product_image dir=medium image=$spezial.products_image alt=$spezial.products_name}
						</a>
						{if $myUser.show_price eq 1 }
						<div class="productMasking">
                              <ul class="list-inline btn-group" role="group">
                                <li><a href="{html_href_link content=$page_file action=add_wishlist products_id=$spezial.products_id}" class="btn btn-default btn-wishlist" role="button"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="{html_href_link content=$page_file oos_get=$get_params action=buy_now cart_quantity=$spezial.order_min  products_id=$spezial.products_id}" class="btn btn-default" role="button"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="{product_link products_id=$spezial.products_id}" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true" role="button"></i></a></li>
                              </ul>
						</div>
						{/if}						
						
					</div>
                </div> 
                <div class="shop-item-summary text-center">
                    <h4><a href="{product_link products_id=$spezial.products_id}">{$spezial.products_name}</a></h4>

					<div class="product-price clearfix">
						{if $myUser.show_price eq 1 }	
							<span class="price-offer">{$spezial.products_special_price}</span> <span class="price-old">{$lang.price_reduced_from} {$spezial.products_price}</span> 
						
							{if $spezial.products_base_price != 1}<br>{$spezial.product_quantity} {$products_units[$spezial.products_units]} <span class="special_base_price">({$spezial.base_product_special_price}/{$products_units[$spezial.products_base_unit]})</span><br>{/if}
						{/if}
						
					</div>
  
                </div>
            </li>		
		    <!-- end item -->

		{/foreach}
		
		</ul>
	</div>
</section>
<!-- end specials -->


{/if}