{if $specials}
<!-- specials -->
<section class="container pt-3 pb-4">
	<h2 class="h3 text-center pb-4">{$lang.block_heading_specials}</h2>
	<div class="row">
	  
	{foreach item=special from=$specials}
		<!-- item -->
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="product-card mb-4">
				<div class="product-thumb">
					<a href="{html_href_link content=$page_file action=add_wishlist products_id=$special.products_id}" class="product-wishlist-btn" data-bs-toggle="tooltip" data-placement="left" title="{$lang.button_add_wishlist}"><i data-feather="heart"></i></a>	
					<a href="{product_link products_id=$special.products_id}"><span class="badge badge-danger rounded-0">{$lang.text_sale}</span>{product_image dir=medium image=$special.products_image alt=$special.products_name}</a>				
				</div>
						
				<div class="product-card-body text-center"><a class="product-meta" href="{html_href_link content=$filename.shop category=$special.products_path}" title="{$special.categories_name}">{$special.categories_name}</a>
					<h3 class="product-card-title"><a href="{product_link products_id=$special.products_id}">{$special.products_name|truncate:18:"":true|close_tags}</a></h3>
			  
					<div class="product-price clearfix">
						{if $myUser.show_price eq 1 }	
							<span class="price-offer">{$special.products_special_price}</span> <span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$special.products_price}</span></span> 
						
							{if $special.products_base_price != 1}<br>{$special.product_quantity} {$products_units[$special.products_units]} <span class="special_base_price">({$special.base_product_special_price}/{$products_units[$special.products_base_unit]})</span><br>{/if}
						{/if}		  
					</div>
				</div>
		
				<div class="d-grid gap-2 product-card-body body-hidden">
					<a href="{html_href_link content=$page_file oos_get=$get_params action=buy_now cart_quantity=$special.order_min  products_id=$special.products_id}" class="btn btn-primary btn-sm" role="button" data-bs-toggle="toast" data-target="#cart-toast">{$lang.button_hp_buy}</a><a class="quick-view-btn" href="{product_link products_id=$special.products_id}" ><i class="mr-1" data-feather="eye"></i>{$lang.button_hp_more}</a>			
				</div>
			</div>
		</div>
		<!-- end item -->	
	{/foreach}		
	</div>
</section>
<!-- end specials -->
{/if}