{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_edit connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-user" aria-hidden="true"></i>{$lang.login_block_account_edit}</a>
					<a href="{html_href_link content=$filename.account_address_book connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1 connection=SSL}" class="btn btn-default active" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1 connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper">
				
    <table border="0" width="100%" cellspacing="0" cellpadding="0">

{if $numrows > 1 }
   {$pagination}
{/if}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
{section name=i loop=$oos_order_history_array}
          <tr>
            <td valign="top" class="main"><a href="{product_info_link products_id=$oos_order_history_array[i].id}">{small_product_image image=$oos_order_history_array[i].image alt=$oos_order_history_array[i].name|strip_tags}</a></td>
            <td valign="top" class="main"><a href="{product_info_link products_id=$oos_order_history_array[i].id}"><strong><u>{$oos_order_history_array[i].name}</u></strong></a><br>
            {if ($smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true')}
              {$lang.text_date_added}{$oos_order_history_array[i].date_added|oos_date_short}<br>
            {/if}

            {if $oos_order_history_array[i].manufacturer != ''}
              {$lang.text_manufacturer} {$oos_order_history_array[i].manufacturer}
            {/if}
            <br><br>
            {if (!empty($oos_order_history_array[i].new_product_special_price))}
               {$lang.text_price} <s>{$oos_order_history_array[i].new_product_price}</s><br>
               {if $oos_order_history_array[i].products_base_price != 1}<s>{$lang.text_products_base_price}: <span class="base_price">{$oos_order_history_array[i].new_products_base_unit} = {$oos_order_history_array[i].new_base_product_price}</span></s><br>{/if}

               <span class="special_price">{$lang.text_price} {$oos_order_history_array[i].new_product_special_price}</span>
               {if $oos_order_history_array[i].products_base_price != 1}<br><span class="special_base_price">{$lang.text_products_base_price}: {$oos_order_history_array[i].new_products_base_unit} = {$oos_order_history_array[i].new_base_product_special_price}</span></s><br>{/if}

            {else}
              {if $oos_order_history_array[i].new_max_product_discount != 0}
                {$lang.text_price} <s>{$oos_order_history_array[i].new_product_price}</s> -{$oos_order_history_array[i].new_max_product_discount}%<br>
                <span class="discount_price">{$oos_order_history_array[i].new_product_discount_price}</span>
                {if $oos_order_history_array[i].products_base_price != 1}<br><span class="discount_base_price">{$lang.text_products_base_price}: {$oos_order_history_array[i].new_products_base_unit} = {$oos_order_history_array[i].new_base_product_special_price}</span></s><br>{/if}

              {else}
                {$lang.text_price} {$oos_order_history_array[i].new_product_price}
                {if $oos_order_history_array[i].products_base_price != 1}<br><span class="base_price">{$lang.text_products_base_price}: {$oos_order_history_array[i].new_products_base_unit} = {$oos_order_history_array[i].new_base_product_price}</span><br>{/if}

              {/if}
            {/if}
            <span class="pangv">{$pangv}</span><br>
            </td>
            <td align="right" valign="middle" class="main"><a href="{html_href_link content=$filename.account_order_history action=buy_now products_id=$oos_order_history_array[i].id}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>{html_image_button image="in_cart.gif" alt=$lang.button_in_cart}</a></td>
          </tr>
          <tr>
            <td colspan="3" class="main">&nbsp;</td>
          </tr>
{sectionelse}
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{$lang.text_no_products}
	</div>
{/section}
        </table></td>
      </tr>
{if $numrows > 1 }
   {$pagination}
{/if}
    </table>


				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}