{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_edit connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-user" aria-hidden="true"></i>{$lang.login_block_account_edit}</a>
					<a href="{html_href_link content=$filename.account_address_book connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-address-book" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1 connection=SSL}" class="btn btn-default active" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1 connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper">
				
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>
{section name=i loop=$oos_history_array}
        <table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><strong>{$lang.text_order_number}</strong> {$oos_history_array[i].orders_id}</td>
            <td class="main" align="right"><strong>{$lang.text_order_status}</strong> {$oos_history_array[i].orders_status_name}</td>
          </tr>
        </table></td>
          </tr>
        </table>
        <table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
          <tr>
            <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="infoBoxContents">
          <tr>
            <td height="1"></td>
          </tr>
          <tr>
            <td class="boxText"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main" width="50%" valign="top"><strong>{$lang.text_order_date}</strong> {$oos_history_array[i].date_purchased|oos_date_long}<br><strong>{$lang.text_order_shipped_to}</strong> {$oos_history_array[i].delivery_name}</td>
            <td class="main" width="30%" valign="top"><strong>{$lang.text_order_products}</strong> {$oos_history_array[i].products_total}<br><strong>{$lang.text_order_cost}</strong> {$oos_history_array[i].order_total}</td>
            <td class="main" width="20%"><a href="{html_href_link content=$filename.account_history_info page=$smarty.get.page order_id=$oos_history_array[i].orders_id connection=SSL}">{$lang.text_view_order}</a></td>
          </tr>
        </table></td>
          </tr>
        </table>
        </td>
          </tr>
        </table>
        <br>
{sectionelse}
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{$lang.text_no_purchases}
	</div> 
{/section}
        </td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
{if $numrows > 0 }

          <tr>
            <td class="smallText" valign="top">{$page_split}</td>
            <td class="smallText" align="right">{$lang.text_result_page} {$display_links}</td>
          </tr>
{/if}

        </table></td>
      </tr>
    </table>


				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}