{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}
<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_edit connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-user" aria-hidden="true"></i>{$lang.login_block_account_edit}</a>
					<a href="{html_href_link content=$filename.account_address_book connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1 connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1 connection=SSL}" class="btn btn-default  active" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper">

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $numrows  > 1 }
  {$pagination}
{/if}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
{section name=i loop=$wishlist_array}
      <td width="50%"><form name="cart_quantity" action="{html_href_link content=$filename.shopping_cart action=frend_wishlist_add_product}" method="POST" role="form">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	  
	  
	  <table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
         <td align="left" width="{$smarty.const.SMALL_IMAGE_WIDTH}" class="smallText"><a href="{product_info_link products_id=$wishlist_array[i].products_id}">{small_product_image image=$wishlist_array[i].products_image alt=$wishlist_array[i].products_name|strip_tags hspace=5 vspace=5}</a></td>
         <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
         <td valign="top" class="smallText"><a href="{product_info_link products_id=$wishlist_array[i].products_id}"><strong>{$wishlist_array[i].products_name}</strong></a><br>
           <br>{$wishlist_array[i].products_description|truncate:120:" [...]":false|close_tags}<br>
           {if $wishlist_array[i].attributes_print != ''}
              <br>{$wishlist_array[i].attributes_print}<br>
           {/if}
       </tr>
       <tr>
         <td valign="top"><a href="{html_href_link content=$page_file action=remove_wishlist pid=$wishlist_array[i].products_id connection=SSL}" class="btn btn-primary-filled" role="button"><i class="fa fa-times" aria-hidden="true"></i> {$image_wishlist_delete}</a></td>
         <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
         <td valign="top">
            {if $myUser.show_price eq 1 }
              <input type="hidden" name="products_id" value="{$wishlist_array[i].wl_products_id}">
              <input type="hidden" name="wl_products_id" value="{$wishlist_array[i].products_id}">
              <input type="hidden" name="cart_quantity" value="1">
			  <button class="btn btn-success-filled" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {$lang.button_in_cart}</button>
             {/if}
         </td>
       </tr>
       <tr>
         <td valign="bottom" class="smallText" nowrap="nowrap">
{if $myUser.show_price eq 1 }
  {if (!empty($wishlist_array[i].special_price))}
     <s>{$wishlist_array[i].product_price}</s><br>
     <span class="special_price">{$wishlist_array[i].product_special_price}</span>
  {else}
    {if $wishlist_array[i].product_discount != 0}
      <s>{$wishlist_array[i].product_price}</s>&nbsp;-{$wishlist_array[i].product_discount}%<br>
      <span class="discount_price">{$wishlist_array[i].product_discount_price}</span>
    {else}
      {$wishlist_array[i].product_price}
    {/if}
  {/if}
{/if}
         </td>
         <td><td height="1"></td>
         <td></td>
        </tr>
        <tr>
          <td valign="top" colspan="3" class="smallText">
{if $myUser.show_price eq 1 }
  {if $wishlist_array[i].products_base_price != 1}
    <span class="smallText">{$lang.text_products_base_price}: </span>
    {if (!empty($wishlist_array[i].special_price))}
    <span class="special_base_price">{$wishlist_array[i].products_base_unit} = {$wishlist_array[i].base_product_special_price}</span></s><br>
    {else}
      {if $wishlist_array[i].product_discount != 0}
      <span class="discount_base_price">{$wishlist_array[i].products_base_unit} = {$wishlist_array[i].base_product_special_price}</span></s><br>
      {else}
      <span class="base_price">{$wishlist_array[i].products_base_unit} = {$wishlist_array[i].base_product_price}</span><br>
      {/if}
    {/if}
  {/if}
{/if}
<span class="pangv">{$pangv}</span><br>

          </td>
        </tr>
      </table></form></td>

      {if $smarty.section.i.rownum is even}
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
     {/if}
{sectionelse}
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{$lang.block_wishlist_empty}
	</div> 
	 	 
{/section}
          </tr>
        </table></td>
      </tr>
{if $numrows > 1 }
  {$pagination}
{/if}
    </table>


				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}