{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account}" class="btn btn-secondary" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_edit}" class="btn btn-secondary" role="button"><i class="fa fa-user" aria-hidden="true"></i>{$lang.login_block_account_edit}</a>
					<a href="{html_href_link content=$filename.account_address_book}" class="btn btn-secondary active" role="button"><i class="fa fa-address-book" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1}" class="btn btn-secondary" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1}" class="btn btn-secondary" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper">

					<div class="orderBox">
					<h3>{$lang.category_personal}</h3>
					</div>
					<div class="row">
						<div class="col-md-12">	
						
							<form name="add_entry" id="add_entry" class="form-horizontal" action="{html_get_link}" method="POST" role="form">
								<fieldset>
								{if $smarty.get.delete}
									<input type="hidden" name="action" value="deleteconfirm">
								{else}
									<input type="hidden" name="action" value="process">									
								{/if}
									<input type="hidden" name="entry_id" value="{$entry_id}">								
									<input type="hidden" name="content" value="{$filename.account_address_book_process}">	
								{if $mySystem.sed}
									<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
									<input type="hidden" name="formid" value="{$mySystem.formid}">
								{/if}	

					{if $smarty.get.delete}	
					
						<div class="col-md-6 col-sm-6">
							<!-- Map -->
							<div id="map" class="height-450">
							</div>
							<!-- End Map -->
						</div>
						<div class="col-md-6 col-sm-6">
							<p>
								<i class="fa fa-home" aria-hidden="true"></i> {oos_address_label customers_id=$smarty.session.customer_id address_id=$entry_id}
							</p>

							<hr>

						<div class="form-group">
							<div class="col-sm-9">
                          <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-facebook" aria-hidden="true"></i><span>log in with facebook</span></button>
                          <button type="submit" class="btn btn-danger float-right"><i class="fa fa-google-plus" aria-hidden="true"></i><span>log in with google plus</span></button>
							</div>
						</div>								
							
							
						</div>					

					{else}	
	
								
								
								
								{if $smarty.const.ACCOUNT_GENDER eq 'true'}
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="gender">{$lang.entry_gender} *</label>
										<div class="col-sm-5">
											<input type="radio" id="gender" name="gender" value="m" {if $male}checked="checked"{/if}> {$lang.male} <input type="radio" id="gender" name="gender" value="f" {if $female}checked="checked"{/if}> {$lang.female}
										</div>						
									</div>
								{/if}
								
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="firstname">{$lang.entry_first_name} *</label>
										<div class="col-sm-5">
											<input type="text" value="{$entry.entry_firstname}" class="form-control" id="firstname" name="firstname" placeholder="{$lang.entry_first_name}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="lastname">{$lang.entry_last_name} *</label>
										<div class="col-sm-5">
											<input type="text" value="{$entry.entry_lastname}" class="form-control" id="lastname" name="lastname" placeholder="{$lang.entry_last_name}" />
										</div>
									</div>					

							{if $smarty.const.ACCOUNT_COMPANY eq 'true'}
									<hr />
									<h3>{$lang.category_company}</h3>
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="company">{$lang.entry_company}</label>
										<div class="col-sm-5">
											<input type="text" value="{$entry.entry_company}" class="form-control" id="company" name="company" placeholder="{$lang.entry_company}" />
										</div>
									</div>
												
								{if $smarty.const.ACCOUNT_OWNER eq 'true'}
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="company">{$lang.entry_owner}</label>
										<div class="col-sm-5">
											<input type="text" value="{$entry.entry_owner}" class="form-control" id="owner" name="owner" placeholder="{$lang.entry_owner}" />
										</div>
									</div>
								{/if}

								{if $smarty.const.ACCOUNT_VAT_ID eq 'true'}
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="company">{$lang.entry_vat_id}</label>
										<div class="col-sm-5">
											<input type="text" value="{$entry.entry_vat_id}" class="form-control" id="vat_id" name="vat_id" placeholder="{$lang.entry_vat_id}" />
										</div>
									</div>
								{/if}							
							{/if}

									<hr />	
									<h3>{$lang.category_address}</h3>
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="street_address">{$lang.entry_street_address} *</label>
										<div class="col-sm-5">
											<input type="text" value="{$entry.entry_street_address}" class="form-control" id="street_address" name="street_address" placeholder="{$lang.entry_street_address}" />
										</div>
									</div>
							
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="postcode">{$lang.entry_post_code} *</label>
										<div class="col-sm-5">
											<input type="text" value="{$entry.entry_postcode}" class="form-control" id="postcode" name="postcode" placeholder="{$lang.entry_post_code}" />
										</div>
									</div>	

									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="city">{$lang.entry_city} *</label>
										<div class="col-sm-5">
											<input type="text" value="{$entry.entry_city}" class="form-control" id="city" name="city" placeholder="{$lang.entry_city}" />
										</div>
									</div>
							
								{if $smarty.const.ACCOUNT_STATE eq 'true'}
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="state">{$lang.entry_state} *</label>
										<div class="col-sm-5">
											{oos_get_zone_name country_id=$entry.entry_country_id zone_id=$entry.entry_zone_id default_zone=$entry.entry_state}
										</div>
									</div>
								{/if}
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="country">{$lang.entry_country} *</label>
										<div class="col-sm-5">
											{oos_get_country_list name=country selected=$entry.entry_country_id}
										</div>
									</div>							
									<hr />							
								</fieldset>
{if $smarty.get.edit}
		{if $smarty.session.customer_default_address_id != $entry_id }
							<div class="form-group">
								<div class="col-sm-5 col-sm-offset-4">
									<div class="checkbox">
										<label class="checkbox nomargin">
											<input type="checkbox" id="primary" name="primary" value="on" />{$SET_AS_PRIMARY}
										</label>
									</div>
								</div>
							</div>	
		{/if}




<input type="hidden" name="action" value="update">
<input type="hidden" name="entry_id" value="{$entry_id}">

<a href="{html_href_link content=$filename.account_address_book}" class="btn btn-primary-filled" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {$lang.button_back}</a>
<a href="{html_href_link content=$filename.account_address_book_process action=remove entry_id=$entry_id}" class="btn btn-primary-filled" role="button"><i class="fa fa-times" aria-hidden="true"></i> {$lang.button_delete}</a>
<button class="btn btn-success-filled" type="submit">{$lang.button_continue}<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
{elseif $smarty.get.action eq "update"}
      <tr>
        <td><table border="0" width="100%" cellspacing="2" cellpadding="0">
          <tr>
            <td class="main"><input type="hidden" name="action" value="update"><input type="hidden" name="entry_id" value="{$entry_id}"><a href="{html_href_link content=$filename.account_address_book}" class="btn btn-primary-filled" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {$lang.button_back}</a></td>
            <td class="main" align="right"><button class="btn btn-success-filled" type="submit">{$lang.button_continue}<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button></td>
          </tr>
        </table></td>
      </tr>
    </table>	  
{else}
<input type="hidden" name="entry_id" value="{$entry_id}">


						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-4">
								<button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_save_info}</button>
							</div>
						</div>					
						
{/if}
				{/if}

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}