{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_edit connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-user" aria-hidden="true"></i>{$lang.login_block_account_edit}</a>
					<a href="{html_href_link content=$filename.account_address_book connection=SSL}" class="btn btn-default active" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1 connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1 connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper">
				
    <form name="add_entry" action="{html_get_link connection=SSL}" method="POST" role="form" onSubmit="return check_form();">
	<input type="content" name="formid" value="{$filename.account_address_book_process}">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	
	
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>{include file="phoenix/modules/address_book_details.html"}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $smarty.get.action eq "modify"}
      <tr>
        <td><table border="0" width="100%" cellspacing="2" cellpadding="0">
          <tr>
            <td class="main"><input type="hidden" name="action" value="update"><input type="hidden" name="entry_id" value="{$entry_id}"><a href="{html_href_link content=$filename.account_address_book connection=SSL}">{html_image_button image="back.gif" alt=$lang.button_back}</a></td>
            <td class="main" align="center"><a href="{html_href_link content=$filename.account_address_book_process action=remove entry_id=$entry_id connection=SSL}">{html_image_button image="delete.gif" alt=$lang.button_delete}</a></td>
            <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.button_continue}</td>
          </tr>
        </table></td>
      </tr>
{elseif $smarty.get.action eq "update"}
      <tr>
        <td><table border="0" width="100%" cellspacing="2" cellpadding="0">
          <tr>
            <td class="main"><input type="hidden" name="action" value="update"><input type="hidden" name="entry_id" value="{$entry_id}"><a href="{html_href_link content=$filename.account_address_book connection=SSL}">{html_image_button image="back.gif" alt=$lang.button_back}</a></td>
            <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.button_continue}</td>
          </tr>
        </table></td>
      </tr>
{else}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><a href="{$back_link}">{html_image_button image="back.gif" alt=$lang.button_back}</a></td>
            <td align="right" class="main"><input type="hidden" name="entry_id" value="{$entry_id}"><input type="hidden" name="action" value="process">{html_image_submit image="continue.gif" alt=$lang.button_continue}</td>
          </tr>
        </table></td>
      </tr>
{/if}
    </table>
    </form>


				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}