{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">

    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">
    <form name="add_entry" action="{html_get_link connection=SSL}" method="post" onSubmit="return check_form();">
	<input type="content" name="formid" value="{$filename.account_address_book_process}">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	
	
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>{include file="phoenix/modules/address_book_details.html"}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $smarty.get.action eq "modify"}
      <tr>
        <td><table border="0" width="100%" cellspacing="2" cellpadding="0">
          <tr>
            <td class="main"><input type="hidden" name="action" value="update"><input type="hidden" name="entry_id" value="{$entry_id}"><a href="{html_href_link content=$filename.account_address_book connection=SSL}">{html_image_button image="back.gif" alt=$lang.button_back}</a></td>
            <td class="main" align="center"><a href="{html_href_link content=$filename.account_address_book_process action=remove entry_id=$entry_id connection=SSL}">{html_image_button image="delete.gif" alt=$lang.button_delete}</a></td>
            <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.button_continue}</td>
          </tr>
        </table></td>
      </tr>
{elseif $smarty.get.action eq "update"}
      <tr>
        <td><table border="0" width="100%" cellspacing="2" cellpadding="0">
          <tr>
            <td class="main"><input type="hidden" name="action" value="update"><input type="hidden" name="entry_id" value="{$entry_id}"><a href="{html_href_link content=$filename.account_address_book connection=SSL}">{html_image_button image="back.gif" alt=$lang.button_back}</a></td>
            <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.button_continue}</td>
          </tr>
        </table></td>
      </tr>
{else}
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><a href="{$back_link}">{html_image_button image="back.gif" alt=$lang.button_back}</a></td>
            <td align="right" class="main"><input type="hidden" name="entry_id" value="{$entry_id}"><input type="hidden" name="action" value="process">{html_image_submit image="continue.gif" alt=$lang.button_continue}</td>
          </tr>
        </table></td>
      </tr>
{/if}
    </table>
    </form>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">

    </table></td>
  </tr>
</table>
<!-- body_eof //-->
{include file="phoenix/system/_footer.html"}