{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

	<!-- start content -->
	<section id="content">
	<div class="container">
	    <div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="sign-form">
					<h3 class="first-child">{$lang.heading_admin_login}</h3>
					<hr>
					{if ( $login_result_values.man_key2 eq $newkey2 and $login_result_values.status != 0 ) }
					<form role="form" name="admin_login" action="{html_get_link connection=SSL}" method="post">
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="login_process">
						<input type="hidden" name="content" value="{$filename.admin_login}">
						<input type="hidden" name="email_address" value="{$email_address}">
						<input type="hidden" name="keya" value="{$verif_key}">
						<input type="hidden" name="keyb" value="{$newkey2}">
	
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="email" class="form-control" id="email" placeholder="{$email_address}" data-original-title="" title="">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input type="text" class="form-control" id="key" placeholder="{$newkey2}" data-original-title="" title="">
					</div>
					<br>
					<button type="submit" class="btn btn-color">{$lang.button_login}</button>
					<hr>
					</form>
					{/if}
				</div>
			</div>
		</div><!-- .row -->
	</div><!--end container-->
	</section>
	<!-- end content -->

{include file="phoenix/system/_footer.html"}