{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix productsContent">
	<div class="container">  
		<div class="row">

			<!-- left column -->
			<div class="col-lg-9 col-md-9 col-sm-9">
	
				<div class="clearfix shop-list-options margin-bottom-20">
					<!-- Pagination -->
					<div class="nomargin float-right">
						{$pagination}
					</div>
					<!-- /Pagination -->
				</div>

				<ul class="shop-item-list row list-inline-item nomargin">
				{section name=i loop=$products_new}
					<!-- ITEM -->
					<li class="col-lg-12">

						<div class="shop-item clearfix">

							<div class="thumbnail">
								<!-- product image -->
								<a class="shop-item-image" href="{product_link products_id=$products_new[i].id}">
									{small_product_image image=$products_new[i].image alt=$products_new[i].name|strip_tags}
								</a>
								<!-- /product image -->
							</div>

										
							<div class="shop-item-summary">
								<h2><a href="{product_link products_id=$products_new[i].id}">{$products_new[i].name}</a></h2>
							{if ($smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true')}
								<p>
									{$lang.text_date_added}{$products_new[i].date_added|oos_date_short}
								</p>
							{/if}

							{if $products_new[i].manufacturer != ''}
								<p>
									{$lang.text_manufacturer} {$products_new[i].manufacturer}
								</p>
							{/if}
											
								<p><!-- product short description -->
									{$products_new[i].products_description}
								</p><!-- /product short description -->

								<!-- price -->
								<div class="shop-item-price">
									{if (!empty($products_new[i].new_product_special_price))}
										{$lang.text_price} <s>{$products_new[i].new_product_price}{$products_new[i].new_product_units}</s><br>
										{if $products_new[i].products_base_price != 1}<s>{$lang.text_products_base_price}: <span class="base_price">{$products_new[i].new_products_base_unit} = {$products_new[i].new_base_product_price}</span></s><br>{/if}

										<span class="special_price">{$lang.text_price} {$products_new[i].new_product_special_price}{$products_new[i].products_units}</span><br>
										{if $products_new[i].products_base_price != 1}<span class="special_base_price">{$lang.text_products_base_price}: {$products_new[i].new_products_base_unit} = {$products_new[i].new_base_product_special_price}</span><br>{/if}
									{else}
										{if $products_new[i].new_max_product_discount != 0}
											{$lang.text_price} <s>{$products_new[i].new_product_price}</s> -{$products_new[i].new_max_product_discount}%<br>
											<span class="discount_price">{$products_new[i].new_product_discount_price}{$products_new[i].new_product_units}</span><br>
											{if $products_new[i].products_base_price != 1}<span class="discount_base_price">{$lang.text_products_base_price}: {$products_new[i].new_products_base_unit} = {$products_new[i].new_base_product_special_price}</span><br>{/if}
										{else}
											{$lang.text_price} {$products_new[i].new_product_price}{$products_new[i].new_product_units}<br>
											{if $products_new[i].products_base_price != 1}<span class="base_price">{$lang.text_products_base_price}: {$products_new[i].new_products_base_unit} = {$products_new[i].new_base_product_price}</span><br>{/if}
										{/if}
									{/if}
								</div>
								<!-- /price -->

							{if $myUser.show_price eq 1 }
								<!-- buttons -->
								<div class="shop-item-buttons">
									<a class="btn btn-secondary" href="{html_href_link content=$filename.products_new action=buy_now products_id=$products_new[i].id}" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i> {$lang.button_in_cart}</a>
									<a class="btn btn-secondary add-wishlist" href="{html_href_link content=$filename.products_new action=add_wishlist products_id=$products_new[i].id}" role="button"><i class="fa fa-heart" aria-hidden="true"></i> {$lang.button_add_wishlist}</a>
								</div>
								<!-- /buttons -->
							{/if}
							</div>

						</div>
					</li>
					<!-- /ITEM -->
				{/section}
				</ul>
				
				<span class="pangv .margin-top-30">{$pangv}</span>
				<hr />

				<!-- Pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- /Pagination -->
		
			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
				<div class="card-group" id="accordion-v{$panel@iteration}">
					{$panel.content}
				</div><!-- .card group-->
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->


{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}