{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper clearfix">
				
<form name="cart_quantity" action="{html_get_link}" method="POST" role="form" enctype="multipart/form-data">
	<input type="hidden" name="action" value="add_product">
	<input type="hidden" name="content" value="{$page_file}">
{if $smarty.get.edit}
	<input type="hidden" name="edit_product" value="{$smarty.get.products_id}">
{/if}
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}
<table border="0" width="100%" cellspacing="0" cellpadding="0">

      <tr>
        <td height="5"></td>
      </tr>
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td class="main">{$product_info.products_description|stripslashes}
<br>
    </td>
    <td align="right" valign="top" class="smallText">
{if $product_info.products_image != '' }
[$product_info.products_image}
  {if $smarty.const.LIGHTBOX eq 'true'}
    <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_image}" rel="lightbox" title= {$product_info.products_name} ><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_image}" alt={$product_info.products_name|escape:"quotes"} border="0"></a><br>
    <br><br><a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_image}" rel="lightbox" title= {$product_info.products_name} >zoom.gif{$lang.text_click_to_enlarge}</a>
  {/if}
{/if}


{if $oEvent->installed_plugin('wishlist')}
<br>{html_image_submit image="wishlist.gif" alt=$lang.button_in_wishlist name="button[wishlist][]"}
{/if}
            </td>
          </tr>
        </table></td>
       </tr>
       </tr>
       <tr>
         <td height="10"></td>
       </tr>
       <tr>
         <td>{$options}</td>
       <tr>
{if $reviews_total gt 0 }
      <tr>
        <td class="main"><br>{$lang.text_current_reviews}&nbsp;{$reviews_total}</td>
      </tr>
{/if}
{if $product_info.products_url != '' }
      <tr>
        <td class="main"><br>{$redirect|string_format:$lang.text_more_information}</td>
      </tr>
{/if}
{if ($product_info.products_date_available > $oosDate) }
      <tr>
        <td align="center" class="smallText"><br>{$product_info.products_date_available|oos_date_long|string_format:$lang.text_date_available}</td>
      </tr>
{else}
  {if $smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true'}
      <tr>
        <td align="center" class="smallText"><br>{$product_info.products_date_added|oos_date_long|string_format:$lang.text_date_added}</td>
      </tr>
  {/if}
{/if}

{if $discounts_price eq 'true'}
  {include file="phoenix/products/discounts_price.html"}
{/if}

      <tr>
        <td height="10"></td>
      </tr>
{if $smarty.session.error_cart_msg != ''}
      <tr>
        <td colspan="2" align="right" class="QtyErrors"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="errorBox"><img src="{$smarty.const.OOS_ICONS}warning.gif" border="0" alt="{$lang.icon_warning}" width="10" height="10">{$smarty.session.error_cart_msg}</td>
          </tr>
        </table></td>
      </tr>
{/if}
      <tr>
        <td align="right" class="main">{$lang.products_order_qty_text} <input type="text" name="cart_quantity" value="{$product_info.products_quantity_order_min|quantity}" size="3">
   {if $product_info.products_quantity_order_min > 1 }
     {$lang.products_order_qty_min_text} {$product_info.products_quantity_order_min|quantity}
   {/if}
   {if $product_info.products_quantity_order_units > 1 }
     {$lang.products_order_qty_unit_text} {$product_info.products_quantity_order_units|quantity}
   {/if}
        </td>
      </tr>
      <tr>
       <td><br><table border="0" width="100%" cellspacing="0" cellpadding="0">
         <tr>

        <td class="main">
{if $oEvent->installed_plugin('reviews')}
   {if $reviews_total gt 0 }
        <a href="{html_href_link content=$filename.product_reviews products_id=$product_info.products_id}">{html_image_button image="reviews.gif" alt=$lang.button_reviews}</a></td>
   {else}
        <a href="{html_href_link content=$filename.product_reviews_write products_id=$product_info.products_id}">{html_image_button image="write_review.gif" alt=$lang.button_write_review}</a></td>
   {/if}
        <td align="center" class="main">
{/if}

{if $cart_count_contents gt 0 }
   {if $myUser.show_price eq 1 }
        <a href="{html_href_link content=$filename.checkout_payment connection=SSL}">{html_image_button image="checkout.gif" alt=$lang.button_checkout}</a></td>
   {/if}
{/if}
        <td align="right" class="main"><input type="hidden" name="products_id" value="{$product_info.products_id}">

{if $myUser.show_price eq 1 }
	<button class="btn btn-success-filled pull-right" type="submit"><i class="fa fa-shopping-cart"></i> {$lang.button_in_cart}</button>
{else}
   <a href="{html_href_link content=$filename.login connection=SSL}">{html_image_button image="sign_in.gif" alt=$lang.button_login}</a>
{/if}</td>
          </tr>
        </table></td>
      </tr>
</table>
</form>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
{if $numrows > 1 }
   {$pagination}
{/if}
<tr>
	<td>{include file="phoenix/products/slavery_product_listing.html"}</td>
</tr>
{if $numrows > 1 }
   {$pagination}
{/if}
<tr>
	<td><br>{$xsell_products}</td>
</tr>
<tr>
	<td><br>{$up_sell_products}</td>
</tr>
<tr>
	<td><br>{$also_purchased_products}</td>
</tr>

</table>

				</div>
			</div>
		</div>
	</div>
</section>

{if $smarty.const.NEWSLETTER eq true}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}