{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
		
			<!-- left column -->
			<div class="col-lg-9 col-md-9 col-sm-9">

			{if $valid_product eq false }
				<div class="alert alert-danger" role="alert">{$lang.error_invalid_product}</div>
			{else}				
	
	
				<div class="thumbnail">
					<!-- product image -->
					<a class="shop-item-image" href="{product_info_link products_id=$product_info.products_id}">
						{small_product_image image=$product_info.products_image alt=$product_info.products_name|strip_tags}
					</a>
					<!-- /product image -->
				</div>
				
				<h2><a href="{product_info_link products_id=$product_info.products_id}">{$product_info.products_name}</a></h2>
				

	
				<!-- Review Form-->
				<form name="reviews-write" id="reviews-write" class="form-horizontal" action="{html_get_link connection=SSL}" method="POST">
					<fieldset>
						<input type="hidden" name="action" value="reviews-write-process">
						<input type="hidden" name="content" value="{$filename.product_reviews_write}">					
						<input type="hidden" name="products_id" value="{$product_info.products_id}">
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}

						<section>
							<div class="col-md-5">
								<strong>{$lang.sub_title_rating}</strong> <span class="pull-right">{$lang.text_bad}</span>
							</div>

							<div class="col-md-2 text-center">
								<select id="product-rating" name="rating" autocomplete="off">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>	
								</select>
							</div>

							<div class="col-md-5">
								<span class="pull-left">{$lang.text_good}</span>			  
							</div>										
						</section>				
						
						<section>
							<div class="col-md-12">
								<label for="headline">{$lang.subject} *</label>
								<input type="text" value="{$smarty.post.headline|stripslashes}" class="form-control" name="headline" id="headline" placeholder="{$lang.headline_rating}">
							</div>
						</section>

						<section>
							<div class="col-md-12">
								<label for="review">{$lang.sub_title_review} *</label>
								<textarea maxlength="10000" rows="8" class="form-control" name="review" id="review" placeholder="{$lang.review_placeholder}">{$smarty.post.review|stripslashes}</textarea>
								<p class="note">{$lang.text_no_html}</p>
							</div>
						</section>
																	
					</fieldset>

					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-primary" type="submit"><i class="fa fa-commenting" aria-hidden="true" ></i> {$lang.button_submit_a_review}</button>
						</div>
					</div>
				</form>			
			{/if}			

			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
				<div class="panel-group" id="accordion-v{$panel@iteration}">
					{$panel.content}
				</div><!-- .panel group-->
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->


{if $smarty.const.NEWSLETTER eq true}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}