{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper clearfix">

				<div class="clearfix shop-list-options margin-bottom-20">
					<!-- Pagination -->
					<div class="nomargin pull-right">
						{$pagination}
					</div>
					<!-- /Pagination -->
				</div>
				
      <table border="0" cellspacing="0" cellpadding="2">
{section name=i loop=$oos_reviews_array}
  <tr>
    <td valign="top" class="main"><a href="{html_href_link content=$filename.product_reviews_info products_id=$oos_reviews_array[i].products_id reviews_id=$oos_reviews_array[i].reviews_id}">{small_product_image image=$oos_reviews_array[i].products_image alt=$oos_reviews_array[i].products_name|strip_tags}</a></td>
    <td valign="top" class="main"><a href="{html_href_link content=$filename.product_reviews_info products_id=$oos_reviews_array[i].products_id reviews_id=$oos_reviews_array[i].reviews_id}"><strong><u>{$oos_reviews_array[i].products_name}</u></strong></a>&nbsp;{$oos_reviews_array[i].authors_name|string_format:$lang.text_review_by}&nbsp;({$oos_reviews_array[i].word_count|string_format:$lang.text_review_word_count})<br>{$oos_reviews_array[i].review}<br><br><i> {$lang.text_review_rating}<img src="{$smarty.const.OOS_IMAGES}stars_{$oos_reviews_array[i].rating}.gif" border="0" alt="{$oos_reviews_array[i].rating|string_format:$lang.text_of_5_stars}" width="59" height="11"> {$oos_reviews_array[i].rating|string_format:$lang.text_of_5_stars}<br>{$lang.text_review_date_added} {$oos_reviews_array[i].date_added}</i></td>
  </tr>
  <tr>
    <td colspan="2" class="main">&nbsp;</td>
  </tr>
{sectionelse}
				<div class="alert alert-info" role="alert">
					{$lang.text_no_reviews}
				</div>
{/section}
        </table>
		
		
				<span class="pangv .margin-top-30">{$pangv}</span>
				<hr />

				<!-- Pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- /Pagination -->


				</div>
			</div>
		</div>
	</div>
</section>
	
{include file="phoenix/system/_footer.html"}