{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

	<!-- start content -->
	<section id="content">
	<div class="container">  
		<div class="row">

			<!-- left column -->
			<div class="col-lg-9 col-md-9">
			{if $image}
				<div class="row">			
					<div class="display">
			    	   <img src="{$image}" title="{$category.categories_name}" />
					</div>
				</div>
			{/if}		
			
				<div class="row margin-bottom-5">
					<div class="col-sm-4 result-category">{$category.categories_name}
					</div>
					<div class="col-sm-8">
					
				{$product_filter_select}
					
					</div>
				</div>			
			
{include file="phoenix/products/_product_listing.html"}			

			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
				<div class="card-group" id="accordion-v{$panel@iteration}">
					{$panel.content}
				</div><!-- .card group-->
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
	</section>
	<!-- end content -->



    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
  <form>
    <tr>
      <td class="pageHeading">{$heading_title}</td>
{$product_filter_select}
    </tr>
  </form>
</table></td>
      </tr>
{if $category.categories_description != '' }
      <tr>
        <td height="10"></td>
      </tr>
       <tr>
         <td class="category_desc">{$category.categories_description}</td>
       </tr>
{/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>{include file="phoenix/products/_product_listing.html"}</td>
      </tr>
    </table>
	
{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}
	
{include file="phoenix/system/_footer.html"}