{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

	<!-- start content -->
	<section id="content">
	<div class="container">  
		<div class="row">

			<!-- left column -->
			<div class="col-lg-9 col-md-9">
			{if $category.categories_description != '' }
				<div class="row">
					<div class="category-info">
						<div class="image">
							<img src="{$category.image}" alt="{$heading_title}">
						</div>
						<div class="description">
							<p>{$category.categories_description}</p>
						</div>
					</div>			
				</div>
			{/if}
				<div class="row categories">
				{foreach item=category from=$categories}
					<div class="col-md-4 col-sm-6">
						<div class="category">
							<div class="image">
								<a href="{html_href_link content=$filename.shop category=$category.path}">
									<img src="{$category.image}" alt="{$category.name}" class="img-fluid image1">
								</a>
							</div><!-- .image -->
							<div class="text">
								<h3><a href="{html_href_link content=$filename.shop category=$category.path}">{$category.name}</a></h3> 
							</div>
						</div>
					</div><!-- .category -->
				{/foreach}				
				</div><!-- .categories -->

				{$new_products}
				
			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3 col-sm-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
				<div class="card-group" id="accordion-v{$panel@iteration}">
					{$panel.content}
				</div><!-- .card group-->
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
	</section>
	<!-- end content -->
	
{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}	