{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper clearfix">
				
				<div class="clearfix shop-list-options margin-bottom-20">
					<!-- Pagination -->
					<div class="nomargin float-right">
						{$pagination}
					</div>
					<!-- /Pagination -->
				</div>

				<ul class="shop-item-list row list-inline nomargin">	
				
<table border="0" width="100%" cellspacing="0" cellpadding="2">
{section name=i loop=$oos_specials_array}

     <td width="50%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
         <td valign="top" align="left" width="{$smarty.const.SMALL_IMAGE_WIDTH}" class="smallText"><img src="{$theme_image}/trans.gif" border="0" alt=" " width="{$smarty.const.SMALL_IMAGE_WIDTH}" height="5"><br>
           <a href="{product_info_link products_id=$oos_specials_array[i].products_id}">{small_product_image image=$oos_specials_array[i].products_image alt=$oos_specials_array[i].products_name|strip_tags}</a><br>
         </td>
         <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
         <td valign="top" class="smallText"><a href="{product_info_link products_id=$oos_specials_array[i].products_id}"><strong>{$oos_specials_array[i].products_name}</strong></a><br>
           <br>{$oos_specials_array[i].products_description|truncate:120:" [...]":false|close_tags}<br>
         </td>
       </tr>
       <tr>
         <td valign="bottom" class="smallText">
           <s>{$oos_specials_array[i].products_price}</s><br>
           {$oos_specials_array[i].products_special_price}<br>
         </td>
         <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
         <td valign="bottom" align="right" >{if $myUser.show_price eq 1 }<a href="{html_href_link content=$page_file action=buy_now products_id=$oos_specials_array[i].products_id}" class="btn btn-primary-filled" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i> {$lang.button_in_cart}</a>{/if}
         <img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1">
         <a href="{product_info_link products_id=$oos_specials_array[i].products_id}" class="btn btn-primary-filled" role="button">{$lang.button_hp_more}</a>
         </td>
       </tr>
        <tr>
          <td valign="top" colspan="3">
{if $oos_specials_array[i].products_base_price != 1}
  <span class="smallText">{$lang.text_products_base_price}: </span>
  <span class="special_base_price">{$oos_specials_array[i].products_base_unit} = {$oos_specials_array[i].base_product_special_price}</span></s><br>
{/if}
          </td>
        </tr>
     </table></td>


  {/section}
 </table> 
				</ul>
				
				<span class="pangv .margin-top-30">{$pangv}</span>
				<hr />

				<!-- Pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- /Pagination -->

				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}