{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix">
	<div class="container">  
		<div class="row">

			<!-- left column -->
			<div class="col-lg-9 col-md-9 col-sm-9">
	
				<div class="clearfix shop-list-options m-mb-20">
					<!-- pagination -->
					<div class="m-0 float-right">
						{$pagination}
					</div>
					<!-- end pagination -->
				</div>

				<ul class="shop-item-list row list-inline m-0">	
				{section name=i loop=$specials}

					<!-- item -->
					<li class="col-lg-4 col-sm-4">

						<div class="shop-item">

							<div class="thumbnail">
								<!-- product image(s) -->
								<a class="shop-item-image" href="{product_link products_id=$specials[i].products_id}">
									{small_product_image image=$specials[i].products_image alt=$specials[i].products_name|strip_tags}
								</a>
								<!-- end product image(s) -->

								{if $myUser.show_price eq 1 }			
								<!-- hover buttons -->
								<div class="shop-option-over">
									<a class="btn btn-default add-wishlist" href="{html_href_link content=$filename.specials action=add_wishlist products_id=$specials[i].products_id page=$page}" data-item-id="1" data-toggle="tooltip" title="{$lang.button_add_wishlist}"><i class="fa fa-heart p-0" aria-hidden="true"></i></a>
								</div>
								<!-- end hover buttons -->
								{/if}
								
								<!-- product more info -->
								<div class="shop-item-info">
									<span class="badge badge-success">NEW</span>
									<span class="badge badge-danger">SALE</span>
								</div>
								<!-- end product more info -->
										
											
							</div>
										
							<div class="shop-item-summary text-center">
								<h2><a href="{product_link products_id=$specials[i].products_id}">{$specials[i].products_name}</a></h2>
											
								<!-- price -->
								<div class="shop-item-price">
									<s>{$specials[i].products_price}</s>
									{$specials[i].products_special_price}
																		
									{if $specials[i].products_base_price != 1}
										<span class="base_price">{$lang.text_products_base_price}: </span>
										<span class="special_base_price">{$specials[i].products_base_unit} = {$specials[i].base_product_special_price}</span><br>
									{/if}								
									
								</div>
								<!-- end price -->											
																				
										
								{if $myUser.show_price eq 1 }
								<!-- buttons -->
								<div class="shop-item-buttons text-center">
									<a class="btn btn-default" href="{html_href_link content=$filename.specials action=buy_now page=$page products_id=$specials[i].products_id}" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i></i> {$lang.button_in_cart}</a>
								</div>
								<!-- end buttons -->
								{/if}
							</div>
						
						</div>

					</li>
					<!-- end item -->
					
				{/section}
				</ul>
				
				<span class="pangv .margin-top-30">{$pangv}</span>
				<hr />
				<!-- pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- end pagination -->
			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3 col-sm-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
				<div class="card-group" id="accordion-v{$panel@iteration}">
					{$panel.content}
				</div><!-- .card group-->
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->

{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}