{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper clearfix">
				
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td><img src="{$theme_image}trans.gif" border="0" alt=" " width="100%" height="10"></td>
      </tr>
{if isset($smarty.get.email) && ($smarty.get.email eq 'nonexistent')}
       <tr>
         <td class="smallText">{$lang.text_no_email_address_found}</td>
       </tr>
{/if}
      <tr>
        <td>
<form name="subscription_center" action="{html_href_link content=$filename.subscription_center action=process connection=SSL}" method="POST" role="form">
		
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	
		<br><table border="0" width="100%" cellspacing="0" cellpadding="3">
          <tr>
            <td align="right" class="main">{$lang.entry_email_address}</td>
            <td class="main"><input type="text" name="email_address" maxlength="96" value="{$smarty.post.email_address}"></td>
          </tr>
          <tr>
            <td colspan="2"><br><table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td valign="top"></td>
                <td align="right" valign="top"><button class="btn btn-success-filled" type="submit">{$lang.button_continue}<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button></td>
              </tr>
            </table></td>
          </tr>
        </table></form></td>
      </tr>
    </table>

				</div>
			</div>
		</div>
	</div>
</section>	
	
{include file="phoenix/system/_footer.html"}