{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_edit connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-user" aria-hidden="true"></i>{$lang.login_block_account_edit}</a>
					<a href="{html_href_link content=$filename.account_address_book connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1 connection=SSL}" class="btn btn-default active" role="button"><i class="fa fa-list-inline-item"" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist-inline-item" page=1 connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist-inline-item"}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper">


    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="main">{$lang.text_product_notifications_introduction}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
{if $global_status.global_product_notifications eq '1' }
          <tr>
            <td class="main"><strong>{$lang.heading_global_product_notifications}</strong></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_global_product_notifications_enabled}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_global_product_notifications_description_enabled}</td>
          </tr>
          <tr>
            <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="20"></td>
          </tr>
          <form name="global" action="{html_href_link content=$filename.product_notifications action=global_notify connection=SSL}" method="POST" role="form">
          <tr>
            <td class="main"><input type="checkbox" name="global" value="enable" checked="checked">{$lang.text_enable_global_notifications}</td>
          </tr>
          <tr>
            <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="20"></td>
          </tr>
          <tr>
            <td class="main"><button class="btn btn-success-filled" type="submit">{$lang.button_update}</button></td>
          </tr>
          </form>
{else}
          <tr>
            <td class="main"><strong>{$lang.heading_global_product_notifications}</strong></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_global_product_notifications_disabled}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_global_product_notifications_description_disabled}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <form name="global" action="{html_href_link content=$filename.product_notifications action=global_notify connection=SSL}" method="POST" role="form">
          <tr>
            <td class="main"><input type="checkbox" name="global" value="enable">{$lang.text_enable_global_notifications}</td>
          </tr>
          <tr>
            <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="20"></td>
          </tr>
          <tr>
            <td class="main"><button class="btn btn-success-filled" type="submit">{$lang.button_update}</button></td>
          </tr>
          </form>
          <tr>
            <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="100%" height="20"></td>
          </tr>
          <tr>
            <td class="main"><strong>{$lang.heading_product_notifications}</strong></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main">{$lang.text_product_notifications_list-inline-item"}</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <form name="notifications" action="{html_href_link content=$filename.product_notifications action=update_notifications connection=SSL}" method="POST" role="form">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}

{section name=i loop=$products_array}
      <tr>
       <td class="main"><input type="checkbox" name="products[]" value="{$products_array[i].products_id}">&nbsp;{$products_array[i].products_name}</td>
       </tr>
{/section}
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td class="main"><button class="btn btn-success-filled" type="submit">{$lang.button_remove_notifications}</button></td>
          </tr>
          </form>
{/if}
        </table></td>
      </tr>
    </table>



				</div>
			</div>
		</div>
	</div>
</section>
	
{include file="phoenix/system/_footer.html"}