{include file="phoenix/system/_header.tpl"}

{include file="phoenix/system/_breadcrumbs.tpl"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.tpl"}
    {/foreach}
{/if}

	<section id="content">
	<div class="container">
	    <div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="sign-form">
					<h3 class="first-child">{$lang.heading_title}</h3>
					<hr>
					<form role="form" name="login" action="{html_get_link connection=SSL}" method="post">
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="process">
						<input type="hidden" name="content" value="{$filename.login}">

						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="email_address" name="email_address" class="form-control" id="email_address" placeholder="{$lang.entry_email_address}" data-original-title="" title="">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" name="password" class="form-control" id="InputPassword" placeholder="{$lang.entry_password}" data-original-title="" title="">
						</div>
						<br>
						<button type="submit" class="btn btn-color">{$lang.button_login}</button>
						<hr>
					</form>
						<p>{$lang.text_password_forgotten} <a href="{html_href_link content=$filename.password_forgotten connection=SSL}">{$lang.link_password_forgotten}</a></p>	
						<p>{$lang.text_new_customer} <a href="{html_href_link content=$filename.create_account connection=SSL}">{$lang.link_new_customer}</a></p>
				</div>
			</div>
		</div> <!-- / .row -->
	</div> <!-- / .container -->
    </section>

{include file="phoenix/system/_footer.tpl"}