{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account connection=SSL}" class="btn btn-default active" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_edit connection=SSL}" class="btn btn-default active" role="button"><i class="fa fa-user" aria-hidden="true"></i>{$lang.login_block_account_edit}</a>
					<a href="{html_href_link content=$filename.account_address_book connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1 connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1 connection=SSL}" class="btn btn-default" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper">
<!-- body //-->
<table width="870" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">

    </table></td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="100%" valign="top">

    <form name="account_edit" action="{html_href_link content=$filename.account_edit_process connection=SSL}" method="post" onSubmit="return check_form();">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}	
	
	<input type="hidden" name="action" value="process"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>
{include file="phoenix/modules/user_account_process.html"}
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"></td>
            <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.button_continue}</td>
          </tr>
        </table></td>
      </tr>
    </table>
    </form>
</td>
    <td><img src="{$theme_image}/trans.gif" border="0" alt=" " width="5" height="1"></td>
    <td width="150" valign="top"><table border="0" width="150" cellspacing="0" cellpadding="2">

    </table></td>
  </tr>
</table>

				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}