{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="innerWrapper clearfix">

				{if $snapshot > 0 }
					<div class="alert alert-danger" role="alert">
						{$login_orgin_text}
					</div>
				{/if}
					<!-- REGISTER -->
					

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Simple Form</h3>
					</div>
					<div class="panel-body">
					<form name="create_account" id="create_account" class="form-horizontal" action="{html_get_link connection=SSL}" method="POST" role="form">
						<fieldset>
							<input type="hidden" name="action" value="send">
							<input type="hidden" name="content" value="{$filename.create_account}">	
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}
							<div class="form-group">
								<label class="col-sm-4 control-label" for="firstname">{$lang.entry_first_name} *</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="firstname" name="firstname" placeholder="{$lang.entry_first_name}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label" for="lastname">{$lang.entry_last_name}</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="lastname" name="lastname" placeholder="{$lang.entry_last_name}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label" for="email">Email</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="email" name="email" placeholder="Email" />
								</div>
							</div>							
							
						{if $smarty.const.ACCOUNT_COMPANY eq 'true'}
							<div class="form-group">
								<label class="col-sm-4 control-label" for="company">{$lang.entry_company}</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="company" name="company" placeholder="{$lang.entry_company}" />
								</div>
							</div>
						{/if}							
							
							


							<div class="form-group">
								<label class="col-sm-4 control-label" for="password">Password</label>
								<div class="col-sm-5">
									<input type="password" class="form-control" id="password" name="password" placeholder="Password" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label" for="confirm_password">Confirm password</label>
								<div class="col-sm-5">
									<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-5 col-sm-offset-4">
									<div class="checkbox">
										<label>
											<input type="checkbox" id="agree" name="agree" value="agree" />Please agree to our policy
										</label>
									</div>
								</div>
							</div>
							</fieldset>
							<div class="form-group">
								<div class="col-sm-9 col-sm-offset-4">
									<button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> REGISTER</button>
								</div>
							</div>
						</form>
					</div>
				</div>
						{include file="phoenix/modules/user_account_details.html"}
								
				</div>
				<!-- /REGISTER -->

			</div>
		</div>
	</div>
</section>	
{include file="phoenix/system/_footer.html"}