{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

{if $snapshot > 0 }
<div class="alert alert-danger" role="alert">
  <a href="#" class="alert-link">...</a>
</div>
{/if}

<!-- body //-->
    <form name="account_edit" action="{html_href_link content=$filename.create_account_process connection=SSL}" method="post" onSubmit="return check_form();">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}
	
	<input type="hidden" name="action" value="process"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
{if $snapshot > 0 }
      <tr>
        <td class="smallText"><br>{$login_orgin_text}</td>
      </tr>
{/if}
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>
{include file="phoenix/modules/user_account_details.html"}
        </td>
      </tr>
      <tr>
        <td align="right" class="main"><br>{html_image_submit image="continue.gif" alt=$lang.button_continue}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table>
    </form>

<!-- body_eof //-->
{include file="phoenix/system/_footer.html"}