				
								{if $smarty.const.ACCOUNT_GENDER eq 'true'}
								<div class="row">
									<div class="col-md-6 col-sm-6 m-mb-15">
										<legend class="fs-16">{$lang.entry_gender} *</legend>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="gender" value="m" checked="checked">{$lang.male}
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="gender" value="f">{$lang.female}
											</label>
										</div>											
									</div>
								</div>							
								{/if}							
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<label for="firstname">{$lang.entry_first_name} *</label>
										<input id="firstname" name="firstname" type="text" value="{$firstname}" class="form-control" />
									</div>
									<div class="col-md-6 col-sm-6">
										<label for="lastname">{$lang.entry_last_name} *</label>
										<input id="lastname" name="lastname" type="text" value="{$lastname}" class="form-control" />
									</div>
								</div>

							{if $smarty.const.ACCOUNT_COMPANY eq 'true'}
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<label for="company">{$lang.entry_company}</label>
										<input id="company" name="company" type="text" value="{$company}" class="form-control" />
									</div>
								{if $smarty.const.ACCOUNT_OWNER eq 'true'}
									<div class="col-md-6 col-sm-6">
										<label for="owner">{$lang.entry_owner}</label>
										<input id="owner" name="owner" type="text" value="{$owner}" class="form-control" />
									</div>									
								{/if}
								</div>
								{if $smarty.const.ACCOUNT_VAT_ID eq 'true'}							
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<label for="vat_id">{$lang.entry_vat_id}</label>
										<input id="vat_id" name="vat_id" type="text" value="{$vat_id}" class="form-control" />
									</div>
								</div>
								{/if}									
							{/if}								
						
								<div class="row">
									<div class="col-lg-12">
										<label for="street_address">{$lang.entry_street_address} *</label>
										<input id="street_address" name="street_address" type="text" value="{$street_address}" class="form-control" />
									</div>
								</div>
						
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<label for="postcode">{$lang.entry_post_code} *</label>
										<input id="postcode" name="postcode" type="text" value="{$postcode}" class="form-control" />
									</div>
						
								{if $smarty.const.ACCOUNT_STATE eq 'true'}	
									<div class="col-md-6 col-sm-6">
										<label for="state">{$lang.entry_state} *</label>
									{if $state_has_zones eq true}	
										<select id="state" name="state" class="form-control pointer">
											{html_options values=$zones_values output=$zones_names}
										</select>
									{else}	
										<input id="state" type="text" name="state" value="" class="form-control" />
									{/if}	
									</div>
								{/if}
								</div>

								<div class="row">
									<div class="col-md-6 col-sm-6">
										<label for="city">{$lang.entry_city} *</label>
										<input id="city" name="city" type="text" value="{$city}" class="form-control required" />
									</div>
									<div class="col-md-6 col-sm-6">
										<label for="country">{$lang.entry_country} *</label>
											{oos_get_country_list name=country selected=$store_country}
									</div>
								</div>
