{include file="oos/system/_header.tpl"}

   <form name="account_edit" action="{html_href_link content=$filename.admin_create_account_process connection=SSL}" method="post" onSubmit="return check_form();">
 {if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}  
   <input type="hidden" name="action" value="process"><input type=hidden name="keya" value="{$verif_key}"><input type=hidden name="keyb" value="{$newkey2}"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>
{include file="oos/modules/user_account_process.html"}
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main" align="right">{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
          </tr>
        </table></td>
      </tr>
    </table>
    </form>

{include file="oos/system/_footer.tpl"}