<!--  $Id: affiliate_terms.html,v 1.1 2007/06/07 11:02:55 r23 Exp $ -->
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="1" class="infoBox">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="4">
              <tr>
                <td class="infoBoxHeading">{$lang.heading_affiliate_program_title}</td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="4" class="infoBoxContents">
              <tr>
                <td class="smallText">{$lang.text_information}</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td width="50%" align="right" valign="top"><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_signup connection=SSL}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
            <td width="50%" align="right" valign="top"><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_affiliate connection=SSL}">{html_image_button image="login.gif" alt=$lang.image_button_login}</a></td>
          </tr>
        </table></td>
      </tr>
    </table>
