        <form name="affiliate_signup" action="{html_href_link modul=$modules.affiliate file=$filename.affiliate_details connection=SSL}" method="post" onSubmit="return check_form();"><input type="hidden" name="action" value="process"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>
{include file="$theme_set/modules/affiliate_account_details.html"}
        </td>
      </tr>
      <tr>
        <td align="right" class="main"><br />{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
      </tr>
    </table>
    </form>
