<!--  $Id: links_details.html,v 1.1 2007/06/15 15:05:22 r23 Exp $ -->
<table border="0" width="100%" cellspacing="0" cellpadding="2">
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_links_title}</td>
            <td class="main">&nbsp;
        {if $error eq 'true'}
          {if $links_title_error eq 'true'}
              <input type="text" name="links_title" value="{$links_title}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_links_title_error}</font></small>
          {else}
              {$links_title}<input type=hidden name="links_title" value="{$links_title}">
          {/if}
        {else}
             <input type="text" name="links_title" value="">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</small></font>
        {/if}
             </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_links_url}</td>
            <td class="main">&nbsp;
        {if $error eq 'true'}
          {if $links_url_error eq 'true'}
              <input type="text" name="links_url" value="{$links_url}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_links_url_error}
<script language="javascript"><!--
document.write('<a href="javascript:couponpopupWindow(\'{html_href_link modul=$modules.links file=$filename.popup_links_help}\')">{$lang.text_links_help_link}</a>');
//--></script>
<noscript></noscript>
 </font></small>
          {else}
              {$links_url}<input type=hidden name="links_url" value="{$links_url}">
          {/if}
        {else}
             <input type="text" name="links_url" value="http://">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</small></font>
        {/if}
             </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_links_category}</td>
            <td class="main">&nbsp;{$links_category_pull_down_menu}</td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_links_description}</td>
            <td class="main">&nbsp;
          {if $error eq 'true'}
            {if $links_description_error eq 'true'}
                <textarea name="links_description" wrap="soft" cols="20" rows="5">{$links_description|stripslashes}</textarea>&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_links_description_error}</font></small>
            {else}
                {$links_description}<input type=hidden name="links_description" value="{$links_description}">
            {/if}
          {else}
               <textarea name="links_description" wrap="soft" cols="20" rows="5"></textarea>&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</small></font>
          {/if}
            </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_links_image}</td>
            <td class="main">&nbsp;
        {if $error eq 'true'}
          {if $links_image_error eq 'true'}
              <input type="text" name="links_image" value="{$links_image}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_links_image_error}
<script language="javascript"><!--
document.write('<a href="javascript:couponpopupWindow(\'{html_href_link modul=$modules.links file=$filename.popup_links_help}\')">{$lang.text_links_help_link}</a>');
//--></script>
<noscript></noscript>
 </font></small>
          {else}
              {$links_image}<input type=hidden name="links_image" value="{$links_image}">
          {/if}
        {else}
             <input type="text" name="links_image" value="http://">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</small></font>
        {/if}
             </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br />{$lang.category_contact}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_links_contact_name}</td>
            <td class="main">&nbsp;
        {if $error eq 'true'}
          {if $links_contact_name_error eq 'true'}
              <input type="text" name="links_contact_name" value="{$links_contact_name}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_links_contact_name_error}</font></small>
          {else}
              {$links_contact_name}<input type=hidden name="links_contact_name" value="{$links_contact_name}">
          {/if}
        {else}
             <input type="text" name="links_contact_name" value="">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</small></font>
        {/if}
             </td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_email_address}</td>
            <td class="main">&nbsp;
        {if $error eq 'true'}
          {if $links_contact_email_error eq 'true'}
              <input type="text" name="links_contact_email" value="{$links_contact_email}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_email_address_check_error}</font></small>
          {else}
              {$links_contact_email}<input type=hidden name="links_contact_email" value="{$links_contact_email}">
          {/if}
        {else}
             <input type="text" name="links_contact_email" value="">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</small></font>
        {/if}
             </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="formAreaTitle"><br />{$lang.category_reciprocal}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_links_reciprocal_url}</td>
            <td class="main">&nbsp;
        {if $error eq 'true'}
          {if $links_reciprocal_url_error eq 'true'}
              <input type="text" name="links_reciprocal_url" value="{$links_reciprocal_url}">&nbsp;&nbsp;<small><font color="#FF0000">{$lang.entry_links_reciprocal_url_error}
<script language="javascript"><!--
document.write('<a href="javascript:couponpopupWindow(\'{html_href_link modul=$modules.links file=$filename.popup_links_help}\')">{$lang.text_links_help_link}</a>');
//--></script>
<noscript></noscript>
{$lang.text_links_help_link}
 </font></small>
          {else}
              {$links_reciprocal_url}<input type=hidden name="links_reciprocal_url" value="{$links_reciprocal_url}">
          {/if}
        {else}
             <input type="text" name="links_reciprocal_url" value="http://">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</small></font>
        {/if}
             </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

