<!--  $Id: redeem.html,v 1.1 2007/06/15 15:05:22 r23 Exp $ -->
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
       <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{$lang.text_information}</td>
          </tr>
          <tr>
            <td class="main">{$message}</td>
          </tr>
          <tr>
            <td align="right"><a href="{html_href_link modul=$modules.main file=$filename.main}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
          </tr>
        </table></td>
      </tr>
    </table>