$el-root: '.editor-styles-wrapper';
$el-body: '.editor-styles-wrapper';
$el-entry-content: '.editor-styles-wrapper';
$el-align-wide: '[data-align=wide]';
$el-align-full: '[data-align=full]';
$el-align-none: '[data-align=center]';
$el-align-center: '[data-align=center]';
$el-block-group: '[data-type="core/group"]';
$el-block-columns: '[data-type="core/columns"]';
$el-block-column-childs: '[data-type="core/column"] .editor-block-list__layout >';
$el-block-button: '[data-type="core/button"]';
$el-block-archives: '[data-type="core/archives"]';
$el-block-categories: '[data-type="core/categories"]';
$el-block-code: '[data-type="core/code"]';
$el-block-cover: '[data-type="core/cover"]';
$el-block-embed: '[data-type="core/embed"]';
$el-block-calendar: '[data-type="core/calendar"]';
$el-block-gallery: '[data-type="core/gallery"]';
$el-block-latest-comments: '[data-type="core/latest-comments"]';
$el-block-latest-posts: '[data-type="core/latest-posts"]';
$el-block-media-text: '[data-type="core/media-text"]';
$el-block-preformatted: '[data-type="core/preformatted"]';
$el-block-pullquote: '[data-type="core/pullquote"]';
$el-block-quote: '[data-type="core/quote"]';
$el-block-verse: '[data-type="core/verse"]';
$el-block-video: '[data-type="core/video"]';
$el-block-separator: '[data-type="core/separator"]';
$el-block-image: '[data-type="core/image"]';