$el-root: ':root';
$el-body: 'body';
$el-align-wide: '.alignwide';
$el-align-full: '.alignfull';
$el-align-none: '.alignnone';
$el-align-center: '.aligncenter';
$el-align-left: '.alignleft';
$el-align-right: '.alignright';
$el-block-group: '.wp-block-group';
$el-block-columns: '.wp-block-columns';
$el-block-button: '.wp-block-button';
$el-block-archives: '.wp-block-archives';
$el-block-categories: '.wp-block-categories';
$el-block-code: '.wp-block-code';
$el-block-cover: '.wp-block-cover';
$el-block-embed: '.wp-block-embed';
$el-block-calendar: '.wp-block-calendar';
$el-block-gallery: '.wp-block-gallery';
$el-block-latest-comments: '.wp-block-latest-comments';
$el-block-latest-posts: '.wp-block-latest-posts';
$el-block-media-text: '.wp-block-media-text';
$el-block-preformatted: '.wp-block-preformatted';
$el-block-pullquote: '.wp-block-pullquote';
$el-block-quote: '.wp-block-quote';
$el-block-verse: '.wp-block-verse';
$el-block-video: '.wp-block-video';
$el-block-separator: '.wp-block-separator';
$el-block-image: '.wp-block-image';