<table cellpadding="0" cellspacing="0" class="moduletable">
<tbody><tr><th valign="top">{$block_heading_information}</th></tr>
<tr>
	<td>
		<table class="contentpaneopen">
		<tbody><tr><td height="8"></td></tr>
		<tr><td>
{if $oEvent->installed_plugin('gallery')}
&nbsp;&nbsp;&nbsp; <img src="{$theme_image}/icons/folder.gif" alt=" ">&nbsp;&nbsp;<a href="{html_href_link modul=$modules.info file=$filename.info_gallery}">{$lang.block_information_gallery}</a><br />
{/if}
{foreach item=info from=$information}
&nbsp;&nbsp;&nbsp; <img src="{$theme_image}/icons/folder.gif" alt=" ">&nbsp;&nbsp;<a href="{html_href_link modul=$modules.info file=$filename.information information_id=$info.information_id}">{$info.information_name}</a><br />
{/foreach}
		</td></tr>
		</tbody></table>
	</td>
</tr>
</tbody></table>