{if $myworld_block eq 'true'}
<table cellpadding="0" cellspacing="0" class="moduletable">
<tbody><tr><th valign="top">{$block_heading_myworld}</th></tr>
<tr>
	<td>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr><td height="8"></td></tr>

		<tr><td align="center" class="block_content">
			<a href="{html_href_link modul=$modules.user file=$filename.customers_image connection=SSL}">{customers_image image=$myworld.customers_image}</a><br />
			<br />
			<a href="{html_href_link modul=$modules.user file=$filename.customers_image connection=SSL}">{$lang.edit_yourimage}</a></td>
		</tr>
		<tr><td align="left" valign="top" class="boxText">
{if (isset($smarty.session.customer_id)) }
  {$lang.text_date_account_created} {$account_created}<br>
  {$lang.entry_city} {$myworld.entry_city} / {$country_name}<br>
{/if}
		</td></tr>
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.user file=$filename.yourstore connection=SSL}">{$lang.text_yourstore}</a></td></tr>
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.user file=$filename.account connection=SSL}">{$lang.login_block_my_account}</a></td></tr>
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.user file=$filename.account_edit connection=SSL}">{$lang.login_block_account_edit}</a></td></tr>
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.account file=$filename.account_history connection=SSL}">{$lang.login_block_account_history}</a></td></tr>
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.account file=$filename.account_order_history connection=SSL}">{$lang.login_block_order_history}</a></td></tr>
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.account file=$filename.account_address_book connection=SSL}">{$lang.login_block_address_book}</a></td></tr>
{if $oEvent->installed_plugin('notify')}
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.user file=$filename.product_notifications connection=SSL}">{$lang.login_block_product_notifications}</a></td></tr>
{/if}
		<tr><td><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.user file=$filename.logoff connection=SSL}">{$lang.login_block_logoff}</a></td></tr>
		<tr><td height="2"></td></tr>
		</tbody></table>
	</td>
</tr>
</tbody></table>
{/if}