<table cellpadding="0" cellspacing="0" class="moduletable">
<tbody><tr><th valign="top">{$block_heading_service}</th></tr>
<tr>
	<td>
		<table class="contentpaneopen">
		<tbody><tr><td height="8"></td></tr>
		<tr><td>


<img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.links file=$filename.links}">{$lang.block_service_links}</a><br />
{if $smarty.const.DISPLAY_NEWSFEED eq 'true'}
<img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.info file=$filename.info_newsfeed}">{$lang.block_service_newsfeed}</a><br />
{/if}
{if $smarty.const.MODULE_ORDER_TOTAL_GV_STATUS eq 'true'}
<img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.gv file=$filename.gv_faq}">{$lang.block_service_gv}</a><br/>
{/if}
<img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.info file=$filename.info_sitemap}">{$lang.block_service_sitemap}</a><br/>

		</td></tr>
		</tbody></table>
	</td>
</tr>
</tbody></table>