{if $specials_block eq 'true'}
<table cellpadding="0" cellspacing="0" class="moduletablegreen">
<tbody><tr><th valign="top">{$block_heading_specials}&nbsp;&nbsp;<a href="{html_href_link modul=$modules.products file=$filename.specials}"><img src="{$theme_image}/infobox/arrow_right.gif" border="0" alt="{$icon_arrow_right}"></a></a></th></tr>
<tr>
	<td>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr><td height="8"></td></tr>
		<tr><td align="center">

<a href="{product_info_link products_id=$specials_random_product.products_id}">{small_product_image image=$specials_random_product.products_image alt=$specials_random_product.products_name|strip_tags}</a>
<br /><img src="{$theme_image}/link.gif" alt=" "><a href="{html_href_link modul=$modules.products file=$filename.product_info products_id=$specials_random_product.products_id}">{$specials_random_product.products_name}</a>
<br /><s>{$specials_random_product_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$specials_random_product.products_units_id]}</s><br />
{if $specials_random_product.products_base_price != 1}<s><span class="base_price">{$specials_random_product.products_base_unit} = {$specials_random_base_product_price}</span></s><br />{/if}
<span class="special_price">{$specials_random_product_special_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$specials_random_product.products_units_id]}</span><br />
{if $specials_random_product.products_base_price != 1}<br /><span class="special_base_price">{$specials_random_product.products_base_unit} = {$specials_random_base_product_special_price}</span><br />{/if}

<span class="pangv">{$pangv}</span><br />

		</td>
		</tr>
		</tbody></table>


	</td>

</tr>
</tbody></table>
{/if}