// Footer
footer.page-footer.bg-secondary
  
  // first row
  .pt-5.pb-0.pb-md-4
    .container
      .row
        .col-md-4.col-sm-6
          .widget.widget-links.pb-4
            h3.widget-title Shop departments
            ul
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Apparel &amp; Shoes
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Glasses &amp; Accessories
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Handbags &amp; Backpacks
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Computers &amp; Accessories
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Smartphones &amp; Tablets
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm TV, Video &amp; Audio
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Cameras, Photo &amp; Video
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Headphones
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Wearable Electronics
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Printers &amp; Ink
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Video Games
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Car Electronics
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Smart Home, IoT
        .col-md-3.col-sm-6
          .widget.widget-links.pb-4
            h3.widget-title Account &amp; shipping info
            ul
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Your account
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shipping rates &amp; policies
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Refunds &amp; replacements
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Taxes
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Delivery info
          .widget.widget-links.pb-4
            h3.widget-title About us
            ul
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Careers
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm About shop
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Our stores
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Services
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm News
        .col-xl-4.offset-xl-1.col-md-5
          .widget

            // Subscription form (MailChimp)
            h3.widget-title Stay informed
            form(action='https://studio.us12.list-manage.com/subscribe/post-json?u=c7103e2c981361a6639545bd5&amp;id=29ca296126&c=?' method='get' name='mc-embedded-subscribe-form')#mc-embedded-subscribe-form.validate.pb-4
              .input-group.mb-2
                .input-group-prepend
                  span.input-group-text
                    i(data-feather='mail')
                input(type='email' name='EMAIL' id='mce-EMAIL' value='' placeholder='Your email' required).form-control
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;' aria-hidden='true')
                input(type='text' name='b_c7103e2c981361a6639545bd5_29ca296126' tabindex='-1')
              button(type='submit' name='subscribe')#mc-embedded-subscribe.btn.btn-primary.btn-block Subscribe*
              p#mc-helper.font-size-xs.text-muted.pt-2.mb-2 *Subscribe to our newsletter to receive early discount offers, updates and new products info.
              // Subscription status
              .subscribe-status

            // Mobile app download
            .widget.pb-4
              h3.widget-title Download our app
              a(href='#' role='button').market-btn.market-btn-light.apple-btn.bg-dark.mr-2.mb-2
                span.market-button-subtitle Download on the
                span.market-button-title App Store
              a(href='#' role='button').market-btn.market-btn-light.google-btn.bg-dark
                span.market-button-subtitle Download on the
                span.market-button-title Google Play

  // shop features
  #shop-features.pt-5.pb-0.pb-md-5(style='background-color: #f2f2f2;')
    .container
      .row
        .col-md-3.col-sm-6.border-right
          .icon-box.text-center.mb-5.mb-md-0
            .icon-box-icon
              i(data-feather='truck')
            h3.icon-box-title.font-weight-semibold Free local delivery
            p.icon-box-text Free delivery for all orders over $100
        .col-md-3.col-sm-6.border-right
          .icon-box.text-center.mb-5.mb-md-0
            .icon-box-icon
              i(data-feather='refresh-cw')
            h3.icon-box-title.font-weight-semibold Money back guarantee
            p.icon-box-text Free delivery for all orders over $100
        .col-md-3.col-sm-6.border-right
          .icon-box.text-center.mb-5.mb-md-0
            .icon-box-icon
              i(data-feather='life-buoy')
            h3.icon-box-title.font-weight-semibold 24/7 customer support
            p.icon-box-text Friendly 24/7 customer support
        .col-md-3.col-sm-6
          .icon-box.text-center.mb-5.mb-md-0
            .icon-box-icon
              i(data-feather='credit-card')
            h3.icon-box-title.font-weight-semibold Secure online payment
            p.icon-box-text We posess SSL / Secure сertificate
            
  // third row
  .bg-dark.pt-5.pb-4
    .container
      .row
        .col-sm-6.text-center.text-sm-left
          .mb-4.mb-sm-0
            a(href='index.html').d-inline-block
              +image('img/logo-light.png', 'MStore')(width='100')
            .navbar-lang-switcher.dropdown.border-light.mt-3.mb-0.mt-sm-0
              div(data-toggle='dropdown').dropdown-toggle.text-white
                +image('img/flags/en.png', 'English')(width='20')
                span USD
              ul.dropdown-menu(style='width: 150px;')
                li.dropdown-item
                  select.custom-select.custom-select-sm
                    option(value='usd') $ USD
                    option(value='usd') € EUR
                    option(value='usd') £ UKP
                    option(value='usd') ¥ JPY
                li
                  a(href='index.html').dropdown-item
                    +image('img/flags/fr.png', 'Français')(class='mr-2' width='20')
                    | Français
                li.dropdown-divider
                li
                  a(href='#').dropdown-item
                    +image('img/flags/de.png', 'Deutsch')(class='mr-2' width='20')
                    | Deutsch
                li.dropdown-divider
                li
                  a(href='#').dropdown-item
                    +image('img/flags/it.png', 'Italiano')(class='mr-2' width='20')
                    | Italiano
        .col-sm-6.text-center.text-sm-right
          a(href='#').social-btn.sb-facebook.sb-light.mx-1.mb-2
            i.flaticon-facebook
          a(href='#').social-btn.sb-twitter.sb-light.mx-1.mb-2
            i.flaticon-twitter
          a(href='#').social-btn.sb-instagram.sb-light.mx-1.mb-2
            i.flaticon-instagram
          a(href='#').social-btn.sb-vimeo.sb-light.mx-1.mb-2
            i.flaticon-vimeo
      .row.pt-4
        .col-sm-6.text-center.text-sm-left
          ul.list-inline.font-size-sm
            li.list-inline-item.mr-3
              a(href='#').nav-link-inline.nav-link-light Outlets
            li.list-inline-item.mr-3
              a(href='#').nav-link-inline.nav-link-light Affiliates
            li.list-inline-item.mr-3
              a(href='#').nav-link-inline.nav-link-light Support
            li.list-inline-item.mr-3
              a(href='#').nav-link-inline.nav-link-light Privacy
            li.list-inline-item.mr-3
              a(href='#').nav-link-inline.nav-link-light Terms of use
        .col-sm-6.text-center.text-sm-right
          .d-inline-block
            +image('img/cards.png', 'Payment methods')(width='187')
  .py-3(style='background-color: #1a1a1a;')
    .container.font-size-xs.text-center(aria-label='Copyright')
      span.text-white.opacity-60.mr-1 © All rights reserved. Made by
      a(href='https://createx.studio/' target='_blank').nav-link-inline.nav-link-light Createx Studio
