head
  meta(charset="utf-8")
  title
    block title
      | MStore | Modern Bootstrap E-commerce Template

  // SEO Meta Tags
  meta(name="description", content="MStore - Modern Bootstrap E-commerce Template")
  meta(name="keywords", content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean")
  meta(name="author", content="Createx Studio")

  // Viewport
  meta(name='viewport' content='width=device-width, initial-scale=1')

  // Favicon and Touch Icons
  link(rel="apple-touch-icon", sizes="180x180")&attributes(isNestedFile ? {'href':'../apple-touch-icon.png'} : {'href':'apple-touch-icon.png'})
  link(rel="icon", type="image/png", sizes="32x32")&attributes(isNestedFile ? {'href':'../favicon-32x32.png'} : {'href':'favicon-32x32.png'})
  link(rel="icon", type="image/png", sizes="16x16")&attributes(isNestedFile ? {'href':'../favicon-16x16.png'} : {'href':'favicon-16x16.png'})
  link(rel="manifest")&attributes(isNestedFile ? {'href':'../site.webmanifest'} : {'href':'site.webmanifest'})
  link(rel="mask-icon", color="#111")&attributes(isNestedFile ? {'href':'../safari-pinned-tab.svg'} : {'href':'safari-pinned-tab.svg'})
  meta(name="msapplication-TileColor", content="#111")
  meta(name="theme-color", content="#ffffff")

  // Vendor Styles including: Font Icons, Plugins, etc.
  link(rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/vendor.min.css'} : {'href': 'css/vendor.min.css'})

  if isCodeHighlighting
    // Code Highlighting
    link(rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/prism.min.css'} : {'href': 'css/prism.min.css'})

  // Main Theme Styles + Bootstrap
  link(rel="stylesheet", media="screen", id="main-styles")&attributes(isNestedFile ? {'href': '../css/theme.min.css'} : {'href': 'css/theme.min.css'})

  if isTagManager
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PVV9F7F');
