//- Include config.pug file that holds all variables
block config
  include ../helpers/config

//- Mixins - reusable code snippets
include ../helpers/mixins

doctype html
html(lang="en")

  //- head.pug template
  include head 
  
  // Body
  body

    if isTagManager
      // Google Tag Manager (noscript)
      noscript
        iframe(src='//www.googletagmanager.com/ns.html?id=GTM-PVV9F7F' height='0' width='0' style='display: none; visibility: hidden;')

    //- modal-example.pug template
    if isModalExample
      include modal-example

    //- navbar-components.pug template
    include navbar-components

    .container
      .row
        .col-lg-3

          include sidebar-components

        .col-lg-9.pb-3.mb-5

          //- page-title.pug template
          if isPageTitle
            include page-title

          // Page Content
          block content
    
    // Back To Top Button
    a(href='#').scroll-to-top-btn
      i(data-feather='chevron-up').scroll-to-top-btn-icon
    
    // JavaScript (jQuery) libraries, plugins and custom scripts
    script()&attributes(isNestedFile ? {'src': '../js/vendor.min.js'} : {'src': 'js/vendor.min.js'})
    if isCardScript
      script()&attributes(isNestedFile ? {'src': '../js/card.min.js'} : {'src': 'js/card.min.js'})
    if isCodeHighlighting
      script()&attributes(isNestedFile ? {'src': '../js/prism.min.js'} : {'src': 'js/prism.min.js'})
    script()&attributes(isNestedFile ? {'src': '../js/theme.min.js'} : {'src': 'js/theme.min.js'})
