// Site menu
ul.navbar-nav
  li.nav-item.dropdown.mega-dropdown.dropdown-more
    a(href='#' data-toggle='dropdown').nav-link.dropdown-toggle
      | Categories
      i(data-feather='more-horizontal')
    .dropdown-menu
      .dropdown-inner
        .dropdown-column
          .bg-position-center.bg-no-repeat.bg-size-cover.text-center.px-3.py-4.mb-3(style='background-image: url(img/megamenu/cat_bg02.jpg);')
            h3.h5.text-white.text-shadow.my-3 Apparel
          .widget.widget-links
            ul
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Clothing
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shoes
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Handbags &amp; Backpacks
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Hats &amp; Caps
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Sunglasses
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Watches
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Accessories
        .dropdown-column
          .bg-position-center.bg-no-repeat.bg-size-cover.text-center.px-3.py-4.mb-3(style='background-image: url(img/megamenu/cat_bg01.jpg);')
            h3.h5.text-white.text-shadow.my-3 Electronics
          .widget.widget-links
            ul
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Computers &amp; Accessories
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm TV, Video &amp; Audio
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Smartphones &amp; Tablets
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Cameras, Photo &amp; Video
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Headphones
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Wearable Electronics
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Video Games
        .dropdown-column
          .bg-position-center.bg-no-repeat.bg-size-cover.text-center.px-3.py-4.mb-3(style='background-image: url(img/megamenu/cat_bg03.jpg);')
            h3.h5.text-white.text-shadow.my-3 Furniture &amp; Decor
          .widget.widget-links
            ul
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Lounge Seating
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm File Cabinets
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Tables
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Indoor Lighting
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Office Chairs
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Adjustable Height Desks
              li
                a(href='#')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Storage Units
  li()&attributes(parentMenu === 'Home' ? {'class': 'nav-item dropdown mega-dropdown active'} : {'class': 'nav-item dropdown mega-dropdown'})
    a(href='#' data-toggle='dropdown').nav-link.dropdown-toggle Home
    .dropdown-menu
      .dropdown-inner
        a(href='home-apparel.html').dropdown-column.text-decoration-0
          img(src='img/megamenu/home-apparel.jpg' alt='Home Apparel Shop').d-block.img-thumbnail.mb-2
          .text-center.font-weight-semibold.text-dark Home Apparel Shop
        a(href='home-electronics.html').dropdown-column.text-decoration-0
          img(src='img/megamenu/home-electronics.jpg' alt='Home Electronics Store').d-block.img-thumbnail.mb-2
          .text-center.font-weight-semibold.text-dark Home Electronics Store
  li()&attributes(parentMenu === 'Shop' ? {'class': 'nav-item dropdown mega-dropdown active'} : {'class': 'nav-item dropdown mega-dropdown'})
    a(href='#' data-toggle='dropdown').nav-link.dropdown-toggle Shop
    .dropdown-menu
      .dropdown-inner
        .dropdown-column
          .widget.widget-links
            h3.widget-title Shop layouts
            ul
              li
                a(href='shop-style1-ls.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shop Style 1 - Left Sidebar
              li
                a(href='shop-style1-rs.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shop Style 1 - Right Sidebar
              li
                a(href='shop-style1-ft.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shop Style 1 - Filters Top
              li
                a(href='shop-style2-ls.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shop Style 2 - Left Sidebar
              li
                a(href='shop-style2-rs.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shop Style 2 - Right Sidebar
              li
                a(href='shop-style2-ft.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shop Style 2 - Filters Top
        .dropdown-column
          .widget.widget-links
            h3.widget-title Shop pages
            ul
              li
                a(href='shop-categories-apparel.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shop Categories - Apparel
              li
                a(href='shop-categories-electronics.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Shop Categories - Electronics
              li
                a(href='shop-single-apparel.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Product Page #1 - Apparel
              li
                a(href='shop-single-electronics.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Product Page #2 - Electronics
              li
                a(href='cart.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Cart
              li
                a(href='checkout-details.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Checkout - Details
              li
                a(href='checkout-shipping.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Checkout - Shipping
              li
                a(href='checkout-payment.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Checkout - Payment
              li
                a(href='checkout-review.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Checkout - Review
              li
                a(href='checkout-complete.html')
                  i(data-feather='chevron-right').widget-categories-indicator
                  span.font-size-sm Checkout - Complete
        .dropdown-column
          a(href='#' style='max-width: 228px;').d-block.mx-auto
            img(src='img/megamenu/promo-banner.jpg' alt='Promo banner').d-block
  li()&attributes(parentMenu === 'Pages' ? {'class': 'nav-item dropdown active'} : {'class': 'nav-item dropdown'})
    a(href='#' data-toggle='dropdown').nav-link.dropdown-toggle Pages
    ul.dropdown-menu
      li.dropdown
        a(href='#' data-toggle='dropdown').dropdown-item.dropdown-toggle User Account
        ul.dropdown-menu
          li: a(href='account-orders.html').dropdown-item Orders History
          li.dropdown-divider
          li: a(href='account-profile.html').dropdown-item Profile Settings
          li.dropdown-divider
          li: a(href='account-address.html').dropdown-item Account Addresses
          li.dropdown-divider
          li: a(href='account-payment.html').dropdown-item Payment Methods
          li.dropdown-divider
          li: a(href='account-wishlist.html').dropdown-item Wishlist
          li.dropdown-divider
          li: a(href='account-tickets.html').dropdown-item My Tickets
          li.dropdown-divider
          li: a(href='account-single-ticket.html').dropdown-item Single Ticket
          li.dropdown-divider
          li: a(href='account-signin.html').dropdown-item Sign In / Sign Up Page
          li.dropdown-divider
          li: a(href='account-password-recovery.html').dropdown-item Password Recovery
      li.dropdown-divider
      li: a(href='about.html').dropdown-item About Us
      li.dropdown-divider
      li: a(href='contacts.html').dropdown-item Contacts
      li.dropdown-divider
      li.dropdown
        a(href='#' data-toggle='dropdown').dropdown-item.dropdown-toggle Help Center
        ul.dropdown-menu
          li: a(href='help-topics.html').dropdown-item Help Topics
          li.dropdown-divider
          li: a(href='help-single-topic.html').dropdown-item Single Topic
          li.dropdown-divider
          li: a(href='help-submit-request.html').dropdown-item Submit a Request
      li.dropdown-divider
      li: a(href='product-comparison.html').dropdown-item Product Comparison
      li.dropdown-divider
      li: a(href='order-tracking.html').dropdown-item Order Tracking
      li.dropdown-divider
      li: a(href='404.html').dropdown-item 404 Not Found
  li()&attributes(parentMenu === 'Blog' ? {'class': 'nav-item dropdown active'} : {'class': 'nav-item dropdown'})
    a(href='#' data-toggle='dropdown').nav-link.dropdown-toggle Blog
    ul.dropdown-menu
      li.dropdown
        a(href='#' data-toggle='dropdown').dropdown-item.dropdown-toggle Blog Layout
        ul.dropdown-menu
          li: a(href='blog-rs.html').dropdown-item Blog Right Sidebar
          li.dropdown-divider
          li: a(href='blog-ls.html').dropdown-item Blog Left Sidebar
          li.dropdown-divider
          li: a(href='blog-ns.html').dropdown-item Blog No Sidebar
      li.dropdown-divider
      li.dropdown
        a(href='#' data-toggle='dropdown').dropdown-item.dropdown-toggle Single Post Layout
        ul.dropdown-menu
          li: a(href='blog-single-rs.html').dropdown-item Post Right Sidebar
          li.dropdown-divider
          li: a(href='blog-single-ls.html').dropdown-item Post Left Sidebar
          li.dropdown-divider
          li: a(href='blog-single-ns.html').dropdown-item Post No Sidebar

  li.nav-item.dropdown
    a(href='#' data-toggle='dropdown').nav-link.dropdown-toggle
      i(data-feather='file-text').mr-1
      | Docs
    ul.dropdown-menu
      li
        a(href='docs/dev-setup.html').dropdown-item
          .d-flex.py-1
            i(data-feather='file-text' style='width: 1.4375rem; height: 1.4375rem;').mt-1.ml-n2
            div.ml-2
              span.d-block.mb-n1 Documentation
              small.text-muted Kick-start customization
      li.dropdown-divider
      li
        a(href='components/alerts.html').dropdown-item
          .d-flex.py-1
            i(data-feather='grid' style='width: 1.375rem; height: 1.375rem;').mt-1.ml-n2
            div.ml-2
              span.d-block.mb-n1 Components <span class='badge badge-pill badge-success'>40+</span>
              small.text-muted Faster page building
      li.dropdown-divider
      li
        a(href='docs/changelog.html').dropdown-item
          .d-flex.py-1
            i(data-feather='edit' style='width: 1.375rem; height: 1.375rem;').mt-1.ml-n2
            div.ml-2
              span.d-block.mb-n1 Changelog <span class='badge badge-pill badge-warning'>v2.0</span>
              small.text-muted Regular updates
      li.dropdown-divider
      li
        a(href='mailto:contact@createx.studio').dropdown-item
          .d-flex.py-1
            i(data-feather='life-buoy' style='width: 1.4375rem; height: 1.4375rem;').mt-1.ml-n2
            div.ml-2
              span.d-block.mb-n1 Support
              small.text-muted contact@createx.studio
