// Leave a Review
form(id='leaveReview' tabindex='-1' novalidate).needs-validation.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Leave a review
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .row
          .col-sm-6
            .form-group
              label(for='review-name') Your name
              input(type='text' id='review-name' required).form-control
              .invalid-feedback Please enter your name!
          .col-sm-6
            .form-group
              label(for='review-email') Your email
              input(type='email' id='review-email' required).form-control
              .invalid-feedback Please enter your email!
        .row
          .col-sm-6
            .form-group
              label(for='review-subject') Subject
              input(type='text' id='review-subject' required).form-control
              .invalid-feedback Please enter review subject!
          .col-sm-6
            .form-group
              label(for='review-rating') Rating
              select(id='review-rating' required).form-control.custom-select
                option(value) Choose rating...
                option(value='5') 5 Stars
                option(value='4') 4 Stars
                option(value='3') 3 Stars
                option(value='2') 2 Stars
                option(value='1') 1 Star
              .invalid-feedback Please choose from 1 to 5!
        .form-group
          label(for='review-message') Review
          textarea(id='review-message' rows='8' required).form-control
          .invalid-feedback Please enter review message!
      .modal-footer
        button(type='submit' class='btn btn-primary') Submit review