// Order Details
#order-details.modal.fade
  .modal-dialog.modal-lg.modal-dialog-scrollable
    .modal-content
      .modal-header
        h4.modal-title Order No - 34VB5540K83
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0

        // Item
        .d-sm-flex.justify-content-between.mb-4.pb-4.border-bottom
          .media.d-block.d-sm-flex.text-center.text-sm-left
            a(href='shop-single-apparel.html').cart-item-thumb.mx-auto.mr-sm-4
              img(src='img/shop/apparel/cart/01.jpg' alt='Product')
            .media-body.pt-3
              h3.product-card-title.font-weight-semibold.border-0.pb-0
                a(href='shop-single-apparel.html') Calvin Klein Jeans Keds
              .font-size-sm
                span.text-muted.mr-2 Size:
                | 8.5
              .font-size-sm
                span.text-muted.mr-2 Color:
                | Black
          .pt-2.pt-sm-3.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-sm-2 Quantity:
            .font-weight-semibold 1
          .pt-2.pt-sm-3.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-sm-2 Subtotal:
            .font-weight-semibold $125.00

        // Item
        .d-sm-flex.justify-content-between.mb-4.pb-4.border-bottom
          .media.d-block.d-sm-flex.text-center.text-sm-left
            a(href='shop-single-apparel.html').cart-item-thumb.mx-auto.mr-sm-4
              img(src='img/shop/apparel/cart/02.jpg' alt='Product')
            .media-body.pt-3
              h3.product-card-title.font-weight-semibold.border-0.pb-0
                a(href='shop-single-apparel.html') The North Face Hoodie
              .font-size-sm
                span.text-muted.mr-2 Size:
                | XL
              .font-size-sm
                span.text-muted.mr-2 Color:
                | Gray
          .pt-2.pt-sm-3.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-sm-2 Quantity:
            .font-weight-semibold 1
          .pt-2.pt-sm-3.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-sm-2 Subtotal:
            .font-weight-semibold $134.00

        // Item
        .d-sm-flex.justify-content-between.mb-4.pb-4.border-bottom
          .media.d-block.d-sm-flex.text-center.text-sm-left
            a(href='shop-single-apparel.html').cart-item-thumb.mx-auto.mr-sm-4
              img(src='img/shop/apparel/cart/03.jpg' alt='Product')
            .media-body.pt-3
              h3.product-card-title.font-weight-semibold.border-0.pb-0
                a(href='shop-single-apparel.html') Medicine Chameleon Sunglasses
              .font-size-sm
                span.text-muted.mr-2 Lenses:
                | Chameleon
              .font-size-sm
                span.text-muted.mr-2 Frame:
                | Gray / Black
          .pt-2.pt-sm-3.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-sm-2 Quantity:
            .font-weight-semibold 1
          .pt-2.pt-sm-3.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-sm-2 Subtotal:
            .font-weight-semibold $47.00

        // Item
        .d-sm-flex.justify-content-between.pb-4
          .media.d-block.d-sm-flex.text-center.text-sm-left
            a(href='shop-single-apparel.html').cart-item-thumb.mx-auto.mr-sm-4
              img(src='img/shop/apparel/cart/04.jpg' alt='Product')
            .media-body.pt-3
              h3.product-card-title.font-weight-semibold.border-0.pb-0
                a(href='shop-single-apparel.html') Adidas Performance Hat
              .font-size-sm
                span.text-muted.mr-2 Material:
                | Acrylic
              .font-size-sm
                span.text-muted.mr-2 Color:
                | Pink / Dark green
          .pt-2.pt-sm-3.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-sm-2 Quantity:
            .font-weight-semibold 1
          .pt-2.pt-sm-3.pl-sm-3.mx-auto.mx-sm-0.text-center
            .text-muted.mb-sm-2 Subtotal:
            .font-weight-semibold $19.00
      
      // Footer
      .modal-footer.flex-wrap.justify-content-between.bg-secondary
        .px-2.py-1
          span.text-muted Subtotal:&nbsp;
          span.font-weight-semibold $325.00
        .px-2.py-1
          span.text-muted Shipping:&nbsp;
          span.font-weight-semibold $26.50
        .px-2.py-1
          span.text-muted Tax:&nbsp;
          span.font-weight-semibold $7.25
        .px-2.py-1
          span.text-muted Total:&nbsp;
          span.text-lg.font-weight-semibold $358.75