// Size chart modal
#size-chart.modal.fade
  .modal-dialog.modal-dialog-scrollable
    .modal-content
      .modal-header
        ul(role='tablist' style='margin-bottom: -.975rem;').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#mens' data-toggle='tab' role='tab' aria-controls='mens' aria-selected='true').nav-link.active Men's sizes
          li.nav-item
            a(href='#womens' data-toggle='tab' role='tab' aria-controls='womens' aria-selected='false').nav-link Women's sizes
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.p-0
        .tab-content
          div(id='mens' role='tabpanel').tab-pane.fade.show.active
            .table-responsive
              table.table.font-size-sm.text-center.mb-0
                thead
                  tr
                    th.align-middle.bg-secondary US<br>Sizes
                    th.align-middle Euro<br>Sizes
                    th.align-middle UK<br>Sizes
                    th.align-middle Inches
                    th.align-middle CM
                tbody
                  tr
                    td.bg-secondary.font-weight-bold 6
                    td 39
                    td 5.5
                    td 9.25"
                    td 23.5
                  tr
                    td.bg-secondary.font-weight-bold 6.5
                    td 39
                    td 6
                    td 9.5"
                    td 24.1
                  tr
                    td.bg-secondary.font-weight-bold 7
                    td 40
                    td 6.5
                    td 9.625"
                    td 24.4
                  tr
                    td.bg-secondary.font-weight-bold 7.5
                    td 40-41
                    td 7
                    td 9.75"
                    td 24.8
                  tr
                    td.bg-secondary.font-weight-bold 8
                    td 41
                    td 7.5
                    td 9.9375"
                    td 25.4
                  tr
                    td.bg-secondary.font-weight-bold 8.5
                    td 41-42
                    td 8
                    td 10.125"
                    td 25.7
                  tr
                    td.bg-secondary.font-weight-bold 9
                    td 42
                    td 8.5
                    td 10.25"
                    td 26
                  tr
                    td.bg-secondary.font-weight-bold 9.5
                    td 42-43
                    td 9
                    td 10.4375"
                    td 26.7
                  tr
                    td.bg-secondary.font-weight-bold 10
                    td 43
                    td 9.5
                    td 10.5625"
                    td 27
                  tr
                    td.bg-secondary.font-weight-bold 10.5
                    td 43-44
                    td 10
                    td 10.75"
                    td 27.3
                  tr
                    td.bg-secondary.font-weight-bold 11
                    td 44
                    td 10.5
                    td 10.9375"
                    td 27.9
                  tr
                    td.bg-secondary.font-weight-bold 11.5
                    td 44-45
                    td 11
                    td 11.125"
                    td 28.3
                  tr
                    td.bg-secondary.font-weight-bold 12
                    td 45
                    td 11.5
                    td 11.25"
                    td 28.6
                  tr
                    td.bg-secondary.font-weight-bold 13
                    td 46
                    td 12.5
                    td 11.5625"
                    td 29.4
                  tr
                    td.bg-secondary.font-weight-bold 14
                    td 47
                    td 13.5
                    td 11.875"
                    td 30.2
                  tr
                    td.bg-secondary.font-weight-bold 15
                    td 48
                    td 14.5
                    td 12.1875"
                    td 31
                  tr
                    td.bg-secondary.font-weight-bold 16
                    td 49
                    td 15.5
                    td 12.5"
                    td 31.8
          div(id='womens' role='tabpanel').tab-pane.fade
            .table-responsive
              table.table.font-size-sm.text-center.mb-0
                thead
                  tr
                    th.align-middle.bg-secondary US<br>Sizes
                    th.align-middle Euro<br>Sizes
                    th.align-middle UK<br>Sizes
                    th.align-middle Inches
                    th.align-middle CM
                tbody
                  tr
                    td.bg-secondary.font-weight-bold 4
                    td 35
                    td 2
                    td 8.1875"
                    td 20.8
                  tr
                    td.bg-secondary.font-weight-bold 4.5
                    td 35
                    td 2.5
                    td 8.375"
                    td 21.3
                  tr
                    td.bg-secondary.font-weight-bold 5
                    td 35-36
                    td 3
                    td 8.5"
                    td 21.6
                  tr
                    td.bg-secondary.font-weight-bold 5.5
                    td 36
                    td 3.5
                    td 8.75"
                    td 22.2
                  tr
                    td.bg-secondary.font-weight-bold 6
                    td 36-37
                    td 4
                    td 8.875"
                    td 22.5
                  tr
                    td.bg-secondary.font-weight-bold 6.5
                    td 37
                    td 4.5
                    td 9.0625"
                    td 23
                  tr
                    td.bg-secondary.font-weight-bold 7
                    td 37-38
                    td 5
                    td 9.25"
                    td 23.5
                  tr
                    td.bg-secondary.font-weight-bold 7.5
                    td 38
                    td 5.5
                    td 9.375"
                    td 23.8
                  tr
                    td.bg-secondary.font-weight-bold 8
                    td 38-39
                    td 6
                    td 9.5"
                    td 24.1
                  tr
                    td.bg-secondary.font-weight-bold 8.5
                    td 39
                    td 6.5
                    td 9.6875"
                    td 24.6
                  tr
                    td.bg-secondary.font-weight-bold 9
                    td 39-40
                    td 7
                    td 9.875"
                    td 25.1
                  tr
                    td.bg-secondary.font-weight-bold 9.5
                    td 40
                    td 7.5
                    td 10"
                    td 25.4
                  tr
                    td.bg-secondary.font-weight-bold 10
                    td 40-41
                    td 8
                    td 10.1875"
                    td 25.9
                  tr
                    td.bg-secondary.font-weight-bold 10.5
                    td 41
                    td 8.5
                    td 10.3125"
                    td 26.2
                  tr
                    td.bg-secondary.font-weight-bold 11
                    td 41-42
                    td 9
                    td 10.5"
                    td 26.7
                  tr
                    td.bg-secondary.font-weight-bold 11.5
                    td 42
                    td 9.5
                    td 10.6875"
                    td 27.1
                  tr
                    td.bg-secondary.font-weight-bold 12
                    td 42-43
                    td 10
                    td 10.875"
                    td 27.6
