// Quick view modal
#quick-view.modal.modal-quick-view.fade(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        div
          h2.h3.modal-title.mb-1 Reebok Classic - Sneakers CL Leather
          h3.text-primary.font-weight-light.mb-0 $98.45
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .row
          
          // Product gallery
          .col-lg-7
            .owl-carousel(data-owl-carousel='{ "nav": true, "dots": false, "loop": true, "margin": 15 }')
              img(src='img/shop/apparel/single/01.jpg' alt='Product')
              img(src='img/shop/apparel/single/02.jpg' alt='Product')
              img(src='img/shop/apparel/single/03.jpg' alt='Product')
              img(src='img/shop/apparel/single/04.jpg' alt='Product')
              img(src='img/shop/apparel/single/05.jpg' alt='Product')
          
          // Product details
          .col-lg-5.pt-4.pt-lg-0
            form.pb-4
              .form-group
                label.d-block Choose color
                .custom-control.custom-option.custom-control-inline.mb-2
                  input(type='radio' name='color' value='dark' id='dark' required).custom-control-input
                  label(for='dark').custom-option-label
                    span(style='background-color: #2c363f;').custom-option-color
                .custom-control.custom-option.custom-control-inline.mb-2
                  input(type='radio' name='color' value='red' id='red' required).custom-control-input
                  label(for='red').custom-option-label
                    span(style='background-color: #e7484d;').custom-option-color
                .custom-control.custom-option.custom-control-inline.mb-2
                  input(type='radio' name='color' value='white' id='white' required).custom-control-input
                  label(for='white').custom-option-label
                    span(style='background-color: #e0dfe4;').custom-option-color
                .custom-control.custom-option.custom-control-inline.mb-2
                  input(type='radio' name='color' value='beige' id='beige' required).custom-control-input
                  label(for='beige').custom-option-label
                    span(style='background-color: #e6ddd6;').custom-option-color
              .form-group
                select(id='size' name='size' required).form-control.custom-select
                  option(value) - Select a size
                  option(value='13') 13
                  option(value='12') 12
                  option(value='11.5') 11.5
                  option(value='11') 11
                  option(value='10.5') 10.5
                  option(value='10') 10
                  option(value='9.5') 9.5
                  option(value='9') 9
                  option(value='8.5') 8.5
                  option(value='8') 8
                  option(value='7.5') 7.5
              .d-flex.flex-wrap.align-items-center.pt-1
                div
                  input(type='number' name='quantity' style='width: 3.2rem;' value='1' required).px-2.form-control.mr-2
                div
                  button(type='submit').btn.btn-primary.px-5.mr-2
                    i(data-feather='shopping-cart').mr-2
                    | Add to cart
                a(href='#').btn.box-shadow-0.nav-link-inline.my-2
                  i(data-feather='heart' style='width: 1.1rem; height: 1.1rem;').align-middle.mr-1
                  | Wishlist
            .card
              .card-header.py-3.bg-0
                h3.h6.mb-0
                  span.d-inline-block.pr-2.border-right.mr-2.align-middle.mt-n1
                    i(data-feather='info' style='width: 1.1rem; height: 1.1rem;')
                  | Product information
              .card-body
                ul.mb-0
                  li SKU: #8893249956
                  li Sneakers from Reebok Classic collection
                  li Man-made upper
                  li Lace-up closure
                  li Brand logo detail hits throughout
                  li Soft fabric lining and footbed
                  li Rubber outsole
                  li Product measurements were taken using size 8
                  li Weight of footwear is based on a single item
                  li Weight: 9 oz
