// Add Payment Method
form(method='post' id='add-payment' tabindex='-1' novalidate).needs-validation.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Add a payment method
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .custom-control.custom-radio.mb-4
          input(type='radio' id='paypal' name='payment-method').custom-control-input
          label(for='paypal').custom-control-label
            | PayPal
            img(src='img/card-paypal.png' width='39' alt='PayPal').d-inline-block.align-middle.ml-2
        .custom-control.custom-radio.mb-4
          input(type='radio' id='card' name='payment-method' checked).custom-control-input
          label(for='card').custom-control-label
            | Credit / Debit card
            img(src='img/cards-alt.png' width='187' alt='Credit card').d-inline-block.align-middle.ml-2

        .row
          .form-group.col-sm-6
            input(type='text' name='number' placeholder='Card Number' required).form-control
            .invalid-feedback Please fill in the card number!
          .form-group.col-sm-6
            input(type='text' name='name' placeholder='Full Name' required).form-control
            .invalid-feedback Please provide name on the card!
          .form-group.col-sm-3
            input(type='text' name='expiry' placeholder='MM/YY' required).form-control
            .invalid-feedback Please provide card expiration date!
          .form-group.col-sm-3
            input(type='text' name='cvc' placeholder='CVC' required).form-control
            .invalid-feedback Please provide card CVC code!
          .col-sm-6
            button(type='submit').btn.btn-primary.btn-block.mt-0 Register this card
