// Navbar (docs)
header.navbar.navbar-expand-lg.fixed-top.bg-dark.py-2
  .container.align-items-center.justify-content-between
    div
      a(class='navbar-brand align-middle' style='min-width: 100px;')&attributes(isNestedFile ? {'href': '../index.html'} : {'href': 'index.html'})
        +image('img/logo-light.png', 'MStore')(width='100')
      span.badge.badge-warning.ml-n2.font-weight-semibold.align-middle Docs
    .d-none.d-lg-block
      a(href='../index.html').btn.text-white.text-decoration-0.ml-3.pl-0.border.border-left-0.border-top-0.border-bottom-0.border-light Live preview
      a(href='../components/alerts.html').btn.text-white.text-decoration-0.ml-3.pl-0
        i(data-feather='grid').mr-1
        | Components
      a(href='#').btn.btn-primary.ml-3
        i(data-feather='shopping-cart').mr-1
        | Buy now
    .d-lg-none
      button(type='button' data-toggle='collapse' data-target="#docs-menu-collapse").btn.btn-secondary
        i(data-feather='menu' style='width: 1.25rem; height: 1.25rem;')