//- offcanvas-search.pug template
include offcanvas-search

//- offcanvas-account.pug template
include offcanvas-account

//- offcanvas-cart.pug template
include offcanvas-cart

// Navbar Light
header.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-light
  .container-fluid.navbar-inner

    // navbar brand
    a(class='navbar-brand' style='min-width: 100px;')&attributes(isNestedFile ? {'href': '../index.html'} : {'href': 'index.html'})
      +image('img/logo-dark.png', 'MStore')(width='100')

    // navbar collapse area
    #menu.collapse.navbar-collapse

      // language/currency switcher
      .navbar-lang-switcher.dropdown.pr-2
        div(data-toggle='dropdown').dropdown-toggle
          +image('img/flags/en.png', 'English')(width='20')
          span USD
        ul.dropdown-menu
          li.dropdown-item
            select.custom-select.custom-select-sm
              option(value='usd') $ USD
              option(value='usd') € EUR
              option(value='usd') £ UKP
              option(value='usd') ¥ JPY
          li
            a(href='index.html').dropdown-item
              +image('img/flags/fr.png', 'Français')(class='mr-2' width='20')
              | Français
          li.dropdown-divider
          li
            a(href='#').dropdown-item
              +image('img/flags/de.png', 'Deutsch')(class='mr-2' width='20')
              | Deutsch
          li.dropdown-divider
          li
            a(href='#').dropdown-item
              +image('img/flags/it.png', 'Italiano')(class='mr-2' width='20')
              | Italiano
      
      //- menu.pug template
      include menu
    
    // navbar buttons
    .navbar-btns
      .navbar-btns-inner
        div(data-toggle='collapse' data-target='#menu').navbar-toggler.navbar-btn.collapsed
          i(data-feather='menu').mx-auto.mb-1
          | Menu
        a(href='#offcanvas-search' data-toggle='offcanvas').navbar-btn
          i(data-feather='search').mx-auto.mb-1
          | Search
        a(href='#offcanvas-account' data-toggle='offcanvas').navbar-btn.navbar-collapse-hidden
          i(data-feather='log-in').mx-auto.mb-1
          | Sign In/Up
        a(href='#offcanvas-cart' data-toggle='offcanvas').navbar-btn
          span.d-block.position-relative
            span.navbar-btn-badge.bg-primary.text-light 4
            i(data-feather='shopping-cart').mx-auto.mb-1
            | $325.00
