// Page Title
.page-title-wrapper(aria-label='Page title')
  .container
    if breadcrumbs.length
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.mt-n1.mr-1: i(data-feather='home')
          each breadcrumb in breadcrumbs
            if breadcrumb.link
              li.breadcrumb-item
                - var linkatts = {'href': breadcrumb.link}
                a()&attributes(linkatts)= breadcrumb.title
            else
              li.breadcrumb-item.active(aria-current='page')= breadcrumb.title
    h1.page-title !{pageTitle}
    span.d-block.mt-2.text-muted !{pageSubTitle}
    if isPageTitleDivider
      hr.mt-4