// Post navigation
nav.entry-navigation(aria-label='Post navigation')
  a(href='#' data-toggle='popover' data-placement='top' data-trigger='hover' data-html='true' data-content='<div class="media align-items-center"><img src="img/blog/navigation/01.jpg" width="60" class="mr-3" alt="Post thumb"><div class="media-body"><h6  class="font-size-sm font-weight-semibold mb-0">How to choose perfect shoes for running</h6><span class="d-block font-size-xs text-muted">by Susan Mayer</span></div></div>').entry-navigation-link
    i(data-feather='chevron-left').mr-1
    span.d-none.d-sm-inline Prev post
  a(href='blog-rs.html').entry-navigation-link
    i(data-feather='grid').mr-1
    span.d-none.d-sm-inline All posts
  a(href='#' data-toggle='popover' data-placement='top' data-trigger='hover' data-html='true' data-content='<div class="media align-items-center"><img src="img/blog/navigation/02.jpg" width="60" class="mr-3" alt="Post thumb"><div class="media-body"><h6  class="font-size-sm font-weight-semibold mb-0">Factors behind smart watches popularity</h6><span class="d-block font-size-xs text-muted">by Logan Coleman</span></div></div>').entry-navigation-link
    span.d-none.d-sm-inline Next post
    i(data-feather='chevron-right').ml-1
