// Related posts
h3.h4.pt-5.pb-4.mt-2.text-center You may also like
.owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30, "responsive": {"0":{"items":1},"500":{"items":2},"800":{"items":3},"1200":{"items":3}} }')
  div
    a(href='#').d-block.mb-3
      img(src='img/blog/related/01.jpg' alt='Related post').d-block.w-100
    .post-meta.pb-2
      | by&nbsp;
      a(href='#') Paul Goodrich
      span.meta-divider
      a(href='#') Mar 15
    h4.h6
      a(href='#').post-title What apps will increase your productivity significantly
  div
    a(href='#').d-block.mb-3
      img(src='img/blog/related/02.jpg' alt='Related post').d-block.w-100
    .post-meta.pb-2
      | by&nbsp;
      a(href='#') Cynthia Gomez
      span.meta-divider
      a(href='#') Feb 22
    h4.h6
      a(href='#').post-title Global travel and vacations on a tight budget. Tips &amp; tricks
  div
    a(href='#').d-block.mb-3
      img(src='img/blog/related/03.jpg' alt='Related post').d-block.w-100
    .post-meta.pb-2
      | by&nbsp;
      a(href='#') Olivia Reyes
      span.meta-divider
      a(href='#') Mar 8
    h4.h6
      a(href='#').post-title Smart homes become even more smart. IoT booming
  div
    a(href='#').d-block.mb-3
      img(src='img/blog/related/04.jpg' alt='Related post').d-block.w-100
    .post-meta.pb-2
      | by&nbsp;
      a(href='#') Linda White
      span.meta-divider
      a(href='#') Jan 17
    h4.h6
      a(href='#').post-title Must have clothing on your next trip