// Components sidebar
#components-menu-collapse.docs-side-menu.collapse.mt-n2
  .docs-side-menu-inner
    .row.no-gutters.d-lg-none.px-3.mb-3.border-bottom
      .col-sm-4.px-2
        a(href='../index.html').btn.btn-secondary.btn-block.mb-3 Live preview
      .col-sm-4.px-2
        a(href='../docs/dev-setup.html').btn.btn-secondary.btn-block.mb-3
          i(data-feather='file-text').mr-1
          | Docs
      .col-sm-4.px-2
        a(href='#').btn.btn-primary.btn-block.mb-3
          i(data-feather='shopping-cart').mr-1
          | Buy now

    +components-menu([
      {'link': 'alerts.html', 'title': 'Alerts'},
      {'link': 'badge.html', 'title': 'Badges'},
      {'link': 'breadcrumb.html', 'title': 'Breadcrumb'},
      {'link': 'buttons.html', 'title': 'Buttons'},
      {'link': 'button-group.html', 'title': 'Button group'},
      {'link': 'cards.html', 'title': 'Cards'},
      {'link': 'carousel.html', 'title': 'Carousel'},
      {'link': 'code.html', 'title': 'Code'},
      {'link': 'collapse.html', 'title': 'Collapse'},
      {'link': 'contacts-card.html', 'title': 'Contacts card'},
      {'link': 'countdown.html', 'title': 'Countdown'},
      {'link': 'dropdowns.html', 'title': 'Dropdowns'},
      {'link': 'forms.html', 'title': 'Forms'},
      {'link': 'gallery.html', 'title': 'Gallery'},
      {'link': 'icon-box.html', 'title': 'Icon box'},
      {'link': 'images.html', 'title': 'Images & figures'},
      {'link': 'input-group.html', 'title': 'Input group'},
      {'link': 'jumbotron.html', 'title': 'Jumbotron'},
      {'link': 'list-group.html', 'title': 'List group'},
      {'link': 'market-buttons.html', 'title': 'Market buttons'},
      {'link': 'media.html', 'title': 'Media object'},
      {'link': 'modal.html', 'title': 'Modal'},
      {'link': 'pagination.html', 'title': 'Pagination'},
      {'link': 'pills.html', 'title': 'Pills'},
      {'link': 'popovers.html', 'title': 'Popovers'},
      {'link': 'progress-bar.html', 'title': 'Progress bar'},
      {'link': 'responsive-embed.html', 'title': 'Responsive embed'},
      {'link': 'shop-components.html', 'title': 'Shop components'},
      {'link': 'social-buttons.html', 'title': 'Social buttons'},
      {'link': 'spinners.html', 'title': 'Spinners'},
      {'link': 'steps.html', 'title': 'Steps'},
      {'link': 'tables.html', 'title': 'Tables'},
      {'link': 'tabs.html', 'title': 'Tabs'},
      {'link': 'team.html', 'title': 'Team'},
      {'link': 'testimonials.html', 'title': 'Testimonials / Reviews'},
      {'link': 'toasts.html', 'title': 'Toasts'},
      {'link': 'tooltips.html', 'title': 'Tooltips'},
      {'link': 'typography.html', 'title': 'Typography'},
      {'link': 'utilities.html', 'title': 'Utilities'},
      {'link': 'video-player.html', 'title': 'Video player'},
      {'link': 'widgets.html', 'title': 'Widgets'}
    ], pageTitle)
