// Toast notifications
.toast-container.toast-bottom-center
  #cart-toast.toast.mb-3(data-delay='5000' role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header.bg-success.text-white
      i(data-feather='check-circle' style='width: 1.25rem; height: 1.25rem;').mr-2
      span.font-weight-semibold.mr-auto Added to cart!
      button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
        span(aria-hidden='true') &times;
    .toast-body This item was added to your cart.
  #compare-toast.toast.mb-3(data-delay='5000' role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header.bg-info.text-white
      i(data-feather='info' style='width: 1.25rem; height: 1.25rem;').mr-2
      span.font-weight-semibold.mr-auto Added to comparison!
      button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
        span(aria-hidden='true') &times;
    .toast-body This item was added to comparison table.
  #wishlist-toast.toast.mb-3(data-delay='5000' role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header.bg-info.text-white
      i(data-feather='info' style='width: 1.25rem; height: 1.25rem;').mr-2
      span.font-weight-semibold.mr-auto Added to wishlist!
      button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
        span(aria-hidden='true') &times;
    .toast-body This item was added to your wishlist.
  #profile-toast.toast.mb-3(data-delay='5000' role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header.bg-success.text-white
      i(data-feather='check-circle' style='width: 1.25rem; height: 1.25rem;').mr-2
      span.font-weight-semibold.mr-auto Updated!
      button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
        span(aria-hidden='true') &times;
    .toast-body Your profile info updated successfuly.
  #address-toast.toast.mb-3(data-delay='5000' role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header.bg-success.text-white
      i(data-feather='check-circle' style='width: 1.25rem; height: 1.25rem;').mr-2
      span.font-weight-semibold.mr-auto Updated!
      button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
        span(aria-hidden='true') &times;
    .toast-body Your addresses info updated successfuly.
