<div class="card sidebar-menu">
	<div class="card-header">
		<h3 class="card-title">{$block_heading_add_product_id}</h3>
	</div>

	<div class="card-body">
    <form name="quick_add" method="POST" action="{html_href_link content=$page_file oos_get=$get_params action=add_a_quickie}" role="form">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}
    <div align="center">
		<input type="text" name="cart_quantity" value="1" maxlength="3" size="2">&nbsp;
		<input type="text" name="quickie" size="9">&nbsp;
		<button class="btn btn-success-filled" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {$lang.button_in_cart}</button>
	</div><br>{$lang.block_add_product_id_text}
	
	</form>
	</div>
</div>


	