<div class="card sidebar-menu">
	<div class="card-header">
		<h3 class="card-title">{$block_heading_categories}</h3>
	</div>
	
	<div class="card-body">
{strip}
{foreach item=category from=$categories_contents}
	{if $category.isGroupStart eq 1}<ul>{/if}
	{if $category.isActive eq 1}
       <li class="active"><a href="{if $category.parent eq 0}{html_href_link content=$filename.shop cPath=$category.counter}{else}{html_href_link content=$filename.shop cPath=$category.path}{/if}" title=" {$category.name} "><strong>{$category.name}</strong></a>
  {else}
      <li><a href="{if $category.parent eq 0}{html_href_link content=$filename.shop cPath=$category.counter}{else}{html_href_link content=$filename.shop cPath=$category.path}{/if}" title=" {$category.name} ">{$category.name}</a>
  {/if}
  	{if $category.isSelected eq 1}
		      {if $category.isHasSubElements eq 0}
			        </li>
		       {/if}
	{else}
		</li>
	{/if}
	{if $category.nElements > 0}{$category.nElements|repeat:"</ul></li>"}{/if}
{/foreach}
{/strip}
	</div>
</div>
