{if $manufacturer_info_block}
<!-- manufacturer_info -->
<div class="m-mb-60">
	<h4>{$block_heading_manufacturer_info}</h4>

	{if $manufacturer.manufacturers_image != '' }
	<div class="text-center">
		<a href="{html_href_link content=$filename.shop manufacturers_id=$manufacturer.manufacturers_id}">
			{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$manufacturer.manufacturers_image alt=$manufacturer.manufacturers_name|strip_tags}
		</a>
	</div>	
	{/if}
	<ul class="list-group list-unstyled">
{if $manufacturer.manufacturers_url != '' }	
		<li class="list-group-item"><a href="{html_href_link content=$filename.redirect action=manufacturer manufacturers_id=$manufacturer.manufacturers_id}">{$manufacturer.manufacturers_name|string_format:$lang.block_manufacturer_info_homepage}</a></li>
{/if}	
		<li class="list-group-item"><a href="{html_href_link content=$filename.shop manufacturers_id=$manufacturer.manufacturers_id}">{$lang.block_manufacturer_info_other_products}</a></li>
	</ul>
<!-- /manufacturer_info -->	
{/if}	
