{if $manufacturer_info_block}
<div class="panel panel-default sidebar-menu">
	<div class="panel-heading">
		<h3 class="panel-title">{$block_heading_manufacturer_info}</h3>
	</div>
	<div class="panel-body">
<table width="150" border="0" cellspacing="0" cellpadding="3">
{if $manufacturer.manufacturers_image != '' }
          <tr>
            <td align="center" class="block_content" colspan="2">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$manufacturer.manufacturers_image alt=$manufacturer.manufacturers_name}</td>
          </tr>
{/if}
{if $manufacturer.manufacturers_url != '' }
          <tr>
             <td valign="top" class="block_content">-&nbsp;</td>
             <td valign="top" class="block_content"><a href="{html_href_link content=$filename.redirect action=manufacturer manufacturers_id=$manufacturer.manufacturers_id}" target="_blank">{$manufacturer.manufacturers_name|string_format:$lang.block_manufacturer_info_homepage}</a></td>
          </tr>
{/if}
          <tr>
            <td valign="top" class="block_content">-&nbsp;</td>
            <td valign="top" class="block_content"><a href="{html_href_link content=$filename.shop manufacturers_id=$manufacturer.manufacturers_id}">{$lang.block_manufacturer_info_other_products}</a></td>
          </tr>
        </table>
	</div>
</div>


		
{/if}