{if $products_history_block eq 'true'}
<div class="panel panel-default sidebar-menu">
	<div class="panel-heading">
		<h3 class="panel-title">{$block_heading_products_history}</h3>
	</div>

	<div class="panel-body">
		<table width="200" border="0" cellspacing="0" cellpadding="3">
{foreach name=history item=products_history from=$customer_products_history}
		<tr>
            <td class="block_content">{$smarty.foreach.history.iteration|number_format}.</td>
            <td class="block_content"><a href="{product_info_link products_id=$products_history.products_id}">{$products_history.products_name|truncate:11:"":true|close_tags}</a></td>

            <td class="block_content" align="right">{if $myUser.show_price eq 1 }<a href="{html_href_link content=$page_file oos_get=$get_params action=buy_now products_id=$products_history.products_id}" class="btn btn-default pull-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>{/if}</td>		
		</tr>
{/foreach}
		</table>
	</div>
</div>

{/if}