{if $notifications_block}
<div class="card sidebar-menu">
	<div class="card-header">
		<h3 class="card-title">{$block_heading_notifications}</h3>
	</div>

	<div class="card-body">
		<table width="150" border="0" cellspacing="0" cellpadding="3">
          <tr>
 {if $notification_exists}
            <td class="block_content"><a href="{html_href_link content=$page_file oos_get=$get_params action=notify_remove}">{html_oos_image basedir=$smarty.const.OOS_IMAGES image="box_products_notifications_remove.gif" alt=$lang.button_remove_notifications}</a></td>
            <td class="block_content"><a href="{html_href_link content=$page_file oos_get=$get_params action=notify_remove}">{$products_name|string_format:$lang.block_notifications_notify_remove}</a></td>
 {else}
            <td class="block_content"><a href="{html_href_link content=$page_file oos_get=$get_params action=notify}">{html_oos_image basedir=$smarty.const.OOS_IMAGES image="box_products_notifications.gif" alt=$lang.button_notifications}</a></td>
            <td class="block_content"><a href="{html_href_link content=$page_file oos_get=$get_params action=notify}">{$products_name|string_format:$lang.block_notifications_notify}</a></td>
 {/if}

          </tr>
        </table>
	</div>
</div>

	

		
{/if}
