/**  Headers
*************************************************** **/

	

#mainMenu ul.top-links > li:hover > .dropdown-menu {
  display: block !important;
}



/* Drop Downs & Lang */




.navbar {
  & > .container {
    position: relative;
  }
}


/** Responsive Top Nav
 ********************* **/
@media only screen and (max-width: 992px) {
  .navbar-collapse {
    height: 100%;
  }
  form.mobile-search {
    display: block;
  }
  #header {
    &.dark #topNav button.btn-mobile, &.transparent #topNav button.btn-mobile, &.theme-color #topNav button.btn-mobile {
      color: #fff;
    }
  }

  /* ======================== MOBILE MENU V2 ===================== */
  html.noscroll {
    overflow: hidden !important;
    body {
      overflow: hidden !important;
    }
  }
  #header.fixed #topNav div.nav-main-collapse {
    max-height: 100% !important;
    height: 100%;
    width: 100%;
    position: fixed !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999 !important;
    overflow-y: scroll !important;
    padding-top: 58px !important;
    margin: 0 !important;
  }
  #header.fixed #topNav button.btn-mobile-active {
    position: fixed !important;
    z-index: 999999 !important;
    background-color: #232323 !important;
    height: 60px !important;
    top: 0 !important;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 !important;
    opacity: 0.9;
  }
  #menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10 !important;
  }
  /* dropdown background color */
  #topMain {
    color: #fff;
    background-color: #333;
    display: block;
  }
  #topMain > li > a {
    color: #fff !important;
  }
  #topMain > li > a {
    font-size: 15px !important;
  }
  /* ====================== END MOBILE MENU V2 ==================== */
  #topMain {
    > li > a > span {
      display: none !important;
    }
    li {
      display: block !important;
      float: none;
      text-align: left;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      a {
        text-align: left;
        border: 0;
        height: auto;
        line-height: 15px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
    > li {
      &:hover {
        border-top: 0 !important;
        > a {
          border-top: 0 !important;
        }
      }
      > a {
        height: auto;
        line-height: auto;
      }
    }
    ul.dropdown-menu {
      position: static;
      clear: both;
      float: none;
      display: none !important;
      border-left: 0 !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}


#topMain {
	display: block;
}

#topMain {
  > li > a > span {
    display: none !important;
  }
  li {
    float: none;
    text-align: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    a {
      text-align: left;
      border: 0;
      height: auto;
      line-height: 15px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
  > li {
    &:hover {
      border-top: 0 !important;
      > a {
        border-top: 0 !important;
      }
    }
    > a {
      height: auto;
      line-height: auto;
    }
  }
}

section.featured-grid div.row > div .ribbon:before, .modal-content {
  border-top-color: #8ab933;
}

@media only screen and (max-width: 992px) {
  #header {
    &.translucent #topMain, &.dark.transparent #topMain {
      background-color: #333 !important;
    }
  }
}

@media only screen and (max-width: 992px) {
  #header.static {
    /*position:relative !important;*/
  }
}

#header.static:not(.transparent) + section.page-header {
  margin-top: 60px;
}

#header.navbar-toggleable-md .navbar-collapse {
	display: inherit;
	width: auto;
}

.nav > li {
  position: relative;
  display: block;
}




/** Top Nav
 **************************************************************** **/

#header, #topMain {
  display: block;
}


/* force uppercase links */

#topBar ul li a, #mainMenu ul li a, #topMain ul li a {
  text-transform: uppercase;
}


#topMain {
  > li > a {
    display: block;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    > .badge {
      margin-top: 8px;
    }
  }
  .dropdown-toggle::after {
    border: 0;
  }
}

#header .badge {
  border-radius: 2px;
}


ul {
  &.nav > li > a {
    display: block;
  }
  &.list-group > li {
    list-style: none;
  }
}


ul {
  &.nav.nav-pills > li {
    display: inline-block;
  }
  &.list-group {
    li > a {
      display: block;
      width: 100%;
    }
    ul {
      &:not(.collapse) {
        display: block;
        width: 100%;
      }
      width: 100%;
    }
    li > a:after {
      border: 0;
    }
  }
  &.dropdown-menu a {
    display: block;
    width: 100%;
  }
  &.row.list-inline > li, &.list-unstyled.list-inline > li {
    margin-right: 0;
  }
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.badge {
  padding: .3em .6em .4em;
}

pre {
  font-size: 13px;
}

ul.list-unstyled .dropdown-toggle::after {
  border: 0;
}


#header {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000;
	font-size: 14px;
	background-color: $white;
	border-bottom: $black_5 1px solid;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 2px $black_10 !important;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .800s;
	a.logo {
		> img {
			height: 80px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all .300s;
		}
		&.logo-responsive > img {
			height: 100%;
		}
	}
}


/* 
Nav Second Main 
- search, etc
*/
#header ul.nav-second-main {
	border-left:rgba(0,0,0,0.1) 1px solid;
	padding-left:15px;
	margin-top: 39px;
}
#header.fixed ul.nav-second-main {
	margin-top:20px;
}
#header.header-sm ul.nav-second-main {
	margin-top:20px;
}
#header.header-md ul.nav-second-main {
	margin-top:23px;
}
#header.fixed.header-sm ul.nav-second-main.nav-social,
#header.fixed.header-md ul.nav-second-main.nav-social {
	margin-top:18px;
}
#header ul.nav-second-main.nav-social a {
	margin-left:10px !important;
}
#header ul.nav-second-main.nav-social>li:first-child a {
	margin-left:10px !important;
}
#header.fixed ul.nav-second-main.nav-social a>i:hover {
	color: #fff !important;
}
#header ul.nav-second-main li {
	padding-top:33px;
	padding:0 5px 0px 5px;
}
#header ul.nav-second-main li>a {
	background-color:transparent;
	color:#666;
	padding:0 3px;
	display:block;
}
#header ul.nav-second-main li i {
	font-size:18px;
	width: 20px;
	height: 20px;
	margin:0;
	padding:0;

	opacity:0.6;
	filter: alpha(opacity=60);
}
#header ul.nav-second-main li:hover i {
	opacity:1;
	filter: alpha(opacity=100);
}
#header ul.nav-second-main li .badge {
	padding:3px 6px;
}
	
/* dark & color menu */
#header.transparent ul.nav-second-main li a,
#header.transparent ul.nav-second-main li a>i,
#header.color ul.nav-second-main li a,
#header.color ul.nav-second-main li a>i,
#header.dark ul.nav-second-main li a,
#header.dark ul.nav-second-main li a>i {
	color:#fff;

	opacity:1;
	filter: alpha(opacity=100);
}

@media only screen and (max-width: 992px) {
	#header ul.nav-second-main {
		margin:15px 15px 0 0;
		border:0;
	}
	#header ul.nav-second-main li {
		padding:0;
		padding-top:6px;
	}
	#header ul.nav-second-main {
		-webkit-transition: all 0s;
		   -moz-transition: all 0s;
			 -o-transition: all 0s;
				transition: all 0s; 
	}
	#header.fixed ul.nav-second-main li {
		padding-top:0;
	}
	#header.header-md ul.nav-second-main li>a,
	#header.header-sm ul.nav-second-main li>a {
		margin-top:-6px;
	}

	/* header translucent fix */
	#header.header-md.translucent ul.nav-second-main {
		margin-top:23px;
	}
	#header.header-md.translucent.fixed ul.nav-second-main {
		margin-top:29px;
	}

}


#topMain {
	display: block;
	ul li a {
		text-transform: uppercase;
	}
}
#topBar ul li a {
	text-transform: uppercase;
}
#mainMenu ul li a {
	text-transform: uppercase;
}

//colors
$black_10: rgba(0,0,0,0.1);
$white: #fff;
$color_shark_approx: #1f262d;
$black_3: rgba(0,0,0,0.03);
$color_pale_sky_approx: #687482;

//fonts
$font_0: FontAwesome;

#topMain {
	> li > a {
		height: 96px;
		line-height: 96px;
	}
	&.nav-pills > li {
		> a {
			color: $color_shark_approx;
			font-weight: 400;
			background-color: transparent;
			&.dropdown-toggle {
				padding-right: 25px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				&:after {
					display: block;
					content: "\f107";
					position: absolute;
					top: 50%;
					right: 17px;
					margin: -5px 0 0;
					font-family: $font_0;
					font-size: 12px;
					opacity: .3;
					line-height: 1em;
					border: 0;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: transform .2s ease-in;
				}
			}
		}
		&:hover > a {
			color: $color_shark_approx;
			background-color: $black_3;
		}
		&:focus > a {
			color: $color_shark_approx;
			background-color: $black_3;
		}
		&.active > a {
			color: $color_pale_sky_approx;
		}
	}
}
#topNav {
	.navbar-collapse {
		float: right;
	}
	a.logo {
		height: 96px;
		line-height: 96px;
		overflow: hidden;
		display: inline-block;
	}
}
@media only screen and(max-width: 1215px) {
	#topMain.nav-pills > li > a {
		font-size: 13px;
	}
}
@media only screen and(max-width: 992px) {
	#header {
		height: 60px !important;
		#topNav {
			a.logo {
				height: 60px !important;
				line-height: 50px !important;
				> img {
					max-height: 60px !important;
				}
			}
			#topMain > li > a {
				height: 40px !important;
				line-height: 40px !important;
				padding-top: 0;
			}
		}
	}
	#topMain > li {
		border-bottom: $black_10 1px solid;
		&:last-child {
			border-bottom: 0;
		}
	}
}
#header.bottom.dropup #topMain.nav-pills > li > a.dropdown-toggle:after {
	content: "\f106";
}

