/** MAIN NAVIGATION
*************************************************** **/

nav.main-nav {
  z-index: 9999;
  font-weight: 300;
  > div {
    > ul > li {
      position: inherit;
    }
    dl {
      margin-bottom: 0;
      dd, dt {
        margin-bottom: 0;
      }
    }
    > ul > li > a {
      text-decoration: none;
      display: block;
      position: relative;
      padding: 7px 30px 7px 15px;
      font-size: 15px;
      font-weight: 300;
      color: #111;
      border-bottom: transparent 1px solid;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &.main-nav-bordered > div > ul > li > a {
    border-bottom: rgba(0, 0, 0, 0.04) 1px solid;
  }
  > div > ul > li {
    &:last-child > a {
      border-bottom: 0;
    }
    &.main-nav-item {
      &:hover, &.active {
        background-color: #fbfbfb;
      }
    }
    > {
      span > {
        i, a > i {
          margin-right: 6px;
          color: #ccc;
          width: 20px;
        }
      }
      a > i {
        margin-right: 6px;
        color: #ccc;
        width: 20px;
      }
      span > a {
        display: block;
        position: relative;
        color: #111;
        font-weight: 400;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 15px 15px;
        font-size: 15px;
      }
    }
    &:hover > span > {
      a:after {
        content: attr(data-text);
        font-size: 11px;
        text-decoration: none;
        position: absolute;
        right: 8px;
        top: 18px;
      }
      i, a > i {
        color: #d9534f;
      }
    }
    > {
      span > a {
        text-decoration: none;
        color: #111;
        display: block;
      }
      a {
        > .badge {
          margin-right: 0;
          margin-top: 2px;
          font-weight: 300;
          font-size: 11px;
          position: absolute;
          right: 30px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
        &:before {
          content: "\f105";
          display: inline-block;
          font: normal normal normal 14px/1 'FontAwesome';
          font-size: inherit;
          position: absolute;
          right: 15px;
          top: 9px;
          color: #ccc;
        }
      }
    }
  }
}


#header nav.main-nav {
  display: none;
  &.min-nav-active {
    display: block;
  }
}

nav.main-nav {
  > div > ul {
    .main-nav-submenu {
      position: absolute;
      background-color: #fbfbfb;
      left: 100%;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 100;
      padding: 0;
      border: 0;
      margin: 0;
      float: none;
      overflow: hidden;
      display: none;
      -webkit-animation: fadeIn .3s;
      animation: fadeIn .3s;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-border-top-right-radius: 6px;
      -moz-border-top-right-radius: 6px;
      border-top-right-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      -moz-border-bottom-right-radius: 6px;
      border-bottom-right-radius: 6px;
      div.row {
        padding: 0;
        margin: 0;
        > div[class*="col-"] {
          padding: 0;
          margin: 0;
        }
        > div > ul {
          padding: 15px;
        }
        > div > ul > li > a {
          color: #333;
          font-size: 15px;
          display: block;
          font-weight: 300;
        }
        > div > ul > li > a:hover {
          text-decoration: underline;
        }
      }
      > {
        h3, h4, h5, h6 {
          margin: 15px 15px 0 15px;
          font-size: 15px;
          font-weight: 400;
        }
        h3 > i, h4 > i, h5 > i, h6 > i {
          margin-right: 8px;
        }
        ul {
          padding: 15px;
        }
      }
      > ul li > a {
        color: #333;
        font-size: 15px;
        display: block;
        font-weight: 300;
      }
      > ul li > a:hover {
        text-decoration: underline;
      }
    }
    a > {
      strong, b {
        font-weight: 600;
      }
    }
    .main-nav-submenu {
      div.row {
        > div > ul > li:first-child > a {
          font-weight: 600;
          margin: 0 0 6px 0;
        }
        > div > ul > li > a > .badge {
          padding: 2px 4px 3px 4px;
          font-size: 10px;
          text-transform: uppercase;
          margin-top: 3px;
        }
      }
      > ul li > a > .badge {
        padding: 2px 4px 3px 4px;
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 3px;
      }
      > ul li > hr {
        margin: 8px 0;
      }
      .btn, .alert {
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
  }
  div.main-nav-brand-list {
    margin: 0;
    padding: 0;
    > a {
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      text-align: center;
      padding-left: 3px;
      padding-right: 3px;
      padding-bottom: 5px;
      > img {
        background-color: #fff;
        border: #eaeaea 1px solid;
        padding: 0 3px;
      }
      &:hover > img {
        border-color: #ddd;
      }
    }
    margin-top: 5px !important;
    margin-right: 5px !important;
  }
  > {
    .main-nav-mobile-header {
      border-bottom: rgba(0, 0, 0, 0.07) 1px solid;
      > img {
        max-width: 128px;
        height: auto !important;
        float: left;
        margin-top: 1px;
        height: 60px !important;
        margin-left: 15px;
      }
      .nav-toggle-close {
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 0;
        margin: 0;
        border: 0;
        outline: none;
        background: transparent;
        border-right: rgba(0, 0, 0, 0.07) 1px solid;
        border-left: rgba(0, 0, 0, 0.07) 1px solid;
        float: left;
        z-index: 1;
        background: url('../images/close.svg') center no-repeat;
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
      }
    }
    div > ul > li.main-nav-search {
      padding: 15px;
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 767px) {
  nav.main-nav > div > ul > li:hover > .main-nav-submenu {
    display: block !important;
  }
  #header nav.main-nav > {
    div > ul > li > .main-nav-submenu {
      border-radius: 0 !important;
    }
    .main-nav-mobile-scroll > ul {
      width: 278px;
    }
  }
}

@media only screen and (max-width: 767px) {
  nav.main-nav > {
    div > ul .main-nav-submenu {
      width: 100% !important;
      position: relative;
      left: 0;
    }
    .main-nav-mobile-scroll {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      /* iOS smooth scroll */
      height: 100%;
    }
  }
}

@media only screen and (min-width: 769px) {
  nav.main-nav > .main-nav-mobile-header {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  form.search-global {
    input {
      padding: 14px 15px !important;
    }
    button {
      padding: 14px 15px !important;
      line-height: 1;
      height: 100% !important;
      max-height: 48px !important;
    }
  }
  nav.main-nav > div > ul {
    .main-nav-submenu {
      div.row > div > ul {
        padding-left: 45px;
      }
      &.main-nav-open {
        display: block;
      }
    }
    > {
      li > a:before, dt > a:before {
        content: "\f107";
      }
    }
  }
  /* expand icon */
}


@media only screen and (min-width: 767px) {
  #header nav.main-nav.main-nav-toggle {
    position: absolute;
    top: 60px;
    background-color: #fff;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
  }
  #main-nav-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
  }
}

@media only screen and (max-width: 767px) {
  nav.main-nav.main-nav-toggle {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 62px;
  }
  #header nav.main-nav form.search-global {
    max-width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 6px !important;
  }
}