/** price
*************************************************** **/

.line-through		{ text-decoration: line-through; }


.span.price-offer{
	color:#ef4135;
	font-size:24px;
	padding-right:5px;
}

.span.price-old{
	font-size:18px;
	color:#808080;
}


.product_details_desc span.price-offer {
	color:#ef4135;
	font-size:24px;
	padding-right:5px;
}

.product_details_desc span.price-old {
	font-size:18px;
	color:#808080;
}


.product-price span.price-offer {
	color:#ef4135;
	font-size:24px;
	padding-right:5px;
}

.product-price span.price-old {
	font-size:18px;
	color:#808080;
}



.shop-item-price span.price-offer {
	color:#ef4135;
	font-size:24px;
	padding-right:5px;
}

.product-price span.price-old {
	font-size:18px;
	color:#808080;
}

