/** Error 404
 **************************************************************** **/

.error-404 {
	content: '404';
	@include px-to-rem( font-size, 200px);
	@include px-to-rem( line-height, 200px);
	font-weight: bold;
	color: #ddd;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* Inline Search */
.inline-search {
	@include px-to-rem(margin-top, 60px);
	display: block;
	position: relative;
	flex: none;
	form {
		input.serch-input {
			background: #fff;
			border: #e3e3e3 1px solid;
			color: #aaa;
			float: left;
			font-size: 13px;
			height: 39px;
			letter-spacing: 1px;
			margin: 0;
			padding: 5px 50px 5px 10px;
			width: 100%;
		}
		button {
			background: rgba(0, 0, 0, 0);
			border-left: #e3e3e3 1px solid;
			font-size: 17px;
			width: 39px;
			height: 39px;
			line-height: 39px;
			vertical-align: bottom;
			position: absolute;
			right: 0;
		}
	}
}



@media only screen and (max-width: 482px) {
	.inline-search {
		@include px-to-rem(margin-top, 20px);
	}
}