/** account (create)
 ********************** **/
 

/* out of stock */
span.out-of-stock {
	display: block;
	margin-top: 15px;
}

.account{

	.form-group {
		margin-bottom: 1rem;
	}

	fieldset {
		padding: 10px 25px;
		margin: 15px 0px;
		border: 1px solid #dddddd;
		background-color: #fafafa;

	legend {
		float: none;
		display: block;
		width: auto;
		padding: 3px 10px;
		margin-bottom: 0;
		font-size: 15px;
		line-height: inherit;
		color: #333333;
		border: 1px solid #ddd;
		background-color: #ffffff;
	}

	.form-control {
		-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
		box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
		border-color: #f3f3f3;

		&:focus {
			-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
			box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
			border-color: #f3f3f3;
			}
		}
	}
}