/**	PRODUCT LIST
 **************************************************************** **/


div.product {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	.product-buttons a.btn-default {
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    &:hover {
      border: 0;
      background-color: rgba(0, 0, 0, 0.18);
    }
  }
  > .thumbnail {
    background-color: transparent !important;
    border-color: #ddd !important;
    margin-bottom: 6px;
    position: relative;
  }
}


div {
  &.product {
    > .thumbnail {
		display: block;
		padding: 4px;
		border: 1px solid #ddd;
		border-radius: 4px;
      > a.product-image {
        > img {
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          &:last-child {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            opacity: 0;
            filter: alpha(opacity = 0);
            -webkit-transition: all .500s;
            -moz-transition: all .500s;
            -o-transition: all .500s;
            transition: all .500s;
          }
        }
        display: block;
        position: relative;
      }
      &:hover > a.product-image > img:last-child {
        opacity: 1;
        filter: alpha(opacity = 100);
      }
      > {
        a.product-image > img:first-child {
          position: relative;
          opacity: 1;
          filter: alpha(opacity = 100);
        }
        .shop-option-over {
          position: absolute;
          top: 8px;
          right: 2px;
          z-index: 20;
          width: 50px;
          opacity: 0;
          filter: alpha(opacity = 0);
          -webkit-transition: all .300s;
          -moz-transition: all .300s;
          -o-transition: all .300s;
          transition: all .300s;
          > a {
            width: 44px;
            text-align: center;
            margin: 0 0 3px 0;
            -webkit-border-bottom-right-radius: 15px;
            -webkit-border-top-left-radius: 15px;
            -moz-border-radius-bottomright: 15px;
            -moz-border-radius-topleft: 15px;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 15px;
          }
        }
      }
    }
    &:hover > .thumbnail > .shop-option-over {
      opacity: 1;
      filter: alpha(opacity = 100);
    }
    > .thumbnail > .product-info {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 20;
      width: 70px;
      > .badge {
        min-width: 50px;
        text-align: center;
        font-size: 13px;
        margin-bottom: 3px;
        display: inline-block;
      }
    }
  }
  &.product-summary {
    padding: 15px 8px;
    border-radius: 3px;
    h2 {
	@include px-to-rem(font-size, 15px);
      color: #666;
      margin: 0 0 4px 0;
    }
  }
  &.product-rating {
    display: block;
    position: relative;
  }
  &.product-price {
    font-size: 20px;
    margin-top: 6px;
    font-weight: bold;
    > span {
      color: #999;
      font-size: 15px;
      display: inline-block;
      padding: 0 10px;
      font-weight: 400;
    }
  }
}
