/** Product Detail
 ********************** **/
 
.product_details_thumb {
  margin-bottom: 100px;
  .carousel-indicators {
    bottom: -86px;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    left: 0;
    margin: 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    li {
      background-position: center center;
      background-size: cover;
      height: 80px;
      width: 25%;
    }
  }
  .carousel-inner {
    border: 1px solid #ddd;
    margin: 0 3px;
    width: calc(100% - 6px);
  }
  .carousel-indicators li.active {
    border: 1px solid #ddd;
  }
  .product_badge {
    top: 30px;
  }
}

.product_details_desc {
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  padding: 15px;
  .title {
    font-size: 18px;
  }
  .product_details_ratings {
    i {
      color: #ff9800;
      font-size: 14px;
    }
    span {
      font-size: 13px;
    }
  }
  .price {
    font-size: 18px;
  }
  .short_overview  {
    h6 {
      font-size: 14px;
    }
    p {
      color: #888;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

