/* 1 Column */

.product-list {
  .col-lg-12 {
    > .product {
      position: relative;
      min-height: 230px;
      h2 {
        font-size: 20px;
      }
      > .thumbnail {
        float: left;
        width: 200px;
      }
    }
    margin-bottom: 30px;
    width: 100%;
  }
  .col-md-12 > .product > .thumbnail {
    float: left;
    width: 200px;
  }
  .col-lg-12 > .product > .product-summary, .col-md-12 > .product > .product-summary {
    text-align: left !important;
    position: absolute;
    left: 230px;
  }
  .col-lg-12 > .product > .product-buttons, .col-md-12 > .product > .product-buttons {
    text-align: left;
  }
  .col-lg-12 > .product > .product-summary > .product-price > span, .col-md-12 > .product > .product-summary > .product-price > span {
    padding-left: 0;
  }
  .col-lg-12 > .product p {
    margin: 15px 0;
    display: inline-block;
  }
}

/* list item buttons */

div.product-buttons {
  margin-top: 14px;
}

@media only screen and (max-width: 480px) {
  .product-list {
    .col-lg-12 > .product {
      min-height: 100px;
      > .thumbnail {
        float: none;
        width: 100%;
      }
    }
    .col-md-12 > .product > .thumbnail {
      float: none;
      width: 100%;
    }
    .col-lg-12 > .product > .product-summary, .col-md-12 > .product > .product-summary {
      position: relative;
      left: 0;
    }
    .col-lg-12 > .product > .product-buttons, .col-md-12 > .product > .product-buttons, .col-lg-12 > .product > .product-summary, .col-md-12 > .product > .product-summary {
      float: none;
      text-align: center !important;
    }
    .col-lg-12 > .product > .product-summary > .product-price > span, .col-md-12 > .product > .product-summary > .product-price > span {
      padding: 0 10px;
    }
  }
}
