/** shopping_cart 
 ********************** **/
 
%cartInput{
	border-radius: 0;
	box-shadow: none;
	height: 40px;
	background-color: $m-color-white;
	@include add-border(2px, $border-gray, all);
}
%buttonFont{
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
}
.cartListInner .row.totalAmountArea{
	margin:0;
}
%tableDiv{
	display: block;
	float: left;
	padding: 20px 30px;
	width: 100%;
	@include add-border(5px, $m-color-light, right-left);
	@include add-border(3px, $m-color-light, bottom);
}
%tableHead{
	background-color: $m-color-primary;
	padding: 0;
	height: 55px;
	vertical-align: middle;
	text-align: left;
	font-size: 16px;
	color: $m-color-white;
	padding-left: 20px;
	@include add-border(1px, rgba(255,255,255,0.2), right);
	border-bottom: none;
}
%tableData{
	vertical-align: middle;
	font-weight: 700;
	@include add-border(3px, $m-color-light, bottom);
	border-top: none;
}
%closeBtn{
	position: relative;
	left: 0;
	float: left;
	font-size: 22px;
	margin-right: 30px;
	color: $m-color-primary;
	opacity: 1;
	line-height: 74px;
	font-weight: normal;
	@include transition(all 0.3s ease-in-out);
	&:hover{
		opacity: .8;
	}
	@include tablet{
		margin-right: 5px;
	}
	@include desktops{
		margin-right: 30px;
	}
}

/* out of stock */
span.out-of-stock {
	display: block;
	margin-top: 15px;
}

.cartListInner{
	.table-responsive{
		margin-bottom: 0;
		@include mobile{
			overflow-x: auto;
		}
		@include tablet{
			overflow-x: visible;
		}
		.table{
			margin-bottom: 0;
			thead{
				tr{
					@include add-border(3px, $m-color-primary, right-left);
					th{
						@extend %tableHead;
						letter-spacing: 1px;
						border-top: none;
						&:last-child{
							border-right: none;
						}
						&:first-child{
							@include mobile-xs{
								display: none;
							}
							@include mobile{
								display: none;
							}
							@include tablet{
								display: table-cell;
							}
						}
					}
				}
			}
			tbody{
				tr{
					@include add-border(3px, $m-color-light, right-left);
					td{
						@extend %tableData;
						font-size: 16px;
						text-transform: capitalize;
						font-weight: 400;
						@include mobile{
							padding: 10px;
						}
						@include tablet{
							padding: 10px;
						}
						@include tablet{
							padding-left: 20px;
						}
						.close{
							@extend %closeBtn;
							position: relative;
							left: 0;
							font-size: 22px;
						}
						.cartImage{
							display: inline-block;
							float: left;
						}
						&:nth-child(3){
							color: #888888;
						}
						input{
							width: 20px;
							height: 40px;
							text-align: center;
							color: #333333;
							font-weight: 700;
							border: 1px solid #e4e4e4;
							margin: 0 -3px;
							border-left: 0px;
							border-right: 0px;
							@include tablet {
								width: 40px;
							}
						}
						&:first-child{
							@include mobile-xs{
								display: none;
							}
							@include mobile{
								display: none;
							}
							@include tablet{
								display: table-cell;
							}
						}
						&.count-input a {
							color: #a5a5a5;
							font-size: 10px;
							padding: 4px 6px 0px;
							display: inline-block;
							border: 1px solid #e4e4e4;
							line-height: 34px;
							height: 40px;
							@include tablet {
								padding: 4px 10px 0px;
							}
						}
					}
				}
			}
		}
	}
	.updateArea{
		@extend %tableDiv;
		.input-group{
			float: left;
			@include mobile-xs{
				width: 100%;
				margin-bottom: 20px;
			}
			@include mobile{
				width: 100%;
				margin-bottom: 20px;
			}
			@include tablet{
				width: 435px;
				margin-bottom: 0;
			}
			.form-control{
				@extend %cartInput;
				margin-right: 10px;
				margin-right: 10px;
				border-color: $m-border-light;
				font-size: 13px;
				@include mobile-xs{
					width: 50%;
				}
				@include mobile{
					width: 60%;
				}
				@include tablet{
					width: 285px;
				}
			}
			.input-group-addon{
				@extend %cartInput;
				@extend %buttonFont;
				@include transition(all 0.3s ease-in-out);
				&:hover{
					opacity: .8;
				}
				@include mobile-xs{
					width: 45%;
					font-size: 10px;
				}
				@include mobile{
					width: 35%;
				}
				@include tablet{
					width: 140px;
				}
			}
		}
		.btn{
			display: inline-block;
			@include transition(all 0.3s ease-in-out);
			color: $m-color-white;
			font-size: 13px;
			font-weight: 700;
			&.btn-primary {
				&:hover {
					opacity: 1.28;
				}
			}
		}
	}
	.infoStockArea{
		@extend %tableDiv;
	}		
	.totalAmountArea{
		@extend %tableDiv;
		.list-unstyled{
			li{
				font-weight: 400;
				text-align: right;
				margin: 10px 0;
				font-size: 15px;
				span{
					width: 108px;
					display: inline-block;
					color: #888888;
				}
				.grandTotal{
					color: $m-color-secondary;
				}
			}
		}
	}
	.checkBtnArea{
		@extend %tableDiv;
		border-bottom-width: 5px;
		.btn-danger{
			float: right;
			letter-spacing: 1px;
			font-weight: 700;
			@include transition(all 0.3s ease-in-out);
			i{
				margin-left: 10px;
			}
			&:hover{
				opacity: 1.28;
			}
		}
	}
}
