// The dropdown menu
#down {
	ul.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		float: left;
		min-width: 11rem;
		padding: .5rem .5rem;
		text-align: left; 
		background-color: #2b2d30;
	}
}



