/** price
*************************************************** **/

.line-through		{ text-decoration: line-through; }

.product-price {
	color:#5c77fc;
    font-size: 20px;
    margin-top: 6px;
    font-weight: bold;
    > span {
      color: #999;
      font-size: 15px;
      display: inline-block;
      padding: 0 10px;
      font-weight: 400;
	 }
 }

.span.price-offer{
	color:#ef4135;
	font-size:24px;
	padding-right:5px;
}

.span.price-old{
	font-size:18px;
	color:#808080;
}


.product_details_desc span.price-offer {
	color:#ef4135;
	font-size:24px;
	padding-right:5px;
}

.product_details_desc span.price-desc {
	color:#ef4135;
	font-size:14px;
	padding-right:5px;
	font-weight: bold
}


.product_details_desc span.price-old {
	font-size:18px;
	color:#808080;
}


.product-price span.price-offer {
	color:#ef4135;
	font-size:24px;
	padding-right:5px;
}

.product-price span.price-desc {
	color:#ef4135;
	font-size:14px;
	padding-right:5px;
	font-weight: bold;
}


.product-price span.price-old {
	font-size:18px;
	color:#808080;
}



.product-price span.price-offer {
	color:#ef4135;
	font-size: 20px;
	font-weight: bold;
}

.product-price span.price-old {
	font-size:18px;
	color:#808080;
}

.product-price  span.units-desc {
	color:#999;
	font-size:12px;
	padding-right:5px;
}

.product-price  span.base_price {
	color:#999;
	font-size:12px;
	padding-right:5px;
}

.product-price p {
  margin-bottom: 38px;
}

.product_details_desc span.price-desc {
	color:#ef4135;
	font-size:14px;
	padding-right:5px;
	font-weight: bold;
}

.total_price {
    float:right;
    width:100px;
    font-size:15px;
    padding:10px;
    line-height:30px;
    text-align:right;
    font-weight:bold;
}

.final_price {
    float:right;
    font-size:15px;
    padding:10px;
    line-height:30px;
    text-align:right;
}

.prices-tax {
	font-size:  15px;
	margin: 0;
}