<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"    
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com-intel-security-cordova-plugin"
    version="2.0.3">
    <name>APP Security API</name>
    <description>App Security API plugin</description>
	<repo>https://github.com/01org/AppSecurityApi.git</repo>
    <license></license>
    <keywords>Intel,intel.security,intel.security.Services,Security Services</keywords>

    <js-module src="www/appSecurityApi.js" name="Services">
        <clobbers target="intel.security" />
    </js-module>
    <js-module src="www/q-1/q.js" name="Q">
        <clobbers target="Q" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntelSecurity" >
                <param name="android-package" value="com.intel.security.Services"/>
            </feature>
        </config-file>

        <source-file src="src/android/Callbacks.java" target-dir="src/com/intel/security" />
        <source-file src="src/android/Services.java" target-dir="src/com/intel/security" />
		<source-file src="src/android/SecureAPIEnum.java" target-dir="src/com/intel/security" />
        <source-file src="src/android/SecureData.java" target-dir="src/com/intel/security" />
		<source-file src="src/android/SecureStorage.java" target-dir="src/com/intel/security" />
        <source-file src="src/android/SecureTransport.java" target-dir="src/com/intel/security" />
        
		<source-file src="src/android/ErrorCodeEnum.java" target-dir="src/com/intel/security" />	
        <source-file src="src/android/ErrorCodeException.java" target-dir="src/com/intel/security" />		

		
	<source-file src="src/android/arm64-v8a/libSecurityServices.so" target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/arm64-v8a/libsr_agent_o.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/armeabi/libSecurityServices.so" target-dir="libs/armeabi"/>
	<source-file src="src/android/armeabi/libsr_agent_o.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/armeabi-v7a/libSecurityServices.so" target-dir="libs/armeabi-v7a"/>
	<source-file src="src/android/armeabi-v7a/libsr_agent_o.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/x86_64/libSecurityServices.so" target-dir="libs/x86_64"/>
	<source-file src="src/android/x86_64/libsr_agent_o.so" target-dir="libs/x86_64"/>
        
	<source-file src="src/android/x86/libSecurityServices.so" target-dir="libs/x86"/>
	<source-file src="src/android/x86/libsr_agent_o.so" target-dir="libs/x86"/>     
	<source-file src="src/android/x86/libSecurityServices.sb" target-dir="assets"/>

    </platform>

    <!-- ios -->
    <platform name="ios">
    
        <!--  Sets the changes that need to be made to config.xml for iOS
                in the selected parent element. For separate parents, make sure
                to use separate <config-file> elements with the proper parent.
                These changes are applied by Icenium during the build process. -->
    
        <config-file target="config.xml" parent="/widget/plugins" >
            <feature name="IntelSecurity">
                <param name="ios-package" value="sService" />
            </feature>
        </config-file>
    
    
        <header-file src="src/ios/sService.h" />
        <source-file src="src/ios/sService.m" />
	
        <header-file src="src/ios/xss_types.h" />
        <header-file src="src/ios/xss_api.h" />
        <header-file src="src/ios/xss_error.h" />
        <header-file src="src/ios/xss_log.h" />
	<framework src="Security.framework" />
        <source-file src="src/ios/libsService.a" framework="true" />
        <source-file src="src/ios/libcrypto.a" framework="true" />
        <!-- <source-file src="src/ios/libssl.a" framework="true" /> -->
        <source-file src="src/ios/libcurl.a" framework="true" />
        <source-file src="src/ios/libjansson.a" framework="true" />
        <framework src="libc++.dylib" />
        <framework src="libstdc++.dylib" />
    
    </platform>
	
	<!-- windows8 -->
    <platform name="windows8">
        <config-file target="config.xml" parent="/*">
            <feature name="IntelSecurity" >
                <param name="wp-package" value="com.intel.security"/>
            </feature>
        </config-file>
		<js-module src="src/windows/servicesProxy.js" name="SecureProxy">
			<merges target="" />
		</js-module>
		<config-file target="package.appxmanifest" parent="/Package/Dependencies">
        </config-file>
	</platform>
	
	<!-- windows -->
    <platform name="windows">
        <config-file target="config.xml" parent="/widget">
            <feature name="IntelSecurity" >
                <param name="windows-package" value="com.intel.security"/>
            </feature>
        </config-file>
		<js-module src="src/windows/servicesProxy.js" name="SecureProxy">
			<merges target="" />
		</js-module>
		<hook type="after_prepare" src="src/windows/ChooseArch_Windows.js"/>
    </platform>
	
</plugin>
