/* site-layout, fonts-all, */
body {
	margin				: 0px;
	font-family			: Tahoma, Arial, "MS Serif";
	font-size			: 70%;
	font-weight			: normal;
	color				: #666666;
	background-color	: #FFFFFF;
	font-style			: normal;
	line-height			: normal;
	font-variant		: normal;
	}


/* links */
a 		{text-decoration	: none;}
a:link 	{color				: #999999;}
a:visited 	{color			: #999999;}
a:hover 	{color			: #CC0000; text-decoration: underline;}
a:active 	{color			: #999999;}


/* layout-grafik - table, td, hr... */
.back_tbl_head {
	background-image	: url(images/layout/back_head.gif);
	background-repeat	: repeat;
	}

.back_tbl_head_a {
	background-image	: url(images/layout/back_head_a.gif);
	background-repeat	: repeat;
	}

/* block */
.tbl_top_center {
	background-image	: url(images/block/tbl_top_center.gif);
	background-repeat	: repeat;
	}
.tbl_left {
	background-image	: url(images/block/tbl_left.gif);
	background-repeat	: repeat;
	}
.tbl_right {
	background-image	: url(images/block/tbl_right.gif);
	background-repeat	: repeat;
	}
.tbl_header {
	background-image	: url(images/block/tbl_head.gif);
	background-repeat	: repeat;
	font-weight			: bold;
	text-transform		: uppercase;
	color				: #FFFFFF;
	}
.tbl_header_green {
	background-image	: url(images/block/tbl_head_green.gif);
	background-repeat	: repeat;
	font-weight			: bold;
	text-transform		: uppercase;
	color				: #FFFFFF;
	}
.tbl_header_red {
	background-image	: url(images/block/tbl_head_red.gif);
	background-repeat	: repeat;
	font-weight			: bold;
	text-transform		: uppercase;
	color				: #FFFFFF;
	}
.tbl_buttom_center {
	background-image	: url(images/block/tbl_buttom_center.gif);
	background-repeat	: repeat;
	}
	
.body_head {
	font-size		: 120%;
	font-weight		: bold;
	color			: #FF0000;
}

/* specific TAGs */
hr {
	color			: #CCCCCC;
	text-decoration	: none;
	}

.uppercase { text-transform		: uppercase; }

input {
	color					: #FFFFFF;
	height					: 13px;
	font-weight				: bold;
	font-size				: 10px;
	margin					: 1px;
	border-top				: 0px none;
	border-right			: 0px none;
	border-bottom			: 0px none;
	border-left				: 0px none;
	background-color		: #999999;
	text-align				: left;
	vertical-align			: middle;
	}


.license {
	padding: 		0px;
	width: 			580px;
	height: 		260px;
}

.license-form {
	float: 			left;
}

.form-block {
	border: 		1px solid #cccccc;
	background: 		#E9ECEF;
	padding-top: 		5px;
	padding-left: 		5px;
	padding-bottom: 	5px;
	padding-right: 		5px;
}

ul.bb-list-unordered { }
ol.bb-list-ordered { }
ol.bb-list-ordered-d { list-style-type:decimal; }
ol.bb-list-ordered-lr { list-style-type:lower-roman; }
ol.bb-list-ordered-ur { list-style-type:upper-roman; }
ol.bb-list-ordered-la { list-style-type:lower-alpha; }
ol.bb-list-ordered-ua { list-style-type:upper-alpha; }
ol.bb-listitem { }

.bb-code,
.bb-php {
  border: 1px solid black;
  padding: 10px;
  font-family: Courier;
  white-space: nowrap;
}

.bb-quote {
  border: 1px solid black;
  padding: 10px;
}

.bb-email { }
.bb-url { }

.bb-image {
  border-width: 0;
  border-style: none;
}

.textarea {
 line-height: 13px;
 font-size: 13px;
 padding: 2px;
 font-family: sans-serif;

 width: 450px;
 height: 235px;
}

.efa {
border:none;
}