<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="450" align="left" valign="middle" class="tbl_header">&nbsp;&nbsp;{$oos_heading_title}</td>
    <td align="right" valign="middle" class="tbl_header">
{if !isset($smarty.get.option)}
	{if $smarty.const.PDF_WITH_HTMLDOC eq 'true'}
		<a href="{htmldoc_link modul=$main_page file=$page_file oos_get=$get_params}">{html_js_icon image="pdf.gif" alt=$lang.icon_button_pdf}</a>
	{/if}

	<script language="javascript"><!--
		document.write('<a href="javascript:void window.open(\'{html_href_link modul=$main_page file=$page_file oos_get=$get_params option=print}\', \'win2\', \'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no\');" title="{$lang.icon_button_print}">{html_js_icon image="print.gif" alt=$lang.icon_button_print}</a>');
	//--></script>
{/if}
    </td>
    <td align="left" valign="middle" class="tbl_header"><img src="{$theme_image}/trans.gif" alt=" " width="2" height="22"></td>
  </tr>
  <tr>
    <td colspan="3" align="left" valign="middle" class="body_head"><img src="{$theme_image}/heading/{$oos_heading_image}" alt="{$oos_heading_title}" hspace="4" vspace="4" border="0"></td>
  </tr>
</table>