<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<HTML {$smarty.const.HTML_PARAMS}>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset={$smarty.const.CHARSET}">
<title>{$oos_pagetitle}</title>
<meta name="robots" content="noindex, nofollow">
<base href="{$oos_base}">

<link rel="stylesheet" type="text/css" href="{$theme_css}/print.css">
</head>
<body class="contentpane">

{if !isset($smarty.get.pdf)}
    <table class="contentpaneopen">
    <tbody><tr>
        <td class="contentheading" width="100%">{$product_info.products_name}</td>
        <td align="right" width="100%" class="buttonheading"><a href="#" onclick="javascript:window.print(); return false" title="{$lang.icon_button_print}">{html_js_icon image="print.gif" alt=$lang.icon_button_print}</a></td>
    </tr></tbody>
    </table>

    <table class="contentpaneopen">
    <tbody><tr>
        <td valign="top" colspan="2" class="createdate">{$oos_date_long}</td>
    </tr>
    <tr><td height="15"></td></tr>
    </tbody></table>
{/if}

    <table cellspacing="0" cellpadding="0">
    <tbody><tr>
        <td align="center" valign="top">{$contents}</td>
    </tr>
    <tr><td height="10"></td></tr>
    </td></tr>
    </tbody></table>
    </table>

{if !isset($smarty.get.pdf)}
     <div align="right" style="margin-top: 30px; margin-bottom: 30px;">
         <a href='javascript:window.close();'>
         <span class="small">{$lang.text_close_window}</span>
        </a>
     </div>
{/if}

</body>
</html>

