		<footer class="dark-bg">
			<div class="container inner">
				<div class="row">
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>{$lang.header_title_my_account}</h4>
						<a href="{html_href_link content=$filename.main}"><img class="logo img-intext" src="{$theme_image}/logo-white.svg" alt=""></a>
					<ul class="list-unstyled">
						<li><a href="{html_href_link content=$filename.account connection=SSL}" title="{$lang.login_block_my_account}" rel="nofollow">{$lang.login_block_my_account}</a></li>
						<li><a href="{html_href_link content=$filename.account_edit connection=SSL}" title="{$lang.login_block_account_edit}" rel="nofollow">{$lang.login_block_account_edit}</a></li>
						<li><a href="{html_href_link content=$filename.account_history page=1 connection=SSL}" title="{$lang.login_block_account_history}" rel="nofollow">{$lang.login_block_account_history}</a></li>
						<li><a href="{html_href_link content=$filename.account_order_history page=1 connection=SSL}" title="{$lang.login_block_order_history}" rel="nofollow">{$lang.login_block_order_history}</a></li>
						<li><a href="{html_href_link content=$filename.account_address_book connection=SSL}" title="{$lang.login_block_address_book}" rel="nofollow">{$lang.login_block_address_book}</a></li>
					{if $oEvent->installed_plugin('notify')}
						<li><a href="{html_href_link content=$filename.product_notifications connection=SSL}" rel="nofollow">{$lang.login_block_product_notifications}</a></li>
					{/if}						
					</ul>
					</div><!-- .col -->
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>{$block_heading_information}</h4>
						
						<ul class="list-unstyled">
						{foreach $information as $info}
							<li><a href="{html_href_link content=$filename.information information_id=$info.information_id}" title="{$info.information_name}">{$info.information_name}</a></li>
						{/foreach}	
						</ul>
					</div><!-- .col -->
					
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>{$lang.header_title_service}</h4>
						<ul class="list-unstyled">
							<li><a href="{html_href_link content=$filename.products_new}" title="{$lang.block_service_new}"><i class="fa fa-bullhorn" aria-hidden="true"></i> {$lang.block_service_new}</a></li>
						{if $oEvent->installed_plugin('spezials')}
							<li><a href="{html_href_link content=$filename.specials}" title="{$lang.block_service_specials}"><i class="fa fa-star" aria-hidden="true"></i> {$lang.block_service_specials}</a></li>
						{/if}	
							<li><a href="{html_href_link content=$filename.sitemap}" title="{$lang.block_service_sitemap}"><i class="fa fa-sitemap" aria-hidden="true"></i> {$lang.block_service_sitemap}</a></li>
							<li><a href="{html_href_link content=$filename.advanced_search}" title="{$lang.block_service_advanced_search}"><i class="fa fa-search" aria-hidden="true"></i> {$lang.block_service_advanced_search}</a></li>
						{if $oEvent->installed_plugin('reviews')}
							<li><a href="{html_href_link content=$filename.reviews}" title="{$lang.block_service_reviews}"><i class="fa fa-comments" aria-hidden="true"></i> {$lang.block_service_reviews}</a></li>
						{/if}
						<li><a href="{html_href_link content=$filename.shopping_cart}" title="{$lang.block_service_shopping_cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {$lang.block_service_shopping_cart}</a></li>

					</ul>
					</div><!-- .col -->
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>{$lang.get_in_touch_with_us}</h4>
						<address>
						<!-- Location -->
						<div class="d-flex g-mb-20">
							<div class="g-mr-10">
								<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</span>
							</div>
							<p><strong> {$smarty.const.STORE_NAME}</strong><br>
								{$smarty.const.STORE_ADDRESS_STREET}<br>
								{$smarty.const.STORE_ADDRESS_POSTCODE} {$smarty.const.STORE_ADDRESS_CITY} 				  
							</p>
						</div>
						</address>
						<!-- End Location -->							
						<p>
							<i class="fa fa-phone" aria-hidden="true"></i> {$smarty.const.STORE_ADDRESS_TELEPHONE_NUMBER} <br>
							<a href="{html_href_link content=$filename.contact_us}" title="{$lang.block_service_contact}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {$smarty.const.STORE_ADDRESS_EMAIL}</a>
						</p>
					</div><!-- .col -->
					
				</div><!-- .row --> 
			</div><!--end container-->

			
			<!-- Copyright Footer -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center text-md-left">
							<div class="d-lg-flex">
						{*
							GERMAN:
							Diese Rueckverlinkung darf nur entfernt werden,
							wenn Sie eine MyOOS Lizenz besitzen.
							:: Lizenzbedingungen: 
							http://www.myoos.de/Projektbezogene-Gebuehr-p-38.html

							ENGLISH:
							This back linking maybe only removed,
							if you possess a MyOOS Lizenz license.
							:: License conditions: 
							http://www.myoos.de/Projektbezogene-Gebuehr-p-38.html
						*}				  
			  
								<p class="pull-left"><span>Copyright &copy; {$smarty.now|date_format:"%Y"}</span> <a href="{html_href_link content=$filename.main}">{$smarty.const.STORE_NAME}</a> Powered by <a href="http://www.oos-shop.de" target="_blank">MyOOS [Shopsystem]</a>. Alle Rechte vorbehalten. 
								</p>
							</div>
						</div>				
	

            <div class="col-md-4 align-self-center">
              <ul class="list-inline-item text-center text-md-right mb-0">
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
                  <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                  <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Pinterest">
                  <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Dribbble">
                  <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>						
						
			
					
					</div>
				</div><!--end container-->
				
			</div><!-- .footer-bottom -->
		</footer>	

</div><!--/wrapper-->
<!-- JS Global Compulsory -->           
<script type="text/javascript" src="js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
{$javascript}

<script src="{$theme}/js/shop.app.js"></script>

{literal}
	<script>
		jQuery(document).ready(function() {
			App.init();
		});
	</script>
{/literal}
<!-- HTML5 shim and Respond.js IE support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="{$theme}/crossbrowserjs/html5shiv.js"></script>
	<script src="{$theme}/crossbrowserjs/respond.min.js"></script>
	<script src="{$theme}/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->

</body>
</html>
