<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html {$oos_html_params}>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$smarty.const.CHARSET}">
<base href="{$oos_base}">
<title>{$lang.heading_title}</title>
<link REL="StyleSheet" TYPE="text/css" HREF="{$theme_css}/stylesheet.css">
</head>
{literal}
<style type="text/css"><!--
BODY { margin-bottom: 10px; margin-left: 10px; margin-right: 10px; margin-top: 10px; }
//--></style>
{/literal}
<body marginwidth="10" marginheight="10" topmargin="10" bottommargin="10" leftmargin="10" rightmargin="10">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" class="block_head_background"><img src="{$theme_image}/table_head_arrow.gif" alt=" " width="21" height="19"></td>
    <td width="100%" class="block_head_background">{$lang.heading_title}</td>
    <td width="5" class="block_head_background"><img src="{$theme_image}/table_head_right.gif" alt=" " width="5" height="19"></td>
  </tr>
  <tr>
    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2" class="block_content_backgr_left"></td>
        <td width="100%"><table width="100%" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="left" valign="top" class="boxText">

<p class="main"><b><i>{$lang.sub_heading_title_1}</i></b><br>{$lang.sub_heading_text_1}</p>
<p class="main"><b><i>{$lang.sub_heading_title_2}</i></b><br>{$lang.sub_heading_text_2}</p>
<p class="main"><b><i>{$lang.sub_heading_title_3}</i></b><br>{$lang.sub_heading_text_3}</p>

              </td>
          </tr>
        </table></td>
        <td width="2" class="block_content_backgr_right"></td>
      </tr>
      <tr>
        <td><img src="{$theme_image}/table_butt_left.gif" alt=" " width="2" height="8"></td>
        <td></td>

        <td><img src="{$theme_image}/table_butt_right.gif" alt=" " width="2" height="8"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><img src="{$theme_image}/pixel.gif" alt=" " width="3" height="3"></td>
  </tr>
</table>

<p class="smallText" align="right"><a href="javascript:window.close()">{$lang.text_close_window}</a></p>

</body>
</html>