/**  Headers
*************************************************** **/

#header {
  display: block;
  font-weight: 300;
  position: relative;
  min-height: 60px;
  z-index: 15;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
  hr {
    background: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .logo {
    cursor: pointer;
    display: inline-block;
    height: auto;
    max-height: 60px !important;
    line-height: 60px;
    width: auto;
  }
  .nav-toggle + .logo {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  #header > .container {
    padding: 0;
  }
}

/** LOGO
 *************************************************** **/

@media only screen and (max-width: 768px) {
  #header .logo > img {
    max-width: 128px;
  }
}

/** NAV TOGGLE
 *************************************************** **/

button.nav-toggle {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background: transparent;
  border-right: rgba(0, 0, 0, 0.07) 1px solid;
  border-left: rgba(0, 0, 0, 0.07) 1px solid;
  float: left;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  &:after {
    content: attr(data-text);
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    font-size: 10px;
    font-weight: 300;
    color: #999;
  }
}

#bg-light {
  color: #121212;
  background-color: #ffffff;
  a {
    color: #121212;
  }
  .dropdown-menu a:not(.active):not(.btn):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .nav-toggle {
    background: url('../images/burger.svg') center no-repeat;
  }
}

/** STICKY
 *************************************************** **/

#header {
  &.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    +#wrapper {
        margin-top: 120px;
    }		
  }
  &.header-shadow {
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
  }
}
	

.navbar {
  & > .container {
    position: relative;
  }
}


/** BUTTONS
*************************************************** **/

#header ul.header-buttons {
  float: right;
  margin: 0 0 0 30px;
  padding: 0 0 0 10px;
  > li {
    margin: 0;
    padding: 0;
    position: relative;
    &.active {
      background-color: rgba(0, 0, 0, 0.03);
    }
    > a {
      height: 60px;
      padding: 10px 6px;
      text-align: center;
      text-decoration: none;
      display: block;
      position: relative;
      font-size: 14px;
      > i {
        display: block;
        margin: 0 0 6px 0;
        padding: 0;
        font-size: 18px;
      }
    }
    &.header-button-arrow {
      &:before {
        content: "\f107";
        font: normal normal normal 14px/1 'FontAwesome';
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 6px;
        color: #d1d1d1;
      }
      &.show:before {
        content: "\f106";
      }
    }
    > {
      a {
        > span.badge {
          position: absolute;
          top: 1px;
          right: 1px;
          padding: 2px 4px 3px 4px;
          background-color: #ccc !important;
          -moz-border-radius: 0;
          border-radius: 0;
        }
        &.dropdown-toggle::after {
          display: none;
        }
      }
      .dropdown-menu {
        > span {
          display: block;
          padding: 7px 10px;
          font-weight: bold;
          font-size: 15px;
          background-color: rgba(0, 0, 0, 0.03);
          margin-bottom: 1px;
          width: 100%;
          max-width: 220px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          > i {
            margin-right: 5px;
            font-size: 14px;
            color: #ccc;
          }
        }
        .btn {
          color: #fff;
          line-height: 18px;
        }
        margin: 0;
        padding: 0;
        border: 0;
        max-width: 300px;
        min-width: 220px;
        -webkit-border-top-left-radius: 0;
        -moz-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
        > a {
          padding: 5px 15px 5px 28px;
          font-size: 15px;
          position: relative;
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          &.active {
            color: #fff;
            text-decoration: none;
            background-color: #0275d8;
          }
          &.dropdown-item {
            &:before {
              content: "\f105";
              font: normal normal normal 14px/1 'FontAwesome';
              font-size: 16px;
              position: absolute;
              left: 12px;
              top: 6px;
              color: #d1d1d1;
            }
            &.dropdown-custom-icon {
              padding-left: 12px;
              > i {
                margin-right: 3px;
                font-size: 14px;
                color: #d1d1d1;
              }
              &:before {
                display: none;
              }
            }
            &.dropdown-myaccount-logout {
              display: block;
              padding: 7px 10px;
              background-color: rgba(0, 0, 0, 0.03);
              margin-top: 1px;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  #header ul.header-buttons {
    margin: 0;
    padding: 0;
    border-left: rgba(0, 0, 0, 0.07) 1px solid;
    &.header-buttons-bordered {
      border-left: 0;
    }
  }
}

/** GLOBAL SEARCH
*************************************************** **/

#header form.search-global {
  width: 100%;
  max-width: calc(100% - 500px);
  float: right;
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
}

form.search-global {
  input, button {
    padding: 10px 15px !important;
    margin-bottom: 0 !important;
    font-size: 15px;
  }
  input {
    width: 100%;
    padding-right: 50px !important;
    z-index: 1 !important;
    border-radius: 5px !important;
    line-height: 18px !important;
    height: 40px !important;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border: 0;
    background: transparent;
    height: 40px !important;
    line-height: 1;
    > i {
      margin: 0;
      padding: 0;
    }
    &:not(.btn-primary) {
      color: #999;
    }
  }
  &:hover button:not(.btn-primary) {
    color: #313131;
  }
}

/* responsive */
@media only screen and (max-width: 767px) {
  form.search-global {
    input {
      padding: 14px 15px !important;
    }
    button {
      padding: 14px 15px !important;
      line-height: 1;
      height: 100% !important;
      max-height: 48px !important;
    }
  }
}


