//
// Product gallery
// --------------------------------------------------

.product-gallery {
  position: relative;
  padding-left: 5.25rem;

  .badge {
    position: absolute;
    top: 1rem;
    z-index: 10;
  }

  .product-carousel a {
    display: block;
    cursor: url(../img/gallery-cursor.png) 0 0, pointer;
    cursor: -webkit-image-set(url(../img/gallery-cursor.png) 1x, url(../img/gallery-cursor@2x.png) 2x) 0 0, pointer;
    > img {
      display: block;
      width: 100%;
    }
  }

  .product-thumbnails {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: $product-gallery-thumb-margin;
      > a {
        display: block;
        width: $product-gallery-thumb-width;
        transition: $product-gallery-thumb-transition;
        opacity: $product-gallery-thumb-opacity;
        > img {
          display: block;
          width: 100%;
        }
      }
      &.active > a {
        opacity: $product-gallery-thumb-active-opacity;
      }
      &.video-thumbnail > a {
        position: relative;
        > .thumb-caption {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          padding: .25rem;
          transform: translateY(-50%);
          background-color: $product-gallery-thumb-video-caption-bg;
          color: $product-gallery-thumb-video-caption-color;
          font: {
            size: $product-gallery-thumb-video-caption-font-size;
            weight: 600;
          }
          text: {
            align: center;
            transform: uppercase;
          }
          line-height: 1;
          z-index: 10;
        }
      }
    }
  }
  
  @media (max-width: 575.98px) {
    .product-gallery {
      padding-left: 0;
    }
    .product-gallery .product-thumbnails {
      display: none;
    }
  }  

}



