/** submenu 
*************************************************** **/
#topNav {
  ul.dropdown-menu {
    text-align: left;
    margin-top: 0;
    box-shadow: none;
    border: #eee 1px solid;
    border-top: #eee 1px solid;
    list-style: none;
    background: #fff;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 12px;
    min-width: 200px;
    padding: 0;
    border-color: #1ABC9C #fff #fff;
    -webkit-transition: top .4s ease;
    -o-transition: top .4s ease;
    transition: top .4s ease;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    ul.dropdown-menu {
      margin-top: -1px !important;
      /* -1px required for border-top menu */
    }
    li {
      position: relative;
      /*border-bottom: rgba(0,0,0,0.06) 1px solid;*/
      &:last-child {
        border-bottom: 0;
      }
      a {
        margin: 0;
        padding: 7px 15px;
        font-weight: 400;
        line-height: 23px;
        color: #666;
        font-size: 12px;
        display: block;
        text-decoration: none;
      }
    }
    > li a i {
      margin-right: 6px;
      font-size: 12px;
    }
    a.dropdown-toggle {
      background-position: right center;
      background-repeat: no-repeat;
    }
    li {
      &.active {
        > a, &:hover > a, &:focus > a {
          color: #000;
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
      &:hover > a, &:focus > a {
        color: #000;
        background-color: rgba(0, 0, 0, 0.05);
      }
      &.divider {
        margin: -1px 0 0 0;
        padding: 0;
        border: 0;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .nav li:hover > ul.dropdown-menu {
    padding: 0;
    display: block;
    z-index: 100;
  }
  ul.dropdown-menu {
    li .badge {
      margin-top: 4px;
    }
    > li:hover > ul.dropdown-menu {
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
      padding: 0;
      margin: 0;
      border-left: 0 !important;
      border-right: 0 !important;
      border-bottom: 0 !important;
    }
  }
}



/* sub-submenu */

/** ************************************************************* **/


/** Responsive Top Nav
 ********************* **/
@media only screen and (max-width: 992px) {
  .navbar-collapse {
    height: 100%;
  }
  form.mobile-search {
    display: block;
  }
  #topNav {
    div.nav-main-collapse {
      padding: 0;
      margin: 0;
    }
    button.btn-mobile {
      display: block;
      float: right;
      margin-right: 0;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
  #header {
    &.dark #topNav button.btn-mobile, &.transparent #topNav button.btn-mobile, &.theme-color #topNav button.btn-mobile {
      color: #fff;
    }
  }
  #topNav {
    nav.nav-main {
      background-color: #fff;
    }
    div.nav-main-collapse {
      width: 100%;
      margin: -1px 0 0 0;
      &.in {
        width: 100%;
        margin: -1px 0 0 0;
      }
      float: none;
      overflow-x: hidden;
      max-height: 350px;
    }
  }
  /* ======================== MOBILE MENU V2 ===================== */
  html.noscroll {
    overflow: hidden !important;
    body {
      overflow: hidden !important;
    }
  }

  #menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10 !important;
  }
}

