extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Alerts'
  - var pageSubTitle = '&mdash;&nbsp; Provide contextual feedback messages for typical user actions. <a href="https://getbootstrap.com/docs/4.3/components/alerts/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Basic example
  h2.h5.mb-3 Basic example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .alert.alert-primary(role='alert')
            | A simple primary alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-secondary(role='alert')
            | A simple secondary alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-success(role='alert')
            | A simple success alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-danger(role='alert')
            | A simple danger alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-warning(role='alert')
            | A simple warning alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-info(role='alert')
            | A simple info alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-light(role='alert')
            | A simple light alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-dark.mb-0(role='alert')
            | A simple dark alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Primary alert --&gt;
              &lt;div class=&quot;alert alert-primary&quot; role=&quot;alert&quot;&gt;
                A simple primary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Secondary alert --&gt;
              &lt;div class=&quot;alert alert-secondary&quot; role=&quot;alert&quot;&gt;
                A simple secondary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Success alert --&gt;
              &lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
                A simple success alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Danger alert --&gt;
              &lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;
                A simple danger alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Warning alert --&gt;
              &lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;
                A simple warning alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Info alert --&gt;
              &lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;
                A simple info alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Light alert --&gt;
              &lt;div class=&quot;alert alert-light&quot; role=&quot;alert&quot;&gt;
                A simple light alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Dark alert --&gt;
              &lt;div class=&quot;alert alert-dark&quot; role=&quot;alert&quot;&gt;
                A simple dark alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Primary alert
              .alert.alert-primary(role=&quot;alert&quot;)
                | A simple primary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Secondary alert
              .alert.alert-secondary(role=&quot;alert&quot;)
                | A simple secondary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Success alert
              .alert.alert-success(role=&quot;alert&quot;)
                | A simple success alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Danger alert
              .alert.alert-danger(role=&quot;alert&quot;)
                | A simple danger alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Warning alert
              .alert.alert-warning(role=&quot;alert&quot;)
                | A simple warning alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              
              // Info alert
              .alert.alert-info(role=&quot;alert&quot;)
                | A simple info alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Light alert
              .alert.alert-light(role=&quot;alert&quot;)
                | A simple light alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Dark alert
              .alert.alert-dark(role=&quot;alert&quot;)
                | A simple dark alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

  // Alert with icon
  h2.h5.pt-5.mb-3 Alert with icon
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .alert.alert-primary.alert-with-icon(role='alert')
            .alert-icon-box
              i(data-feather='bell').alert-icon
            | A simple primary alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-secondary.alert-with-icon(role='alert')
            .alert-icon-box
              i(data-feather='clock').alert-icon
            | A simple secondary alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-success.alert-with-icon(role='alert')
            .alert-icon-box
              i(data-feather='check-circle').alert-icon
            | A simple success alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-danger.alert-with-icon(role='alert')
            .alert-icon-box
              i(data-feather='slash').alert-icon
            | A simple danger alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-warning.alert-with-icon(role='alert')
            .alert-icon-box
              i(data-feather='alert-triangle').alert-icon
            | A simple warning alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-info.alert-with-icon(role='alert')
            .alert-icon-box
              i(data-feather='info').alert-icon
            | A simple info alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-light.alert-with-icon(role='alert')
            .alert-icon-box
              i(data-feather='archive').alert-icon
            | A simple light alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
          .alert.alert-dark.alert-with-icon.mb-0(role='alert')
            .alert-icon-box
              i(data-feather='alert-octagon').alert-icon
            | A simple dark alert with <a href='#' class='alert-link'>an example link</a>. Give it a click if you like.
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Primary alert --&gt;
              &lt;div class=&quot;alert alert-primary&quot; role=&quot;alert&quot;&gt;
                &lt;div class=&quot;alert-icon-box&quot;&gt;
                  &lt;i class=&quot;alert-icon&quot; data-feather=&quot;bell&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                A simple primary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Secondary alert --&gt;
              &lt;div class=&quot;alert alert-secondary&quot; role=&quot;alert&quot;&gt;
                &lt;div class=&quot;alert-icon-box&quot;&gt;
                  &lt;i class=&quot;alert-icon&quot; data-feather=&quot;clock&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                A simple secondary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Success alert --&gt;
              &lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
                &lt;div class=&quot;alert-icon-box&quot;&gt;
                  &lt;i class=&quot;alert-icon&quot; data-feather=&quot;check-circle&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                A simple success alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Danger alert --&gt;
              &lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;
                &lt;div class=&quot;alert-icon-box&quot;&gt;
                  &lt;i class=&quot;alert-icon&quot; data-feather=&quot;slash&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                A simple danger alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Warning alert --&gt;
              &lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;
                &lt;div class=&quot;alert-icon-box&quot;&gt;
                  &lt;i class=&quot;alert-icon&quot; data-feather=&quot;alert-triangle&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                A simple warning alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Info alert --&gt;
              &lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;
                &lt;div class=&quot;alert-icon-box&quot;&gt;
                  &lt;i class=&quot;alert-icon&quot; data-feather=&quot;info&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                A simple info alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Light alert --&gt;
              &lt;div class=&quot;alert alert-light&quot; role=&quot;alert&quot;&gt;
                &lt;div class=&quot;alert-icon-box&quot;&gt;
                  &lt;i class=&quot;alert-icon&quot; data-feather=&quot;archive&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                A simple light alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;

              &lt;!-- Dark alert --&gt;
              &lt;div class=&quot;alert alert-dark&quot; role=&quot;alert&quot;&gt;
                &lt;div class=&quot;alert-icon-box&quot;&gt;
                  &lt;i class=&quot;alert-icon&quot; data-feather=&quot;alert-octagon&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
                A simple dark alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Primary alert
              .alert.alert-primary.alert-with-icon(role=&quot;alert&quot;)
                .alert-icon-box
                  i(data-feather=&quot;bell&quot;).alert-icon
                | A simple primary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Secondary alert
              .alert.alert-secondary.alert-with-icon(role=&quot;alert&quot;)
                .alert-icon-box
                  i(data-feather=&quot;clock&quot;).alert-icon
                | A simple secondary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Success alert
              .alert.alert-success.alert-with-icon(role=&quot;alert&quot;)
                .alert-icon-box
                  i(data-feather=&quot;check-circle&quot;).alert-icon
                | A simple success alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              
              // Danger alert
              .alert.alert-danger.alert-with-icon(role=&quot;alert&quot;)
                .alert-icon-box
                  i(data-feather=&quot;slash&quot;).alert-icon
                | A simple danger alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

              // Warning alert
              .alert.alert-warning.alert-with-icon(role=&quot;alert&quot;)
                .alert-icon-box
                  i(data-feather=&quot;alert-triangle&quot;).alert-icon
                | A simple warning alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              
              // Info alert
              .alert.alert-info.alert-with-icon(role=&quot;alert&quot;)
                .alert-icon-box
                  i(data-feather=&quot;info&quot;).alert-icon
                | A simple info alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              
              // Light alert
              .alert.alert-light.alert-with-icon(role=&quot;alert&quot;)
                .alert-icon-box
                  i(data-feather=&quot;archive&quot;).alert-icon
                | A simple light alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
              
              // Dark alert
              .alert.alert-dark.alert-with-icon(role=&quot;alert&quot;)
                .alert-icon-box
                  i(data-feather=&quot;alert-octagon&quot;).alert-icon
                | A simple dark alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.

  // Dismissible alerts
  h2.h5.pt-5.mb-3 Dismissible alerts
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .alert.alert-primary.alert-dismissible.fade.show(role='alert')
            | <span class='font-weight-semibold'>Primary alert:</span> Dismiss me by clicking the close button on the right.
            button(type='button' data-dismiss='alert' aria-label='Close').close
              span(aria-hidden='true') &times;
          .alert.alert-secondary.alert-dismissible.fade.show(role='alert')
            | <span class='font-weight-semibold'>Secondary alert:</span> Dismiss me by clicking the close button on the right.
            button(type='button' data-dismiss='alert' aria-label='Close').close
              span(aria-hidden='true') &times;
          .alert.alert-success.alert-dismissible.fade.show(role='alert')
            | <span class='font-weight-semibold'>Success alert:</span> Dismiss me by clicking the close button on the right.
            button(type='button' data-dismiss='alert' aria-label='Close').close
              span(aria-hidden='true') &times;
          .alert.alert-danger.alert-dismissible.fade.show(role='alert')
            | <span class='font-weight-semibold'>Danger alert:</span> Dismiss me by clicking the close button on the right.
            button(type='button' data-dismiss='alert' aria-label='Close').close
              span(aria-hidden='true') &times;
          .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            | <span class='font-weight-semibold'>Warning alert:</span> Dismiss me by clicking the close button on the right.
            button(type='button' data-dismiss='alert' aria-label='Close').close
              span(aria-hidden='true') &times;
          .alert.alert-info.alert-dismissible.fade.show(role='alert')
            | <span class='font-weight-semibold'>Info alert:</span> Dismiss me by clicking the close button on the right.
            button(type='button' data-dismiss='alert' aria-label='Close').close
              span(aria-hidden='true') &times;
          .alert.alert-light.alert-dismissible.fade.show(role='alert')
            | <span class='font-weight-semibold'>Light alert:</span> Dismiss me by clicking the close button on the right.
            button(type='button' data-dismiss='alert' aria-label='Close').close
              span(aria-hidden='true') &times;
          .alert.alert-dark.alert-dismissible.fade.show.mb-0(role='alert')
            | <span class='font-weight-semibold'>Dark alert:</span> Dismiss me by clicking the close button on the right.
            button(type='button' data-dismiss='alert' aria-label='Close').close
              span(aria-hidden='true') &times;
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Primary alert --&gt;
              &lt;div class=&quot;alert alert-primary alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                &lt;span class=&quot;font-weight-semibold&quot;&gt;Primary alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
              
              &lt;!-- Secondary alert --&gt;
              &lt;div class=&quot;alert alert-secondary alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                &lt;span class=&quot;font-weight-semibold&quot;&gt;Secondary alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
              
              &lt;!-- Success alert --&gt;
              &lt;div class=&quot;alert alert-success alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                &lt;span class=&quot;font-weight-semibold&quot;&gt;Success alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
              
              &lt;!-- Danger alert --&gt;
              &lt;div class=&quot;alert alert-danger alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                &lt;span class=&quot;font-weight-semibold&quot;&gt;Danger alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
              
              &lt;!-- Warning alert --&gt;
              &lt;div class=&quot;alert alert-warning alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                &lt;span class=&quot;font-weight-semibold&quot;&gt;Warning alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
              
              &lt;!-- Info alert --&gt;
              &lt;div class=&quot;alert alert-info alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                &lt;span class=&quot;font-weight-semibold&quot;&gt;Info alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
              
              &lt;!-- Light alert --&gt;
              &lt;div class=&quot;alert alert-light alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                &lt;span class=&quot;font-weight-semibold&quot;&gt;Light alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
              
              &lt;!-- Dark alert --&gt;
              &lt;div class=&quot;alert alert-dark alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                &lt;span class=&quot;font-weight-semibold&quot;&gt;Dark alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Primary alert
              .alert.alert-primary.alert-dismissible.fade.show(role=&quot;alert&quot;)
                | &lt;span class=&quot;font-weight-semibold&quot;&gt;Primary alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                button(type=&quot;button&quot;, data-dismiss=&quot;alert&quot;, aria-label=&quot;Close&quot;).close
                  span(aria-hidden=&quot;true&quot;) &amp;times;

              // Secondary alert
              .alert.alert-secondary.alert-dismissible.fade.show(role=&quot;alert&quot;)
                | &lt;span class=&quot;font-weight-semibold&quot;&gt;Secondary alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                button(type=&quot;button&quot;, data-dismiss=&quot;alert&quot;, aria-label=&quot;Close&quot;).close
                  span(aria-hidden=&quot;true&quot;) &amp;times;

              // Success alert
              .alert.alert-success.alert-dismissible.fade.show(role=&quot;alert&quot;)
                | &lt;span class=&quot;font-weight-semibold&quot;&gt;Success alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                button(type=&quot;button&quot;, data-dismiss=&quot;alert&quot;, aria-label=&quot;Close&quot;).close
                  span(aria-hidden=&quot;true&quot;) &amp;times;

              // Danger alert
              .alert.alert-danger.alert-dismissible.fade.show(role=&quot;alert&quot;)
                | &lt;span class=&quot;font-weight-semibold&quot;&gt;Danger alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                button(type=&quot;button&quot;, data-dismiss=&quot;alert&quot;, aria-label=&quot;Close&quot;).close
                  span(aria-hidden=&quot;true&quot;) &amp;times;

              // Warning alert
              .alert.alert-warning.alert-dismissible.fade.show(role=&quot;alert&quot;)
                | &lt;span class=&quot;font-weight-semibold&quot;&gt;Warning alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                button(type=&quot;button&quot;, data-dismiss=&quot;alert&quot;, aria-label=&quot;Close&quot;).close
                  span(aria-hidden=&quot;true&quot;) &amp;times;

              // Info alert
              .alert.alert-info.alert-dismissible.fade.show(role=&quot;alert&quot;)
                | &lt;span class=&quot;font-weight-semibold&quot;&gt;Info alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                button(type=&quot;button&quot;, data-dismiss=&quot;alert&quot;, aria-label=&quot;Close&quot;).close
                  span(aria-hidden=&quot;true&quot;) &amp;times;
              
              // Light alert
              .alert.alert-light.alert-dismissible.fade.show(role=&quot;alert&quot;)
                | &lt;span class=&quot;font-weight-semibold&quot;&gt;Light alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                button(type=&quot;button&quot;, data-dismiss=&quot;alert&quot;, aria-label=&quot;Close&quot;).close
                  span(aria-hidden=&quot;true&quot;) &amp;times;

              // Dark alert
              .alert.alert-dark.alert-dismissible.fade.show(role=&quot;alert&quot;)
                | &lt;span class=&quot;font-weight-semibold&quot;&gt;Dark alert:&lt;/span&gt; Dismiss me by clicking the close button on the right.
                button(type=&quot;button&quot;, data-dismiss=&quot;alert&quot;, aria-label=&quot;Close&quot;).close
                  span(aria-hidden=&quot;true&quot;) &amp;times;

  // Additional content
  h2.h5.pt-5.mb-3 Additional content
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result4.tab-pane.fade.show.active(role='tabpanel')
          .alert.alert-success.mb-0(role='alert')
            h4.pt-2.alert-heading Well done!
            p Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
            hr
            p.pt-3.mb-2 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
        #html4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Success alert --&gt;
              &lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
                &lt;h4 class=&quot;pt-2 alert-heading&quot;&gt;Well done!&lt;/h4&gt;
                &lt;p&gt;Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.&lt;/p&gt;
                &lt;hr&gt;
                &lt;p class=&quot;pt-3 mb-2&quot;&gt;Whenever you need to, be sure to use margin utilities to keep things nice and tidy.&lt;/p&gt;
              &lt;/div&gt;
        #pug4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Success alert
              .alert.alert-success(role=&quot;alert&quot;)
                h4.pt-2.alert-heading Well done!
                p Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
                hr
                p.pt-3.mb-2 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.

  // Background image
  h2.h5.pt-5.mb-3 Background image
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result5' data-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html5' data-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug5' data-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result5.tab-pane.fade.show.active(role='tabpanel')
          .alert.alert-bg-image.alert-dismissible.fade.show.text-center.py-5.mb-0(style='background-image: url(../img/components/alerts/alert-bg.jpg);' role='alert')
            i(data-feather='clock' style='width: 3.125rem; height: 3.125rem;').d-block.text-white.my-3.mx-auto
            h2.text-white.text-shadow Check Our Limited Offers!
            h4.text-white.text-shadow.mb-4.pb-2 Save up to 50%
            a(href='#').btn.btn-primary.mb-3 View offers
            button(type='button' data-dismiss='alert' aria-label='Close').close.text-white
              span(aria-hidden='true') &times;
        #html5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Alert with bakground image --&gt;
              &lt;div class=&quot;alert alert-bg-image alert-dismissible fade show text-center py-5&quot; style=&quot;background-image: url(path-to-image)&quot; role=&quot;alert&quot;&gt;
                &lt;i class=&quot;d-block text-white my-3 mx-auto&quot; data-feather=&quot;clock&quot; style=&quot;width: 3.125rem; height: 3.125rem;&quot;&gt;&lt;/i&gt;
                &lt;h2 class=&quot;text-white text-shadow&quot;&gt;Check Our Limited Offers!&lt;/h2&gt;
                &lt;h4 class=&quot;text-white text-shadow mb-4 pb-2&quot;&gt;Save up to 50%&lt;/h4&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-primary mb-3&quot;&gt;View offers&lt;/a&gt;
                &lt;button type=&quot;button&quot; class=&quot;close text-white&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
                  &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                &lt;/button&gt;
              &lt;/div&gt;

        #pug5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Alert with bakground image
              .alert.alert-bg-image.alert-dismissible.fade.show.text-center.py-5(style=&quot;background-image: url(path-to-image)&quot; role=&quot;alert&quot;)
                i(data-feather=&quot;clock&quot; width=&quot;50&quot; height=&quot;50&quot;).d-block.text-white.my-3.mx-auto
                h2.text-white.text-shadow Check Our Limited Offers!
                h4.text-white.text-shadow.mb-4.pb-2 Save up to 50%
                a(href=&quot;#&quot;).btn.btn-primary.mb-3 View offers
                button(type=&quot;button&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;).close.text-white
                  span(aria-hidden=&quot;true&quot;) &amp;times;
