extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Badges'
  - var pageSubTitle = '&mdash;&nbsp; Small count and labeling component. <a href="https://getbootstrap.com/docs/4.3/components/badge/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Contextual variations
  h2.h5.mb-3 Contextual variations
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          span.badge.badge-primary.mr-2.mb-2 Primary
          span.badge.badge-secondary.mr-2.mb-2 Secondary
          span.badge.badge-success.mr-2.mb-2 Success
          span.badge.badge-danger.mr-2.mb-2 Danger
          span.badge.badge-warning.mr-2.mb-2 Warning
          span.badge.badge-info.mr-2.mb-2 Info
          span.badge.badge-light.mr-2.mb-2 Light
          span.badge.badge-dark.mr-2.mb-2 Dark
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Primary badge --&gt;
              &lt;span class=&quot;badge badge-primary&quot;&gt;Primary&lt;/span&gt;

              &lt;!-- Secondary badge --&gt;
              &lt;span class=&quot;badge badge-secondary&quot;&gt;Secondary&lt;/span&gt;

              &lt;!-- Success badge --&gt;
              &lt;span class=&quot;badge badge-success&quot;&gt;Success&lt;/span&gt;

              &lt;!-- Danger badge --&gt;
              &lt;span class=&quot;badge badge-danger&quot;&gt;Danger&lt;/span&gt;

              &lt;!-- Warning badge --&gt;
              &lt;span class=&quot;badge badge-warning&quot;&gt;Warning&lt;/span&gt;

              &lt;!-- Info badge --&gt;
              &lt;span class=&quot;badge badge-info&quot;&gt;Info&lt;/span&gt;

              &lt;!-- Light badge --&gt;
              &lt;span class=&quot;badge badge-light&quot;&gt;Light&lt;/span&gt;

              &lt;!-- Dark badge --&gt;
              &lt;span class=&quot;badge badge-dark&quot;&gt;Dark&lt;/span&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Primary badge
              span.badge.badge-primary Primary

              // Secondary badge
              span.badge.badge-secondary Secondary

              // Success badge
              span.badge.badge-success Success

              // Danger badge
              span.badge.badge-danger Danger

              // Warning badge
              span.badge.badge-warning Warning

              // Info badge
              span.badge.badge-info Info

              // Light badge
              span.badge.badge-light Light

              // Dark badge
              span.badge.badge-dark Dark

  // Pill badges
  h2.h5.pt-5.mb-3 Pill badges
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          span.badge.badge-pill.badge-primary.mr-2.mb-2 Primary
          span.badge.badge-pill.badge-secondary.mr-2.mb-2 Secondary
          span.badge.badge-pill.badge-success.mr-2.mb-2 Success
          span.badge.badge-pill.badge-danger.mr-2.mb-2 Danger
          span.badge.badge-pill.badge-warning.mr-2.mb-2 Warning
          span.badge.badge-pill.badge-info.mr-2.mb-2 Info
          span.badge.badge-pill.badge-light.mr-2.mb-2 Light
          span.badge.badge-pill.badge-dark.mr-2.mb-2 Dark
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Primary badge --&gt;
              &lt;span class=&quot;badge badge-pill badge-primary&quot;&gt;Primary&lt;/span&gt;

              &lt;!-- Secondary badge --&gt;
              &lt;span class=&quot;badge badge-pill badge-secondary&quot;&gt;Secondary&lt;/span&gt;

              &lt;!-- Success badge --&gt;
              &lt;span class=&quot;badge badge-pill badge-success&quot;&gt;Success&lt;/span&gt;

              &lt;!-- Danger badge --&gt;
              &lt;span class=&quot;badge badge-pill badge-danger&quot;&gt;Danger&lt;/span&gt;

              &lt;!-- Warning badge --&gt;
              &lt;span class=&quot;badge badge-pill badge-warning&quot;&gt;Warning&lt;/span&gt;

              &lt;!-- Info badge --&gt;
              &lt;span class=&quot;badge badge-pill badge-info&quot;&gt;Info&lt;/span&gt;

              &lt;!-- Light badge --&gt;
              &lt;span class=&quot;badge badge-pill badge-light&quot;&gt;Light&lt;/span&gt;

              &lt;!-- Dark badge --&gt;
              &lt;span class=&quot;badge badge-pill badge-dark&quot;&gt;Dark&lt;/span&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Primary badge
              span.badge.badge-pill.badge-primary Primary

              // Secondary badge
              span.badge.badge-pill.badge-secondary Secondary

              // Success badge
              span.badge.badge-pill.badge-success Success

              // Danger badge
              span.badge.badge-pill.badge-danger Danger

              // Warning badge
              span.badge.badge-pill.badge-warning Warning

              // Info badge
              span.badge.badge-pill.badge-info Info

              // Light badge
              span.badge.badge-pill.badge-light Light

              // Dark badge
              span.badge.badge-pill.badge-dark Dark

  // Link badges
  h2.h5.pt-5.mb-3 Link badges
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          a(href='#').badge.badge-primary.mr-2.mb-2 Primary
          a(href='#').badge.badge-secondary.mr-2.mb-2 Secondary
          a(href='#').badge.badge-success.mr-2.mb-2 Success
          a(href='#').badge.badge-danger.mr-2.mb-2 Danger
          a(href='#').badge.badge-warning.mr-2.mb-2 Warning
          a(href='#').badge.badge-info.mr-2.mb-2 Info
          a(href='#').badge.badge-light.mr-2.mb-2 Light
          a(href='#').badge.badge-dark.mr-2.mb-2 Dark
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Primary link badge --&gt;
              &lt;a href=&quot;#&quot; class=&quot;badge badge-primary&quot;&gt;Primary&lt;/a&gt;

              &lt;!-- Secondary link badge --&gt;
              &lt;a href=&quot;#&quot; class=&quot;badge badge-secondary&quot;&gt;Secondary&lt;/a&gt;

              &lt;!-- Success link badge --&gt;
              &lt;a href=&quot;#&quot; class=&quot;badge badge-success&quot;&gt;Success&lt;/a&gt;

              &lt;!-- Danger link badge --&gt;
              &lt;a href=&quot;#&quot; class=&quot;badge badge-danger&quot;&gt;Danger&lt;/a&gt;

              &lt;!-- Warning link badge --&gt;
              &lt;a href=&quot;#&quot; class=&quot;badge badge-warning&quot;&gt;Warning&lt;/a&gt;

              &lt;!-- Info link badge --&gt;
              &lt;a href=&quot;#&quot; class=&quot;badge badge-info&quot;&gt;Info&lt;/a&gt;

              &lt;!-- Light link badge --&gt;
              &lt;a href=&quot;#&quot; class=&quot;badge badge-light&quot;&gt;Light&lt;/a&gt;

              &lt;!-- Dark link badge --&gt;
              &lt;a href=&quot;#&quot; class=&quot;badge badge-dark&quot;&gt;Dark&lt;/a&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Primary link badge
              a(href=&quot;#&quot;).badgel.badge-primary Primary

              // Secondary link badge
              a(href=&quot;#&quot;).badge.badge-secondary Secondary

              // Success link badge
              a(href=&quot;#&quot;).badge.badge-success Success

              // Danger link badge
              a(href=&quot;#&quot;).badge.badge-danger Danger

              // Warning link badge
              a(href=&quot;#&quot;).badge.badge-warning Warning

              // Info link badge
              a(href=&quot;#&quot;).badge.badge-pill.badge-info Info

              // Light link badge
              a(href=&quot;#&quot;).badge.badge-light Light

              // Dark link badge
              a(href=&quot;#&quot;).badge.badge-dark Dark

  // Inside heading
  h2.h5.pt-5.mb-3 Inside heading
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result4.tab-pane.fade.show.active(role='tabpanel')
          h1
            | Example heading 
            span.badge.badge-secondary New
          h2
            | Example heading 
            span.badge.badge-secondary New
          h3
            | Example heading 
            span.badge.badge-secondary New
          h4
            | Example heading 
            span.badge.badge-secondary New
          h5
            | Example heading 
            span.badge.badge-secondary New
          h6
            | Example heading 
            span.badge.badge-secondary New
        #html4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;h1&gt;Example heading &lt;span class=&quot;badge badge-secondary&quot;&gt;New&lt;/span&gt;&lt;/h1&gt;
              &lt;h2&gt;Example heading &lt;span class=&quot;badge badge-secondary&quot;&gt;New&lt;/span&gt;&lt;/h2&gt;
              &lt;h3&gt;Example heading &lt;span class=&quot;badge badge-secondary&quot;&gt;New&lt;/span&gt;&lt;/h3&gt;
              &lt;h4&gt;Example heading &lt;span class=&quot;badge badge-secondary&quot;&gt;New&lt;/span&gt;&lt;/h4&gt;
              &lt;h5&gt;Example heading &lt;span class=&quot;badge badge-secondary&quot;&gt;New&lt;/span&gt;&lt;/h5&gt;
              &lt;h6&gt;Example heading &lt;span class=&quot;badge badge-secondary&quot;&gt;New&lt;/span&gt;&lt;/h6&gt;
        #pug4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              h1
                | Example heading 
                span.badge.badge-secondary New
              h2
                | Example heading 
                span.badge.badge-secondary New
              h3
                | Example heading 
                span.badge.badge-secondary New
              h4
                | Example heading 
                span.badge.badge-secondary New
              h5
                | Example heading 
                span.badge.badge-secondary New
              h6
                | Example heading 
                span.badge.badge-secondary New

  // Inside button
  h2.h5.pt-5.mb-3 Inside button
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result5' data-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html5' data-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug5' data-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result5.tab-pane.fade.show.active(role='tabpanel')
          button(type='button').btn.btn-primary.mr-3.mb-3
            | Notifications 
            span.badge.badge-light 4
          button(type='button').btn.btn-pill.btn-primary.mr-3.mb-3
            | Profile 
            span.badge.badge-pill.badge-light 9
        #html5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Button + badge --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;
                Notifications &lt;span class=&quot;badge badge-light&quot;&gt;4&lt;/span&gt;
              &lt;/button&gt;

              &lt;!-- Pill button + pill badge --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-primary&quot;&gt;
                Profile &lt;span class=&quot;badge badge-pill badge-light&quot;&gt;9&lt;/span&gt;
              &lt;/button&gt;
        #pug5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Button + badge
              button(type=&quot;button&quot;).btn.btn-primary
                | Notifications 
                span.badge.badge-light 4

              // Pill button + pill badge
              button(type=&quot;button&quot;).btn.btn-pill.btn-primary
                | Profile 
                span.badge.badge-pill.badge-light 9

  // Inside list group
  h2.h5.pt-5.mb-3 Inside list group
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result6' data-toggle='tab' role='tab' aria-controls='result6' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html6' data-toggle='tab' role='tab' aria-controls='html6' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug6' data-toggle='tab' role='tab' aria-controls='pug6' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result6.tab-pane.fade.show.active(role='tabpanel')
          ul.list-group
            li.list-group-item.d-flex.justify-content-between.align-items-center
              | Cras justo odio
              span.badge.badge-pill.badge-primary 14
            li.list-group-item.d-flex.justify-content-between.align-items-center
              | Dapibus ac facilisis in
              span.badge.badge-pill.badge-warning 2
            li.list-group-item.d-flex.justify-content-between.align-items-center
              | Morbi leo risus
              span.badge.badge-pill.badge-danger 6
        #html6.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;ul class=&quot;list-group&quot;&gt;
                &lt;li class=&quot;list-group-item d-flex justify-content-between align-items-center&quot;&gt;
                  Cras justo odio
                  &lt;span class=&quot;badge badge-pill badge-primary&quot;&gt;14&lt;/span&gt;
                &lt;/li&gt;
                &lt;li class=&quot;list-group-item d-flex justify-content-between align-items-center&quot;&gt;
                  Dapibus ac facilisis in
                  &lt;span class=&quot;badge badge-pill badge-warning&quot;&gt;2&lt;/span&gt;
                &lt;/li&gt;
                &lt;li class=&quot;list-group-item d-flex justify-content-between align-items-center&quot;&gt;
                  Morbi leo risus
                  &lt;span class=&quot;badge badge-pill badge-danger&quot;&gt;6&lt;/span&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
        #pug6.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              ul.list-group
                li.list-group-item.d-flex.justify-content-between.align-items-center
                  | Cras justo odio
                  span.badge.badge-pill.badge-primary
                    | 14
                li.list-group-item.d-flex.justify-content-between.align-items-center
                  | Dapibus ac facilisis in
                  span.badge.badge-pill.badge-warning
                    | 2
                li.list-group-item.d-flex.justify-content-between.align-items-center
                  | Morbi leo risus
                  span.badge.badge-pill.badge-danger
                    | 6
