extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Button group'
  - var pageSubTitle = '&mdash;&nbsp; Groups a series of buttons together on a single line. <a href="https://getbootstrap.com/docs/4.3/components/button-group/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Basic example
  h2.h5.mb-3 Basic example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .btn-group.mb-4.mr-2(role='group' aria-label='Solid button group')
            button(type='button').btn.btn-primary Left
            button(type='button').btn.btn-primary Middle
            button(type='button').btn.btn-primary Right
          .btn-group.mb-4.mr-2(role='group' aria-label='Outline button group')
            button(type='button').btn.btn-outline-primary Left
            button(type='button').btn.btn-outline-primary Middle
            button(type='button').btn.btn-outline-primary Right
          br
          .btn-group.mb-4.mr-2(role='group' aria-label='Pill solid button group')
            button(type='button').btn.btn-pill.btn-primary Left
            button(type='button').btn.btn-pill.btn-primary Middle
            button(type='button').btn.btn-pill.btn-primary Right
          .btn-group.mb-4.mr-2(role='group' aria-label='Pill outline button group')
            button(type='button').btn.btn-pill.btn-outline-primary Left
            button(type='button').btn.btn-pill.btn-outline-primary Middle
            button(type='button').btn.btn-pill.btn-outline-primary Right
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Solid button group --&gt;
              &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;Solid button group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Left&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Middle&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Right&lt;/button&gt;
              &lt;/div&gt;

              &lt;!-- Outline button group --&gt;
              &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;Outline button group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary&quot;&gt;Left&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary&quot;&gt;Middle&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary&quot;&gt;Right&lt;/button&gt;
              &lt;/div&gt;

              &lt;!-- Pill solid button group --&gt;
              &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;Pill solid button group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-primary&quot;&gt;Left&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-primary&quot;&gt;Middle&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-primary&quot;&gt;Right&lt;/button&gt;
              &lt;/div&gt;

              &lt;!-- Pill outline button group --&gt;
              &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;Pill outline button group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;Left&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;Middle&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;Right&lt;/button&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Solid button group
              .btn-group(role=&quot;group&quot;, aria-label=&quot;Solid button group&quot;)
                button(type=&quot;button&quot;).btn.btn-primary
                  | Left
                button(type=&quot;button&quot;).btn.btn-primary
                  | Middle
                button(type=&quot;button&quot;).btn.btn-primary
                  | Right

              // Outline button group
              .btn-group(role=&quot;group&quot;, aria-label=&quot;Outline button group&quot;)
                button(type=&quot;button&quot;).btn.btn-outline-primary
                  | Left
                button(type=&quot;button&quot;).btn.btn-outline-primary
                  | Middle
                button(type=&quot;button&quot;).btn.btn-outline-primary
                  | Right
              
              // Pill solid button group
              .btn-group(role=&quot;group&quot;, aria-label=&quot;Pill solid button group&quot;)
                button(type=&quot;button&quot;).btn.btn-pill.btn-primary
                  | Left
                button(type=&quot;button&quot;).btn.btn-pill.btn-primary
                  | Middle
                button(type=&quot;button&quot;).btn.btn-pill.btn-primary
                  | Right

              // Pill outline button group
              .btn-group(role=&quot;group&quot;, aria-label=&quot;Pill outline button group&quot;)
                button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                  | Left
                button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                  | Middle
                button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                  | Right

  // Button toolbar
  h2.h5.pt-5.mb-3 Button toolbar
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .btn-toolbar.mb-3(role='toolbar' aria-label='Toolbar with button groups')
            .btn-group.mr-2(role='group' aria-label='First group')
              button(type='button').btn.btn-primary 1
              button(type='button').btn.btn-primary 2
              button(type='button').btn.btn-primary 3
              button(type='button').btn.btn-primary 4
            .btn-group.mr-2(role='group' aria-label='Second group')
              button(type='button').btn.btn-primary 5
              button(type='button').btn.btn-primary 6
              button(type='button').btn.btn-primary 7
            .btn-group(role='group' aria-label='Third group')
              button(type='button').btn.btn-primary 8
          .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
            .btn-group.mr-2(role='group' aria-label='First group')
              button(type='button').btn.btn-pill.btn-outline-primary 1
              button(type='button').btn.btn-pill.btn-outline-primary 2
              button(type='button').btn.btn-pill.btn-outline-primary 3
              button(type='button').btn.btn-pill.btn-outline-primary 4
            .btn-group.mr-2(role='group' aria-label='Second group')
              button(type='button').btn.btn-pill.btn-outline-primary 5
              button(type='button').btn.btn-pill.btn-outline-primary 6
              button(type='button').btn.btn-pill.btn-outline-primary 7
            .btn-group(role='group' aria-label='Third group')
              button(type='button').btn.btn-pill.btn-outline-primary 8
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Toolbar with solid buttons --&gt;
              &lt;div class=&quot;btn-toolbar&quot; role=&quot;toolbar&quot; aria-label=&quot;Toolbar with button groups&quot;&gt;
                &lt;div class=&quot;btn-group mr-2&quot; role=&quot;group&quot; aria-label=&quot;First group&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;1&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;2&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;3&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;4&lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;btn-group mr-2&quot; role=&quot;group&quot; aria-label=&quot;Second group&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;5&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;6&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;7&lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;Third group&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;8&lt;/button&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Toolbar with pill outline buttons --&gt;
              &lt;div class=&quot;btn-toolbar&quot; role=&quot;toolbar&quot; aria-label=&quot;Toolbar with button groups&quot;&gt;
                &lt;div class=&quot;btn-group mr-2&quot; role=&quot;group&quot; aria-label=&quot;First group&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;1&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;2&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;3&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;4&lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;btn-group mr-2&quot; role=&quot;group&quot; aria-label=&quot;Second group&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;5&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;6&lt;/button&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;7&lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;Third group&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;8&lt;/button&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Toolbar with solid buttons
              .btn-toolbar(role=&quot;toolbar&quot;, aria-label=&quot;Toolbar with button groups&quot;)
                .btn-group.mr-2(role=&quot;group&quot;, aria-label=&quot;First group&quot;)
                  button(type=&quot;button&quot;).btn.btn-primary
                    | 1
                  button(type=&quot;button&quot;).btn.btn-primary
                    | 2
                  button(type=&quot;button&quot;).btn.btn-primary
                    | 3
                  button(type=&quot;button&quot;).btn.btn-primary
                    | 4
                .btn-group.mr-2(role=&quot;group&quot;, aria-label=&quot;Second group&quot;)
                  button(type=&quot;button&quot;).btn.btn-primary
                    | 5
                  button(type=&quot;button&quot;).btn.btn-primary
                    | 6
                  button(type=&quot;button&quot;).btn.btn-primary
                    | 7
                .btn-group(role=&quot;group&quot;, aria-label=&quot;Third group&quot;)
                  button(type=&quot;button&quot;).btn.btn-primary
                    | 8

              // Toolbar with pill outline buttons
              .btn-toolbar(role=&quot;toolbar&quot;, aria-label=&quot;Toolbar with button groups&quot;)
                .btn-group.mr-2(role=&quot;group&quot;, aria-label=&quot;First group&quot;)
                  button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                    | 1
                  button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                    | 2
                  button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                    | 3
                  button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                    | 4
                .btn-group.mr-2(role=&quot;group&quot;, aria-label=&quot;Second group&quot;)
                  button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                    | 5
                  button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                    | 6
                  button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                    | 7
                .btn-group(role=&quot;group&quot;, aria-label=&quot;Third group&quot;)
                  button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                    | 8

  // Sizing
  h2.h5.pt-5.mb-3 Sizing
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .row
            .col-sm-6
              .btn-group.btn-group-lg.mb-3(role='group' aria-label='Large group')
                button(type='button').btn.btn-primary Left
                button(type='button').btn.btn-primary Middle
                button(type='button').btn.btn-primary Right
              br
              .btn-group.mb-3(role='group' aria-label='Normal group')
                button(type='button').btn.btn-primary Left
                button(type='button').btn.btn-primary Middle
                button(type='button').btn.btn-primary Right
              br
              .btn-group.btn-group-sm.mb-3(role='group' aria-label='Small group')
                button(type='button').btn.btn-primary Left
                button(type='button').btn.btn-primary Middle
                button(type='button').btn.btn-primary Right
            .col-sm-6
              .btn-group.btn-group-lg.mb-3(role='group' aria-label='Large group')
                button(type='button').btn.btn-pill.btn-outline-primary Left
                button(type='button').btn.btn-pill.btn-outline-primary Middle
                button(type='button').btn.btn-pill.btn-outline-primary Right
              br
              .btn-group.mb-3(role='group' aria-label='Normal group')
                button(type='button').btn.btn-pill.btn-outline-primary Left
                button(type='button').btn.btn-pill.btn-outline-primary Middle
                button(type='button').btn.btn-pill.btn-outline-primary Right
              br
              .btn-group.btn-group-sm.mb-3(role='group' aria-label='Small group')
                button(type='button').btn.btn-pill.btn-outline-primary Left
                button(type='button').btn.btn-pill.btn-outline-primary Middle
                button(type='button').btn.btn-pill.btn-outline-primary Right
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;div class=&quot;btn-group btn-group-lg&quot; role=&quot;group&quot; aria-label=&quot;...&quot;&gt;...&lt;/div&gt;
              &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;...&quot;&gt;...&lt;/div&gt;
              &lt;div class=&quot;btn-group btn-group-sm&quot; role=&quot;group&quot; aria-label=&quot;...&quot;&gt;...&lt;/div&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              .btn-group.btn-group-lg(role=&quot;group&quot; aria-label=&quot;...&quot;)
                | ...
              .btn-group(role=&quot;group&quot; aria-label=&quot;...&quot;)
                | ...
              .btn-group.btn-group-sm(role=&quot;group&quot; aria-label=&quot;...&quot;)
                | ...

  // Nested dropdown
  h2.h5.pt-5.mb-3 Nested dropdown
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result4.tab-pane.fade.show.active(role='tabpanel')
          .row
            .col-sm-6.mb-3
              .btn-group(role='group' aria-label='Button group with nested dropdown')
                button(type='button').btn.btn-primary 1
                button(type='button').btn.btn-primary 2
                .btn-group(role='group')
                  button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-primary.dropdown-toggle Dropdown
                  .dropdown-menu
                    a(href='#').dropdown-item Dropdown link
                    a(href='#').dropdown-item Dropdown link
                    a(href='#').dropdown-item Dropdown link
            .col-sm-6.mb-3
              .btn-group(role='group' aria-label='Button group with nested dropdown')
                button(type='button').btn.btn-pill.btn-outline-primary 1
                button(type='button').btn.btn-pill.btn-outline-primary 2
                .btn-group(role='group')
                  button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-pill.btn-outline-primary.dropdown-toggle Dropdown
                  .dropdown-menu
                    a(href='#').dropdown-item Dropdown link
                    a(href='#').dropdown-item Dropdown link
                    a(href='#').dropdown-item Dropdown link
        #html4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Button group with nested dropdown --&gt;
              &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;Button group with nested dropdown&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;1&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;2&lt;/button&gt;
                &lt;div class=&quot;btn-group&quot; role=&quot;group&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                    Dropdown
                  &lt;/button&gt;
                  &lt;div class=&quot;dropdown-menu&quot;&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Dropdown link&lt;/a&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Dropdown link&lt;/a&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Dropdown link&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Button group with nested dropdown --&gt;
              &lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;Button group with nested dropdown&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;1&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;2&lt;/button&gt;
                &lt;div class=&quot;btn-group&quot; role=&quot;group&quot;&gt;
                  &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                    Dropdown
                  &lt;/button&gt;
                  &lt;div class=&quot;dropdown-menu&quot;&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Dropdown link&lt;/a&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Dropdown link&lt;/a&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Dropdown link&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Button group with nested dropdown
              .btn-group(role=&quot;group&quot;, aria-label=&quot;Button group with nested dropdown&quot;)
                button(type=&quot;button&quot;).btn.btn-primary
                  | 1
                button(type=&quot;button&quot;).btn.btn-primary
                  | 2
                .btn-group(role='group')
                  button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false&quot;).btn.btn-primary.dropdown-toggle Dropdown
                  .dropdown-menu
                    a(href=&quot;#&quot;).dropdown-item
                      | Dropdown link
                    a(href=&quot;#&quot;).dropdown-item
                      | Dropdown link
                    a(href=&quot;#&quot;).dropdown-item
                      | Dropdown link

              // Button group with nested dropdown
              .btn-group(role=&quot;group&quot;, aria-label=&quot;Button group with nested dropdown&quot;)
                button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                  | 1
                button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                  | 2
                .btn-group(role='group')
                  button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false&quot;).btn.btn-pill.btn-outline-primary.dropdown-toggle Dropdown
                  .dropdown-menu
                    a(href=&quot;#&quot;).dropdown-item
                      | Dropdown link
                    a(href=&quot;#&quot;).dropdown-item
                      | Dropdown link
                    a(href=&quot;#&quot;).dropdown-item
                      | Dropdown link

  // Vertical variation
  h2.h5.pt-5.mb-3 Vertical variation
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result5' data-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html5' data-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug5' data-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result5.tab-pane.fade.show.active(role='tabpanel')
          .row
            .col-sm-6.mb-3
              .btn-group-vertical(role='group' aria-label='Vertical button group')
                button(type='button').btn.btn-primary Button
                button(type='button').btn.btn-primary Button
                .dropright
                  button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-primary.dropdown-toggle Dropright
                  .dropdown-menu
                    a(href='#').dropdown-item Dropdown link
                    a(href='#').dropdown-item Dropdown link
                    a(href='#').dropdown-item Dropdown link
                button(type='button').btn.btn-primary Button
                button(type='button').btn.btn-primary Button
            .col-sm-6.mb-3
              .btn-group-vertical(role='group' aria-label='Vertical button group')
                button(type='button').btn.btn-outline-primary Button
                button(type='button').btn.btn-outline-primary Button
                .btn-group
                  button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-outline-primary.dropdown-toggle Dropdown
                  .dropdown-menu
                    a(href='#').dropdown-item Dropdown link
                    a(href='#').dropdown-item Dropdown link
                    a(href='#').dropdown-item Dropdown link
                button(type='button').btn.btn-outline-primary Button
                button(type='button').btn.btn-outline-primary Button
        #html5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Verticla button group --&gt;
              &lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot; aria-label=&quot;Vertical button group&quot;&gt;
                ...
              &lt;/div&gt;
        #pug5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Button group with nested dropdown
              .btn-group-vertical(role=&quot;group&quot;, aria-label=&quot;Vertical button group&quot;)