extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Carousel'
  - var pageSubTitle = '&mdash;&nbsp; A slideshow component for cycling through elements.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  .border.p-4
    p You can alter carousel look and behaviour via flexible data API 
      code data-owl-carousel = '{}'
      | :
    ul.list-unstyled.mb-0
      li
        code "items": 1
        span  How many items to display
      li
        code "nav": true/false
        span  Enable/disable control arrows
      li
        code "dots": true/false
        span  Enable/disable dots control
      li
        code "loop": true/false
        span  Enable/disable infinite loop
      li
        code "autoplay": true/false
        span  Enable/disable automatic slides transition
      li
        code "autoplayTimeout": 3000
        span  Timeou between transition. Value in ms | 1000ms = 1s
      li
        code "margin": 30
        span  Space between carousel items (in px)
      li
        code "autoHeight": true/false
        span  Enable/disable smooth height transition. If items have different height
      li
        code "responsive": {"0": {"items": 1}, "768": {"items": 2}, ...}
        span  How many items to display on each screen size

  // One item + Nav top + Dots + Loop
  h2.h5.pt-5.mb-3 One item + Nav top + Dots + Loop
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .owl-carousel(data-owl-carousel='{ "nav": true, "dots": true, "loop": true }')
            +image('img/components/carousel/01.jpg', 'Carousel Image')
            +image('img/components/carousel/02.jpg', 'Carousel Image')
            +image('img/components/carousel/03.jpg', 'Carousel Image')
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- One item + Nav top + Dots + Loop --&gt;
              &lt;div class=&quot;owl-carousel&quot; data-owl-carousel='{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true }'&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // One item + Nav top + Dots + Loop
              .owl-carousel(data-owl-carousel='{ "nav": true, "dots": true, "loop": true }')
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)

  // One item + Nav bottom + No loop
  h2.h5.pt-5.mb-3 One item + Nav bottom + No loop
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .owl-carousel.owl-nav-bottom(data-owl-carousel='{ "nav": true, "dots": false, "loop": false }')
            +image('img/components/carousel/03.jpg', 'Carousel Image')
            +image('img/components/carousel/02.jpg', 'Carousel Image')
            +image('img/components/carousel/01.jpg', 'Carousel Image')
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- One item + Nav bottom + No loop --&gt;
              &lt;div class=&quot;owl-carousel owl-nav-bottom&quot; data-owl-carousel='{ &quot;nav&quot;: true, &quot;dots&quot;: false, &quot;loop&quot;: false }'&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // One item + Nav bottom + No loop
              .owl-carousel.owl-nav-bottom(data-owl-carousel='{ "nav": true, "dots": false, "loop": false }')
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)

  // Multiple items + Dots + Loop + Autoplay
  h2.h5.pt-5.mb-3 Multiple items + Dots + Loop + Autoplay
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":3},"1200":{"items":3}} }')
            +image('img/components/gallery/th02.jpg', 'Carousel Image')
            +image('img/components/gallery/th03.jpg', 'Carousel Image')
            +image('img/components/gallery/th04.jpg', 'Carousel Image')
            +image('img/components/gallery/th01.jpg', 'Carousel Image')
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Multiple items + Dots + Loop + Autoplay --&gt;
              &lt;div class=&quot;owl-carousel&quot; data-owl-carousel='{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }'&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
              &lt;/div&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // One item + Nav bottom + No loop
              .owl-carousel(data-owl-carousel='{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }')
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)

  // Content carousel
  h2.h5.pt-5.mb-3 Content carousel
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result4.tab-pane.fade.show.active(role='tabpanel')
          .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30 }')
            .media.pt-2
              img(src='../img/components/media/01.jpg' width='64' alt='Media').mr-3
              .media-body
                h5.mb-1 Media heading
                span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
            .media.pt-2
              img(src='../img/components/media/03.jpg' width='64' alt='Media').mr-3
              .media-body
                h5.mb-1 Media heading
                span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
            .media.pt-2
              img(src='../img/components/media/02.jpg' width='64' alt='Media').mr-3
              .media-body
                h5.mb-1 Media heading
                span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
        #html4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Content carousel --&gt;
              &lt;div class=&quot;owl-carousel&quot; data-owl-carousel='{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30 }'&gt;
                &lt;div class=&quot;media&quot;&gt;...&lt;/div&gt;
                &lt;div class=&quot;media&quot;&gt;...&lt;/div&gt;
                &lt;div class=&quot;media&quot;&gt;...&lt;/div&gt;
              &lt;/div&gt;
        #pug4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Content carousel
              .owl-carousel(data-owl-carousel='{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30 }')
                .media ...
                .media ...
                .media ...

  // Default Bootstrap carousel
  h2.h5.pt-5.mb-3 Default Bootstrap carousel
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result5' data-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html5' data-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug5' data-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result5.tab-pane.fade.show.active(role='tabpanel')
          #carouselBSExample.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li(data-target='#carouselBSExample' data-slide-to='0').active
              li(data-target='#carouselBSExample' data-slide-to='1')
              li(data-target='#carouselBSExample' data-slide-to='2')
            .carousel-inner
              .carousel-item.active
                +image('img/components/carousel/02.jpg', 'Carousel Image')
              .carousel-item
                +image('img/components/carousel/01.jpg', 'Carousel Image')
              .carousel-item
                +image('img/components/carousel/03.jpg', 'Carousel Image')
          a(href='#carouselBSExample' role='button' data-slide='prev').carousel-control-prev
            span(aria-hidden='true').carousel-control-prev-icon
            span.sr-only Previous
          a(href='#carouselBSExample' role='button' data-slide='next').carousel-control-next
            span(aria-hidden='true').carousel-control-next-icon
            span.sr-only Next
        #html5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Default Bootstrap carousel --&gt;
              &lt;div class=&quot;carousel slide&quot; id=&quot;carouselBSExample&quot; data-ride=&quot;carousel&quot;&gt;
                &lt;ol class=&quot;carousel-indicators&quot;&gt;
                  &lt;li class=&quot;active&quot; data-target=&quot;#carouselBSExample&quot; data-slide-to=&quot;0&quot;&gt;&lt;/li&gt;
                  &lt;li data-target=&quot;#carouselBSExample&quot; data-slide-to=&quot;1&quot;&gt;&lt;/li&gt;
                  &lt;li data-target=&quot;#carouselBSExample&quot; data-slide-to=&quot;2&quot;&gt;&lt;/li&gt;
                &lt;/ol&gt;
                &lt;div class=&quot;carousel-inner&quot;&gt;
                  &lt;div class=&quot;carousel-item active&quot;&gt;
                    &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;carousel-item&quot;&gt;
                    &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;carousel-item&quot;&gt;
                    &lt;img src=&quot;path-to-image&quot; alt=&quot;Carousel Image&quot;/&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;a class=&quot;carousel-control-prev&quot; href=&quot;#carouselBSExample&quot; role=&quot;button&quot; data-slide=&quot;prev&quot;&gt;
                  &lt;span class=&quot;carousel-control-prev-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                  &lt;span class=&quot;sr-only&quot;&gt;Previous&lt;/span&gt;
                &lt;/a&gt;
                &lt;a class=&quot;carousel-control-next&quot; href=&quot;#carouselBSExample&quot; role=&quot;button&quot; data-slide=&quot;next&quot;&gt;
                  &lt;span class=&quot;carousel-control-next-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                  &lt;span class=&quot;sr-only&quot;&gt;Next&lt;/span&gt;
                &lt;/a&gt;
              &lt;/div&gt;
        #pug5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Default Bootstrap carousel
              #carouselBSExample.carousel.slide(data-ride=&quot;carousel&quot;)
                ol.carousel-indicators
                  li(data-target=&quot;#carouselBSExample&quot; data-slide-to=&quot;0&quot;).active
                  li(data-target=&quot;#carouselBSExample&quot; data-slide-to=&quot;1&quot;)
                  li(data-target=&quot;#carouselBSExample&quot; data-slide-to=&quot;2&quot;)
                .carousel-inner
                  .carousel-item.active
                    +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                  .carousel-item
                    +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                  .carousel-item
                    +image(&quot;path-to-image&quot;, &quot;Carousel Image&quot;)
                a(href=&quot;#carouselBSExample&quot; role=&quot;button&quot; data-slide=&quot;prev&quot;).carousel-control-prev
                  span(aria-hidden=&quot;true&quot;).carousel-control-prev-icon
                  span.sr-only Previous
                a(href=&quot;#carouselBSExample&quot; role=&quot;button&quot; data-slide=&quot;next&quot;).carousel-control-next
                  span(aria-hidden=&quot;true&quot;).carousel-control-next-icon
                  span.sr-only Next