extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Countdown'
  - var pageSubTitle = '&mdash;&nbsp; Timer that counts down in seconds, minutes, hours and days to any date, with time zone support.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Sizing
  h2.h5.mb-3 Sizing
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .countdown.h2.mb-1(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "d", "label-hour": "h", "label-minute": "m", "label-second": "s"}')
          hr.mb-3
          .countdown.h3.mb-1(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "d", "label-hour": "h", "label-minute": "m", "label-second": "s"}')
          hr.mb-3
          .countdown.h4.mb-1(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "d", "label-hour": "h", "label-minute": "m", "label-second": "s"}')
          hr.mb-3
          .countdown.h5.mb-1(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "d", "label-hour": "h", "label-minute": "m", "label-second": "s"}')
          hr.mb-3
          .countdown.h6.mb-0(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "d", "label-hour": "h", "label-minute": "m", "label-second": "s"}')
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Countdown: sizing --&gt;
              &lt;div class=&quot;countdown h2&quot; data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}'&gt;&lt;/div&gt;
              &lt;div class=&quot;countdown h3&quot; data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}'&gt;&lt;/div&gt;
              &lt;div class=&quot;countdown h4&quot; data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}'&gt;&lt;/div&gt;
              &lt;div class=&quot;countdown h5&quot; data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}'&gt;&lt;/div&gt;
              &lt;div class=&quot;countdown h6&quot; data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}'&gt;&lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Countdown: sizing
              .countdown.h2(data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}')
              .countdown.h3(data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}')
              .countdown.h4(data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}')
              .countdown.h5(data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}')
              .countdown.h6(data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}')

  // Light version
  h2.h5.pt-5.mb-3 Light version
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .position-relative.bg-size-cover.bg-position-center.text-center.py-5.px-3(style='background-image: url(../img/components/jumbotron/jumbotron-bg.jpg);')
            span.bg-overlay(style='opacity: .15;')
            .bg-overlay-content.py-5
              .countdown.h2.text-white.justify-content-center.mb-0.pt-3(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "d", "label-hour": "h", "label-minute": "m", "label-second": "s"}')
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Countdown: light version --&gt;
              &lt;div class=&quot;countdown h2 text-white&quot; data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}'&gt;&lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Countdown: light version
              .countdown.h2.text-white(data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;d&quot;, &quot;label-hour&quot;: &quot;h&quot;, &quot;label-minute&quot;: &quot;m&quot;, &quot;label-second&quot;: &quot;s&quot;}')
