extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Dropdowns'
  - var pageSubTitle = '&mdash;&nbsp; Toggle contextual overlays for displaying lists of links or other content. <a href="https://getbootstrap.com/docs/4.3/components/dropdowns/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Static examples
  h2.h5.mb-3 Static examples
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .dropdown-menu(style='position: static;').d-inline-block.align-top.mr-4.mb-4
            a(href='#').dropdown-item Regular link
            a(href='#').dropdown-item Another regular link
            a(href='#').dropdown-item.active Active link
            a(href='#').dropdown-item.disabled Disabled link
          .dropdown-menu(style='position: static;').d-inline-block.align-top.mr-4.mb-4
            h6.dropdown-header Dropdown header
            a(href='#').dropdown-item Action
            a(href='#').dropdown-item Another action
            .dropdown-divider
            a(href='#').dropdown-item Separated link
          .dropdown-menu(style='position: static;').d-inline-block.align-top.mr-4.mb-4
            a(href='#').dropdown-item
              i(data-feather='home')
              | Home
              span.badge.badge-pill.badge-secondary.ml-2 2
            a(href='#').dropdown-item
              i(data-feather='user')
              | Profile
              span.badge.badge-pill.badge-primary.ml-2 3
            a(href='#').dropdown-item
              i(data-feather='message-square')
              | Messages
              span.badge.badge-pill.badge-success.ml-2 5
            a(href='#').dropdown-item
              i(data-feather='settings')
              | Settings
              span.badge.badge-pill.badge-warning.ml-2 1
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Dropdown example 1 --&gt;
              &lt;div class=&quot;dropdown-menu&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Regular link&lt;/a&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Another regular link&lt;/a&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item active&quot;&gt;Active link&lt;/a&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item disabled&quot;&gt;Disabled link&lt;/a&gt;
              &lt;/div&gt;

              &lt;!-- Dropdown example 2 --&gt;
              &lt;div class=&quot;dropdown-menu&quot;&gt;
                &lt;h6 class=&quot;dropdown-header&quot;&gt;Dropdown header&lt;/h6&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Action&lt;/a&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Another action&lt;/a&gt;
                &lt;div class=&quot;dropdown-divider&quot;&gt;&lt;/div&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Separeted link&lt;/a&gt;
              &lt;/div&gt;

              &lt;!-- Dropdown example 3 --&gt;
              &lt;div class=&quot;dropdown-menu&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;
                  &lt;i data-feather=&quot;home&quot;&gt;&lt;/i&gt;
                  Regular link
                  &lt;span class=&quot;badge badge-pill badge-secondary ml-2&quot;&gt;2&lt;/span&gt;
                &lt;/a&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;
                  &lt;i data-feather=&quot;user&quot;&gt;&lt;/i&gt;
                  Profile
                  &lt;span class=&quot;badge badge-pill badge-primary ml-2&quot;&gt;3&lt;/span&gt;
                &lt;/a&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;
                  &lt;i data-feather=&quot;message-square&quot;&gt;&lt;/i&gt;
                  Messages
                  &lt;span class=&quot;badge badge-pill badge-success ml-2&quot;&gt;5&lt;/span&gt;
                &lt;/a&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;
                  &lt;i data-feather=&quot;settings&quot;&gt;&lt;/i&gt;
                  Settings
                  &lt;span class=&quot;badge badge-pill badge-warning ml-2&quot;&gt;1&lt;/span&gt;
                &lt;/a&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Dropdown example 1
              .dropdown-menu
                a(href=&quot;#&quot;).dropdown-item
                  | Regular link
                a(href=&quot;#&quot;).dropdown-item
                  | Another regular link
                a(href=&quot;#&quot;).dropdown-item.active
                  | Active link
                a(href=&quot;#&quot;).dropdown-item.disabled
                  | Disabled link

              // Dropdown example 2
              .dropdown-menu
                h6.dropdown-header
                  | Dropdown header
                a(href=&quot;#&quot;).dropdown-item
                  | Action
                a(href=&quot;#&quot;).dropdown-item
                  | Another action
                .dropdown-divider
                a(href=&quot;#&quot;).dropdown-item
                  | Separated link

              // Dropdown example 3
              .dropdown-menu
                a(href=&quot;#&quot;).dropdown-item
                  i(data-feather=&quot;home&quot;)
                  | Home
                  span.badge.badge-pill.badge-secondary.ml-2
                    | 2
                a(href=&quot;#&quot;).dropdown-item
                  i(data-feather=&quot;user&quot;)
                  | Profile
                  span.badge.badge-pill.badge-primary.ml-2
                    | 3
                a(href=&quot;#&quot;).dropdown-item
                  i(data-feather=&quot;message-square&quot;)
                  | Messages
                  span.badge.badge-pill.badge-success.ml-2
                    | 5
                a(href=&quot;#&quot;).dropdown-item
                  i(data-feather=&quot;settings&quot;)
                  | Settings
                  span.badge.badge-pill.badge-warning.ml-2
                    | 1

  // Forms inside dropdown
  h2.h5.pt-5.mb-3 Forms inside dropdown
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .dropdown-menu(style='position: static; width: 260px;').d-block.mb-3
            form.p-4
              .form-group
                label(for='exampleDropdownFormEmail') Email address
                input(type='email' id='exampleDropdownFormEmail' placeholder='email@example.com' required).form-control
              .form-group
                label(for='exampleDropdownFormPassword') Password
                input(type='password' id='exampleDropdownFormPassword' placeholder='Password' required).form-control
              .form-group
                .custom-control.custom-checkbox
                  input(type='checkbox' id='dropdownCheck').custom-control-input
                  label(for='dropdownCheck').custom-control-label Remember me
              button(type='submit').btn.btn-primary Sign In
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Forms inside dropdown --&gt;
              &lt;div class=&quot;dropdown-menu&quot;&gt;
                &lt;form class=&quot;p-4&quot;&gt;
                  &lt;div class=&quot;form-group&quot;&gt;
                    &lt;label for=&quot;exampleDropdownFormEmail&quot;&gt;Email address&lt;/label&gt;
                    &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;exampleDropdownFormEmail&quot; placeholder=&quot;email@example.com&quot; required&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;form-group&quot;&gt;
                    &lt;label for=&quot;exampleDropdownFormPassword&quot;&gt;Password&lt;/label&gt;
                    &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;exampleDropdownFormPassword&quot; placeholder=&quot;Password&quot; required&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;form-group&quot;&gt;
                    &lt;div class=&quot;custom-control custom-checkbox&quot;&gt;
                      &lt;input type=&quot;checkbox&quot; class=&quot;custom-control-input&quot; id=&quot;dropdownCheck&quot;&gt;
                      &lt;label for=&quot;dropdownCheck&quot; class=&quot;custom-control-label&quot;&gt;Remember me&lt;/label&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                  &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;Sign In&lt;/button&gt;
                &lt;/form&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Forms inside dropdown
              .dropdown-menu(style=&quot;width: 260px;&quot;)
                form.p-4
                  .form-group
                    label(for=&quot;exampleDropdownFormEmail&quot;)
                      | Email address
                    input(type=&quot;email&quot;, id=&quot;exampleDropdownFormEmail&quot;, placeholder=&quot;email@example.com&quot;, required).form-control
                  .form-group
                    label(for=&quot;exampleDropdownFormPassword&quot;)
                      | Password
                    input(type=&quot;password&quot;, id=&quot;exampleDropdownFormPassword&quot;, placeholder=&quot;Password&quot;, required).form-control
                  .form-group
                    .custom-control.custom-checkbox
                      input(type=&quot;checkbox&quot;, id=&quot;dropdownCheck&quot;).custom-control-input
                      label(for=&quot;dropdownCheck&quot;).custom-control-label
                        | Remember me
                  button(type=&quot;submit&quot;).btn.btn-primary
                    | Sign In

  // Directions
  h2.h5.pt-5.mb-3 Directions
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .btn-group.dropdown.d-inline-block.mb-3.mr-2
            button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-primary.dropdown-toggle Dropdown
            .dropdown-menu
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another action
              .dropdown-divider
              a(href='#').dropdown-item Something else here
          .btn-group.dropup.d-inline-block.mb-3.mr-2
            button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-primary.dropdown-toggle Dropup
            .dropdown-menu
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another action
              .dropdown-divider
              a(href='#').dropdown-item Something else here
          .btn-group.dropright.d-inline-block.mb-3.mr-2
            button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-primary.dropdown-toggle Dropright
            .dropdown-menu
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another action
              .dropdown-divider
              a(href='#').dropdown-item Something else here
          .btn-group.dropleft.d-inline-block.mb-3.mr-2
            button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-primary.dropdown-toggle Dropleft
            .dropdown-menu
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another action
              .dropdown-divider
              a(href='#').dropdown-item Something else here
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Dropdown --&gt;
              &lt;div class=&quot;btn-group dropdown&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                  Dropdown
                &lt;/button&gt;
                &lt;div class=&quot;dropdown-menu&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Action&lt;/a&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Another action&lt;/a&gt;
                  &lt;div class=&quot;dropdown-divider&quot;&gt;&lt;/div&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Something else here&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Dropup --&gt;
              &lt;div class=&quot;btn-group dropup&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                  Dropdown
                &lt;/button&gt;
                &lt;div class=&quot;dropdown-menu&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Action&lt;/a&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Another action&lt;/a&gt;
                  &lt;div class=&quot;dropdown-divider&quot;&gt;&lt;/div&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Something else here&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Dropright --&gt;
              &lt;div class=&quot;btn-group dropright&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                  Dropdown
                &lt;/button&gt;
                &lt;div class=&quot;dropdown-menu&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Action&lt;/a&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Another action&lt;/a&gt;
                  &lt;div class=&quot;dropdown-divider&quot;&gt;&lt;/div&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Something else here&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Dropleft --&gt;
              &lt;div class=&quot;btn-group dropleft&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                  Dropdown
                &lt;/button&gt;
                &lt;div class=&quot;dropdown-menu&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Action&lt;/a&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Another action&lt;/a&gt;
                  &lt;div class=&quot;dropdown-divider&quot;&gt;&lt;/div&gt;
                  &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Something else here&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Dropdown
              .btn-group.dropdown
                button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false&quot;).btn.btn-primary.dropdown-toggle
                  | Dropdown
                .dropdown-menu
                  a(href=&quot;#&quot;).dropdown-item
                    | Action
                  a(href=&quot;#&quot;).dropdown-item
                    | Another action
                  .dropdown-divider
                  a(href=&quot;#&quot;).dropdown-item
                    | Something else here
              
              // Dropup
              .btn-group.dropup
                button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false&quot;).btn.btn-primary.dropdown-toggle
                  | Dropup
                .dropdown-menu
                  a(href=&quot;#&quot;).dropdown-item
                    | Action
                  a(href=&quot;#&quot;).dropdown-item
                    | Another action
                  .dropdown-divider
                  a(href=&quot;#&quot;).dropdown-item
                    | Something else here
              
              // Dropright
              .btn-group.dropright
                button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false&quot;).btn.btn-primary.dropdown-toggle
                  | Dropright
                .dropdown-menu
                  a(href=&quot;#&quot;).dropdown-item
                    | Action
                  a(href=&quot;#&quot;).dropdown-item
                    | Another action
                  .dropdown-divider
                  a(href=&quot;#&quot;).dropdown-item
                    | Something else here

              // Dropleft
              .btn-group.dropleft
                button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false&quot;).btn.btn-primary.dropdown-toggle
                  | Dropleft
                .dropdown-menu
                  a(href=&quot;#&quot;).dropdown-item
                    | Action
                  a(href=&quot;#&quot;).dropdown-item
                    | Another action
                  .dropdown-divider
                  a(href=&quot;#&quot;).dropdown-item
                    | Something else here

  // Split button
  h2.h5.pt-5.mb-3 Split button
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result4.tab-pane.fade.show.active(role='tabpanel')
          .btn-group.mr-2.mb-3
            button(type='button').btn.btn-primary Button
            button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-primary.dropdown-toggle.dropdown-toggle-split
              span.sr-only Toggle dropdown
            .dropdown-menu
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another action
              .dropdown-divider
              a(href='#').dropdown-item Something else here
          .btn-group.mr-2.mb-3
            button(type='button').btn.btn-outline-primary Button
            button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-outline-primary.dropdown-toggle.dropdown-toggle-split
              span.sr-only Toggle dropdown
            .dropdown-menu
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another action
              .dropdown-divider
              a(href='#').dropdown-item Something else here
          .btn-group.mr-2.mb-3
            button(type='button').btn.btn-pill.btn-primary Button
            button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-pill.btn-primary.dropdown-toggle.dropdown-toggle-split
              span.sr-only Toggle dropdown
            .dropdown-menu
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another action
              .dropdown-divider
              a(href='#').dropdown-item Something else here
          .btn-group.mr-2.mb-3
            button(type='button').btn.btn-pill.btn-outline-primary Button
            button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').btn.btn-pill.btn-outline-primary.dropdown-toggle.dropdown-toggle-split
              span.sr-only Toggle dropdown
            .dropdown-menu
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another action
              .dropdown-divider
              a(href='#').dropdown-item Something else here
        #html4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Solid split button --&gt;
              &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Button&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle dropdown-toggle-split&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                  &lt;span class=&quot;sr-only&quot;&gt;Toggle dropdown&lt;/span&gt;
                &lt;/button&gt;
                &lt;div class=&quot;dropdown-menu&quot;&gt;
                  ...
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Outline split button --&gt;
              &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary&quot;&gt;Button&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-primary dropdown-toggle dropdown-toggle-split&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                  &lt;span class=&quot;sr-only&quot;&gt;Toggle dropdown&lt;/span&gt;
                &lt;/button&gt;
                &lt;div class=&quot;dropdown-menu&quot;&gt;
                  ...
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Pill solid split button --&gt;
              &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-primary&quot;&gt;Button&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-primary dropdown-toggle dropdown-toggle-split&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                  &lt;span class=&quot;sr-only&quot;&gt;Toggle dropdown&lt;/span&gt;
                &lt;/button&gt;
                &lt;div class=&quot;dropdown-menu&quot;&gt;
                  ...
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Pill outline split button --&gt;
              &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary&quot;&gt;Button&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary dropdown-toggle dropdown-toggle-split&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;
                  &lt;span class=&quot;sr-only&quot;&gt;Toggle dropdown&lt;/span&gt;
                &lt;/button&gt;
                &lt;div class=&quot;dropdown-menu&quot;&gt;
                  ...
                &lt;/div&gt;
              &lt;/div&gt;
        #pug4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Solid split button
              .btn-group
                button(type=&quot;button&quot;).btn.btn-primary
                  | Button
                button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false'&quot;).btn.btn-primary.dropdown-toggle.dropdown-toggle-split
                  span.sr-only
                    | Toggle dropdown
                .dropdown-menu
                  | ...

              // Outline split button
              .btn-group
                button(type=&quot;button&quot;).btn.btn-outline-primary
                  | Button
                button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false'&quot;).btn.btn-outline-primary.dropdown-toggle.dropdown-toggle-split
                  span.sr-only
                    | Toggle dropdown
                .dropdown-menu
                  | ...
              
              // Pill solid split button
              .btn-group
                button(type=&quot;button&quot;).btn.btn-pill.btn-primary
                  | Button
                button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false'&quot;).btn.btn-pill.btn-primary.dropdown-toggle.dropdown-toggle-split
                  span.sr-only
                    | Toggle dropdown
                .dropdown-menu
                  | ...

              // Pill outline split button
              .btn-group
                button(type=&quot;button&quot;).btn.btn-pill.btn-outline-primary
                  | Button
                button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false'&quot;).btn.btn-pill.btn-outline-primary.dropdown-toggle.dropdown-toggle-split
                  span.sr-only
                    | Toggle dropdown
                .dropdown-menu
                  | ...
