extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Gallery'
  - var pageSubTitle = '&mdash;&nbsp; JavaScript based lightbox component for presenting various types of media.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // With gutters
  h2.h5.mb-3 With gutters
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .row
            .col-sm-6
              a(href='../img/components/gallery/01.jpg' data-fancybox='gallery1' data-options='{"caption": "Gallery image caption #1"}').gallery-item.mb-grid-gutter
                img(src='../img/components/gallery/th01.jpg' alt='Gallery image')
                .gallery-caption
                  .gallery-indicator
                    i(data-feather='zoom-in').gallery-indicator-icon
                  | I'm gallery caption
            .col-sm-6
              a(href='https://player.vimeo.com/video/93641234?color=5c77fc&title=0&byline=0&portrait=0' data-fancybox='gallery1' data-width="1000" data-height="563" data-options='{"caption": "Gallery image caption #2"}').gallery-item.video-item.mb-grid-gutter
                .gallery-indicator
                  i(data-feather='play').gallery-indicator-icon
                img(src='../img/components/gallery/th03.jpg' alt='Gallery image')
                .gallery-caption I'm gallery caption
            .col-sm-6
              a(href='../img/components/gallery/02.jpg' data-fancybox='gallery1' data-options='{"caption": "Gallery image caption #3"}').gallery-item.mb-grid-gutter
                img(src='../img/components/gallery/th02.jpg' alt='Gallery image')
                .gallery-caption
                  .gallery-indicator
                    i(data-feather='zoom-in').gallery-indicator-icon
                  | I'm gallery caption
            .col-sm-6
              a(href='../img/components/gallery/04.jpg' data-fancybox='gallery1' data-options='{"caption": "Gallery image caption #4"}').gallery-item.mb-grid-gutter
                img(src='../img/components/gallery/th04.jpg' alt='Gallery image')
                .gallery-caption
                  .gallery-indicator
                    i(data-feather='zoom-in').gallery-indicator-icon
                  | I'm gallery caption
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Gallery with gutters --&gt;
              &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;
                  &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item mb-grid-gutter&quot; data-fancybox=&quot;gallery1&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #1&quot;}'&gt;
                    &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                    &lt;div class=&quot;gallery-caption&quot;&gt;
                      &lt;div class=&quot;gallery-indicator&quot;&gt;
                        &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                      &lt;/div&gt;
                      I'm gallery caption
                    &lt;/div&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;
                  &lt;a href=&quot;path-to-video&quot; class=&quot;gallery-item video-item mb-grid-gutter&quot; data-fancybox=&quot;gallery1&quot; data-width=&quot;1000&quot; data-height=&quot;563&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #2&quot;}'&gt;
                    &lt;div class=&quot;gallery-indicator&quot;&gt;
                      &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;play&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                    &lt;div class=&quot;gallery-caption&quot;&gt;I'm gallery caption&lt;/div&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;
                  &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item mb-grid-gutter&quot; data-fancybox=&quot;gallery1&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #3&quot;}'&gt;
                    &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                    &lt;div class=&quot;gallery-caption&quot;&gt;
                      &lt;div class=&quot;gallery-indicator&quot;&gt;
                        &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                      &lt;/div&gt;
                      I'm gallery caption
                    &lt;/div&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;
                  &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item mb-grid-gutter&quot; data-fancybox=&quot;gallery1&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #4&quot;}'&gt;
                    &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                    &lt;div class=&quot;gallery-caption&quot;&gt;
                      &lt;div class=&quot;gallery-indicator&quot;&gt;
                        &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                      &lt;/div&gt;
                      I'm gallery caption
                    &lt;/div&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Gallery with gutters
              .row
                .col-sm-6
                  a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery1&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #1&quot;}').gallery-item.mb-grid-gutter
                    img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                    .gallery-caption
                      .gallery-indicator
                        i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                      | I'm gallery caption
                .col-sm-6
                  a(href=&quot;path-to-video&quot;, data-fancybox=&quot;gallery1&quot;, data-width=&quot;1000&quot;, data-height=&quot;563&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #2&quot;}').gallery-item.video-item.mb-grid-gutter
                    .gallery-indicator
                      i(data-feather=&quot;play&quot;).gallery-indicator-icon
                    img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                    .gallery-caption I'm gallery caption
                .col-sm-6
                  a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery1&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #3&quot;}').gallery-item.mb-grid-gutter
                    img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                    .gallery-caption
                      .gallery-indicator
                        i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                      | I'm gallery caption
                .col-sm-6
                  a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery1&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #4&quot;}').gallery-item.mb-grid-gutter
                    img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                    .gallery-caption
                      .gallery-indicator
                        i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                      | I'm gallery caption

  // No gutters
  h2.h5.pt-5.mb-3 No gutters
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .row.no-gutters
            .col-sm-6
              a(href='../img/components/gallery/01.jpg' data-fancybox='gallery2' data-options='{"caption": "Gallery image caption #1"}').gallery-item
                img(src='../img/components/gallery/th01.jpg' alt='Gallery image')
                .gallery-caption
                  .gallery-indicator
                    i(data-feather='zoom-in').gallery-indicator-icon
                  | I'm gallery caption
            .col-sm-6
              a(href='https://player.vimeo.com/video/93641234?color=5c77fc&title=0&byline=0&portrait=0' data-fancybox='gallery2' data-width="1000" data-height="563" data-options='{"caption": "Gallery image caption #2"}').gallery-item.video-item
                .gallery-indicator
                  i(data-feather='play').gallery-indicator-icon
                img(src='../img/components/gallery/th03.jpg' alt='Gallery image')
                .gallery-caption I'm gallery caption
            .col-sm-6
              a(href='../img/components/gallery/02.jpg' data-fancybox='gallery2' data-options='{"caption": "Gallery image caption #3"}').gallery-item
                img(src='../img/components/gallery/th02.jpg' alt='Gallery image')
                .gallery-caption
                  .gallery-indicator
                    i(data-feather='zoom-in').gallery-indicator-icon
                  | I'm gallery caption
            .col-sm-6
              a(href='../img/components/gallery/04.jpg' data-fancybox='gallery2' data-options='{"caption": "Gallery image caption #4"}').gallery-item
                img(src='../img/components/gallery/th04.jpg' alt='Gallery image')
                .gallery-caption
                  .gallery-indicator
                    i(data-feather='zoom-in').gallery-indicator-icon
                  | I'm gallery caption
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Gallery no gutters --&gt;
              &lt;div class=&quot;row no-gutters&quot;&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;
                  &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item&quot; data-fancybox=&quot;gallery2&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #1&quot;}'&gt;
                    &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                    &lt;div class=&quot;gallery-caption&quot;&gt;
                      &lt;div class=&quot;gallery-indicator&quot;&gt;
                        &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                      &lt;/div&gt;
                      I'm gallery caption
                    &lt;/div&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;
                  &lt;a href=&quot;path-to-video&quot; class=&quot;gallery-item video-item&quot; data-fancybox=&quot;gallery2&quot; data-width=&quot;1000&quot; data-height=&quot;563&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #2&quot;}'&gt;
                    &lt;div class=&quot;gallery-indicator&quot;&gt;
                      &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;play&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                    &lt;div class=&quot;gallery-caption&quot;&gt;I'm gallery caption&lt;/div&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;
                  &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item&quot; data-fancybox=&quot;gallery2&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #3&quot;}'&gt;
                    &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                    &lt;div class=&quot;gallery-caption&quot;&gt;
                      &lt;div class=&quot;gallery-indicator&quot;&gt;
                        &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                      &lt;/div&gt;
                      I'm gallery caption
                    &lt;/div&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-6&quot;&gt;
                  &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item&quot; data-fancybox=&quot;gallery2&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #4&quot;}'&gt;
                    &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                    &lt;div class=&quot;gallery-caption&quot;&gt;
                      &lt;div class=&quot;gallery-indicator&quot;&gt;
                        &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                      &lt;/div&gt;
                      I'm gallery caption
                    &lt;/div&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Gallery no gutters
              .row.no-gutters
                .col-sm-6
                  a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery2&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #1&quot;}').gallery-item
                    img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                    .gallery-caption
                      .gallery-indicator
                        i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                      | I'm gallery caption
                .col-sm-6
                  a(href=&quot;path-to-video&quot;, data-fancybox=&quot;gallery2&quot;, data-width=&quot;1000&quot;, data-height=&quot;563&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #2&quot;}').gallery-item.video-item
                    .gallery-indicator
                      i(data-feather=&quot;play&quot;).gallery-indicator-icon
                    img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                    .gallery-caption I'm gallery caption
                .col-sm-6
                  a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery2&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #3&quot;}').gallery-item
                    img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                    .gallery-caption
                      .gallery-indicator
                        i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                      | I'm gallery caption
                .col-sm-6
                  a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery2&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #4&quot;}').gallery-item
                    img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                    .gallery-caption
                      .gallery-indicator
                        i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                      | I'm gallery caption

  // Inside carousel
  h2.h5.pt-5.mb-3 Inside carousel
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30, "center": true, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":3},"1200":{"items":3}} }')
            a(href='../img/components/gallery/01.jpg' data-fancybox='gallery3' data-options='{"caption": "Gallery image caption #1"}').gallery-item
              img(src='../img/components/gallery/th01.jpg' alt='Gallery image')
              .gallery-caption
                .gallery-indicator
                  i(data-feather='zoom-in').gallery-indicator-icon
                | I'm gallery caption
            a(href='https://player.vimeo.com/video/93641234?color=5c77fc&title=0&byline=0&portrait=0' data-fancybox='gallery3' data-width="1000" data-height="563" data-options='{"caption": "Gallery image caption #2"}').gallery-item.video-item
              .gallery-indicator
                i(data-feather='play').gallery-indicator-icon
              img(src='../img/components/gallery/th03.jpg' alt='Gallery image')
              .gallery-caption I'm gallery caption
            a(href='../img/components/gallery/02.jpg' data-fancybox='gallery3' data-options='{"caption": "Gallery image caption #3"}').gallery-item
              img(src='../img/components/gallery/th02.jpg' alt='Gallery image')
              .gallery-caption
                .gallery-indicator
                  i(data-feather='zoom-in').gallery-indicator-icon
                | I'm gallery caption
            a(href='../img/components/gallery/04.jpg' data-fancybox='gallery3' data-options='{"caption": "Gallery image caption #4"}').gallery-item
              img(src='../img/components/gallery/th04.jpg' alt='Gallery image')
              .gallery-caption
                .gallery-indicator
                  i(data-feather='zoom-in').gallery-indicator-icon
                | I'm gallery caption
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Gallery inside carousel --&gt;
              &lt;div class=&quot;owl-carousel&quot; data-owl-carousel='{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;center&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }'&gt;
                &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item&quot; data-fancybox=&quot;gallery3&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #1&quot;}'&gt;
                  &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                  &lt;div class=&quot;gallery-caption&quot;&gt;
                    &lt;div class=&quot;gallery-indicator&quot;&gt;
                      &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    I'm gallery caption
                  &lt;/div&gt;
                &lt;/a&gt;
                &lt;a href=&quot;path-to-video&quot; class=&quot;gallery-item video-item&quot; data-fancybox=&quot;gallery3&quot; data-width=&quot;1000&quot; data-height=&quot;563&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #2&quot;}'&gt;
                  &lt;div class=&quot;gallery-indicator&quot;&gt;
                    &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;play&quot;&gt;&lt;/i&gt;
                  &lt;/div&gt;
                  &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                  &lt;div class=&quot;gallery-caption&quot;&gt;I'm gallery caption&lt;/div&gt;
                &lt;/a&gt;
                &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item&quot; data-fancybox=&quot;gallery3&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #3&quot;}'&gt;
                  &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                  &lt;div class=&quot;gallery-caption&quot;&gt;
                    &lt;div class=&quot;gallery-indicator&quot;&gt;
                      &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    I'm gallery caption
                  &lt;/div&gt;
                &lt;/a&gt;
                &lt;a href=&quot;path-to-large-image&quot; class=&quot;gallery-item&quot; data-fancybox=&quot;gallery3&quot; data-options='{&quot;caption&quot;: &quot;Gallery image caption #4&quot;}'&gt;
                  &lt;img src=&quot;path-to-small-image&quot; alt=&quot;Gallery image&quot;&gt;
                  &lt;div class=&quot;gallery-caption&quot;&gt;
                    &lt;div class=&quot;gallery-indicator&quot;&gt;
                      &lt;i class=&quot;gallery-indicator-icon&quot; data-feather=&quot;zoom-in&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    I'm gallery caption
                  &lt;/div&gt;
                &lt;/a&gt;
              &lt;/div&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Gallery inside carousel
              .owl-carousel(data-owl-carousel='{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;center&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }')
                a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery3&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #1&quot;}').gallery-item
                  img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                  .gallery-caption
                    .gallery-indicator
                      i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                    | I'm gallery caption
                a(href=&quot;path-to-video&quot;, data-fancybox=&quot;gallery3&quot;, data-width=&quot;1000&quot;, data-height=&quot;563&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #2&quot;}').gallery-item.video-item
                  .gallery-indicator
                    i(data-feather=&quot;play&quot;).gallery-indicator-icon
                  img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                  .gallery-caption I'm gallery caption
                a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery3&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #3&quot;}').gallery-item
                  img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                  .gallery-caption
                    .gallery-indicator
                      i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                    | I'm gallery caption
                a(href=&quot;path-to-large-image&quot;, data-fancybox=&quot;gallery3&quot;, data-options='{&quot;caption&quot;: &quot;Gallery image caption #4&quot;}').gallery-item
                  img(src=&quot;path-to-small-image&quot;, alt=&quot;Gallery image&quot;)
                  .gallery-caption
                    .gallery-indicator
                      i(data-feather=&quot;zoom-in&quot;).gallery-indicator-icon
                    | I'm gallery caption
