extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Input group'
  - var pageSubTitle = "&mdash;&nbsp; Extend form controls by adding text, buttons, etc. on either side. <a href='https://getbootstrap.com/docs/4.3/components/input-group/' target='_blank'>See Bootstrap documentation</a>."
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Addon position
  h2.h5.mb-3 Addon position
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .input-group.form-group
            .input-group-prepend
              span.input-group-text
                i(data-feather='lock')
            input(type='password' placeholder='Password').form-control
          .input-group.form-group
            input(type='text' placeholder="Recipient's e-mail").form-control
            .input-group-append
              span.input-group-text @example.com
          .input-group
            .input-group-prepend
              span.input-group-text
                i(data-feather='dollar-sign')
            input(type='text' placeholder='Amount').form-control
            .input-group-append
              span.input-group-text .00
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Addon on the left --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;span class=&quot;input-group-text&quot;&gt;
                    &lt;i data-feather=&quot;lock&quot;&gt;&lt;/i&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
                &lt;input type=&quot;password&quot; class=&quot;form-control&quot; placeholder=&quot;Password&quot;&gt;
              &lt;/div&gt;

              &lt;!-- Addon on the right --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Recipient's e-mail&quot;&gt;
                &lt;div class=&quot;input-group-append&quot;&gt;
                  &lt;span class=&quot;input-group-text&quot;&gt;@example.com&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Addons on both sides --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;span class=&quot;input-group-text&quot;&gt;
                    &lt;i data-feather=&quot;dollar-sign&quot;&gt;&lt;/i&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Amount&quot;&gt;
                &lt;div class=&quot;input-group-append&quot;&gt;
                  &lt;span class=&quot;input-group-text&quot;&gt;.00&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Addon on the left
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i(data-feather=&quot;lock&quot;)
                input(type=&quot;password&quot;, placeholder=&quot;Password&quot;).form-control

              // Addon on the right
              .input-group
                input(type=&quot;text&quot;, placeholder=&quot;Recipient's e-mail&quot;).form-control
                .input-group-append
                  span.input-group-text
                    | @example.com
              
              // Addons on both sides
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i(data-feather=&quot;dollar-sign&quot;)
                input(type=&quot;text&quot;, placeholder=&quot;Amount&quot;).form-control
                .input-group-append
                  span.input-group-text
                    | .00

  // Rounded example
  h2.h5.pt-5.mb-3 Rounded example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .input-group.form-group
            .input-group-prepend
              span.input-group-text.rounded-left
                i(data-feather='lock')
            input(type='password' placeholder='Password').form-control.rounded-right
          .input-group.form-group
            input(type='text' placeholder="Recipient's e-mail").form-control.rounded-left
            .input-group-append
              span.input-group-text.rounded-right @example.com
          .input-group
            .input-group-prepend
              span.input-group-text.rounded-left
                i(data-feather='dollar-sign')
            input(type='text' placeholder='Amount').form-control
            .input-group-append
              span.input-group-text.rounded-right .00
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Addon on the left (rounded) --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;span class=&quot;input-group-text rounded-left&quot;&gt;
                    &lt;i data-feather=&quot;lock&quot;&gt;&lt;/i&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
                &lt;input type=&quot;password&quot; class=&quot;form-control rounded-right&quot; placeholder=&quot;Password&quot;&gt;
              &lt;/div&gt;

              &lt;!-- Addon on the right (rounded) --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control rounded-left&quot; placeholder=&quot;Recipient's e-mail&quot;&gt;
                &lt;div class=&quot;input-group-append&quot;&gt;
                  &lt;span class=&quot;input-group-text rounded-right&quot;&gt;@example.com&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Addons on both sides (rounded) --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;span class=&quot;input-group-text rounded-left&quot;&gt;
                    &lt;i data-feather=&quot;dollar-sign&quot;&gt;&lt;/i&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Amount&quot;&gt;
                &lt;div class=&quot;input-group-append&quot;&gt;
                  &lt;span class=&quot;input-group-text rounded-right&quot;&gt;.00&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Addon on the left (rounded)
              .input-group
                .input-group-prepend
                  span.input-group-text.rounded-left
                    i(data-feather=&quot;lock&quot;)
                input(type=&quot;password&quot;, placeholder=&quot;Password&quot;).form-control.rounded-right

              // Addon on the right (rounded)
              .input-group
                input(type=&quot;text&quot;, placeholder=&quot;Recipient's e-mail&quot;).form-control.rounded-left
                .input-group-append
                  span.input-group-text.rounded-right
                    | @example.com
              
              // Addons on both sides (rounded)
              .input-group
                .input-group-prepend
                  span.input-group-text.rounded-left
                    i(data-feather=&quot;dollar-sign&quot;)
                input(type=&quot;text&quot;, placeholder=&quot;Amount&quot;).form-control
                .input-group-append
                  span.input-group-text.rounded-right
                    | .00

  // Different types
  h2.h5.pt-5.mb-3 Different types
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .input-group.form-group
            .input-group-prepend
              span.input-group-text
                i(data-feather='message-square')
            textarea(placeholder='Type your message here...' rows='6').form-control
          .input-group.form-group
            .input-group-prepend
              span.input-group-text.font-weight-semibold Options
            select.form-control.custom-select
              option Choose one...
              option One
              option Two
              option Three
              option Four
              option Five
          .input-group.form-group
            .input-group-prepend
              .input-group-text
                .custom-control.custom-checkbox
                  input(type='checkbox' id='ex-check-1').custom-control-input
                  label(for='ex-check-1').custom-control-label
            input(type='text' placeholder='Checkbox here').form-control
          .input-group
            .input-group-prepend
              .input-group-text
                .custom-control.custom-radio
                  input(type='radio' id='ex-radio-1' name='radio').custom-control-input
                  label(for='ex-radio-1').custom-control-label
            input(type='text' placeholder='Radio button here').form-control
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Icon addon --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;span class=&quot;input-group-text&quot;&gt;
                    &lt;i dat-feather=&quot;message-square&quot;&gt;&lt;/i&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
                &lt;textarea class=&quot;form-control&quot; placeholder=&quot;Type your message here...&quot; rows=&quot;6&quot;&gt;&lt;/textarea&gt;
              &lt;/div&gt;

              &lt;!-- Textual addon --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;span class=&quot;input-group-text font-weight-semibold&quot;&gt;Options&lt;/span&gt;
                &lt;/div&gt;
                &lt;select class=&quot;form-control custom-select&quot;&gt;
                  &lt;option&gt;Choose one...&lt;/option&gt;
                  &lt;option&gt;One&lt;/option&gt;
                  &lt;option&gt;Two&lt;/option&gt;
                  &lt;option&gt;Three&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;

              &lt;!-- Checkbox addon --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;div class=&quot;input-group-text&quot;&gt;
                    &lt;div class=&quot;custom-control custom-checkbox&quot;&gt;
                      &lt;input class=&quot;custom-control-input&quot; type=&quot;checkbox&quot; id=&quot;ex-check-1&quot;&gt;
                      &lt;label class=&quot;custom-control-label&quot; for=&quot;ex-check-1&quot;&gt;&lt;/label&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Checkbox here&quot;&gt;
              &lt;/div&gt;

              &lt;!-- Radio button addon --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;div class=&quot;input-group-text&quot;&gt;
                    &lt;div class=&quot;custom-control custom-radio&quot;&gt;
                      &lt;input class=&quot;custom-control-input&quot; type=&quot;radio&quot; id=&quot;ex-radio-1&quot; name=&quot;radio&quot;&gt;
                      &lt;label class=&quot;custom-control-label&quot; for=&quot;ex-radio-1&quot;&gt;&lt;/label&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Radio button here&quot;&gt;
              &lt;/div&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Icon addon
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i(data-feather=&quot;message-square&quot;)
                textarea(placeholder=&quot;Type your message here...&quot;, rows=&quot;6&quot;).form-control

              // Textual addon
              .input-group
                .input-group-prepend
                  span.input-group-text.font-weight-semibold
                    | Options
                select.form-control.custom-select
                  option Choose one...
                  option One
                  option Two
                  option Three
                  option Four
                  option Five

              // Checkbox addon
              .input-group.form-group
                .input-group-prepend
                  .input-group-text
                    .custom-control.custom-checkbox
                      input(type=&quot;checkbox&quot;, id=&quot;ex-check-1&quot;).custom-control-input
                      label(for=&quot;ex-check-1&quot;).custom-control-label
                input(type=&quot;text&quot;, placeholder=&quot;Checkbox here&quot;).form-control

              // Radio button addon
              .input-group.form-group
                .input-group-prepend
                  .input-group-text
                    .custom-control.custom-radio
                      input(type=&quot;radio&quot;, id=&quot;ex-radio-1&quot;, name=&quot;radio&quot;).custom-control-input
                      label(for=&quot;ex-radio-1&quot;).custom-control-label
                input(type=&quot;text&quot;, placeholder=&quot;Radio button here&quot;).form-control

  // Multiple inputs
  h2.h5.pt-5.mb-3 Multiple inputs
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result4.tab-pane.fade.show.active(role='tabpanel')
          .input-group.form-group
            .input-group-prepend
              span.input-group-text.font-weight-semibold First &amp; last name
            input(type='text' placeholder='First name').form-control
            input(type='text' placeholder='Last name').form-control
          .input-group
            input(type='text' placeholder='From date').form-control
            input(type='text' placeholder='To date').form-control
            .input-group-append
              span.input-group-text
                i(data-feather='calendar')
        #html4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Multiple inputs (addon on the left) --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;span class=&quot;input-group-text font-weight-semibold&quot;&gt;First &amp;amp; last name&lt;/span&gt;
                &lt;/div&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;First name&quot;&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Last name&quot;&gt;
              &lt;/div&gt;

              &lt;!-- Multiple inputs (addon on the right) --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;From date&quot;&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;To date&quot;&gt;
                &lt;div class=&quot;input-group-append&quot;&gt;
                  &lt;span class=&quot;input-group-text&quot;&gt;
                    &lt;i data-feather=&quot;calendar&quot;&gt;&lt;/i&gt;
                  &lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Multiple inputs (addon on the left)
              .input-group
                .input-group-prepend
                  span.input-group-text.font-weight-semibold First &amp;amp; last name
                input(type=&quot;text&quot;, placeholder=&quot;First name&quot;).form-control
                input(type=&quot;text&quot;, placeholder=&quot;Last name&quot;).form-control

              // Multiple inputs (addon on the right)
              .input-group
                input(type=&quot;text&quot;, placeholder=&quot;From date&quot;).form-control
                input(type=&quot;text&quot;, placeholder=&quot;To date&quot;).form-control
                .input-group-append
                  span.input-group-text
                    i(data-feather=&quot;calendar&quot;)

  // Button addons
  h2.h5.pt-5.mb-3 Button addons
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result5' data-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html5' data-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug5' data-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result5.tab-pane.fade.show.active(role='tabpanel')
          .input-group.form-group
            .input-group-prepend
              button(type='button').btn.btn-primary Button
            input(type='text' placeholder='Button on the left').form-control
          .input-group.form-group
            input(type='text' placeholder='Button on the right').form-control
            .input-group-append
              button(type='button').btn.btn-primary Button
          .input-group.form-group
            .input-group-prepend
              button(type='button' data-toggle='dropdown').btn.btn-primary.dropdown-toggle Dropdown
              .dropdown-menu
                a(href='#').dropdown-item Action
                a(href='#').dropdown-item Another action
                a(href='#').dropdown-item Something else here
            input(type='text' placeholder='Dropdown on the left').form-control
          .input-group.form-group
            input(type='text' placeholder='Dropdown on the right').form-control
            .input-group-append
              button(type='button' data-toggle='dropdown').btn.btn-primary.dropdown-toggle Dropdown
              .dropdown-menu.dropdown-menu-right
                a(href='#').dropdown-item Action
                a(href='#').dropdown-item Another action
                a(href='#').dropdown-item Something else here
          .input-group
            input(type='text' placeholder='Buttons on the right').form-control
            .input-group-append
              button(type='button').btn.btn-secondary
                i(data-feather='edit')
              button(type='button').btn.btn-success
                i(data-feather='check-circle')
              button(type='button').btn.btn-danger
                i(data-feather='trash-2')
        #html5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Button addon on the left --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot;&gt;Button&lt;/button&gt;
                &lt;/div&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Button on the left&quot;&gt;
              &lt;/div&gt;

              &lt;!-- Button addon on the right --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Button on the right&quot;&gt;
                &lt;div class=&quot;input-group-append&quot;&gt;
                  &lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot;&gt;Button&lt;/button&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              
              &lt;!-- Dropdown addon on the left --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;div class=&quot;input-group-prepend&quot;&gt;
                  &lt;button class=&quot;btn btn-primary dropdown-toggle&quot; type=&quot;button&quot; data-toggle=&quot;dropdown&quot;&gt;Dropdown&lt;/button&gt;
                  &lt;div class=&quot;dropdown-menu&quot;&gt;
                    &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Action&lt;/a&gt;
                    &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Another action&lt;/a&gt;
                    &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Something else here&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Dropdown on the right&quot;&gt;
              &lt;/div&gt;
              
              &lt;!-- Dropdown addon on the right --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Dropdown on the right&quot;&gt;
                &lt;div class=&quot;input-group-append&quot;&gt;
                  &lt;button class=&quot;btn btn-primary dropdown-toggle&quot; type=&quot;button&quot; data-toggle=&quot;dropdown&quot;&gt;Dropdown&lt;/button&gt;
                  &lt;div class=&quot;dropdown-menu&quot;&gt;
                    &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Action&lt;/a&gt;
                    &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Another action&lt;/a&gt;
                    &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Something else here&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Multiple button addons --&gt;
              &lt;div class=&quot;input-group&quot;&gt;
                &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Buttons on the right&quot;&gt;
                &lt;div class=&quot;input-group-append&quot;&gt;
                  &lt;button class=&quot;btn btn-secondary&quot; type=&quot;button&quot;&gt;
                    &lt;i data-feather=&quot;edit&quot;&gt;&lt;/i&gt;
                  &lt;/button&gt;
                  &lt;button class=&quot;btn btn-success&quot; type=&quot;button&quot;&gt;
                    &lt;i data-feather=&quot;check-circle&quot;&gt;&lt;/i&gt;
                  &lt;/button&gt;
                  &lt;button class=&quot;btn btn-danger&quot; type=&quot;button&quot;&gt;
                    &lt;i data-feather=&quot;trash-2&quot;&gt;&lt;/i&gt;
                  &lt;/button&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Button addon on the left
              .input-group
                .input-group-prepend
                  button.btn.btn-primary(type=&quot;button&quot;) Button
                input(type=&quot;text&quot;, placeholder=&quot;Button on the left&quot;).form-control

              // Button addon on the right
              .input-group
                input(type=&quot;text&quot;, placeholder=&quot;Button on the right&quot;).form-control
                .input-group-append
                  button.btn.btn-primary(type=&quot;button&quot;) Button

              // Dropdown addon on the left
              .input-group
                .input-group-prepend
                  button(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;).btn.btn-primary.dropdown-toggle Dropdown
                  .dropdown-menu
                    a.dropdown-item(href=&quot;#&quot;) Action
                    a.dropdown-item(href=&quot;#&quot;) Another action
                    a.dropdown-item(href=&quot;#&quot;) Something else here
                input(type=&quot;text&quot;, placeholder=&quot;Dropdown on the left&quot;).form-control
              
              // Dropdown addon on the right
              .input-group
                input(type=&quot;text&quot;, placeholder=&quot;Dropdown on the right&quot;).form-control
                .input-group-append
                  button.btn.btn-primary.dropdown-toggle(type=&quot;button&quot;, data-toggle=&quot;dropdown&quot;) Dropdown
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href=&quot;#&quot;) Action
                    a.dropdown-item(href=&quot;#&quot;) Another action
                    a.dropdown-item(href=&quot;#&quot;) Something else here
              
              // Multiple button addons
              .input-group
                input(type=&quot;text&quot;, placeholder=&quot;Buttons on the right&quot;).form-control
                .input-group-append
                  button(type=&quot;button&quot;).btn.btn-secondary
                    i(data-feather=&quot;edit&quot;)
                  button(type=&quot;button&quot;).btn.btn-success
                    i(data-feather=&quot;check-circle&quot;)
                  button(type=&quot;button&quot;).btn.btn-danger
                    i(data-feather=&quot;trash-2&quot;)
