extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Jumbotron'
  - var pageSubTitle = '&mdash;&nbsp; Toggle the visibility of content. <a href="https://getbootstrap.com/docs/4.3/components/jumbotron/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Basic example
  h2.h5.mb-3 Basic example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .jumbotron.mb-0
            h1 Hello, world!
            p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
            hr.my-4
            p.pb-3 It uses utility classes for typography and spacing to space content out within the larger container.
            a(href='#' role='button').btn.btn-primary Learn more
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Jumbotron --&gt;
              &lt;div class=&quot;jumbotron&quot;&gt;
                &lt;h1&gt;Hello, world!&lt;/h1&gt;
                &lt;p class=&quot;lead&quot;&gt;This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.&lt;/p&gt;
                &lt;hr class=&quot;my-4&quot;&gt;
                &lt;p class=&quot;pb-3&quot;&gt;It uses utility classes for typography and spacing to space content out within the larger container.&lt;/p&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot; role=&quot;button&quot;&gt;Learn more&lt;/a&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Jumbotron
              .jumbotron
                h1 Hello, world!
                p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                hr.my-4
                p.pb-3 It uses utility classes for typography and spacing to space content out within the larger container.
                a(href=&quot;#&quot;, role=&quot;button&quot;).btn.btn-primary Learn more

  // Background image
  h2.h5.pt-5.mb-3 Background image
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .jumbotron.bg-size-cover.bg-position-center.bg-no-repeat.text-center.mb-0(style='background-image: url(../img/components/jumbotron/jumbotron-bg.jpg);')
            h1.text-light Hello, world!
            p.lead.text-light This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
            hr.hr-light.my-4
            p.text-light.pb-3 It uses utility classes for typography and spacing to space content out within the larger container.
            a(href='#' role='button').btn.btn-primary Learn more
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Jumbotron with background image --&gt;
              &lt;div class=&quot;jumbotron bg-size-cover bg-position-center bg-no-repeat text-center&quot; style=&quot;background-image: url(path-to-image);&quot;&gt;
                &lt;h1 class=&quot;text-light&quot;&gt;Hello, world!&lt;/h1&gt;
                &lt;p class=&quot;lead text-light&quot;&gt;This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.&lt;/p&gt;
                &lt;hr class=&quot;my-4 hr-light&quot;&gt;
                &lt;p class=&quot;text-light pb-3&quot;&gt;It uses utility classes for typography and spacing to space content out within the larger container.&lt;/p&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot; role=&quot;button&quot;&gt;Learn more&lt;/a&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Jumbotron with background image
              .jumbotron.bg-size-cover.bg-position-center.bg-no-repeat.text-center.mb-0(style=&quot;background-image: url(path-to-image);&quot;)
                h1.text-light Hello, world!
                p.lead.text-light This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                hr.hr-light.my-4
                p.text-light.pb-3 It uses utility classes for typography and spacing to space content out within the larger container.
                a(href=&quot;#&quot;, role=&quot;button&quot;).btn.btn-primary Learn more
