extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Market buttons'
  - var pageSubTitle = '&mdash;&nbsp; Display download links for different mobile app stores.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Basic example
  h2.h5.mb-3 Basic example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          a(href='#' role='button').market-btn.apple-btn.mr-3.mb-3
            span.market-button-subtitle Download on the
            span.market-button-title App Store
          a(href='#' role='button').market-btn.google-btn.mr-3.mb-3
            span.market-button-subtitle Download on the
            span.market-button-title Google Play
          a(href='#' role='button').market-btn.windows-btn.mr-3.mb-3
            span.market-button-subtitle Download on the
            span.market-button-title Windows Store
          a(href='#' role='button').market-btn.amazon-btn.mb-3
            span.market-button-subtitle Order now at
            span.market-button-title Amazon.com
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- App Store button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn apple-btn&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;App Store&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Google Play button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn google-btn&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Google Play&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Windows store button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn windows-btn&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Windows Store&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Amazon button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn amazon-btn&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Order now at&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Amazon.com&lt;/span&gt;
              &lt;/a&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // App Store button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.apple-btn
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | App Store

              // Google Play button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.google-btn
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | Google Play

              // Windows store button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.windows-btn
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | Windows Store

              // Amazon button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.amazon-btn
                span.market-button-subtitle
                  | Order now at
                span.market-button-title
                  | Amazon.com

  // Dark version
  h2.h5.pt-5.mb-3 Dark version
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          a(href='#' role='button').market-btn.market-btn-light.apple-btn.bg-dark.mr-3.mb-3
            span.market-button-subtitle Download on the
            span.market-button-title App Store
          a(href='#' role='button').market-btn.market-btn-light.google-btn.bg-dark.mr-3.mb-3
            span.market-button-subtitle Download on the
            span.market-button-title Google Play
          a(href='#' role='button').market-btn.market-btn-light.windows-btn.bg-dark.mr-3.mb-3
            span.market-button-subtitle Download on the
            span.market-button-title Windows Store
          a(href='#' role='button').market-btn.market-btn-light.amazon-btn.bg-dark.mb-3
            span.market-button-subtitle Order now at
            span.market-button-title Amazon.com
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- App Store button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn apple-btn market-btn-light bg-dark&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;App Store&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Google Play button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn google-btn market-btn-light bg-dark&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Google Play&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Windows store button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn windows-btn market-btn-light bg-dark&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Windows Store&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Amazon button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn amazon-btn market-btn-light bg-dark&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Order now at&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Amazon.com&lt;/span&gt;
              &lt;/a&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // App Store button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.market-btn-light.apple-btn.bg-dark
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | App Store

              // Google Play button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.market-btn-light.google-btn.bg-dark
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | Google Play

              // Windows store button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.market-btn-light.windows-btn.bg-dark
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | Windows Store

              // Amazon button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.market-btn-light.amazon-btn.bg-dark
                span.market-button-subtitle
                  | Order now at
                span.market-button-title
                  | Amazon.com

  // Light version
  h2.h5.pt-5.mb-3 Light version
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .bg-dark.pt-4.px-4.pb-2
            a(href='#' role='button').market-btn.market-btn-light.apple-btn.mr-3.mb-3
              span.market-button-subtitle Download on the
              span.market-button-title App Store
            a(href='#' role='button').market-btn.market-btn-light.google-btn.mr-3.mb-3
              span.market-button-subtitle Download on the
              span.market-button-title Google Play
            a(href='#' role='button').market-btn.market-btn-light.windows-btn.mr-3.mb-3
              span.market-button-subtitle Download on the
              span.market-button-title Windows Store
            a(href='#' role='button').market-btn.market-btn-light.amazon-btn.mb-3
              span.market-button-subtitle Order now at
              span.market-button-title Amazon.com
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- App Store button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn apple-btn market-btn-light&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;App Store&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Google Play button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn google-btn market-btn-light&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Google Play&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Windows store button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn windows-btn market-btn-light&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Download on the&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Windows Store&lt;/span&gt;
              &lt;/a&gt;

              &lt;!-- Amazon button --&gt;
              &lt;a href=&quot;#&quot; class=&quot;market-btn amazon-btn market-btn-light&quot; role=&quot;button&quot;&gt;
                &lt;span class=&quot;market-button-subtitle&quot;&gt;Order now at&lt;/span&gt;
                &lt;span class=&quot;market-button-title&quot;&gt;Amazon.com&lt;/span&gt;
              &lt;/a&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // App Store button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.market-btn-light.apple-btn
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | App Store

              // Google Play button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.market-btn-light.google-btn
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | Google Play

              // Windows store button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.market-btn-light.windows-btn
                span.market-button-subtitle
                  | Download on the
                span.market-button-title
                  | Windows Store

              // Amazon button
              a(href=&quot;#&quot;, role=&quot;button&quot;).market-btn.market-btn-light.amazon-btn
                span.market-button-subtitle
                  | Order now at
                span.market-button-title
                  | Amazon.com
