extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Media object'
  - var pageSubTitle = '&mdash;&nbsp; To construct highly repetitive components like blog comments, tweets, and the like. <a href="https://getbootstrap.com/docs/4.3/components/media-object/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Order (position)
  h2.h5.mb-3 Order (position)
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .media.mb-4
            img(src='../img/components/media/01.jpg' width='64' alt='Media').mr-3
            .media-body
              h5.mb-1 Media heading
              span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
          hr.mb-4
          .media.text-right
            .media-body
              h5.mb-1 Media heading
              span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
            img(src='../img/components/media/03.jpg' width='64' alt='Media').ml-3
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Image on the left --&gt;
              &lt;div class=&quot;media&quot;&gt;
                &lt;img src=&quot;path-to-image&quot; class=&quot;mr-3&quot; width=&quot;64&quot; alt=&quot;Media&quot;&gt;
                &lt;div class=&quot;media-body&quot;&gt;
                  &lt;h5 class=&quot;mb-1&quot;&gt;Media heading&lt;/h5&gt;
                  &lt;span class=&quot;font-size-sm text-muted&quot;&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Image on the right --&gt;
              &lt;div class=&quot;media text-right&quot;&gt;
                &lt;div class=&quot;media-body&quot;&gt;
                  &lt;h5 class=&quot;mb-1&quot;&gt;Media heading&lt;/h5&gt;
                  &lt;span class=&quot;font-size-sm text-muted&quot;&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.&lt;/span&gt;
                &lt;/div&gt;
                &lt;img src=&quot;path-to-image&quot; class=&quot;ml-3&quot; width=&quot;64&quot; alt=&quot;Media&quot;&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Image on the left
              .media
                img(src=&quot;path-to-image&quot;, width=&quot;64&quot;, alt=&quot;Media&quot;).mr-3
                .media-body
                  h5.mb-1 Media heading
                  span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

              // Image on the right
              .media.text-right
                .media-body
                  h5.mb-1 Media heading
                  span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                img(src=&quot;path-to-image&quot;, width=&quot;64&quot;, alt=&quot;Media&quot;).ml-3

  // Alignment
  h2.h5.pt-5.mb-3 Alignment
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .media.mb-4
            img(src='../img/components/media/01.jpg' width='64' alt='Media').align-self-start.mr-3
            .media-body
              h5.mb-1 Top-aligned media
              span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          hr.mb-4
          .media.mb-4
            img(src='../img/components/media/02.jpg' width='64' alt='Media').align-self-center.mr-3
            .media-body
              h5.mb-1 Center-aligned media
              span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          hr.mb-4
          .media
            img(src='../img/components/media/03.jpg' width='64' alt='Media').align-self-end.mr-3
            .media-body
              h5.mb-1 Bottom-aligned media
              span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Top-aligned media --&gt;
              &lt;div class=&quot;media&quot;&gt;
                &lt;img src=&quot;path-to-image&quot; class=&quot;align-self-start mr-3&quot; width=&quot;64&quot; alt=&quot;Media&quot;&gt;
                &lt;div class=&quot;media-body&quot;&gt;
                  &lt;h5 class=&quot;mb-1&quot;&gt;Top-aligned media&lt;/h5&gt;
                  &lt;span class=&quot;font-size-sm text-muted&quot;&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Center-aligned media --&gt;
              &lt;div class=&quot;media&quot;&gt;
                &lt;img src=&quot;path-to-image&quot; class=&quot;align-self-center mr-3&quot; width=&quot;64&quot; alt=&quot;Media&quot;&gt;
                &lt;div class=&quot;media-body&quot;&gt;
                  &lt;h5 class=&quot;mb-1&quot;&gt;Center-aligned media&lt;/h5&gt;
                  &lt;span class=&quot;font-size-sm text-muted&quot;&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Bottom-aligned media --&gt;
              &lt;div class=&quot;media&quot;&gt;
                &lt;img src=&quot;path-to-image&quot; class=&quot;align-self-end mr-3&quot; width=&quot;64&quot; alt=&quot;Media&quot;&gt;
                &lt;div class=&quot;media-body&quot;&gt;
                  &lt;h5 class=&quot;mb-1&quot;&gt;Bottom-aligned media&lt;/h5&gt;
                  &lt;span class=&quot;font-size-sm text-muted&quot;&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Top-aligned media
              .media
                img(src=&quot;path-to-image&quot;, width=&quot;64&quot;, alt=&quot;Media&quot;).align-self-start.mr-3
                .media-body
                  h5.mb-1 Top-aligned media
                  span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              
              // Center-aligned media
              .media
                img(src=&quot;path-to-image&quot;, width=&quot;64&quot;, alt=&quot;Media&quot;).align-self-center.mr-3
                .media-body
                  h5.mb-1 Center-aligned media
                  span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              
              // Bottom-aligned media
              .media
                img(src=&quot;path-to-image&quot;, width=&quot;64&quot;, alt=&quot;Media&quot;).align-self-end.mr-3
                .media-body
                  h5.mb-1 Bottom-aligned media
                  span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  // Media list + shape
  h2.h5.pt-5.mb-3 Media list + shape
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          ul.list-unstyled
            li.media.mb-4
              img(src='../img/components/media/01.jpg' width='64' alt='Media').mr-3
              .media-body
                h5.mb-1 List-based media object
                span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
            li.media.mb-4
              img(src='../img/components/media/02.jpg' width='64' alt='Media').rounded.mr-3
              .media-body
                h5.mb-1 List-based media object
                span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
            li.media.mb-4
              img(src='../img/components/media/03.jpg' width='64' alt='Media').rounded-circle.mr-3
              .media-body
                h5.mb-1 List-based media object
                span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Media list --&gt;
              &lt;ul class=&quot;list-unstyled&quot;&gt;

                &lt;!-- Square image --&gt;
                &lt;li class=&quot;media mb-4&quot;&gt;
                  &lt;img src=&quot;path-to-image&quot; class=&quot;mr-3&quot; width=&quot;64&quot; alt=&quot;Media&quot;&gt;
                  &lt;div class=&quot;media-body&quot;&gt;
                    &lt;h5 class=&quot;mb-1&quot;&gt;List-based media object&lt;/h5&gt;
                    &lt;span class=&quot;font-size-sm text-muted&quot;&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Rounded image --&gt;
                &lt;li class=&quot;media mb-4&quot;&gt;
                  &lt;img src=&quot;path-to-image&quot; class=&quot;rounded mr-3&quot; width=&quot;64&quot; alt=&quot;Media&quot;&gt;
                  &lt;div class=&quot;media-body&quot;&gt;
                    &lt;h5 class=&quot;mb-1&quot;&gt;List-based media object&lt;/h5&gt;
                    &lt;span class=&quot;font-size-sm text-muted&quot;&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Circle image --&gt;
                &lt;li class=&quot;media mb-4&quot;&gt;
                  &lt;img src=&quot;path-to-image&quot; class=&quot;rounded-circle mr-3&quot; width=&quot;64&quot; alt=&quot;Media&quot;&gt;
                  &lt;div class=&quot;media-body&quot;&gt;
                    &lt;h5 class=&quot;mb-1&quot;&gt;List-based media object&lt;/h5&gt;
                    &lt;span class=&quot;font-size-sm text-muted&quot;&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Media list
              ul.list-unstyled

                // Square image
                li.media.mb-4
                  img(src=&quot;path-to-image&quot;, width=&quot;64&quot;, alt=&quot;Media&quot;).mr-3
                  .media-body
                    h5.mb-1 List-based media object
                    span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.

                // Rounded image
                li.media.mb-4
                  img(src=&quot;path-to-image&quot;, width=&quot;64&quot;, alt=&quot;Media&quot;).rounded.mr-3
                  .media-body
                    h5.mb-1 List-based media object
                    span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.

                // Circle image
                li.media.mb-4
                  img(src=&quot;path-to-image&quot;, width=&quot;64&quot;, alt=&quot;Media&quot;).rounded-circle.mr-3
                  .media-body
                    h5.mb-1 List-based media object
                    span.font-size-sm.text-muted Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
