extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Pills'
  - var pageSubTitle = "&mdash;&nbsp; It's a button-like navigation component.  <a href='https://getbootstrap.com/docs/4.3/components/navs/#pills' target='_blank'>See Bootstrap documentation</a>."
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Basic example
  h2.h5.mb-3 Basic example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          ul(class='nav nav-pills')
            li.nav-item
              a(href='#' class='nav-link active') Active
            li.nav-item
              a(href='#' class='nav-link') Link
            li.nav-item
              a(href='#' class='nav-link') Link
            li.nav-item
              a(href='#' class='nav-link disabled') Disabled
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Nav pills --&gt;
              &lt;ul class=&quot;nav nav-pills&quot;&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link active&quot;&gt;Active&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link disabled&quot; tabindex=&quot;-1&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Nav pills
              ul(class=&quot;nav nav-pills&quot;)
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link active&quot;)
                    | Active
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link disabled&quot;, tabindex=&quot;-1&quot;, aria-disabled=&quot;true&quot;)
                    | Disabled

  // Rounded pills
  h2.h5.pt-5.mb-3 Rounded pills
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          ul(class='nav nav-pills')
            li.nav-item
              a(href='#' class='nav-link rounded active') Active
            li.nav-item
              a(href='#' class='nav-link rounded') Link
            li.nav-item
              a(href='#' class='nav-link rounded') Link
            li.nav-item
              a(href='#' class='nav-link rounded disabled' tabindex='-1' aria-disabled='true') Disabled
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Rounded nav pills --&gt;
              &lt;ul class=&quot;nav nav-pills&quot;&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link rounded active&quot;&gt;Active&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link rounded&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link rounded&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link rounded disabled&quot; tabindex=&quot;-1&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Rounded nav pills
              ul(class=&quot;nav nav-pills&quot;)
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link rounded active&quot;)
                    | Active
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link rounded&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link rounded&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link rounded disabled&quot;, tabindex=&quot;-1&quot;, aria-disabled=&quot;true&quot;)
                    | Disabled

  // Pill shaped pills
  h2.h5.pt-5.mb-3 Pill shaped pills
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          ul(class='nav nav-pills')
            li.nav-item
              a(href='#' class='nav-link btn-pill active') Active
            li.nav-item
              a(href='#' class='nav-link btn-pill') Link
            li.nav-item
              a(href='#' class='nav-link btn-pill') Link
            li.nav-item
              a(href='#' class='nav-link btn-pill disabled' tabindex='-1' aria-disabled='true') Disabled
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Rounded nav pills --&gt;
              &lt;ul class=&quot;nav nav-pills&quot;&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link btn-pill active&quot;&gt;Active&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link btn-pill&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link btn-pill&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link btn-pill disabled&quot; tabindex=&quot;-1&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Rounded nav pills
              ul(class=&quot;nav nav-pills&quot;;)
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link btn-pill active&quot;)
                    | Active
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link btn-pill&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link btn-pill&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link btn-pill disabled&quot;, tabindex=&quot;-1&quot;, aria-disabled=&quot;true&quot;)
                    | Disabled

  // Fill and justify
  h2.h5.pt-5.mb-3 Fill and justify
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result4.tab-pane.fade.show.active(role='tabpanel')
          ul(class='nav nav-pills nav-fill')
            li.nav-item
              a(href='#' class='nav-link active') Active
            li.nav-item
              a(href='#' class='nav-link') Much longer nav link
            li.nav-item
              a(href='#' class='nav-link') Link
            li.nav-item
              a(href='#' class='nav-link disabled' tabindex='-1' aria-disabled='true') Disabled
        #html4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Justified nav pills --&gt;
              &lt;ul class=&quot;nav nav-pills nav-fill&quot;&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link active&quot;&gt;Active&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link disabled&quot; tabindex=&quot;-1&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
        #pug4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Justified nav pills
              ul(class=&quot;nav nav-pills nav-fill&quot;)
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link active&quot;)
                    | Active
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link disabled&quot;,  tabindex=&quot;-1&quot;, aria-disabled=&quot;true&quot;)
                    | Disabled

  // Pills with dropdowns
  h2.h5.pt-5.mb-3 Pills with dropdowns
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result5' data-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html5' data-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug5' data-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result5.tab-pane.fade.show.active(role='tabpanel')
          ul(class='nav nav-pills')
            li.nav-item
              a(href='#' class='nav-link active') Active
            li.nav-item.dropdown
              a(href='#' class='nav-link dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Dropdown
              .dropdown-menu
                a(href='#').dropdown-item Action
                a(href='#').dropdown-item Another action
                a(href='#').dropdown-item Something else here
                .dropdown-divider
                a(href='#').dropdown-item Separated link
            li.nav-item
              a(href='#' class='nav-link') Link
            li.nav-item
              a(href='#' class='nav-link disabled' tabindex='-1' aria-disabled='true') Disabled
        #html5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Pills with dropdowns --&gt;
              &lt;ul class=&quot;nav nav-pills&quot;&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link active&quot;&gt;Active&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item dropdown&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; role=&quot;button&quot; aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;Dropdown&lt;/a&gt;
                  &lt;div class=&quot;dropdown-menu&quot;&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Action&lt;/a&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Another action&lt;/a&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Something else here&lt;/a&gt;
                    &lt;div class=&quot;dropdown-divider&quot;&gt;&lt;/div&gt;
                    &lt;a href=&quot;#&quot; class=&quot;dropdown-item&quot;&gt;Separated link&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link disabled&quot; tabindex=&quot;-1&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
        #pug5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Pills with dropdowns
              ul(class=&quot;nav nav-pills&quot;)
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link active&quot;)
                    | Active
                li.nav-item.dropdown
                  a(href=&quot;#&quot;, class=&quot;nav-link dropdown-toggle&quot;, data-toggle=&quot;dropdown&quot;, role=&quot;button&quot;, aria-haspopup=&quot;true&quot;, aria-expanded=&quot;false&quot;)
                    | Dropdown
                  .dropdown-menu
                    a(href='#').dropdown-item Action
                    a(href='#').dropdown-item Another action
                    a(href='#').dropdown-item Something else here
                    .dropdown-divider
                    a(href='#').dropdown-item Separated link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link disabled&quot;,  tabindex=&quot;-1&quot;, aria-disabled=&quot;true&quot;)
                    | Disabled

  // Vertical pills
  h2.h5.pt-5.mb-3 Vertical pills
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result6' data-toggle='tab' role='tab' aria-controls='result6' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html6' data-toggle='tab' role='tab' aria-controls='html6' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug6' data-toggle='tab' role='tab' aria-controls='pug6' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result6.tab-pane.fade.show.active(role='tabpanel')
          .row
            .col-sm-6.col-md-4
              ul(class='nav nav-pills flex-column')
                li.nav-item
                  a(href='#' class='nav-link active') Active
                li.nav-item
                  a(href='#' class='nav-link') Link
                li.nav-item
                  a(href='#' class='nav-link') Link
                li.nav-item
                  a(href='#' class='nav-link disabled') Disabled
        #html6.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Vertical pills --&gt;
              &lt;ul class=&quot;nav nav-pills flex-column&quot;&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link active&quot;&gt;Active&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot;&gt;Link&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link disabled&quot; tabindex=&quot;-1&quot; aria-disabled=&quot;true&quot;&gt;Disabled&lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
        #pug6.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Vertical pills
              ul(class=&quot;nav nav-pills flex-column&quot;)
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link active&quot;)
                    | Active
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link&quot;)
                    | Link
                li.nav-item
                  a(href=&quot;#&quot;, class=&quot;nav-link disabled&quot;, tabindex=&quot;-1&quot;, aria-disabled=&quot;true&quot;)
                    | Disabled

  // JavaScript behavior
  h2.h5.pt-5.mb-3 JavaScript behavior
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result7' data-toggle='tab' role='tab' aria-controls='result7' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html7' data-toggle='tab' role='tab' aria-controls='html7' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug7' data-toggle='tab' role='tab' aria-controls='pug7' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result7.tab-pane.fade.show.active(role='tabpanel')
          ul(class='nav nav-pills mb-3' role='tablist')
            li.nav-item
              a(href='#home1' class='nav-link active' id='pills-home1' data-toggle='pill' role='tab' aria-controls='home1' aria-selected='true')
                i(data-feather='home')
                | &nbsp;Home
            li.nav-item
              a(href='#profile1' class='nav-link' id='pills-profile1' data-toggle='pill' role='tab' aria-controls='profile1' aria-selected='false')
                i(data-feather='user')
                | &nbsp;Profile
            li.nav-item
              a(href='#messages1' class='nav-link' id='pills-messages1' data-toggle='pill' role='tab' aria-controls='messages1' aria-selected='false')
                i(data-feather='message-square')
                | &nbsp;Messages
          .tab-content
            #home1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home1')
              p.font-size-sm.mb-0 Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.
            #profile1.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile1')
              p.font-size-sm.mb-0 Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco.
            #messages1.tab-pane.fade(role='tabpanel' aria-labelledby='pills-messages1')
              p.font-size-sm.mb-0 Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate consequat non.
        #html7.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Nav pills --&gt;
              &lt;ul class=&quot;nav nav-pills mb-3&quot; role=&quot;tablist&quot;&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link active&quot; id=&quot;pills-home1&quot; data-toggle=&quot;pill&quot; role=&quot;tab&quot; aria-controls=&quot;home1&quot; aria-selected=&quot;true&quot;&gt;
                    &lt;i data-feather=&quot;home&quot;&gt;&lt;/i&gt;
                    &amp;nbsp;Home
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot; id=&quot;pills-profile1&quot; data-toggle=&quot;pill&quot; role=&quot;tab&quot; aria-controls=&quot;profile1&quot; aria-selected=&quot;false&quot;&gt;
                    &lt;i data-feather=&quot;user&quot;&gt;&lt;/i&gt;
                    &amp;nbsp;Profile
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;nav-item&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;nav-link&quot; id=&quot;pills-messages1&quot; data-toggle=&quot;pill&quot; role=&quot;tab&quot; aria-controls=&quot;messages1&quot; aria-selected=&quot;false&quot;&gt;
                    &lt;i data-feather=&quot;message-square&quot;&gt;&lt;/i&gt;
                    &amp;nbsp;Messages
                  &lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;

              &lt;!-- Pills content --&gt;
              &lt;div class=&quot;tab-content&quot;&gt;
                &lt;div id=&quot;home1&quot; class=&quot;tab-pane fade show active&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-home1&quot;&gt;
                  ...
                &lt;/div&gt;
                &lt;div id=&quot;profile1&quot; class=&quot;tab-pane fade&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-profile1&quot;&gt;
                  ...
                &lt;/div&gt;
                &lt;div id=&quot;messages1&quot; class=&quot;tab-pane fade&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-messages1&quot;&gt;
                  ...
                &lt;/div&gt;
              &lt;/div&gt;
        #pug7.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Nav pills
              ul(class=&quot;nav nav-pills mb-3&quot;, role=&quot;tablist&quot;)
                li.nav-item
                  a(href=&quot;#home1&quot;, class=&quot;nav-link active&quot;, id=&quot;pills-home1&quot;, data-toggle=&quot;pill&quot;, role=&quot;tab&quot;, aria-controls=&quot;home1&quot;, aria-selected=&quot;true&quot;)
                    i(data-feather=&quot;home&quot;)
                    | &nbsp;Home
                li.nav-item
                  a(href=&quot;#profile1&quot;, class=&quot;nav-link&quot;, id=&quot;pills-profile1&quot;, data-toggle=&quot;pill&quot;, role=&quot;tab&quot;, aria-controls=&quot;profile1&quot;, aria-selected=&quot;false&quot;)
                    i(data-feather=&quot;user&quot;)
                    | &nbsp;Profile
                li.nav-item
                  a(href=&quot;#messages1&quot;, class=&quot;nav-link&quot;, id=&quot;pills-messages1&quot;, data-toggle=&quot;pill&quot;, role=&quot;tab&quot;, aria-controls=&quot;messages1&quot;, aria-selected=&quot;false&quot;)
                    i(data-feather=&quot;message-square&quot;)
                    | &nbsp;Messages

              // Pills content
              .tab-content
                #home1.tab-pane.fade.show.active(role=&quot;tabpanel&quot;, aria-labelledby=&quot;pills-home1&quot;)
                  | ...
                #profile1.tab-pane.fade(role=&quot;tabpanel&quot;, aria-labelledby=&quot;pills-profile1&quot;)
                  | ...
                #messages1.tab-pane.fade(role=&quot;tabpanel&quot;, aria-labelledby=&quot;pills-messages1&quot;)
                  | ...
