extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Popovers'
  - var pageSubTitle = '&mdash;&nbsp; A pop-up box that appears when the user clicks/hovers on an element. <a href="https://getbootstrap.com/docs/4.3/components/popovers/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Static popovers
  h2.h5.mb-3 Static popovers
  .card
    .card-body
      //-- Styles For Demo purpose only
      style.
        .example-popover .popover {
          display: block;
          position: relative;
          width: 16.25rem;
          margin: 1.25rem;
          float: left;
        }
        .bs-tooltip-bottom-demo .arrow,
        .bs-tooltip-top-demo .arrow {
          left: 50% !important;
          margin-left: -.126rem !important;
        }
        .bs-tooltip-left-demo .arrow,
        .bs-tooltip-right-demo .arrow {
          top: 50%;
          margin-top: -.375rem;
        }
        .bs-popover-bottom-demo .arrow,
        .bs-popover-top-demo .arrow {
          left: 50%;
          margin-left: -.6875rem;
        }
        .bs-popover-left-demo .arrow,
        .bs-popover-right-demo .arrow {
          top: 50%;
          margin-top: -.5rem;
        }
      //-- End of styles
      .example-popover.clearfix
        .popover.bs-popover-top.bs-popover-top-demo(role='tooltip')
          .arrow
          h3.popover-header Popover top
          .popover-body
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .popover.bs-popover-right.bs-popover-right-demo(role='tooltip')
          .arrow
          h3.popover-header Popover right
          .popover-body
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .popover.bs-popover-bottom.bs-popover-bottom-demo(role='tooltip')
          .arrow
          h3.popover-header Popover bottom
          .popover-body
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .popover.bs-popover-left.bs-popover-left-demo(role='tooltip')
          .arrow
          h3.popover-header Popover left
          .popover-body
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

  // Live demo
  h2.h5.pt-5.mb-3 Live demo
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-container='body' data-toggle='popover' data-placement='top' data-trigger='hover' title='Popover on top' data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.') Popover on top
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-container='body' data-toggle='popover' data-placement='right' data-trigger='hover' title='Popover on right' data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.') Popover on right
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-container='body' data-toggle='popover' data-placement='bottom' data-trigger='hover' title='Popover on bottom' data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.') Popover on bottom
          button(type='button' class='btn btn-outline-secondary mb-3' data-container='body' data-toggle='popover' data-placement='left' data-trigger='hover' title='Popover on left' data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.') Popover on left
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Popover on top --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-container=&quot;body&quot; data-toggle=&quot;popover&quot; data-placement=&quot;top&quot; data-trigger=&quot;hover&quot; title=&quot;Popover on top&quot; data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;&gt;Popover on top&lt;/button&gt;

              &lt;!-- Popover on right --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-container=&quot;body&quot; data-toggle=&quot;popover&quot; data-placement=&quot;right&quot; data-trigger=&quot;hover&quot; title=&quot;Popover on right&quot; data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;&gt;Popover on right&lt;/button&gt;

              &lt;!-- Popover on bottom --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-container=&quot;body&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-trigger=&quot;hover&quot; title=&quot;Popover on bottom&quot; data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;&gt;Popover on right&lt;/button&gt;

              &lt;!-- Popover on left --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-container=&quot;body&quot; data-toggle=&quot;popover&quot; data-placement=&quot;left&quot; data-trigger=&quot;hover&quot; title=&quot;Popover on left&quot; data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;&gt;Popover on right&lt;/button&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Popover on top
              button(type=&quot;button&quot;, class=&quot;btn btn-outline-secondary&quot;, data-container=&quot;body&quot;, data-toggle=&quot;popover&quot;, data-placement=&quot;top&quot;, data-trigger=&quot;hover&quot;, title=&quot;Popover on top&quot;, data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;)
                | Popover on top

              // Popover on right
              button(type=&quot;button&quot;, class=&quot;btn btn-outline-secondary&quot;, data-container=&quot;body&quot;, data-toggle=&quot;popover&quot;, data-placement=&quot;right&quot;, data-trigger=&quot;hover&quot;, title=&quot;Popover on right&quot;, data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;)
                | Popover on right
              
              // Popover on bottom
              button(type=&quot;button&quot;, class=&quot;btn btn-outline-secondary&quot;, data-container=&quot;body&quot;, data-toggle=&quot;popover&quot;, data-placement=&quot;bottom&quot;, data-trigger=&quot;hover&quot;, title=&quot;Popover on bottom&quot;, data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;)
                | Popover on bottom
              
              // Popover on left
              button(type=&quot;button&quot;, class=&quot;btn btn-outline-secondary&quot;, data-container=&quot;body&quot;, data-toggle=&quot;popover&quot;, data-placement=&quot;left&quot;, data-trigger=&quot;hover&quot;, title=&quot;Popover on left&quot;, data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;)
                | Popover on left

  // Toggle on click / hover
  h2.h5.pt-5.mb-3 Toggle on click / hover
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          button(type='button' class='btn btn-primary mr-2 mb-3' data-container='body' data-toggle='popover' data-placement='top' title='Popover on click' data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.') Toggle popover on click
          button(type='button' class='btn btn-warning mr-2 mb-3' data-container='body' data-toggle='popover' data-placement='top' data-trigger='hover' title='Popover on hover' data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.') Toggle popover on hover
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Toggle popover on click (click is default trigger) --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-container=&quot;body&quot; data-toggle=&quot;popover&quot; data-placement=&quot;top&quot; title=&quot;Popover on click&quot; data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;&gt;Toggle popover on click&lt;/button&gt;

              &lt;!-- Toggle popover on hover --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot; data-container=&quot;body&quot; data-toggle=&quot;popover&quot; data-placement=&quot;top&quot; data-trigger=&quot;hover&quot; title=&quot;Popover on hover&quot; data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;&gt;Toggle popover on hover&lt;/button&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Toggle popover on click (click is default trigger)
              button(type=&quot;button&quot;, class=&quot;btn btn-primary&quot;, data-container=&quot;body&quot;, data-toggle=&quot;popover&quot;, data-placement=&quot;top&quot;, title=&quot;Popover on click&quot;, data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;)
                | Toggle popover on click

              // Toggle popover on hover
              button(type=&quot;button&quot;, class=&quot;btn btn-warning&quot;, data-container=&quot;body&quot;, data-toggle=&quot;popover&quot;, data-placement=&quot;right&quot;, data-trigger=&quot;hover&quot;, title=&quot;Popover on hover&quot;, data-content=&quot;Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem.&quot;)
                | Toggle popover on hover
