extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Responsive embed'
  - var pageSubTitle = '&mdash;&nbsp; Responsive video or slideshow embeds based on the width of the parent. <a href="https://getbootstrap.com/docs/4.3/utilities/embed/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Vimeo video example
  h2.h5.mb-3 Vimeo video example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .embed-responsive.embed-responsive-16by9
            iframe(src='https://player.vimeo.com/video/263968179?color=0055ff&title=0&byline=0&portrait=0' allowfullscreen).embed-responsive-item
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Video embed (Vimeo) --&gt;
              &lt;div class=&quot;embed-responsive embed-responsive-16by9&quot;&gt;
                &lt;iframe class=&quot;embed-responsive-item&quot; src=&quot;https://player.vimeo.com/video/VIDEO_ID?color=0055ff&amp;title=0&amp;byline=0&amp;portrait=0&quot; allowfullscreen&gt;&lt;/iframe&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Video embed (Vimeo)
              .embed-responsive.embed-responsive-16by9
                iframe(src=&quot;https://player.vimeo.com/video/VIDEO_ID?color=0055ff&amp;title=0&amp;byline=0&amp;portrait=0&quot;, allowfullscreen).embed-responsive-item

  // YouTube video example
  h2.h5.pt-5.mb-3 YouTube video example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .embed-responsive.embed-responsive-16by9
            iframe(src='https://www.youtube.com/embed/8exM6VUgZFA' allowfullscreen).embed-responsive-item
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Video embed (YouTube) --&gt;
              &lt;div class=&quot;embed-responsive embed-responsive-16by9&quot;&gt;
                &lt;iframe class=&quot;embed-responsive-item&quot; src=&quot;https://www.youtube.com/embed/VIDEO_ID&quot; allowfullscreen&gt;&lt;/iframe&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Video embed (YouTube)
              .embed-responsive.embed-responsive-16by9
                iframe(src=&quot;https://www.youtube.com/embed/VIDEO_ID&quot;, allowfullscreen).embed-responsive-item
