extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Steps'
  - var pageSubTitle = '&mdash;&nbsp; Series of steps or conditions that the user needs to complete in order to accomplish a goal.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Steps with indicators
  h2.h5.mb-3 Steps with indicator
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.pt-1
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .steps
            .steps-body
              a(href='#').step.has-indicator.step-completed
                span.step-indicator
                  i(data-feather='check')
                | Address
              a(href='#').step.has-indicator.step-active
                span.step-indicator 2
                | Shipping
              a(href='#').step.has-indicator
                span.step-indicator 3
                | Payment
              a(href='#').step.has-indicator
                span.step-indicator 4
                | Review
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Steps with indicator --&gt;
              &lt;div class=&quot;steps&quot;&gt;
                &lt;div class=&quot;steps-body&quot;&gt;
                  &lt;a class=&quot;step has-indicator step-completed&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;
                      &lt;i data-feather=&quot;check&quot;&gt;&lt;/i&gt;
                    &lt;/span&gt;
                    Address
                  &lt;/a&gt;
                  &lt;a class=&quot;step has-indicator step-active&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;2&lt;/span&gt;
                    Shipping
                  &lt;/a&gt;
                  &lt;a class=&quot;step has-indicator&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;3&lt;/span&gt;
                    Payment
                  &lt;/a&gt;
                  &lt;a class=&quot;step has-indicator&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;4&lt;/span&gt;
                    Review
                  &lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Steps with indicator
              .steps
                .steps-body
                  a(href=&quot;#&quot;).step.has-indicator.step-completed
                    span.step-indicator
                      i(data-feather=&quot;check&quot;)
                    | Address
                  a(href=&quot;#&quot;).step.has-indicator.step-active
                    span.step-indicator 2
                    | Shipping
                  a(href=&quot;#&quot;).step.has-indicator
                    span.step-indicator 3
                    | Paymenticonp.has-indicator
                    span.step-indicator 4
                    | Review

  // Steps with icon
  h2.h5.pt-5.mb-3 Steps with icon
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.pt-1
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .steps
            .steps-body
              a(href='#').step.step-completed
                span.step-indicator
                  i(data-feather='check')
                span.step-icon
                  i(data-feather='shopping-cart')
                | 1. Shopping cart
              a(href='#').step.step-active
                span.step-icon
                  i(data-feather='user')
                | 2. Your details
              a(href='#').step
                span.step-icon
                  i(data-feather='credit-card')
                | 3. Payment
              a(href='#').step
                span.step-icon
                  i(data-feather='check-circle')
                | 4. Confirmation
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Steps with icon --&gt;
              &lt;div class=&quot;steps&quot;&gt;
                &lt;div class=&quot;steps-body&quot;&gt;
                  &lt;a class=&quot;step step-completed&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;
                      &lt;i data-feather=&quot;check&quot;&gt;&lt;/i&gt;
                    &lt;/span&gt;
                    &lt;span class=&quot;step-icon&quot;&gt;
                      &lt;i data-feather=&quot;shopping-cart&quot;&gt;&lt;/i&gt;
                    &lt;/span&gt;
                    1. Shopping cart
                  &lt;/a&gt;
                  &lt;a class=&quot;step step-active&quot;&gt;
                    &lt;span class=&quot;step-icon&quot;&gt;
                      &lt;i data-feather=&quot;user&quot;&gt;&lt;/i&gt;
                    &lt;/span&gt;
                    2. Your details
                  &lt;/a&gt;
                  &lt;a class=&quot;step&quot;&gt;
                    &lt;span class=&quot;step-icon&quot;&gt;
                      &lt;i data-feather=&quot;credit-card&quot;&gt;&lt;/i&gt;
                    &lt;/span&gt;
                    3. Payment
                  &lt;/a&gt;
                  &lt;a class=&quot;step&quot;&gt;
                    &lt;span class=&quot;step-icon&quot;&gt;
                      &lt;i data-feather=&quot;check-circle&quot;&gt;&lt;/i&gt;
                    &lt;/span&gt;
                    4. Confirmation
                  &lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Steps with icon
              .steps
                .steps-body
                  a(href=&quot;#&quot;).step.step-completed
                    span.step-indicator
                      i(data-feather=&quot;check&quot;)
                    span.step-icon
                      i(data-feather=&quot;shopping-cart&quot;)
                    | 1. Shopping cart
                  a(href=&quot;#&quot;).step.step-active
                    span.step-icon
                      i(data-feather=&quot;user&quot;)
                    | 2. Your details
                  a(href=&quot;#&quot;).step
                    span.step-icon
                      i(data-feather=&quot;credit-card&quot;)
                    | 3. Payment
                  a(href=&quot;#&quot;).step
                    span.step-icon
                      i(data-feather=&quot;check-circle&quot;)
                    | 4. Confirmation

  // Steps with progress
  h2.h5.pt-5.mb-3 Steps with progress
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.pt-1
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .steps
            .steps-header
              .progress
                .progress-bar(role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
            .steps-body
              a(href='#').step.has-indicator.step-completed
                span.step-indicator
                  i(data-feather='check')
                | Address
              a(href='#').step.has-indicator.step-active
                span.step-indicator 2
                | Shipping
              a(href='#').step.has-indicator
                span.step-indicator 3
                | Payment
              a(href='#').step.has-indicator
                span.step-indicator 4
                | Review
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Steps with progress --&gt;
              &lt;div class=&quot;steps&quot;&gt;
                &lt;div class=&quot;steps-header&quot;&gt;
                  &lt;div class=&quot;progress&quot;&gt;
                    &lt;div class=&quot;progress-bar&quot; role=&quot;progressbar&quot; style=&quot;width: 50%&quot; aria-valuenow=&quot;50&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;steps-body&quot;&gt;
                  &lt;a class=&quot;step has-indicator step-completed&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;
                      &lt;i data-feather=&quot;check&quot;&gt;&lt;/i&gt;
                    &lt;/span&gt;
                    Address
                  &lt;/a&gt;
                  &lt;a class=&quot;step has-indicator step-active&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;2&lt;/span&gt;
                    Shipping
                  &lt;/a&gt;
                  &lt;a class=&quot;step has-indicator&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;3&lt;/span&gt;
                    Payment
                  &lt;/a&gt;
                  &lt;a class=&quot;step has-indicator&quot;&gt;
                    &lt;span class=&quot;step-indicator&quot;&gt;4&lt;/span&gt;
                    Review
                  &lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Steps with progress
              .steps
                .steps-header
                  .progress
                    .progress-bar(role=&quot;progressbar&quot;, style=&quot;width: 50%&quot;, aria-valuenow=&quot;50&quot;, aria-valuemin=&quot;0&quot;, aria-valuemax=&quot;100&quot;)
                .steps-body
                  a(href=&quot;#&quot;).step.has-indicator.step-completed
                    span.step-indicator
                      i(data-feather=&quot;check&quot;)
                    | Address
                  a(href=&quot;#&quot;).step.has-indicator.step-active
                    span.step-indicator 2
                    | Shipping
                  a(href=&quot;#&quot;).step.has-indicator
                    span.step-indicator 3
                    | Paymenticonp.has-indicator
                    span.step-indicator 4
                    | Review
