extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Tables'
  - var pageSubTitle = "&mdash;&nbsp; Examples for opt-in styling of tables. <a href='https://getbootstrap.com/docs/4.3/content/tables/' target='_blank'>See Bootstrap documentation</a>."
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Basic example
  h2.h5.mb-3 Basic example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .table-responsive
            table.table
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
                tr
                  th(scope='row') 4
                  td Jane
                  td Birkins
                  td Support
                  td +3 774 28 50
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Basic table --&gt;
              &lt;div class=&quot;table-responsive&quot;&gt;
                &lt;table class=&quot;table&quot;&gt;
                  &lt;thead&gt;
                    &lt;tr&gt;
                      &lt;th&gt;#&lt;/th&gt;
                      &lt;th&gt;First Name&lt;/th&gt;
                      &lt;th&gt;Last Name&lt;/th&gt;
                      &lt;th&gt;Position&lt;/th&gt;
                      &lt;th&gt;Phone&lt;/th&gt;
                    &lt;/tr&gt;
                  &lt;/thead&gt;
                  &lt;tbody&gt;
                    &lt;tr&gt;
                      &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                      &lt;td&gt;John&lt;/td&gt;
                      &lt;td&gt;Doe&lt;/td&gt;
                      &lt;td&gt;CEO, Founder&lt;/td&gt;
                      &lt;td&gt;+3 555 68 70&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                      &lt;td&gt;Anna&lt;/td&gt;
                      &lt;td&gt;Cabana&lt;/td&gt;
                      &lt;td&gt;Designer&lt;/td&gt;
                      &lt;td&gt;+3 434 65 93&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                      &lt;td&gt;Kale&lt;/td&gt;
                      &lt;td&gt;Thornton&lt;/td&gt;
                      &lt;td&gt;Developer&lt;/td&gt;
                      &lt;td&gt;+3 285 42 88&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;th scope=&quot;row&quot;&gt;4&lt;/th&gt;
                      &lt;td&gt;Jane&lt;/td&gt;
                      &lt;td&gt;Birkins&lt;/td&gt;
                      &lt;td&gt;Support&lt;/td&gt;
                      &lt;td&gt;+3 774 28 50&lt;/td&gt;
                    &lt;/tr&gt;
                  &lt;/tbody&gt;
                &lt;/table&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Basic table
              .table-responsive
                table.table
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88
                    tr
                      th(scope=&quot;row&quot;) 4
                      td Jane
                      td Birkins
                      td Support
                      td +3 774 28 50

  // Dark table
  h2.h5.pt-5.mb-3 Dark table
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .table-responsive
            table.table.table-dark
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
                tr
                  th(scope='row') 4
                  td Jane
                  td Birkins
                  td Support
                  td +3 774 28 50
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Dark table --&gt;
              &lt;div class=&quot;table-responsive&quot;&gt;
                &lt;table class=&quot;table table-dark&quot;&gt;
                  &lt;thead&gt;
                    &lt;tr&gt;
                      &lt;th&gt;#&lt;/th&gt;
                      &lt;th&gt;First Name&lt;/th&gt;
                      &lt;th&gt;Last Name&lt;/th&gt;
                      &lt;th&gt;Position&lt;/th&gt;
                      &lt;th&gt;Phone&lt;/th&gt;
                    &lt;/tr&gt;
                  &lt;/thead&gt;
                  &lt;tbody&gt;
                    &lt;tr&gt;
                      &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                      &lt;td&gt;John&lt;/td&gt;
                      &lt;td&gt;Doe&lt;/td&gt;
                      &lt;td&gt;CEO, Founder&lt;/td&gt;
                      &lt;td&gt;+3 555 68 70&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                      &lt;td&gt;Anna&lt;/td&gt;
                      &lt;td&gt;Cabana&lt;/td&gt;
                      &lt;td&gt;Designer&lt;/td&gt;
                      &lt;td&gt;+3 434 65 93&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                      &lt;td&gt;Kale&lt;/td&gt;
                      &lt;td&gt;Thornton&lt;/td&gt;
                      &lt;td&gt;Developer&lt;/td&gt;
                      &lt;td&gt;+3 285 42 88&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;th scope=&quot;row&quot;&gt;4&lt;/th&gt;
                      &lt;td&gt;Jane&lt;/td&gt;
                      &lt;td&gt;Birkins&lt;/td&gt;
                      &lt;td&gt;Support&lt;/td&gt;
                      &lt;td&gt;+3 774 28 50&lt;/td&gt;
                    &lt;/tr&gt;
                  &lt;/tbody&gt;
                &lt;/table&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Dark table
              .table-responsive
                table.table.table-dark
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88
                    tr
                      th(scope=&quot;row&quot;) 4
                      td Jane
                      td Birkins
                      td Support
                      td +3 774 28 50

  // Table head options
  h2.h5.pt-5.mb-3 Table head options
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .table-responsive.mb-3
            table.table
              thead.thead-dark
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
          .table-responsive
            table.table
              thead.thead-light
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
                <strong>&lt;!-- Dark table head --&gt;</strong>
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table&quot;&gt;
                    &lt;thead class=&quot;thead-dark&quot;&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;First Name&lt;/th&gt;
                        &lt;th&gt;Last Name&lt;/th&gt;
                        &lt;th&gt;Position&lt;/th&gt;
                        &lt;th&gt;Phone&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;John&lt;/td&gt;
                        &lt;td&gt;Doe&lt;/td&gt;
                        &lt;td&gt;CEO, Founder&lt;/td&gt;
                        &lt;td&gt;+3 555 68 70&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Anna&lt;/td&gt;
                        &lt;td&gt;Cabana&lt;/td&gt;
                        &lt;td&gt;Designer&lt;/td&gt;
                        &lt;td&gt;+3 434 65 93&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Kale&lt;/td&gt;
                        &lt;td&gt;Thornton&lt;/td&gt;
                        &lt;td&gt;Developer&lt;/td&gt;
                        &lt;td&gt;+3 285 42 88&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;

                &lt;!-- Light table head --&gt;
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table&quot;&gt;
                    &lt;thead class=&quot;thead-light&quot;&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;First Name&lt;/th&gt;
                        &lt;th&gt;Last Name&lt;/th&gt;
                        &lt;th&gt;Position&lt;/th&gt;
                        &lt;th&gt;Phone&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;John&lt;/td&gt;
                        &lt;td&gt;Doe&lt;/td&gt;
                        &lt;td&gt;CEO, Founder&lt;/td&gt;
                        &lt;td&gt;+3 555 68 70&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Anna&lt;/td&gt;
                        &lt;td&gt;Cabana&lt;/td&gt;
                        &lt;td&gt;Designer&lt;/td&gt;
                        &lt;td&gt;+3 434 65 93&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Kale&lt;/td&gt;
                        &lt;td&gt;Thornton&lt;/td&gt;
                        &lt;td&gt;Developer&lt;/td&gt;
                        &lt;td&gt;+3 285 42 88&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Dark table head
              .table-responsive
                table.table
                  thead.thead-dark
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88

              // Light table head
              .table-responsive
                table.table
                  thead.thead-light
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88

  // Striped rows
  h2.h5.pt-5.mb-3 Striped rows
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result4' data-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html4' data-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug4' data-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result4.tab-pane.fade.show.active(role='tabpanel')
          .table-responsive.mb-3
            table.table.table-striped
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
          .table-responsive
            table.table.table-dark.table-striped
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
        #html4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
                &lt;!-- Light table with striped rows --&gt;
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table table-striped&quot;&gt;
                    &lt;thead;&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;First Name&lt;/th&gt;
                        &lt;th&gt;Last Name&lt;/th&gt;
                        &lt;th&gt;Position&lt;/th&gt;
                        &lt;th&gt;Phone&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;John&lt;/td&gt;
                        &lt;td&gt;Doe&lt;/td&gt;
                        &lt;td&gt;CEO, Founder&lt;/td&gt;
                        &lt;td&gt;+3 555 68 70&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Anna&lt;/td&gt;
                        &lt;td&gt;Cabana&lt;/td&gt;
                        &lt;td&gt;Designer&lt;/td&gt;
                        &lt;td&gt;+3 434 65 93&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Kale&lt;/td&gt;
                        &lt;td&gt;Thornton&lt;/td&gt;
                        &lt;td&gt;Developer&lt;/td&gt;
                        &lt;td&gt;+3 285 42 88&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;

                &lt;!-- Dark table with striped rows --&gt;
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table table-dark table-striped&quot;&gt;
                    &lt;thead&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;First Name&lt;/th&gt;
                        &lt;th&gt;Last Name&lt;/th&gt;
                        &lt;th&gt;Position&lt;/th&gt;
                        &lt;th&gt;Phone&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;John&lt;/td&gt;
                        &lt;td&gt;Doe&lt;/td&gt;
                        &lt;td&gt;CEO, Founder&lt;/td&gt;
                        &lt;td&gt;+3 555 68 70&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Anna&lt;/td&gt;
                        &lt;td&gt;Cabana&lt;/td&gt;
                        &lt;td&gt;Designer&lt;/td&gt;
                        &lt;td&gt;+3 434 65 93&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Kale&lt;/td&gt;
                        &lt;td&gt;Thornton&lt;/td&gt;
                        &lt;td&gt;Developer&lt;/td&gt;
                        &lt;td&gt;+3 285 42 88&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;
        #pug4.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Light table with striped rows
              .table-responsive
                table.table.table-striped
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88

              // Dark table with striped rows
              .table-responsive
                table.table.table-dark.table-striped
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88

  // Bordered table
  h2.h5.pt-5.mb-3 Bordered table
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result5' data-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html5' data-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug5' data-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result5.tab-pane.fade.show.active(role='tabpanel')
          .table-responsive.mb-3
            table.table.table-bordered
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
          .table-responsive
            table.table.table-dark.table-bordered
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
        #html5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
                &lt;!-- Light bordered table --&gt;
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table table-bordered&quot;&gt;
                    &lt;thead;&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;First Name&lt;/th&gt;
                        &lt;th&gt;Last Name&lt;/th&gt;
                        &lt;th&gt;Position&lt;/th&gt;
                        &lt;th&gt;Phone&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;John&lt;/td&gt;
                        &lt;td&gt;Doe&lt;/td&gt;
                        &lt;td&gt;CEO, Founder&lt;/td&gt;
                        &lt;td&gt;+3 555 68 70&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Anna&lt;/td&gt;
                        &lt;td&gt;Cabana&lt;/td&gt;
                        &lt;td&gt;Designer&lt;/td&gt;
                        &lt;td&gt;+3 434 65 93&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Kale&lt;/td&gt;
                        &lt;td&gt;Thornton&lt;/td&gt;
                        &lt;td&gt;Developer&lt;/td&gt;
                        &lt;td&gt;+3 285 42 88&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;

                &lt;!-- Dark bordered table --&gt;
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table table-dark table-bordered&quot;&gt;
                    &lt;thead&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;First Name&lt;/th&gt;
                        &lt;th&gt;Last Name&lt;/th&gt;
                        &lt;th&gt;Position&lt;/th&gt;
                        &lt;th&gt;Phone&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;John&lt;/td&gt;
                        &lt;td&gt;Doe&lt;/td&gt;
                        &lt;td&gt;CEO, Founder&lt;/td&gt;
                        &lt;td&gt;+3 555 68 70&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Anna&lt;/td&gt;
                        &lt;td&gt;Cabana&lt;/td&gt;
                        &lt;td&gt;Designer&lt;/td&gt;
                        &lt;td&gt;+3 434 65 93&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Kale&lt;/td&gt;
                        &lt;td&gt;Thornton&lt;/td&gt;
                        &lt;td&gt;Developer&lt;/td&gt;
                        &lt;td&gt;+3 285 42 88&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;
        #pug5.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Light bordered table
              .table-responsive
                table.table.table-bordered
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88

              // Dark bordered table
              .table-responsive
                table.table.table-dark.table-bordered
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88

  // Hoverable rows
  h2.h5.pt-5.mb-3 Hoverable rows
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result6' data-toggle='tab' role='tab' aria-controls='result6' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html6' data-toggle='tab' role='tab' aria-controls='html6' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug6' data-toggle='tab' role='tab' aria-controls='pug6' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result6.tab-pane.fade.show.active(role='tabpanel')
          .table-responsive.mb-3
            table.table.table-hover
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
          .table-responsive
            table.table.table-dark.table-hover
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Position
                  th Phone
              tbody
                tr
                  th(scope='row') 1
                  td John
                  td Doe
                  td CEO, Founder
                  td +3 555 68 70
                tr
                  th(scope='row') 2
                  td Anna
                  td Cabana
                  td Designer
                  td +3 434 65 93
                tr
                  th(scope='row') 3
                  td Kale
                  td Thornton
                  td Developer
                  td +3 285 42 88
        #html6.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
                &lt;!-- Light table with hoverable rows --&gt;
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table table-hover&quot;&gt;
                    &lt;thead;&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;First Name&lt;/th&gt;
                        &lt;th&gt;Last Name&lt;/th&gt;
                        &lt;th&gt;Position&lt;/th&gt;
                        &lt;th&gt;Phone&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;John&lt;/td&gt;
                        &lt;td&gt;Doe&lt;/td&gt;
                        &lt;td&gt;CEO, Founder&lt;/td&gt;
                        &lt;td&gt;+3 555 68 70&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Anna&lt;/td&gt;
                        &lt;td&gt;Cabana&lt;/td&gt;
                        &lt;td&gt;Designer&lt;/td&gt;
                        &lt;td&gt;+3 434 65 93&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Kale&lt;/td&gt;
                        &lt;td&gt;Thornton&lt;/td&gt;
                        &lt;td&gt;Developer&lt;/td&gt;
                        &lt;td&gt;+3 285 42 88&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;

                &lt;!-- Dark table with hoverable rows --&gt;
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table table-dark table-hover&quot;&gt;
                    &lt;thead&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;First Name&lt;/th&gt;
                        &lt;th&gt;Last Name&lt;/th&gt;
                        &lt;th&gt;Position&lt;/th&gt;
                        &lt;th&gt;Phone&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;John&lt;/td&gt;
                        &lt;td&gt;Doe&lt;/td&gt;
                        &lt;td&gt;CEO, Founder&lt;/td&gt;
                        &lt;td&gt;+3 555 68 70&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Anna&lt;/td&gt;
                        &lt;td&gt;Cabana&lt;/td&gt;
                        &lt;td&gt;Designer&lt;/td&gt;
                        &lt;td&gt;+3 434 65 93&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Kale&lt;/td&gt;
                        &lt;td&gt;Thornton&lt;/td&gt;
                        &lt;td&gt;Developer&lt;/td&gt;
                        &lt;td&gt;+3 285 42 88&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;
        #pug6.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Light table with hoverable rows
              .table-responsive
                table.table.table-hover
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88

              // Dark table with hoverable rows
              .table-responsive
                table.table.table-dark.table-hover
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Position
                      th Phone
                  tbody
                    tr
                      th(scope=&quot;row&quot;) 1
                      td John
                      td Doe
                      td CEO, Founder
                      td +3 555 68 70
                    tr
                      th(scope=&quot;row&quot;) 2
                      td Anna
                      td Cabana
                      td Designer
                      td +3 434 65 93
                    tr
                      th(scope=&quot;row&quot;) 3
                      td Kale
                      td Thornton
                      td Developer
                      td +3 285 42 88

  // Contextual colors
  h2.h5.pt-5.mb-3 Contextual colors
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result7' data-toggle='tab' role='tab' aria-controls='result7' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html7' data-toggle='tab' role='tab' aria-controls='html7' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug7' data-toggle='tab' role='tab' aria-controls='pug7' aria-selected='false').nav-link Pug
    .card-body
      .tab-content
        #result7.tab-pane.fade.show.active(role='tabpanel')
          .table-responsive.mb-3
            table.table
              thead
                tr
                  th #
                  th Class
                  th Heading
                  th Heading
              tbody
                tr.table-active
                  th(scope='row') 1
                  td Active
                  td Column content
                  td Column content
                tr
                  th(scope='row') 2
                  td Default
                  td Column content
                  td Column content
                tr.table-primary
                  th(scope='row') 3
                  td Primary
                  td Column content
                  td Column content
                tr
                  th(scope='row') 4
                  td Default
                  td Column content
                  td Column content
                tr.table-secondary
                  th(scope='row') 5
                  td Secondary
                  td Column content
                  td Column content
                tr
                  th(scope='row') 6
                  td Default
                  td Column content
                  td Column content
                tr.table-success
                  th(scope='row') 7
                  td Success
                  td Column content
                  td Column content
                tr
                  th(scope='row') 8
                  td Default
                  td Column content
                  td Column content
                tr.table-info
                  th(scope='row') 9
                  td Info
                  td Column content
                  td Column content
                tr
                  th(scope='row') 10
                  td Default
                  td Column content
                  td Column content
                tr.table-warning
                  th(scope='row') 11
                  td Warning
                  td Column content
                  td Column content
                tr
                  th(scope='row') 12
                  td Default
                  td Column content
                  td Column content
                tr.table-danger
                  th(scope='row') 13
                  td Danger
                  td Column content
                  td Column content
          .table-responsive
            table.table.table-dark
              thead
                tr
                  th #
                  th Column heading
                  th Column heading
                  th Column heading
              tbody
                tr.bg-primary
                  th(scope='row') 1
                  td Column content
                  td Column content
                  td Column content
                tr
                  th(scope='row') 2
                  td Column content
                  td Column content
                  td Column content
                tr.bg-success
                  th(scope='row') 3
                  td Column content
                  td Column content
                  td Column content
                tr
                  th(scope='row') 4
                  td Column content
                  td Column content
                  td Column content
                tr.bg-info
                  th(scope='row') 5
                  td Column content
                  td Column content
                  td Column content
                tr
                  th(scope='row') 6
                  td Column content
                  td Column content
                  td Column content
                tr.bg-warning
                  th(scope='row') 7
                  td Column content
                  td Column content
                  td Column content
                tr
                  th(scope='row') 8
                  td Column content
                  td Column content
                  td Column content
                tr.bg-danger
                  th(scope='row') 9
                  td Column content
                  td Column content
                  td Column content
        #html7.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Light table with contextual rows --&gt;
              &lt;div class=&quot;table-responsive&quot;&gt;
                &lt;table class=&quot;table&quot;&gt;
                  &lt;thead&gt;
                    &lt;tr&gt;
                      &lt;th&gt;#&lt;/th&gt;
                      &lt;th&gt;Class&lt;/th&gt;
                      &lt;th&gt;Heading&lt;/th&gt;
                      &lt;th&gt;Heading&lt;/th&gt;
                    &lt;/tr&gt;
                  &lt;/thead&gt;
                  &lt;tbody&gt;
                    &lt;tr class=&quot;table-active&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                      &lt;td&gt;Active&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;table-primary&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                      &lt;td&gt;Primary&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;table-secondary&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                      &lt;td&gt;Secondary&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;table-success&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;5&lt;/th&gt;
                      &lt;td&gt;Success&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;table-info&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;6&lt;/th&gt;
                      &lt;td&gt;Info&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;table-warning&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;7&lt;/th&gt;
                      &lt;td&gt;Warning&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;table-danger&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;8&lt;/th&gt;
                      &lt;td&gt;Danger&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                  &lt;/tbody&gt;
                &lt;/table&gt;
              &lt;/div&gt;
              
              &lt;!-- Dark table with contextual rows --&gt;
              &lt;div class=&quot;table-responsive&quot;&gt;
                &lt;table class=&quot;table table-dark&quot;&gt;
                  &lt;thead&gt;
                    &lt;tr&gt;
                      &lt;th&gt;#&lt;/th&gt;
                      &lt;th&gt;Column heading&lt;/th&gt;
                      &lt;th&gt;Column heading&lt;/th&gt;
                      &lt;th&gt;Column heading&lt;/th&gt;
                    &lt;/tr&gt;
                  &lt;/thead&gt;
                  &lt;tbody&gt;
                    &lt;tr class=&quot;bg-primary&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;bg-gradient&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;bg-success&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;4&lt;/th&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;bg-info&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;5&lt;/th&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;bg-warning&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;6&lt;/th&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr class=&quot;bg-danger&quot;&gt;
                      &lt;th scope=&quot;row&quot;&gt;8&lt;/th&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                      &lt;td&gt;Column content&lt;/td&gt;
                    &lt;/tr&gt;
                  &lt;/tbody&gt;
                &lt;/table&gt;
              &lt;/div&gt;
        #pug7.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Light table with contextual rows
              .table-responsive
                table.table
                  thead
                    tr
                      th #
                      th Class
                      th Heading
                      th Heading
                  tbody
                    tr.table-active
                      th(scope=&quot;row'&quot;) 1
                      td Active
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 2
                      td Default
                      td Column content
                      td Column content
                    tr.table-primary
                      th(scope=&quot;row'&quot;) 3
                      td Primary
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 4
                      td Default
                      td Column content
                      td Column content
                    tr.table-secondary
                      th(scope=&quot;row'&quot;) 5
                      td Secondary
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 6
                      td Default
                      td Column content
                      td Column content
                    tr.table-success
                      th(scope=&quot;row'&quot;) 7
                      td Success
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 8
                      td Default
                      td Column content
                      td Column content
                    tr.table-info
                      th(scope=&quot;row'&quot;) 9
                      td Info
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 10
                      td Default
                      td Column content
                      td Column content
                    tr.table-warning
                      th(scope=&quot;row'&quot;) 11
                      td Warning
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 12
                      td Default
                      td Column content
                      td Column content
                    tr.table-danger
                      th(scope=&quot;row'&quot;) 13
                      td Danger
                      td Column content
                      td Column content

              // Dark table with contextual rows
              .table-responsive
                table.table.table-dark
                  thead
                    tr
                      th #
                      th Column heading
                      th Column heading
                      th Column heading
                  tbody
                    tr.bg-primary
                      th(scope=&quot;row'&quot;) 1
                      td Column content
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 2
                      td Column content
                      td Column content
                      td Column content
                    tr.bg-success
                      th(scope=&quot;row'&quot;) 3
                      td Column content
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 4
                      td Column content
                      td Column content
                      td Column content
                    tr.bg-info
                      th(scope=&quot;row'&quot;) 5
                      td Column content
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 6
                      td Column content
                      td Column content
                      td Column content
                    tr.bg-warning
                      th(scope=&quot;row'&quot;) 7
                      td Column content
                      td Column content
                      td Column content
                    tr
                      th(scope=&quot;row'&quot;) 8
                      td Column content
                      td Column content
                      td Column content
                    tr.bg-danger
                      th(scope=&quot;row'&quot;) 9
                      td Column content
                      td Column content
                      td Column content
