extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Testimonials / Reviews'
  - var pageSubTitle = '&mdash;&nbsp; Component is designed to showcase testimonials from satisfied clients or reviews of the products on your website.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  // Basic blockquote
  h2.h5.mb-3 Basic blockquote
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.pt-1
        #result1.tab-pane.fade.show.active(role='tabpanel')
          blockquote.blockquote
            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Faucibus porta lacus fringilla vel porta lacus fringilla.
            footer.blockquote-footer Someone famous in <cite title='Source Title'>Source Title</cite>
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Basic blockquote --&gt;
              &lt;blockquote class=&quot;blockquote&quot;&gt;
                &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Faucibus porta lacus fringilla vel porta lacus fringilla.&lt;/p&gt;
                &lt;footer class=&quot;blockquote-footer&quot;&gt;
                  Someone famous in &lt;cite title=&quot;Source Title&quot;&gt;Source Title&lt;/cite&gt;
                &lt;/footer&gt;
              &lt;/blockquote&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // TestimonialBasic blockquote
              blockquote.blockquote
                p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Faucibus porta lacus fringilla vel porta lacus fringilla.
                footer.blockquote-footer Someone famous in &lt;cite title=&quot;Source Title&quot;&gt;Source Title&lt;/cite&gt;

  // Testimonial
  h2.h5.pt-5.mb-3 Testimonial
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.pt-1
        #result2.tab-pane.fade.show.active(role='tabpanel')
          blockquote.blockquote.text-center
            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Faucibus porta lacus fringilla vel porta lacus fringilla voluptate velit esse cillum.
            .d-inline-block.text-left.pt-4
              .media.align-items-center.mb-2
                img(src='../img/testimonials/01.jpg' width='50' alt='Author ava').mr-2
                .media-body
                  h6.font-size-sm.mb-0 Jonathan Smith
                  span.d-block.font-size-sm.text-muted Chief editor, Magazine
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Testimonial --&gt;
              &lt;blockquote class=&quot;blockquote&quot;&gt;
                &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Faucibus porta lacus fringilla vel porta lacus fringilla voluptate velit esse cillum.&lt;/p&gt;
                &lt;div class=&quot;d-inline-block text-left pt-4&quot;&gt;
                  &lt;div class=&quot;media align-items-center mb-2&quot;&gt;
                    &lt;img src=&quot;path-to-author-picture&quot; class=&quot;mr-2&quot; width=&quot;50&quot; alt=&quot;Author ava&quot;&gt;
                    &lt;div class=&quot;media-body&quot;&gt;
                      &lt;h6 class=&quot;font-size-sm mb-0&quot;&gt;Jonathan Smith&lt;/h6&gt;
                      &lt;span class=&quot;d-block font-size-sm text-muted&quot;&gt;Chief editor, Magazine&lt;/span&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/blockquote&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Testimonial
              blockquote.blockquote.text-center
                p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Faucibus porta lacus fringilla vel porta lacus fringilla voluptate velit esse cillum.
                .d-inline-block.text-left.pt-4
                  .media.align-items-center.mb-2
                    img(src=&quot;path-to-author-picture&quot;, width=&quot;50&quot;, alt=&quot;Author ava&quot;).mr-2
                    .media-body
                      h6.font-size-sm.mb-0 Jonathan Smith
                      span.d-block.font-size-sm.text-muted Chief editor, Magazine

  // Product review
  h2.h5.pt-5.mb-3 Product review
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.pt-1
        #result3.tab-pane.fade.show.active(role='tabpanel')
          .blockquote.comment.border-top-0.border-left-0.border-right-0.px-0.pt-0.mt-0
            .d-sm-flex.align-items-center.pb-2
              h6.mb-0 Awesome quality for the price
              span.d-none.d-sm-inline.mx-2.text-muted.opacity-50 |
              +star-rating(4)
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse...
            .media.align-items-center.mb-2
              img(src='../img/testimonials/02.jpg' width='50' alt='Author ava').mr-3
              .media-body
                h6.font-size-sm.mb-0 Daniel Adams
                span.d-block.font-size-sm.text-muted May 17, 2019
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Product review --&gt;
              &lt;blockquote class=&quot;blockquote comment border-top-0 border-left-0 border-right-0 px-0 pt-0&quot;&gt;
                &lt;div class=&quot;d-sm-flex align-items-center pb-2&quot;&gt;
                  &lt;h6 class=&quot;mb-0&quot;&gt;Awesome quality for the price&lt;/h6&gt;
                  &lt;span class=&quot;d-none d-sm-inline mx-2 text-muted opacity-50&quot;&gt;|&lt;/span&gt;
                  &lt;div class=&quot;star-rating&quot;&gt;
                    &lt;i class=&quot;sr-star active&quot; data-feather=&quot;star&quot;&gt;&lt;/i&gt;
                    &lt;i class=&quot;sr-star active&quot; data-feather=&quot;star&quot;&gt;&lt;/i&gt;
                    &lt;i class=&quot;sr-star active&quot; data-feather=&quot;star&quot;&gt;&lt;/i&gt;
                    &lt;i class=&quot;sr-star active&quot; data-feather=&quot;star&quot;&gt;&lt;/i&gt;
                    &lt;i class=&quot;sr-star&quot; data-feather=&quot;star&quot;&gt;&lt;/i&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse...&lt;/p&gt;
                &lt;div class=&quot;d-inline-block text-left pt-4&quot;&gt;
                  &lt;div class=&quot;media align-items-center mb-2&quot;&gt;
                    &lt;img src=&quot;path-to-author-picture&quot; class=&quot;mr-3&quot; width=&quot;50&quot; alt=&quot;Author ava&quot;&gt;
                    &lt;div class=&quot;media-body&quot;&gt;
                      &lt;h6 class=&quot;font-size-sm mb-0&quot;&gt;Daniel Adams&lt;/h6&gt;
                      &lt;span class=&quot;d-block font-size-sm text-muted&quot;&gt;May 17, 2019&lt;/span&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/blockquote&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Product review
              .blockquote.comment.border-top-0.border-left-0.border-right-0.px-0.pt-0
                .d-sm-flex.align-items-center.pb-2
                  h6.mb-0 Awesome quality for the price
                  span.d-none.d-sm-inline.mx-2.text-muted.opacity-50 |
                  +star-rating(4)
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse...
                .media.align-items-center.mb-2
                  img(src=&quot;path-to-author-picture&quot;, width=&quot;50&quot;, alt=&quot;Author ava&quot;).mr-3
                  .media-body
                    h6.font-size-sm.mb-0 Daniel Adams
                    span.d-block.font-size-sm.text-muted May 17, 2019
