extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Toasts'
  - var pageSubTitle = '&mdash;&nbsp; Push notifications to your visitors with a toast, a lightweight and easily customizable alert message. <a href="https://getbootstrap.com/docs/4.3/components/toasts/" target="_blank">See Bootstrap documentation</a>.'
  - var isNestedFile = true
  - var isCodeHighlighting = true
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '#'}]

//- Page Content
block content

  //- Toast in action
  include ../partials/toast-example

  // Basic example
  h2.h5.mb-3 Basic example
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result1' data-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html1' data-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug1' data-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.py-1
        #result1.tab-pane.fade.show.active(role='tabpanel')
          .toast.fade.show(role='alert' aria-live='assertive' aria-atomic='true')
            .toast-header
              .d-inline-block.align-middle.bg-primary.rounded-circle.mr-2(style='width: 1.25rem; height: 1.25rem;')
              span.text-body.font-weight-semibold.mr-auto Bootstrap
              small 11 mins ago
              button(type='button' data-dismiss='toast' aria-label='Close').close.ml-2.mb-1
                span(aria-hidden='true') &times;
            .toast-body Hello, world! This is a toast message.
        #html1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Basic toast example (remove fade show to hide toast initially) --&gt;
              &lt;div class=&quot;toast fade show&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
                &lt;div class=&quot;toast-header&quot;&gt;
                  &lt;div class=&quot;d-inline-block align-middle bg-primary rounded-circle mr-2&quot; style=&quot;width: 1.25rem; height: 1.25rem;&quot;&gt;&lt;/div&gt;
                  &lt;span class=&quot;text-body font-weight-semibold mr-auto&quot;&gt;Bootstrap&lt;/span&gt;
                  &lt;small&gt;11 mins ago&lt;/small&gt;
                  &lt;button type=&quot;button&quot; class=&quot;close ml-2 mb-1&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;toast-body&quot;&gt;Hello, world! This is a toast message.&lt;/div&gt;
              &lt;/div&gt;
        #pug1.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Basic toast example (remove .fade .show to hide toast initially)
              .toast.fade.show(role=&quot;alert&quot;, aria-live=&quot;assertive&quot;, aria-atomic=&quot;true&quot;)
                .toast-header
                  .d-inline-block.align-middle.bg-primary.rounded-circle.mr-2(style=&quot;width: 1.25rem; height: 1.25rem;&quot;)
                  span.text-body.font-weight-semibold.mr-auto Bootstrap
                  small 11 mins ago
                  button(type=&quot;button&quot;, data-dismiss=&quot;toast&quot;, aria-label=&quot;Close&quot;).close.ml-2.mb-1
                    span(aria-hidden=&quot;true&quot;) &amp;times;
                .toast-body Hello, world! This is a toast message.

  // Colors variation
  h2.h5.pt-5.mb-3 Colors variation
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result2' data-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html2' data-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug2' data-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.pt-1
        #result2.tab-pane.fade.show.active(role='tabpanel')
          .row
            .col-sm-6
              .toast.fade.show.mb-3(role='alert' aria-live='assertive' aria-atomic='true')
                .toast-header.bg-primary.text-white
                  i(data-feather='bell' style='width: 1.25rem; height: 1.25rem;').mr-2
                  span.font-weight-semibold.mr-auto Primary toast
                  button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
                    span(aria-hidden='true') &times;
                .toast-body.text-primary Hello, world! This is a toast message.
              .toast.fade.show.mb-3(role='alert' aria-live='assertive' aria-atomic='true')
                .toast-header.bg-success.text-white
                  i(data-feather='check-circle' style='width: 1.25rem; height: 1.25rem;').mr-2
                  span.font-weight-semibold.mr-auto Success toast
                  button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
                    span(aria-hidden='true') &times;
                .toast-body.text-success Hello, world! This is a toast message.
              .toast.fade.show.mb-3(role='alert' aria-live='assertive' aria-atomic='true')
                .toast-header.bg-danger.text-white
                  i(data-feather='slash' style='width: 1.25rem; height: 1.25rem;').mr-2
                  span.font-weight-semibold.mr-auto Danger toast
                  button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
                    span(aria-hidden='true') &times;
                .toast-body.text-danger Hello, world! This is a toast message.
            .col-sm-6
              .toast.fade.show.mb-3(role='alert' aria-live='assertive' aria-atomic='true')
                .toast-header.bg-warning.text-white
                  i(data-feather='alert-circle' style='width: 1.25rem; height: 1.25rem;').mr-2
                  span.font-weight-semibold.mr-auto Warning toast
                  button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
                    span(aria-hidden='true') &times;
                .toast-body.text-warning Hello, world! This is a toast message.
              .toast.fade.show.mb-3(role='alert' aria-live='assertive' aria-atomic='true')
                .toast-header.bg-info.text-white
                  i(data-feather='info' style='width: 1.25rem; height: 1.25rem;').mr-2
                  span.font-weight-semibold.mr-auto Info toast
                  button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
                    span(aria-hidden='true') &times;
                .toast-body.text-info Hello, world! This is a toast message.
              .toast.fade.show.mb-3(role='alert' aria-live='assertive' aria-atomic='true')
                .toast-header.bg-dark.text-white
                  i(data-feather='clock' style='width: 1.25rem; height: 1.25rem;').mr-2
                  span.font-weight-semibold.mr-auto Dark toast
                  button(type='button' data-dismiss='toast' aria-label='Close').close.text-white.ml-2.mb-1
                    span(aria-hidden='true') &times;
                .toast-body.text-dark Hello, world! This is a toast message.
        #html2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Primary toast --&gt;
              &lt;div class=&quot;toast&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
                &lt;div class=&quot;toast-header bg-primary text-white&quot;&gt;
                  &lt;i class=&quot;mr-2&quot; data-feather=&quot;bell&quot; style=&quot;width: 1.25rem; height: 1.25rem;&quot;&gt;&lt;/i&gt;
                  &lt;span class=&quot;font-weight-semibold mr-auto&quot;&gt;Primary toast&lt;/span&gt;
                  &lt;button type=&quot;button&quot; class=&quot;close text-white ml-2 mb-1&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;toast-body text-primary&quot;&gt;Hello, world! This is a toast message.&lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Success toast --&gt;
              &lt;div class=&quot;toast&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
                &lt;div class=&quot;toast-header bg-success text-white&quot;&gt;
                  &lt;i class=&quot;mr-2&quot; data-feather=&quot;check-circle&quot; style=&quot;width: 1.25rem; height: 1.25rem;&quot;&gt;&lt;/i&gt;
                  &lt;span class=&quot;font-weight-semibold mr-auto&quot;&gt;Success toast&lt;/span&gt;
                  &lt;button type=&quot;button&quot; class=&quot;close text-white ml-2 mb-1&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;toast-body text-success&quot;&gt;Hello, world! This is a toast message.&lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Danger toast --&gt;
              &lt;div class=&quot;toast&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
                &lt;div class=&quot;toast-header bg-danger text-white&quot;&gt;
                  &lt;i class=&quot;mr-2&quot; data-feather=&quot;slash&quot; style=&quot;width: 1.25rem; height: 1.25rem;&quot;&gt;&lt;/i&gt;
                  &lt;span class=&quot;font-weight-semibold mr-auto&quot;&gt;Danger toast&lt;/span&gt;
                  &lt;button type=&quot;button&quot; class=&quot;close text-white ml-2 mb-1&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;toast-body text-danger&quot;&gt;Hello, world! This is a toast message.&lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Warning toast --&gt;
              &lt;div class=&quot;toast&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
                &lt;div class=&quot;toast-header bg-warning text-white&quot;&gt;
                  &lt;i class=&quot;mr-2&quot; data-feather=&quot;alert-circle&quot; style=&quot;width: 1.25rem; height: 1.25rem;&quot;&gt;&lt;/i&gt;
                  &lt;span class=&quot;font-weight-semibold mr-auto&quot;&gt;Warning toast&lt;/span&gt;
                  &lt;button type=&quot;button&quot; class=&quot;close text-white ml-2 mb-1&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;toast-body text-warning&quot;&gt;Hello, world! This is a toast message.&lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Info toast --&gt;
              &lt;div class=&quot;toast&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
                &lt;div class=&quot;toast-header bg-info text-white&quot;&gt;
                  &lt;i class=&quot;mr-2&quot; data-feather=&quot;info&quot; style=&quot;width: 1.25rem; height: 1.25rem;&quot;&gt;&lt;/i&gt;
                  &lt;span class=&quot;font-weight-semibold mr-auto&quot;&gt;Info toast&lt;/span&gt;
                  &lt;button type=&quot;button&quot; class=&quot;close text-white ml-2 mb-1&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;toast-body text-info&quot;&gt;Hello, world! This is a toast message.&lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Dark toast --&gt;
              &lt;div class=&quot;toast&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;
                &lt;div class=&quot;toast-header bg-dark text-white&quot;&gt;
                  &lt;i class=&quot;mr-2&quot; data-feather=&quot;clock&quot; style=&quot;width: 1.25rem; height: 1.25rem;&quot;&gt;&lt;/i&gt;
                  &lt;span class=&quot;font-weight-semibold mr-auto&quot;&gt;Dark toast&lt;/span&gt;
                  &lt;button type=&quot;button&quot; class=&quot;close text-white ml-2 mb-1&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
                    &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;toast-body text-dark&quot;&gt;Hello, world! This is a toast message.&lt;/div&gt;
              &lt;/div&gt;
        #pug2.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Primary toast
              .toast(role=&quot;alert&quot;, aria-live=&quot;assertive&quot;, aria-atomic=&quot;true&quot;)
                .toast-header.bg-primary.text-white
                  i(data-feather=&quot;bell&quot;, style=&quot;width: 1.25rem; height: 1.25rem;&quot;).mr-2
                  span.font-weight-semibold.mr-auto Primary toast
                  button(type=&quot;button&quot;, data-dismiss=&quot;toast&quot;, aria-label=&quot;Close&quot;).close.text-white.ml-2.mb-1
                    span(aria-hidden=&quot;true&quot;) &amp;times;
                .toast-body.text-primary Hello, world! This is a toast message.

              // Success toast
              .toast(role=&quot;alert&quot;, aria-live=&quot;assertive&quot;, aria-atomic=&quot;true&quot;)
                .toast-header.bg-success.text-white
                  i(data-feather=&quot;check-circle&quot;, style=&quot;width: 1.25rem; height: 1.25rem;&quot;).mr-2
                  span.font-weight-semibold.mr-auto Success toast
                  button(type=&quot;button&quot;, data-dismiss=&quot;toast&quot;, aria-label=&quot;Close&quot;).close.text-white.ml-2.mb-1
                    span(aria-hidden=&quot;true&quot;) &amp;times;
                .toast-body.text-success Hello, world! This is a toast message.

              // Danger toast
              .toast(role=&quot;alert&quot;, aria-live=&quot;assertive&quot;, aria-atomic=&quot;true&quot;)
                .toast-header.bg-danger.text-white
                  i(data-feather=&quot;slash&quot;, style=&quot;width: 1.25rem; height: 1.25rem;&quot;).mr-2
                  span.font-weight-semibold.mr-auto Danger toast
                  button(type=&quot;button&quot;, data-dismiss=&quot;toast&quot;, aria-label=&quot;Close&quot;).close.text-white.ml-2.mb-1
                    span(aria-hidden=&quot;true&quot;) &amp;times;
                .toast-body.text-danger Hello, world! This is a toast message.

              // Warning toast
              .toast(role=&quot;alert&quot;, aria-live=&quot;assertive&quot;, aria-atomic=&quot;true&quot;)
                .toast-header.bg-warning.text-white
                  i(data-feather=&quot;alert-circle&quot;, style=&quot;width: 1.25rem; height: 1.25rem;&quot;).mr-2
                  span.font-weight-semibold.mr-auto Warning toast
                  button(type=&quot;button&quot;, data-dismiss=&quot;toast&quot;, aria-label=&quot;Close&quot;).close.text-white.ml-2.mb-1
                    span(aria-hidden=&quot;true&quot;) &amp;times;
                .toast-body.text-warning Hello, world! This is a toast message.

              // Info toast
              .toast(role=&quot;alert&quot;, aria-live=&quot;assertive&quot;, aria-atomic=&quot;true&quot;)
                .toast-header.bg-info.text-white
                  i(data-feather=&quot;info&quot;, style=&quot;width: 1.25rem; height: 1.25rem;&quot;).mr-2
                  span.font-weight-semibold.mr-auto Info toast
                  button(type=&quot;button&quot;, data-dismiss=&quot;toast&quot;, aria-label=&quot;Close&quot;).close.text-white.ml-2.mb-1
                    span(aria-hidden=&quot;true&quot;) &amp;times;
                .toast-body.text-info Hello, world! This is a toast message.

              // Dark toast
              .toast(role=&quot;alert&quot;, aria-live=&quot;assertive&quot;, aria-atomic=&quot;true&quot;)
                .toast-header.bg-dark.text-white
                  i(data-feather=&quot;clock&quot;, style=&quot;width: 1.25rem; height: 1.25rem;&quot;).mr-2
                  span.font-weight-semibold.mr-auto Dark toast
                  button(type=&quot;button&quot;, data-dismiss=&quot;toast&quot;, aria-label=&quot;Close&quot;).close.text-white.ml-2.mb-1
                    span(aria-hidden=&quot;true&quot;) &amp;times;
                .toast-body.text-dark Hello, world! This is a toast message.

  // Toasts in action
  h2.h5.pt-5.mb-3 Toasts in action
  .card
    .card-header
      ul(role='tablist').nav.nav-tabs.card-header-tabs
        li.nav-item
          a(href='#result3' data-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
        li.nav-item
          a(href='#html3' data-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
        li.nav-item
          a(href='#pug3' data-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
    .card-body
      .tab-content.pt-1
        #result3.tab-pane.fade.show.active(role='tabpanel')
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-toggle='toast' data-target='#default-toast') Default top left
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-toggle='toast' data-target='#primary-toast') Primary top left
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-toggle='toast' data-target='#success-toast') Success top center
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-toggle='toast' data-target='#danger-toast') Danger top right
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-toggle='toast' data-target='#warning-toast') Warning bottom left
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-toggle='toast' data-target='#info-toast') Info bottom center
          button(type='button' class='btn btn-outline-secondary mr-2 mb-3' data-toggle='toast' data-target='#dark-toast') Dark bottom right
        #html3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-html').
              &lt;!-- Place actual toast somewhere in the DOM. It should be placed inside wrapper div that defines its position --&gt;
              &lt;div class=&quot;toast-container toast-top-left&quot;&gt;
                &lt;div id=&quot;default-toast&quot; class=&quot;toast&quot;&gt;...&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;toast-container toast-top-center&quot;&gt;
                &lt;div id=&quot;default-toast&quot; class=&quot;toast&quot;&gt;...&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;toast-container toast-top-right&quot;&gt;
                &lt;div id=&quot;default-toast&quot; class=&quot;toast&quot;&gt;...&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;toast-container toast-bottom-left&quot;&gt;
                &lt;div id=&quot;default-toast&quot; class=&quot;toast&quot;&gt;...&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;toast-container toast-bottom-center&quot;&gt;
                &lt;div id=&quot;default-toast&quot; class=&quot;toast&quot;&gt;...&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;toast-container toast-bottom-right&quot;&gt;
                &lt;div id=&quot;default-toast&quot; class=&quot;toast&quot;&gt;...&lt;/div&gt;
              &lt;/div&gt;

              &lt;!-- Call the toast by id --&gt;
              &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-toggle=&quot;toast&quot; data-target=&quot;#default-toast&quot;&gt;Default top left&lt;/button&gt;
        #pug3.tab-pane.fade(role='tabpanel')
          pre.line-numbers
            code(class='lang-pug').
              // Place actual toast somewhere in the DOM. It should be placed inside wrapper div that defines its position
              .toast-container.toast-top-left
                #default-toast.toast ...
              .toast-container.toast-top-center
                #default-toast.toast ...
              .toast-container.toast-top-right
                #default-toast.toast ...
              .toast-container.toast-bottom-left
                #default-toast.toast ...
              .toast-container.toast-bottom-center
                #default-toast.toast ...
              .toast-container.toast-bottom-right
                #default-toast.toast ...

              // Call the toast by id
              button(type=&quot;button&quot;, class=&quot;btn btn-outline-secondary&quot;, data-toggle=&quot;toast&quot;, data-target=&quot;#default-toast&quot;) Default top left
