{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account}" class="btn btn-default" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_address_book}" class="btn btn-default" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1}" class="btn btn-default active" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1}" class="btn btn-default" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				{if $oEvent->installed_plugin('notify')}
					<a href="{html_href_link content=$filename.product_notifications}" class="btn btn-default" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>{$lang.button_notifications}</a>
				{/if}					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper">
				

				{section name=i loop=$history}
					<div class="row history-info mt-20">
						<div class="col-6">
								<div class="d-flex float-left">
									<h5><strong>{$lang.text_order_number}</strong> {$history[i].orders_id}</h5>
								</div>
							</div>
							<div class="col-6">
								<div class="float-right">
									<strong>{$lang.text_order_status}</strong> {$history[i].orders_status_name}
							</div>
						</div>				
					</div>

					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td><strong>{$lang.text_order_date}</strong> {$history[i].date_purchased|oos_date_long}<br><strong>{$lang.text_order_shipped_to}</strong> {$history[i].delivery_name}</td>
									<td><strong>{$lang.text_order_products}</strong> {$history[i].products_total}<br><strong>{$lang.text_order_cost}</strong> {$history[i].order_total}</td>
									<td align="right"><a href="{html_href_link content=$filename.account_history_info page=$page order_id=$history[i].orders_id}" class="btn btn-sm btn-primary" role="button">{$lang.text_view_order}</a></td>
								</tr>
							</tbody>
						</table>
					</div>	
			{sectionelse}
				<div class="alert alert-info alert-dismissible" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					{$lang.text_no_purchases}
				</div> 
			{/section}

	  
				<!-- pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- end pagination -->

				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}