{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account}" class="btn btn-default" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_edit}" class="btn btn-default active" role="button"><i class="fa fa-user" aria-hidden="true"></i>{$lang.button_account}</a>
					<a href="{html_href_link content=$filename.account_address_book}" class="btn btn-default" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1}" class="btn btn-default" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1}" class="btn btn-default" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				{if $oEvent->installed_plugin('notify')}
					<a href="{html_href_link content=$filename.product_notifications}" class="btn btn-default" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>{$lang.button_notifications}</a>
				{/if}					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper">

					<div class="orderBox">
					<h3>{$lang.category_personal}</h3>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form name="account_edit" id="account_edit" class="form-horizontal" action="{html_get_link}" method="POST" role="form">
								<fieldset>
									<input type="hidden" name="action" value="process">
									<input type="hidden" name="content" value="{$filename.account_edit}">	
								{if $mySystem.sed}
									<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
									<input type="hidden" name="formid" value="{$mySystem.formid}">
								{/if}
								{if $smarty.const.ACCOUNT_GENDER eq 'true'}
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="gender">{$lang.entry_gender} *</label>
										<div class="col-sm-5">
											<input required type="radio" id="gender" name="gender" value="m" {if $male}checked="checked"{/if}> {$lang.male} <input required type="radio" id="gender" name="gender" value="f" {if $female}checked="checked"{/if}> {$lang.female}
										</div>						
									</div>
								{/if}
								
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="firstname">{$lang.entry_first_name} *</label>
										<div class="col-sm-5">
											<input required type="text" value="{$account.customers_firstname}" class="form-control" id="firstname" name="firstname" placeholder="{$lang.entry_first_name}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="lastname">{$lang.entry_last_name} *</label>
										<div class="col-sm-5">
											<input required type="text" value="{$account.customers_lastname}" class="form-control" id="lastname" name="lastname" placeholder="{$lang.entry_last_name}">
										</div>
									</div>
								{if $smarty.const.ACCOUNT_DOB eq 'true'}
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="dob">{$lang.entry_date_of_birth} *</label>
										<div class="col-sm-5">
											<input required type="text" value="{$account.customers_dob|oos_date_short}" class="form-control" id="dob" name="dob" placeholder="{$lang.entry_date_of_birth_text}">
										</div>
									</div>
								{/if}
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="email_address">{$lang.entry_email_address} *</label>
										<div class="col-sm-5">
											<input required type="text" value="{$account.customers_email_address}" class="form-control" id="email_address" name="email_address" placeholder="{$lang.entry_email_address}">
										</div>
									</div>
								{if $smarty.const.ACCOUNT_TELEPHONE eq 'true'}										
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="telephone">{$lang.entry_telephone_number}</label>
										<div class="col-sm-5">
											<input type="text" value="{$account.customers_telephone}" class="form-control" id="telephone" name="telephone" placeholder="{$lang.entry_telephone_number}">
										</div>
									</div>
								{/if}	

									<hr />
									<h4>{$lang.category_password}</h4>
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="password">{$lang.entry_password} *</label>
										<div class="col-sm-5">
											<input required type="password" value="{$smarty.post.password}" class="form-control" id="password" name="password" placeholder="{$lang.entry_password}">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 form-control-label" for="confirmation">{$lang.entry_password_confirmation} *</label>
										<div class="col-sm-5">
											<input required type="password" value="{$smarty.post.confirmation}" class="form-control" id="confirmation" name="confirmation" placeholder="{$lang.entry_password_confirmation}">
										</div>
									</div>
									 <div class="form-check">
										<div class="col-sm-5 col-sm-offset-4">
											<div class="checkbox">
											{if $bNewsletter}
												<label class="checkbox m-0">
													<input type="checkbox" class="form-check-input" id="agree" name="newsletter" value="yes">{$lang.newsletter_agree}
												</label>
											{/if}
											</div>
										</div>
									</div>							
									<hr />							
								</fieldset>
								<div class="form-group">
									<div class="col-sm-9 col-sm-offset-4">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_save_info}</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}