{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<!-- start content -->
<section class="mainContent clearfix userProfile">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{html_href_link content=$filename.account}" class="btn btn-default" role="button"><i class="fa fa-th" aria-hidden="true"></i>{$lang.login_block_my_account}</a>
					<a href="{html_href_link content=$filename.account_address_book}" class="btn btn-default active" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i>{$lang.button_address_book}</a>
					<a href="{html_href_link content=$filename.account_history page=1}" class="btn btn-default" role="button"><i class="fa fa-list" aria-hidden="true"></i>{$lang.button_history}</a>
					<a href="{html_href_link content=$filename.account_wishlist page=1}" class="btn btn-default" role="button"><i class="fa fa-gift" aria-hidden="true"></i>{$lang.button_wishlist}</a>
				{if $oEvent->installed_plugin('notify')}
					<a href="{html_href_link content=$filename.product_notifications}" class="btn btn-default" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>{$lang.button_notifications}</a>
				{/if}					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper">
					<div class="orderBox myAddress">
					
						<h4>{$lang.heading_title}</h4>
						
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>{$lang.table_heading_number}</th>
									{if $smarty.const.ACCOUNT_COMPANY eq 'true'}
							            <th>Company</th>
									{/if}
										<th>{$lang.table_heading_name}</th>
										<th>{$lang.table_heading_location}</th>
										<th>Country</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
			{section name=i loop=$address_book}
									<tr>
										<td>{$smarty.section.i.rownum|number_format}</td>
									{if $smarty.const.ACCOUNT_COMPANY eq 'true'}
										<td>{$address_book[i].company}</td>
									{/if}
										<td>{$address_book[i].firstname} {$address_book[i].lastname}</td>
										<td>{$address_book[i].street_address}, {$address_book[i].postcode}, {$address_book[i].city}</td>
										<td>{$address_book[i].country}</td>
										<td>
											<div class="btn-group" role="group">
												<a href="{html_href_link content=$filename.account_address_book_process edit=$address_book[i].address_book_id}" class="btn btn-primary" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
											{if $address_book[i].address_book_id neq $smarty.session.customer_default_address_id}	
												<a href="{html_href_link content=$filename.account_address_book_process delete=$address_book[i].address_book_id}" class="btn btn-primary" role="button"><i class="fa fa-times" aria-hidden="true"></i></a>
											{/if}
											</div>
										</td>
									</tr>
				{if $smarty.section.i.last}
								</tbody>
							</table>
						</div>

					{if $smarty.section.i.rownum < $smarty.const.MAX_ADDRESS_BOOK_ENTRIES}
						<div class="alert alert-info alert-dismissible" role="alert">
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							{$smarty.const.MAX_ADDRESS_BOOK_ENTRIES|string_format:$lang.text_maximum_entries}
						</div>					

						<!-- button -->
						<div class="mb-40 text-right clearfix">
							<a href="{html_href_link content=$filename.account_address_book_process addentry_id=$smarty.section.i.rownum}" class="btn btn-primary" role="button"><i class="fa fa-map-marker" aria-hidden="true"></i> {$lang.button_add_address}</a>
						</div>
						<!-- end button -->
					{else}
						<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							{$smarty.const.MAX_ADDRESS_BOOK_ENTRIES|string_format:$lang.text_maximum_entries_reached}
						</div>
					{/if}
				{/if}		
			{/section}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}