{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix">

				{if $error}
					<div class="container">
						<div class="row">
							<div class="col-md-12">                              
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>			
									<p>{$error}</p>
								</div>
							</div>
						</div>
					</div>
				{/if}
 
				<form name="advanced_search" action="{html_get_link}" method="GET">
					<fieldset>
						<input type="hidden" name="content" value="{$filename.advanced_search_result}">
						{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}

						<div class="row">
							<div class="col-md-12">
								<h4>{$lang.heading_search_criteria}</h4>
							</div>
						</div>
						

						<div class="row">
							<div class="col-md-12">
								<div class="input-group">
									<input required type="text" name="keywords" class="form-control" placeholder="{$lang.text_search}">
									<div class="input-group-btn">
										<button type="submit" class="btn btn-primary form-control-lg bl-0">
											<i class="fa fa-search fa-lg p-0" aria-hidden="true"> {$lang.button_search}</i>
										</button>
									</div>								
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">								
								<div class="float-right form-check ">
									<input id="checkbox" class="form-check-input" name="search_in_description" type="checkbox" checked="checked">
									<label for="checkbox" class="form-check-label ">{$lang.text_search_in_description}</label>
								</div>
							</div>
						</div>
						<div class="row	m-py-60">
							<div class="col-md-12">
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">
									{$lang.text_search_help_link}
								</button>	
							</div>
						</div>
						{if $categoriesID}
						<div class="row">
							<div class="col-md-6">
								<label for="search_categories">{$lang.entry_categories}</label>
								<select class="form-control pointer" name="categories_id">
								{foreach item=categorie from=$categoriesID}	
									<option value="{$categorie.id}">{$categorie.text}</option>
								{/foreach}								
								</select>
							</div>
						</div>	
						<div class="row">
							<div class="col-md-6">
								<div class="float-right form-check ">
									<input id="checkbox" class="form-check-input" name="inc_subcat" type="checkbox" checked="checked">
									<label for="checkbox" class="form-check-label ">{$lang.entry_include_subcategories}</label>
								</div>
							</div>
						</div>
						{/if}
						{if $manufacturersID}
						<div class="row">
							<div class="col-md-6">
								<label for="search_manufacturers">{$lang.entry_manufacturers}</label>
								<select class="form-control pointer" name="manufacturers_id">
								{foreach item=manufactur from=$manufacturersID}	
									<option value="{$manufactur.id}">{$manufactur.text}</option>
								{/foreach}								
								</select>
							</div>
						</div>
						{/if}						
						{if $myUser.show_price eq 1 }
						<div class="row">
							<div class="col-md-6">
								<label for="price_from">{$lang.entry_price_from}</label>
								<input type="text" value="" class="form-control" name="pfrom" id="price_from">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label for="price_to">{$lang.entry_price_to}</label>
								<input type="text" value="" class="form-control" name="pto" id="price_to">
							</div>
						</div> 
						{/if}

					</fieldset>

				</form>
				<!-- /FORM -->

				</div>
			</div>
		</div>
	</div>
</section>



<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="searchModalLabel">{$lang.heading_search_help}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{$lang.text_search_help}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">{$lang.text_close_window}</button>
			</div>
		</div>
	</div>
</div>

{include file="phoenix/system/_footer.html"}