{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}


<section class="mainContent clearfix stepsWrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix stepsPage">
					<div class="row progress-wizard" style="border-bottom:0;">

						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_delivery}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="{html_href_link content=$filename.checkout_shipping}" class="progress-wizard-dot"></a>
						</div>
	  
				  
						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_payment}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="{html_href_link content=$filename.checkout_payment}" class="progress-wizard-dot"></a>
						</div>

						<div class="col-md-3 progress-wizard-step active">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_confirmation}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>

						<div class="col-md-3 progress-wizard-step disabled">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_finished}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>
					</div>

						<div class="page-header">
							<h4>{$lang.heading_title}</h4>
						</div>
						
						<div class="row checkout-info">
							<div class="col-12">
								<div class="d-flex">
									<p>{$lang.text_checkout_info}</p>
								</div>
								<hr />
							</div>
						</div>
						<div class="row checkout-info">
							<div class="col-6">
							{if $smarty.session.sendto != false}
								<div class="d-flex justify-content-between">
									<h5>{$lang.heading_delivery_address}</h5>
									<span>
										<a href="{html_href_link content=$filename.checkout_shipping_address}"><i class="fa fa-pencil" aria-hidden="true"></i> {$lang.text_edit}</a>
									</span>
								</div>
								<hr />
								<address>
									{oos_address_format address_format_id=$order->delivery.format_id address=$order->delivery html=1}
								</address>
							{/if}
							</div>
							<div class="col-6">
								<div class="d-flex justify-content-between">
									<h5>{$lang.heading_billing_address}</h5>
									<span>
										<a href="{html_href_link content=$filename.checkout_payment}"><i class="fa fa-pencil" aria-hidden="true"></i> {$lang.text_edit}</a>
									</span>
								</div>
								<hr />										
								<address>
									{oos_address_format address_format_id=$order->billing.format_id address=$order->billing html=1}
								</address>
							</div>
						</div>
						
						<div class="row checkout-info">
							<div class="col-6">
							{if $smarty.session.sendto != false}
								<div class="d-flex justify-content-between">
									<strong>{$lang.heading_shipping_method}</strong>							
									<span>
										<a href="{html_href_link content=$filename.checkout_shipping_address}"><i class="fa fa-pencil" aria-hidden="true"></i> {$lang.text_edit}</a>
									</span>
								</div>
								{$order->info.shipping_method}
							{/if}
							</div>
							<div class="col-6">
								<div class="d-flex justify-content-between">
									<strong>{$lang.heading_payment_method}</strong>
									<span>
										<a href="{html_href_link content=$filename.checkout_payment}"><i class="fa fa-pencil" aria-hidden="true"></i> {$lang.text_edit}</a>
									</span>
								</div>
								{$order->info.payment_method}
							</div>
						</div>						
						<hr />
						
					{if !empty($order->info.comments)}
						<div class="row checkout-info">
							<div class="col-12">
								<div class="d-flex justify-content-between">
									<h5>{$lang.heading_order_comments}</h5>
									<span>
										<a href="{html_href_link content=$filename.checkout_payment}"><i class="fa fa-pencil" aria-hidden="true"></i> {$lang.text_edit}</a>
									</span>
								</div>	
								<p>{$order->info.comments|nl2br}</p>
							</div>
						</div>
					{/if}						
						
						
						<div class="row checkout-info">
							<div class="col-md-12">
								<p>{$text_conditions}</p>
							</div>
						</div>					

						<p><strong>{$lang.heading_shooping_card}</strong> <a href="{html_href_link content=$filename.shopping_cart}"><i class="fa fa-pencil" aria-hidden="true"></i> {$lang.text_edit}</a></p>

<form name="checkout_confirmation" action="{$form_action_url}" method="POST">
{if $mySystem.sed}
    <input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
	<input type="hidden" name="formid" value="{$mySystem.formid}">
{/if}
							<div class="table-responsive bg-confirmation">
								<table class="table table-success">
									<thead>
										<tr class="table-success">
											<th>{$lang.heading_products}</th>
											<th></th>
											<th>{$lang.table_heading_price}</th>
											<th>{$lang.table_heading_quantity}</th>
										{if sizeof($order->info.tax_groups) > 1}
											<th>{$lang.heading_tax}</th>
										{/if}
											<th align="right"><span class="text-right">{$lang.heading_total}</span></th>											
										</tr>										
									</thead>
									<tbody>	
								{foreach item=products from=$order->products}
									<tr class="table-success">								
										<td><a href="{html_href_link content=$filename.product_info products_id=$products.id oos_get='con=1'}">{product_image dir=small src=$products.image alt=$products.name}</a></td>
										<td><strong>{$products.name}</strong>&nbsp;
									{if $smarty.const.STOCK_CHECK eq 'true'}
										{oos_check_stock products_id=$products.id products_quantity=$products.qty}
									{/if}
										<p>{$products.essential_characteristics}</p>
										<p><a href="{html_href_link content=$filename.product_info products_id=$products.id oos_get='con=1'}">{$lang.text_more}</a></p>

										{if $products.products_base_price != 1}
											<p class="cart-entry-meta"><strong>{$lang.text_content}</strong> {$products.products_product_quantity|cut_number}&nbsp;{$products_units[$products.products_units_id].0}</p>
											<p class="cart-entry-meta">{$products_units[$products.products_units_id].1} = {$products.base_product_price}</p>
										{/if}

										{if ( isset($products.attributes) && sizeof($products.attributes) gt 0 ) }
											{foreach item=attributes from=$products.attributes}
												<br><nobr><small>&nbsp;<i> - {$attributes.option}: {$attributes.value}</i></small></nobr>
											{/foreach}
										{/if}

										{if $products.old_electrical_equipment eq 1 }
											<h5>{$lang.text_free_redemption}</h5>
											<p>{$lang.text_free_redemption_selection}</p>
										
											{if $products.return_free_of_charge eq 1}
												<p>{$lang.text_yes}</p>
											{elseif $products.return_free_of_charge eq 0}
												<p>{$lang.text_no}</p>
											{/if}
											<div class="clearfix mb-15"></div>											
										{/if}
										</td>
										<td><nobr>{oos_price price=$products.final_price tax=$products.tax qty=1}&nbsp;</nobr></td>
										<td>{$products.qty|quantity}&nbsp;</td>
									{if sizeof($order->info.tax_groups) > 1}
										<td><nobr>{oos_display_tax_value value=$products.tax} %</nobr></td>
									{/if}
										<td align="right"><nobr>{oos_price price=$products.final_price tax=$products.tax qty=$products.qty}</nobr></td>
									</tr>
								{/foreach}			
									<tbody>				
								</table>
							</div>					
							<div class="table-responsive bg-confirmation">
								<table class="table table-success">
 {if !empty($order_total_output)}
    {$order_total_output}
 {/if}
								</table>
							</div>

{if !empty($payment_modules_process_button) }
  {$payment_modules_process_button}
{/if}


							<div class="clearfix"></div>
							<div class="well well-lg clearfix">
								<ul class="pager">
									<li class="previous"><a href="{html_href_link content=$filename.checkout_payment}" class="btn btn-secondary btn-default float-left" role="button">{$lang.button_back}</a></li>
									<li class="next"><button class="btn btn-danger btn-lg float-right" type="submit">{$lang.button_confirm_order}</button></li>
								</ul>
							</div>
</form>
				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}