{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<section class="mainContent clearfix stepsWrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix stepsPage">
					<div class="row progress-wizard" style="border-bottom:0;">

						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_delivery}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="{html_href_link content=$filename.checkout_shipping}" class="progress-wizard-dot"></a>
						</div>
	  
				  
						<div class="col-md-3 progress-wizard-step active">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_payment}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="{html_href_link content=$filename.checkout_payment}" class="progress-wizard-dot"></a>
						</div>

						<div class="col-md-3 progress-wizard-step disabled">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_confirmation}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>

						<div class="col-md-3 progress-wizard-step disabled">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_finished}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>
					</div>
					
					<form name="checkout_payment" action="{html_get_link}" method="POST">
						<fieldset>
						<input type="hidden" name="content" value="{$filename.checkout_confirmation}">
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="process">

						<div class="page-header">
							<h4>{$lang.table_heading_billing_address}</h4>
						</div>
		
						<div class="row shipping-info">
							<div class="col-10">
								<p>{$lang.text_selected_billing_destination}</p>
								
								<a href="{html_href_link content=$filename.checkout_payment_address}" class="btn btn-primary" role="button">{$lang.button_change_address}</a>
							</div>
							<div class="col-2">
								<h5>{$lang.title_billing_address}</h5>
								<address>
									{oos_address_label customers_id=$smarty.session.customer_id address_id=$smarty.session.billto}
								</address>
							</div>
						</div>
						<hr />						
					
						<div class="page-header">
							<h4>{$lang.table_heading_payment_method}</h4>
						</div>

   					{if sizeof($selection) > 1 }				
						<div class="row payment-info">
							<div class="col-10">
								<p>{$lang.text_select_payment_method}</p>
							</div>
							<div class="col-2">
								<strong>{$lang.title_please_select}</strong>
							</div>
						</div>						
					{else}				
						<div class="row payment-info">
							<div class="col-12">
								<p>{$lang.text_enter_payment_information}</p>
							</div>
						</div>					
					{/if}

						<div class="table-responsive">
							<table class="table table-hover">
								<tbody>					
					{section name=i loop=$selection}
									<tr>
										<td width="75%"><strong>{$selection[i].module}</strong></td>
										<td align="text-right">
											<div class="form-check">
						{if sizeof($selection) > 1 }
							{if $selection[i].id eq $smarty.session.payment}
												<input required class="form-check-input form-check-input-right" type="radio" name="payment" value="{$selection[i].id}" checked>
							{else}
												<input required class="form-check-input form-check-input-right" type="radio" name="payment" value="{$selection[i].id}">
							{/if}  
						{else}
												<input type="hidden" name="payment" value="{$selection[i].id}">
						{/if}
											</div>									
										</td>
									</tr>
						{if isset($selection[i].error)}
										<tr>
											<td colspan="2">
												<div class="alert alert-danger" role="alert">
													{$selection[i].error}
												</div>
											</td>
										</tr>
						{else}

							{section name=n loop=$selection[i].fields}
										<tr>
											<td colspan="2">{$selection[i].fields[n].title}</td>
											<td colspan="2">{$selection[i].fields[n].field}</td>
										</tr>
							{/section}

						{/if}
										
					{/section}
									</tbody>
								</table>
							</div>	
						
{$credit_selection}


							<div class="row">
								<div class="col-md-12">
									<label for="comments">{$lang.table_heading_comments}</label>
									<textarea maxlength="10000" rows="8" class="form-control" name="comments" id="comments">{$smarty.session.comments|escape}</textarea>												
								</div>
							</div>
						</fieldset>
	
	


						<div class="col-md-12">
							<div class="clearfix" style="height: 35px;"></div>
							<div class="well well-lg clearfix">
								<ul class="pager">
									<li class="previous"><a href="{html_href_link content=$filename.checkout_shipping}" class="btn btn-secondary btn-default float-left"  role="button">{$lang.button_back}</a></li>
									<li class="next"><button class="btn btn-primary btn-default float-right" type="submit">{$lang.button_continue} <i class="fa fa-angle-right" aria-hidden="true"></i></button></li>
								</ul>
							</div>
						</div>
					</form>
	
				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}