{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<section class="mainContent clearfix stepsWrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix stepsPage">
					<div class="row progress-wizard" style="border-bottom:0;">

						<div class="col-md-3 progress-wizard-step complete">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_delivery}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<a href="{html_href_link content=$filename.checkout_shipping}" class="progress-wizard-dot"></a>
						</div>
	  
				  
						<div class="col-md-3 progress-wizard-step disabled">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_payment}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>

						<div class="col-md-3 progress-wizard-step disabled">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_confirmation}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>

						<div class="col-md-3 progress-wizard-step disabled">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_finished}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>
					</div>
            

					<form name="checkout_address" action="{html_get_link}" method="POST">
						<fieldset>
						<input type="hidden" name="content" value="{$filename.checkout_shipping}">
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="process">


						<div class="page-header">
							<h4>{$lang.table_heading_shipping_address}</h4>
						</div>
		
						<div class="row shipping-info">
							<div class="col-10">
								<p>{$lang.text_choose_shipping_destination}</p>
								
								<a href="{html_href_link content=$filename.checkout_shipping_address}" class="btn btn-primary" role="button">{$lang.button_change_address}</a>
							</div>
							<div class="col-2">
								<h5>{$lang.title_shipping_address}</h5>
								<address>
									{oos_address_label customers_id=$smarty.session.customer_id address_id=$smarty.session.sendto}
								</address>
							</div>
						</div>
						<hr />						

				{if $counts_shipping_modules > 0 }	
					{if $free_shipping eq true }
						<div class="page-header">
							<h4>{$lang.free_shipping_title} {$quotes[i].icon}</h4>
						</div>
					{else}

 						<div class="page-header">
							<h4>{$lang.table_heading_shipping_method}</h4>
						</div>

						{if sizeof($quotes) > 1 }
							<div class="row shipping-info">
								<div class="col-10">
									<p>{$lang.text_choose_shipping_method}</p>
								</div>
								<div class="col-2">
									<strong>{$lang.title_please_select}</strong>
								</div>
							</div>	
						{elseif $free_shipping eq false }
							<div class="row shipping-info">
								<div class="col-12">
									<p>{$lang.text_enter_shipping_information}</p>
								</div>
							</div>
						{/if}
					{/if}
					
					
					{if $free_shipping eq true }
						
						<p>{$oos_free_shipping_description}</p>
						<input type="hidden" name="shipping" value="free_free">
						
					{else}
							<div class="table-responsive">
								<table class="table table-hover">
									<tbody>
						{section name=i loop=$quotes}
										<tr>
											<td colspan="3"><strong>{$quotes[i].module}</strong>&nbsp;{$quotes[i].icon}</td>
										</tr>
							{if isset($quotes[i].error)}
										<tr>
											<td colspan="3">
												<div>
													{$quotes[i].error}
												</div>
											</td>
										</tr>
							{else}
								{section name=n loop=$quotes[i].methods}
										<tr>
											<td width="75%">{$quotes[i].methods[n].title}</td>
									{if ( ($smarty.section.i.total > 1) || ($smarty.section.n.total > 1) ) }
											<td>{oos_cost price=$quotes[i].methods[n].cost tax=$quotes[i].tax}</td>
											<td align="right">
												<div class="form-check">
										{if $quotes[i].methods[n].id eq $sess_method }
													<input required class="form-check-input form-check-input-right" type="radio" name="shipping" id="shipping" value="{$quotes[i].id}_{$quotes[i].methods[n].id}" checked>
										{else}
													<input required class="form-check-input form-check-input-right" type="radio" name="shipping" id="shipping" value="{$quotes[i].id}_{$quotes[i].methods[n].id}">
										{/if}		   
												</div>									
											</td>			   
			   
									{else}
											<td align="right" colspan="2">
												{oos_cost price=$quotes[i].methods[n].cost tax=$quotes[i].tax}
												<input type="hidden" name="shipping" value="{$quotes[i].id}_{$quotes[i].methods[n].id}">
											</td>
									{/if}
										</tr>
								{/section}
							{/if}
						{/section}
									</tbody>
								</table>
							</div>						
					{/if}
				{/if}

							<div class="row">
								<div class="col-md-12">
									<label for="comments">{$lang.table_heading_comments}</label>
									<textarea maxlength="10000" rows="8" class="form-control" name="comments" id="comments">{$smarty.session.comments|escape}</textarea>												
								</div>
							</div>
						</fieldset>
	
						<div class="col-md-12">
							<div class="clearfix" style="height: 35px;"></div>
							<div class="well well-lg clearfix">
								<ul class="pager">
									<li class="previous float-left"><strong>{$lang.title_continue_checkout_procedure}</strong><br>{$lang.text_continue_checkout_procedure}</li>						
									<li class="next"><button class="btn btn-primary btn-default float-right" type="submit">{$lang.button_continue} <i class="fa fa-angle-right" aria-hidden="true"></i></button></li>
								</ul>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}