{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<section class="mainContent clearfix stepsWrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix stepsPage">
					<div class="row progress-wizard" style="border-bottom:0;">

						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_delivery}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>
	  
				  
						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_payment}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>

						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_confirmation}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>

						<div class="col-md-3 progress-wizard-step complete">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_finished}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>
					</div>
				
					<form name="order" action="{html_get_link}" method="POST">
						<input type="hidden" name="content" value="{$filename.checkout_success}">
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}	
						<input type="hidden" name="action" value="notify_process">
					
						
						<div class="container text-center m-py-60">
							<div class="mb-5">
								<span class="d-block m-color-gray-light-v1 fs-70 mb-4">
									<i class="fa fa-check" aria-hidden="true"></i>
								</span>
								<h2 class="mb-30">{$heading_title}</h2>
							
								<p>{$lang.text_success}</p>
							{if $smarty.session.guest_account ne '1' }	
								{if $oEvent->installed_plugin('notify')}
									{$products_notify}
								{/if}
							{/if}
								<hr />

								<p>
									{$lang.text_sincere_regards}<br />
									<strong>{$smarty.const.STORE_NAME}</strong>
								</p>						
							</div>
							<button class="btn btn-primary btn-default float-right" type="submit">{$lang.button_continue} <i class="fa fa-angle-right" aria-hidden="true"></i></button>
						</div>	
					</form>
					
				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}