{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix stepsWrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix stepsPage">
					<div class="row progress-wizard" style="border-bottom:0;">

						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_delivery}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>
	  
				  
						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_payment}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>

						<div class="col-md-3 progress-wizard-step complete fullBar">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_confirmation}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>

						<div class="col-md-3 progress-wizard-step complete">
							<div class="text-center progress-wizard-stepnum">{$lang.checkout_bar_finished}</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<div class="progress-wizard-dot"></div>
						</div>
					</div>
					
					<form name="order" action="{html_get_link}" method="POST" role="form">
						<input type="hidden" name="content" value="{$filename.checkout_success}">
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}	
						<input type="hidden" name="action" value="notify_process">

						<!-- final message -->
						<div class="success success-default">
							<div class="success-block">
								<h3>{$heading_title}</h3>

								<p>
									{$lang.text_success}
								</p>

								{if $oEvent->installed_plugin('notify')}
									{$products_notify}
								{/if}
								
								<h3>{$lang.text_thanks_for_shopping}</h3>
							
								<hr />

								<p>
									{$lang.text_sincere_regards}<br />
									<strong>{$smarty.const.STORE_NAME}</strong>
								</p>
							</div>
						</div>
						<!-- /final message -->	
	
						<div class="col-md-12">
							<div class="well well-lg clearfix">
								<ul class="pager">
									<li class="next"><button class="btn btn-primary-filled float-right" type="submit">{$lang.button_continue} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></li>
								</ul>
							</div>
						</div>
						
					</form>

				</div>
			</div>
		</div>
	</div>
</section>

{include file="phoenix/system/_footer.html"}