{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<!-- start content -->
<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
		
			<!-- left column -->
			<div class="col-lg-9 col-md-9 col-sm-9">
			
				{if $smarty.get.action eq 'success' }
					<!-- alert success -->
					<div id="alert_success" class="alert alert-success mb-30">
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						{$lang.text_success}
					</div><!-- end alert success -->
				{else}			
					{if $error}
						<div id="alert_mandatory" class="alert alert-danger mb-30">
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							{$lang.form_error}
						</div>				
					{/if}
				
					<form name="contact_us" id="contact_us" class="form-horizontal" action="{html_get_link}" method="POST">

						<fieldset>
							<input type="hidden" name="action" value="send">
							<input type="hidden" name="content" value="{$filename.contact_us}">	
							{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
							{/if}

								<div class="row">
									<div class="col-md-6">
										<label for="name">{$lang.entry_name} *</label>
										<input required type="text" value="{$smarty.post.name|escape}" class="form-control" name="name" id="name">										
									</div>
									<div class="col-md-6">
										<label for="email">{$lang.entry_email} *</label>
										<input required type="email" value="{$smarty.post.email|escape}" class="form-control" name="email" id="email">											
									</div>
								</div>
								<div class="row">
									<div class="col-md-8">
										<label for="subject">{$lang.entry_subject} *</label>
										<input required type="text" value="{$smarty.post.subject|escape}" class="form-control" name="subject" id="subject">												
									</div>
									<div class="col-md-4">
										<label for="phone">{$lang.entry_telephone_number}</label>
										<input type="text" value="{$smarty.post.phone|escape}" class="form-control" name="phone" id="phone">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="enquiry">{$lang.entry_enquiry} *</label>
										<textarea required maxlength="10000" rows="8" class="form-control" name="enquiry" id="enquiry">{$smarty.post.enquiry|escape}</textarea>												
									</div>
								</div>

						</fieldset>					
					
						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_send_message}</button>
							</div>
						</div>

					</form>
					<!-- end FORM -->
{/if}
			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3 col-sm-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
					{$panel.content}
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->


{include file="phoenix/system/_footer.html"}
	