{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

<section class="mainContent clearfix">

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
	

              <fieldset>
                <legend>{$lang.category_personal}</legend>
				
					<form name="create_account" id="create_account" class="form-horizontal" action="{html_get_link}" method="POST">
						<fieldset>
							<input type="hidden" name="action" value="process">
							<input type="hidden" name="content" value="{$filename.create_account}">	
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}				
			
                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title">{$lang.category_personal}</h3>
                    </div>
                    <div class="col-xl-8 ml-xl-auto">
                      <div class="form-group row">
                        <label for="billingFirstName" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_first_name} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
						  <input type="text" class="form-control" id="billingFirstName" name="firstname" value="{$account.customers_firstname}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="billingLastName" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_last_name} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" class="form-control" id="billingLastName" name="lastname" value="{$account.customers_lastname}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="billingemail" class="col-lg-2 control-label text-lg-right col-form-label">E-Mail <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="email" class="form-control" id="billingemail" name="email_address" value="{$email_address}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="space"></div>

{if $smarty.const.ACCOUNT_COMPANY eq 'true'}		  
                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title mt-5 mt-lg-0">{$lang.category_company}</h3>
                    </div>
                    <div class="col-xl-8 ml-xl-auto">
                      <div class="form-group row">
                        <label for="billingAddress1" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_company}</label>
                        <div class="col-lg-10">
							<input type="text"  class="form-control" id="billingCompany" name="company" value="{$account.entry_company}">
                        </div>
                      </div>
					  
  {if $smarty.const.ACCOUNT_OWNER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_owner}</td>
            <td class="main">&nbsp;<input type="text" name="owner" value="{$account.entry_owner}"></td>
          </tr>

  {/if}
  {if $smarty.const.ACCOUNT_VAT_ID eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_vat_id}</td>
            <td class="main">&nbsp;<input type="text" name="vat_id" value="{$account.customers_vat_id}"></td>
          </tr>
  {/if}				  
	                    </div>
                  </div>					  
{/if}			
                  <div class="space"></div>
	                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title mt-5 mt-lg-0">{$lang.category_address}</h3>
                    </div>
                    <div class="col-xl-8 ml-xl-auto">
                      <div class="form-group row">
                        <label for="billingAddress1" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_street_address} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" class="form-control" id="billingAddress1" name="street_address" value="{$account.entry_street_address}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="billingPostalCode" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_post_code} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" class="form-control" id="billingPostalCode" name="postcode" value="{$account.entry_postcode}">
                        </div>
                      </div>					  
                      <div class="form-group row">
                        <label for="billingCity" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_city} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" class="form-control" id="billingCity" name="city" value="{$account.entry_city}">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_country} <small class="text-default">*</small></label>
                        <div class="col-lg-10">{oos_get_country_list name=country selected=$account.entry_country_id}</div>
                      </div>

                    </div>
                  </div>
                  <div class="space"></div>				  
                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title mt-5 mt-lg-0">{$lang.category_contact}</h3>
                    </div>
                    <div class="col-xl-8 ml-xl-auto">
                      <div class="form-group row">
                        <label for="billingAddress1" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_telephone_number} </label>
                        <div class="col-lg-10">
							<input type="text" name="telephone" class="form-control" id="billingtelephone" value="{$account.customers_telephone}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="space"></div>
			</fieldset>


{if $smarty.const.NEWSLETTER eq 'true'}
              <fieldset>
                <legend>{$lang.entry_dsgvo_title}</legend>				  
				  
                  <div class="row">
					<div class="col-lg-12">
						<div class="checkbox padding-top-clear form-check">
						<input type="checkbox" class="form-check-input" id="agree" name="newsletter" value="yes">
						<label class="form-check-label">
							{$lang.newsletter_agree}
						</label>
					</div>					  
					  </div> 
                    </div>
				</fieldset>	
{/if}


				  
              <fieldset>
                <legend>{$lang.entry_dsgvo_title}</legend>				  
				  
                  <div class="row">
					<div class="col-lg-12">
						<div class="checkbox padding-top-clear form-check">
						<input type="checkbox" class="form-check-input" id="agree" name="agree" value="yes" required>
						<label class="form-check-label">
							{$login_agree}
						</label>
					</div>					  
					  </div> 
                    </div>
				</fieldset>				  
				  
	  


							<div class="form-check">
								<div class="col-sm-5 col-sm-offset-4">
									<div class="checkbox">
										<label class="checkbox m-0">
											<input type="checkbox" class="form-check-input" id="agree" name="agree" value="yes" required>{$login_agree}
										</label>
									{if $smarty.const.NEWSLETTER eq 'true'}
										<label class="checkbox m-0">
											<input type="checkbox" class="form-check-input" id="agree" name="newsletter" value="yes">{$lang.newsletter_agree}
										</label>
									{/if}
									</div>
								</div>
							</div>	



							<div class="form-group">
								<div class="col-lg-12 text-right">
									{if isset($smarty.get.guest) || $smarty.session.guest_account eq '1' }
									   <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_further_than_guest}</button>
									{else}
										<button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_register}</button>
									{/if}
								</div>
							</div>



			  
                </form>
			
			
			
			
			
			
			
			
			
###			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				<div class="innerWrapper clearfix">
				
				<!-- REGISTER -->
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">{$lang.category_personal}</h3>
					</div>
					<div class="card-body">

						{if $smarty.const.ACCOUNT_GENDER eq 'true'}
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="gender">{$lang.entry_gender} *</label>
								<div class="col-sm-5">
									<input type="radio" id="gender" name="gender" value="m" {if $smarty.post.gender eq m}checked="checked"{/if} required> {$lang.male} <input type="radio" id="gender" name="gender" value="f" {if $smarty.post.gender eq f}checked="checked"{/if} required> {$lang.female} <input  type="radio" id="gender" name="gender" value="d" {if $smarty.post.gender eq d}checked="checked"{/if} required> {$lang.diverse} 
								</div>						
							</div>
						{/if}				
						
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="firstname">{$lang.entry_first_name} *</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.firstname|escape}" class="form-control" id="firstname" name="firstname" placeholder="{$lang.entry_first_name}" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="lastname">{$lang.entry_last_name} *</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.lastname|escape}" class="form-control" id="lastname" name="lastname" placeholder="{$lang.entry_last_name}" required>
								</div>
							</div>
						{if $smarty.const.ACCOUNT_DOB eq 'true'}
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="dob">{$lang.entry_date_of_birth} *</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.dob|escape}" class="form-control" id="dob" name="dob" placeholder="{$lang.entry_date_of_birth_text}" required>
								</div>
							</div>
						{/if}
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="email_address">{$lang.entry_email_address} *</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.email_address|escape}" class="form-control" id="email_address" name="email_address" placeholder="{$lang.entry_email_address}" required>
								</div>
							</div>							
						
						{if $smarty.const.ACCOUNT_COMPANY eq 'true'}
						<hr />
						<h3>{$lang.category_company}</h3>
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="company">{$lang.entry_company}</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.company|escape}" class="form-control" id="company" name="company" placeholder="{$lang.entry_company}" >
								</div>
							</div>
												
							{if $smarty.const.ACCOUNT_OWNER eq 'true'}
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="company">{$lang.entry_owner}</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.owner|escape}" class="form-control" id="owner" name="owner" placeholder="{$lang.entry_owner}" />
								</div>
							</div>
							{/if}

							{if $smarty.const.ACCOUNT_VAT_ID eq 'true'}
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="company">{$lang.entry_vat_id}</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.vat_id|escape}" class="form-control" id="vat_id" name="vat_id" placeholder="{$lang.entry_vat_id}" />
								</div>
							</div>
							{/if}							
						{/if}
							<hr />	
							<h3>{$lang.category_address}</h3>
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="street_address">{$lang.entry_street_address} *</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.street_address|escape}" class="form-control" id="street_address" name="street_address" placeholder="{$lang.entry_street_address}" required>
								</div>
							</div>
																
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="postcode">{$lang.entry_post_code} *</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.postcode|escape}" class="form-control" id="postcode" name="postcode" placeholder="{$lang.entry_post_code}" required>
								</div>
							</div>	

							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="city">{$lang.entry_city} *</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.city|escape}" class="form-control" id="city" name="city" placeholder="{$lang.entry_city}" required>
								</div>
							</div>
							
						{if $smarty.const.ACCOUNT_STATE eq 'true'}
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="state">{$lang.entry_state} *</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.state|escape}" class="form-control" id="state" name="state" placeholder="{$lang.entry_state}" required> 
								</div>
							</div>
						{/if}
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="country">{$lang.entry_country} *</label>
								<div class="col-sm-5">
									{oos_get_country_list name=country selected=$account.entry_country_id}
								</div>
							</div>
						{if $smarty.const.ACCOUNT_TELEPHONE eq 'true'}	
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="telephone">{$lang.entry_telephone_number}</label>
								<div class="col-sm-5">
									<input type="text" value="{$smarty.post.telephone|escape}" class="form-control" id="telephone" name="telephone" placeholder="{$lang.entry_telephone_number}" >
								</div>
							</div>
						{/if}
						{if !isset($smarty.get.guest) || $smarty.session.guest_account ne '1' }
							{if $smarty.const.CUSTOMER_NOT_LOGIN eq 'false'}
							<hr />
							<h3>{$lang.category_password}</h3>
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="password">{$lang.entry_password} *</label>
								<div class="col-sm-5">
									<input type="password" value="{$smarty.post.password|escape}" class="form-control" id="password" name="password" placeholder="{$lang.entry_password}" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 form-control-label" for="confirmation">{$lang.entry_password_confirmation} *</label>
								<div class="col-sm-5">
									<input type="password" value="{$smarty.post.confirmation|escape}" class="form-control" id="confirmation" name="confirmation" placeholder="{$lang.entry_password_confirmation}" required>
								</div>
							</div>
							{/if}
						{/if}
							<hr />
							<div class="form-check">
								<div class="col-sm-5 col-sm-offset-4">
									<div class="checkbox">
										<label class="checkbox m-0">
											<input type="checkbox" class="form-check-input" id="agree" name="agree" value="yes" required>{$login_agree}
										</label>
									{if $smarty.const.NEWSLETTER eq 'true'}
										<label class="checkbox m-0">
											<input type="checkbox" class="form-check-input" id="agree" name="newsletter" value="yes">{$lang.newsletter_agree}
										</label>
									{/if}
									</div>
								</div>
							</div>							
							<hr />							
							</fieldset>
							<div class="form-group">
								<div class="col-sm-9 col-sm-offset-4">
									{if isset($smarty.get.guest) || $smarty.session.guest_account eq '1' }
									   <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_further_than_guest}</button>
									{else}
										<button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_register}</button>
									{/if}
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- end REGISTER -->
				</div>
			</div>
		</div>
	</div>
</section>	
{include file="phoenix/system/_footer.html"}