{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

<section class="mainContent clearfix">

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

	<div class="container account">
		<div class="row">
			<div class="col-md-12">
			
			<fieldset>
                <legend>{$lang.category_personal}</legend>			
					<form name="create_account" id="create_account" class="form-horizontal" action="{html_get_link}" method="POST">
							<input type="hidden" name="action" value="process">
							<input type="hidden" name="content" value="{$filename.create_account}">	
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}				

				
                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title">{$lang.category_personal}</h3>
                    </div>
                    <div class="col-xl-8 ml-xl-auto">
						{if $smarty.const.ACCOUNT_GENDER eq 'true'}
							<div class="form-group row">
								<label for="gender" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_gender}</label>
								<div class="col-lg-10">
									<input type="radio" id="gender" name="gender" value="m" {if $smarty.post.gender eq m}checked="checked"{/if} required> {$lang.male} <input type="radio" id="gender" name="gender" value="f" {if $smarty.post.gender eq f}checked="checked"{/if} required> {$lang.female} <input  type="radio" id="gender" name="gender" value="d" {if $smarty.post.gender eq d}checked="checked"{/if} required> {$lang.diverse} 
								</div>						
							</div>
						{/if}	
                      <div class="form-group row">
                        <label for="FirstName" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_first_name} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" value="{$smarty.post.firstname|escape}" class="form-control" id="firstname" name="firstname" placeholder="{$lang.entry_first_name}" required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="LastName" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_last_name} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" value="{$smarty.post.lastname|escape}" class="form-control" id="lastname" name="lastname" placeholder="{$lang.entry_last_name}" required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="email" class="col-lg-2 control-label text-lg-right col-form-label">E-Mail <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="email" value="{$smarty.post.email_address|escape}" class="form-control" id="email_address" name="email_address" placeholder="{$lang.entry_email_address}" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="space"></div>

{if $smarty.const.ACCOUNT_COMPANY eq 'true'}		  
                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title mt-5 mt-lg-0">{$lang.category_company}</h3>
                    </div>
                    <div class="col-xl-8 ml-xl-auto">
                      <div class="form-group row">
                        <label for="billingAddress1" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_company}</label>
                        <div class="col-lg-10">
							<input type="text"  class="form-control" id="billingCompany" name="company" value="{$account.entry_company}">
                        </div>
                      </div>
					  
  {if $smarty.const.ACCOUNT_OWNER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_owner}</td>
            <td class="main">&nbsp;<input type="text" name="owner" value="{$account.entry_owner}"></td>
          </tr>

  {/if}
  {if $smarty.const.ACCOUNT_VAT_ID eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_vat_id}</td>
            <td class="main">&nbsp;<input type="text" name="vat_id" value="{$account.customers_vat_id}"></td>
          </tr>
  {/if}				  
	                    </div>
                  </div>					  
{/if}			
                  <div class="space"></div>
	                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title mt-5 mt-lg-0">{$lang.category_address}</h3>
                    </div>
                    <div class="col-xl-8 ml-xl-auto">
                      <div class="form-group row">
                        <label for="billingAddress1" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_street_address} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" value="{$smarty.post.street_address|escape}" class="form-control" id="street_address" name="street_address" placeholder="{$lang.entry_street_address}" required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="billingPostalCode" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_post_code} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" value="{$smarty.post.postcode|escape}" class="form-control" id="postcode" name="postcode" placeholder="{$lang.entry_post_code}" required>
                        </div>
                      </div>					  
                      <div class="form-group row">
                        <label for="billingCity" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_city} <small class="text-default">*</small></label>
                        <div class="col-lg-10">
							<input type="text" value="{$smarty.post.city|escape}" class="form-control" id="city" name="city" placeholder="{$lang.entry_city}" required>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_country} <small class="text-default">*</small></label>
                        <div class="col-lg-10">{oos_get_country_list name=country selected=$account.entry_country_id}</div>
                      </div>

                    </div>
                  </div>
                  <div class="space"></div>
{if $smarty.const.ACCOUNT_TELEPHONE eq 'true'}					  
                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title mt-5 mt-lg-0">{$lang.category_contact}</h3>
                    </div>
                    <div class="col-xl-8 ml-xl-auto">
                      <div class="form-group row">
                        <label for="billingAddress1" class="col-lg-2 control-label text-lg-right col-form-label">{$lang.entry_telephone_number} </label>
                        <div class="col-lg-10">
							<input type="text" value="{$smarty.post.telephone|escape}" class="form-control" id="telephone" name="telephone" placeholder="{$lang.entry_telephone_number}" >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="space"></div>
{/if}


				  
{if !isset($smarty.get.guest) || $smarty.session.guest_account ne '1' }
	{if $smarty.const.CUSTOMER_NOT_LOGIN eq 'false'}
                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title mt-5 mt-lg-0">{$lang.category_password}</h3>
                    </div>	
                    <div class="col-xl-8 ml-xl-auto">
						<div class="form-group row">
							<label class="col-lg-2 control-label text-lg-right col-form-label" for="password">{$lang.entry_password} <small class="text-default">*</small></label>
							<div class="col-lg-10">
									<input type="password" value="{$smarty.post.password|escape}" class="form-control" id="password" name="password" placeholder="{$lang.entry_password}" required autocomplete="new-password">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 control-label text-lg-right col-form-label" for="confirmation">{$lang.entry_password_confirmation} <small class="text-default">*</small></label>
								<div class="col-lg-10">
									<input type="password" value="{$smarty.post.confirmation|escape}" class="form-control" id="confirmation" name="confirmation" placeholder="{$lang.entry_password_confirmation}" required autocomplete="new-password">
								</div>
							</div>
							
                    </div>
                  </div>
                  <div class="space"></div>							
	{/if}
{/if}			  


                  <div class="row">
                    <div class="col-xl-3">
                      <h3 class="title mt-5 mt-lg-0"></h3>
                    </div>	
                    <div class="col-xl-8 ml-xl-auto">			
{if $smarty.const.NEWSLETTER eq 'true'}
						<div class="form-group row">
							<label class="col-lg-2 control-label text-lg-right col-form-label" for="newsletter"></label>
							<div class="col-lg-10">
								<div class="checkbox padding-top-clear form-check">
									<input type="checkbox" class="form-check-input" id="agree" name="newsletter" value="yes">
									<label class="form-check-label">
										{$lang.newsletter_agree}
									</label>
								</div>
							</div>
						</div>
{/if}						
						<div class="form-group row">
							<label class="col-lg-2 control-label text-lg-right col-form-label" for="agree"></label>
							<div class="col-lg-10">
								<div class="checkbox padding-top-clear form-check">
									<input type="checkbox" class="form-check-input" id="agree" name="agree" value="yes" required>
									<label class="form-check-label">
										{$login_agree}
									</label>
								</div>
							</div>
						</div>
							
                    </div>
                  </div>
                  <div class="space"></div>					  

			</fieldset>
	  
							<div class="form-group">
								<div class="col-lg-12 text-right">
									{if isset($smarty.get.guest) || $smarty.session.guest_account eq '1' }
									   <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_further_than_guest}</button>
									{else}
										<button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_register}</button>
									{/if}
								</div>
							</div>



			  
                </form>

			</div>
		</div>
	</div>
</section>	
{include file="phoenix/system/_footer.html"}