{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix">

					<!-- final message -->
					<div class="success success-default">
						<div class="success-block">
							<h3>{$heading_title}</h3>

							<p>
								{$thank_you}
							</p>

							<hr />

							<p>
								{$lang.text_sincere_regards}<br />
								<strong>{$smarty.const.STORE_NAME}</strong>
							</p>
						</div>
					</div>
					<!-- /final message -->

				</div>
			</div>
		</div>
	</div>
</section>	
{include file="phoenix/system/_footer.html"}