{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}


<!-- start content -->
<section id="content">
    <div class="container">
	
		<p><a href="{html_href_link content=$filename.account}">{$lang.button_back}</a></p>
	
        <div class="row">
            <div class="col-md-6">
				<h2 class="text-center">{$lang.text_2fa_title}</h2>
				
				<p class="text-center">{$lang.text_2fa_info}</p>
				
					<form name="create_2fa" action="{html_get_link}" method="POST" class="needs-validation" novalidate>
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="process">
						<input type="hidden" name="content" value="{$filename.disabled_google2fa}">			  


						<div class="d-grid gap-2">
							<button class="btn btn-primary" type="submit">{$lang.button_deactivate}</button>
						</div>				
					</form>						
				<p class="text-center"><a href="{html_href_link content=$filename.login_process action=process formid=$mySystem.formid }">{$lang.button_not_now}</a>									

            </div>
        </div>
	</div>
</section>
<!-- end content -->

	
{include file="phoenix/system/_footer.html"}