<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix">


		<h2>{$lang.heading_download}</h2>

		<table class="table table-success table-striped">
{section name=i loop=$downloads_array}
			<tr>
    {if $downloads_array[i].show_download_link eq 'true'}
				<td><a href="{html_href_link content=$filename.download order=$downloads_array[i].last_order id=$downloads_array[i].id}">{$downloads_array[i].products_name}</a><br><a href="{html_href_link content=$filename.download order=$downloads_array[i].last_order id=$downloads_array[i].id}" class="btn btn-primary-filled" role="button"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    {else}
				<td>{$downloads_array[i].products_name}</td>
    {/if}
				<td>{$lang.table_heading_download_date}<br>{$downloads_array[i].download_expiry|oos_date_long}</td>
				<td>{$downloads_array[i].download_count} {$lang.table_heading_download_count}</td>
			</tr>
{/section}
        </table>

				</div>
			</div>
		</div>
	</div>
</section>

