{include file="phoenix/system/_header.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section class="slider  section-xxs">
<!-- start slider -->
	{$slider}
<!-- end slider -->
</section>

<section class="callaction section-xxs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text">
					{$lang.text_main}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mainContent section-xxs">
	<div class="container">
	{if $featured}
		{$featured}	
		<!-- divider -->
		<div class="row">
			<div class="col-md-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
	{/if}	
	{if $spezials}
		{$spezials}			
		<!-- divider -->
		<div class="row">
			<div class="col-md-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
	{/if}	
	{if $new_products}
		{$new_products}
		<!-- divider -->
		<div class="row">
			<div class="col-md-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
	{/if}	
		<div class="row">
			<div class="col-md-12">
				<span class="pangv mt-30">{$pangv} {$info_minimum_order_value}</span>
			</div>
		</div>			
	{if $mod_manufacturers}
		<div class="row">
			<div class="col-md-12">
				{$mod_manufacturers}
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-md-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
	{/if}
		<div class="row">
			<div class="col-md-12">
				{$upcoming_products}
			</div>
		</div>		
	</div>
</section>
<!-- end content -->
	
{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}