{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">

		<div id="info">
			<a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> -
			<a href="https://github.com/KhronosGroup/glTF" target="_blank" rel="noopener">glTF</a> 2.0 loader<br />
			<div id="description"></div>
		</div>

<style>
.ascene {
	height: 300px;
	width: 240px;
	margin: auto;
}


#scene3d {
        float: left;
        padding: 5px;
        width: 1024px;
        height: 576px;
    }
</style>


<script src="js/aframevr/dist/aframe-master.js"></script>

<a-scene class="ascene" debug="" embedded style="margin: auto">
    <a-assets>
      <a-asset-item id="crate-obj" src="https://cdn.aframe.io/wikipedia/model.obj"></a-asset-item>
      <a-asset-item id="crate-mtl" src="https://cdn.aframe.io/wikipedia/model.mtl"></a-asset-item>
    </a-assets>
    <a-entity id="sky" geometry="primitive: sphere; radius: 2000;"
              material="shader: sky; sunPosition: 10 18 0;side: back"></a-entity>
    <a-entity scale="0.025 0.025 0.025" position="0 0 0" obj-model="obj: #crate-obj; mtl: #crate-mtl"></a-entity>
    <a-entity geometry="primitive: plane; width: 1000; height: 1000"
              rotation="-90 0 0" material="color: gray"></a-entity>
     <a-entity position="-30 1.8 100" rotation="50 -25 0" look-controls camera></a-entity>
</a-scene>





<div id="scene3d"></div>


		{$webgl}


		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->

{include file="phoenix/system/_footer.html"}
