{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">

		<div id="info">
			<a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> -
			<a href="https://github.com/KhronosGroup/glTF" target="_blank" rel="noopener">glTF</a> 2.0 loader<br />
			<div id="description"></div>
		</div>

		<div id="container"></div>

		{$javascript}


		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->

{include file="phoenix/system/_footer.html"}
