{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<section class="mainContent clearfix" itemscope itemtype="https://schema.org/Product">
	<div class="container">
		<div class="row">
		
		{if !empty($product_info.products_image)}
			<div class="col-lg-7">
			{if !empty($product_gallery)}
				<!-- Product gallery-->
				<div class="product-gallery">
					<ul class="product-thumbnails">
						{foreach $product_gallery as $data}
							<li {if $data@first}class="active"{/if}><a href="{$image_link}#{$data@iteration|number_to_word}" aria-controls="{$data@iteration|number_to_word}">{product_gallery_image dir=small src=$data.image alt=$product_info.products_name}</a></li>
						{/foreach}				
					</ul>
					<div class="product-carousel owl-carousel">
						{foreach $product_gallery as $data}
							<a href="{product_image_link dir=large src=$data.image}" data-fancybox="prod-gallery" data-hash="{$data@iteration|number_to_word}">{product_gallery_image dir=large src=$data.image alt=$product_info.products_name}</a>
						{/foreach}
					</div>
				</div>			
			{else}
				<!-- IMAGE -->
				<div class="product-gallery">
					<div class="product-carousel owl-carousel">
						<a href="{product_image_link dir=large src=$product_info.products_image}" data-fancybox="prod-gallery" data-hash="one">{product_image dir=large loading=eager src=$product_info.products_image alt=$product_info.products_name}</a>
					</div>
				</div>
				<!-- /IMAGE -->	
			{/if}
			
			</div>
		{/if}
			
			<div class="col-12 col-lg-5">
				<div class="product_details_desc">
					{if $oEvent->installed_plugin('manufacturers')}
						{if !empty($manufacturers_info.manufacturers_name)}
						<div class="manufacturer" itemprop="manufacturer" itemscope itemtype="https://schema.org/Organization">
							<span itemprop="brand" itemscope itemtype="https://schema.org/Brand">
								<meta itemprop="name" content="{$manufacturers_info.manufacturers_name}">
							</span>
							<h2>
								<a href="{html_href_link content=$filename.shop manufacturers_id=$manufacturers_info.manufacturers_id}">
									{$manufacturers_info.manufacturers_name}	
								</a>
							</h2>
						</div>
						{/if}						
					{/if}
					
						<div class="product-name" itemprop="name">					
							<h1>{$product_info.products_name}</h1>
						</div>

					{if $product_info.products_product_quantity}
						<div class="quantity">
							<span itemprop="weight" itemscope itemtype="https://schema.org/QuantitativeValue">
								<meta itemprop="value" content="{$product_info.products_product_quantity}"/>
								<meta itemprop="unitText" content="{$products_units[$product_info.products_units_id].0|strtoupper}"/>
							</span>
						</div>							
					{/if}

                        <div class="product-model">
							<p><span id="item_model" itemprop="model">{$product_info.products_model}</span></p>
						</div>


					{if $product_info.products_status eq 3}
						<form name="cart_quantity" action="{html_get_link}" method="POST" enctype="multipart/form-data">
							<input type="hidden" name="action" value="add_product">
							<input type="hidden" name="content" value="{$page_file}">
						{if $smarty.get.edit}
							<input type="hidden" name="edit_product" value="{$smarty.get.products_id|escape}">
						{/if}
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}
							<input type="hidden" name="products_id" value="{$product_info.products_id}">
					{/if}
					
					{if $product_info.products_used_goods eq 1}			
						<div class="product-short-description mb-15">
							<span class="badge badge-danger"> {$lang.text_b_ware} </span> {$product_info.products_used_goods_description}
						</div>
						<div class="custom-control custom-checkbox mb-20">
							<input class="custom-control-input" type="checkbox" name="used_goods" id="ex-check-1">
							<label class="custom-control-label" for="ex-check-1">{$lang.text_b_ware_agree}</label>
						</div>												
					{/if}

					{if !empty($product_info.products_short_description)}
						<div class="product-short-description mb-15">			
							{$product_info.products_short_description}
						</div>
					{/if}
				
{if $myUser.show_price eq 1}

	{if (!empty($info_product_special_price))}
		<span class="price-desc">{$info_product_only_until}</span><br>
	
		{if $cross_out_price > 0}
			<span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$cross_out_price}</span></span><br>
		{/if}
		<span class="price-offer">{$info_product_special_price}</span><br>
	{else}
		{if $price_discount}
			{$lang.price_from} {$price_discount}<br>
		{else}
			<div id="item_price">
				<h4 class="price">{$info_product_price}</h4>
				<span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
					<meta itemprop="price" content="{$schema_product_price}"/>
					<meta itemprop="priceCurrency" content="{$currency}"/>
					<meta itemprop="itemCondition" content="https://schema.org/NewCondition"/>
				</span>
			</div>
		{/if}
	{/if}


	{if $product_info.products_base_price != 1}
		<span class="units-desc">{$lang.text_content} {$product_info.products_product_quantity|cut_number}&nbsp;{$products_units[$product_info.products_units_id].0}</span><br>
		<span class="base_price">{$lang.text_base_price} {$products_units[$product_info.products_units_id].1} = {$info_base_product_price}</span>
	{/if}

	<p><small>{$tax_plus_shipping}</small></p>  
	{if $info_product_price_list > 0}
		<p>{$lang.price_rrp} <span class="line-through">{$info_product_price_list}</span></p>
	{/if}
	
	{if $show_minimum_order_value  eq 1}
		<p><small>{$info_minimum_order_value}</small></p>
	{/if}
{else}
	<a href="{html_href_link content=$filename.login}" class="btn btn-primary-filled" role="button">{$lang.button_login}</a>
{/if}

                        <div class="short_overview">
						{if $smarty.const.PRODUCT_LIST_MODEL > 0}
							<p>{$product_info.products_model}</p>
						{/if}
						</div>
						

	
					{if $product_info.products_status eq 3}

						{if $selector_array}
							<div class="clearfix mb-5">
								<h6 class="font-weight-medium">
										{$lang.text_configurator}
								</h6>

								{foreach $selector_array as $i}	
								<!-- item -->
								<div class="form-group row">
									<label class="col-sm-10 form-radio form-radio-primary">												
												<input type="radio" name="{$i.name}" value="{$i.value}" 
													data-option-value="{$i.options_values_price}" 
													data-option-base="{$i.option_base}" 
													data-change-src="{$i.image}" 
													data-change-model="{$i.change_model}" 
													{if $i.status == 0}disabled {else}{$i.checked}{/if}>
												<i></i> {if $i.status == 0}<del>{$i.products_options_values_name}</del> <span class="font-weight-light">(out of stock)</span>{else}{$i.products_options_values_name}{/if}
											</label>
									<label class="col-sm-2 col-form-label">{$i.options_values_price}</label>											
								</div>				
								{/foreach}	

							</div>
						{/if}

	
                        <div class="widget color mb-15">
                            <div class="widget-desc d-flex">
								{$options}
                            </div>
                        </div>

						<!-- Add to Cart Form -->
						<div class="cart clearfix mb-15 d-flex align-items-center">
						{if $myUser.show_price eq 1}
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="{$product_info.products_quantity_order_units|quantity}" min="{$product_info.products_quantity_order_min|quantity}" max="{$product_info.products_quantity_order_max|quantity}" name="cart_quantity" value="{$product_info.products_quantity_order_min}">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
						{/if}
                            <button type="submit" class="btn btn-primary ml-2"><i class="fa fa-shopping-basket" aria-hidden="true"></i> {$lang.button_in_cart}</button>
						</div>
							{if $product_info.products_quantity_order_min > 1}
								<p>{$lang.products_order_qty_min_text} {$product_info.products_quantity_order_min|quantity}</p>
							{/if}
							{if $product_info.products_quantity_order_units > 1}
								<p>{$lang.products_order_qty_unit_text} {$product_info.products_quantity_order_units|quantity}</p>
							{/if}							

							<div class="stock-status available mb-15 d-flex">
								<link itemprop="availability" href="https://schema.org/InStock"/>               
								<span class="stock-label text-success"><i class="fa fa-check"></i> {$lang.in_stock}</span>
							</div>					
						
						
							<div class="mb-15 d-flex">
								<button type="submit" name="add_wishlist" value="1" class="btn-link"><i class="fa fa-heart" aria-hidden="true"></i> {$lang.button_add_wishlist}</button>
							</div>
						</form>
					{elseif $product_info.products_status eq 4}
						<div class="clearfix mb-30">
							<span class="text-danger"><i class="fa fa-remove"></i> {$lang.text_no_longer_available}
							{if (!empty($product_info.products_replacement_product_id))}
							<a class="text-danger" href="{product_link products_id=$products_replacement_product_id}"><i class="fa fa-paper-plane"></i> {$lang.text_replacement_product}</a>
							{/if}
							</span>
						</div>			
					{else}
						<div class="clearfix mb-30">
							<span class="text-danger"><i class="fa fa-remove"></i> {$lang.out_of_stock}</span>
						</div>					
					{/if}




					{if $oEvent->installed_plugin('reviews')}				
						<!-- rating -->
						<div class="product_details_ratings mb-15">

							<h5>{$reviews_information.information_heading_title}</h5>
						
							{$reviews_information.information_description}
						
						{if (!isset($smarty.session.customer_id)) }
							<p>{$reviews_write_link|string_format:$lang.text_product_review_login}</p>
						{/if}
	
						{if $reviews_total gt 0}
							<span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
								<meta itemprop="ratingCount" content="{$reviews_total}" />
								<meta itemprop="ratingValue" content="{$average_rating}" />
							</span>						
						
							<div class="rating rating-{$average_rating|round:0} fs-13"><!-- rating-0 ... rating-5 --></div> ({$reviews_total})
							<a href="{html_href_link content=$filename.product_reviews products_id=$product_info.products_id}" class="btn btn-primary-filled" role="button">
								<i class="fa fa-commenting"  aria-hidden="true"></i> {$lang.button_reviews}
							</a>
						{else}						
							<a href="{html_href_link content=$filename.product_reviews_write products_id=$product_info.products_id}" class="btn btn-secondary-filled" role="button">
								<i class="fa fa-pencil" aria-hidden="true"></i> {$lang.button_write_first_review}
							</a>
						{/if}

	
						</div>
						<!-- /rating -->
					{/if}

											
				</div>
			</div>
				
	
		<div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_details_desc clearfix">
					
					{if $chart}		
						<div class="relative mb-3">
							{$chart}	
						</div>
					{/if}	
					
					
						<div class="description_area">
							{$product_info.products_description} 							
						</div>
					</div>
                </div>
            </div>
		{if !empty($product_info.products_old_electrical_equipment_description)}
	        <div class="row">
                <div class="col-12">
                    <div class="product_details_desc clearfix">
                        <div class="description_area">
							{$product_info.products_old_electrical_equipment_description} 							
						</div>
					</div>
                </div>
            </div>		
		{/if}	
        </div>							


	{if $products_models_array}
		<div class="container">
            <div class="row">
                <div class="col-12">
				
				{foreach $products_models_array as $model}					
					<div class="product_details_desc clearfix">


						<h2>{$model.name}</h2>
						<div class="ratio ratio-16x9">
							<iframe  class="embed-responsive-item" src="{html_href_link content=$filename.product_info_webgl_gltf models_id=$model.models_id products_id=$product_info.products_id}" allowfullscreen="allowfullscreen"></iframe>			
						</div>
						
						
						<div class="description_area">
							{$lang.navigation_help}
						</div>

					</div>
				{/foreach}

						
				</div>
			</div>
		</div>
	{/if}



	{if $model_viewer_array}
		<div class="container">
			<div class="row">
				<div class="col-12">

				{foreach $model_viewer_array as $ar}
{literal}				
	<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "3DModel",
"image": "{/literal}{$smarty.const.OOS_SHOP_IMAGES}product/large/{$product_info.products_image}{literal}",
"name": "'{/literal}{$product_info.products_name}{literal} 3D Model",
"encoding": [{"@type":"MediaObject","contentUrl":"{/literal}{$oos_base}media/models/gltf/{$ar.url_glb}{literal}","encodingFormat":"model/gltf+json"},{"@type":"MediaObject","contentUrl":"{/literal}{$oos_base}media/models/{$ar.model_viewer_usdz}{literal}","encodingFormat":"model/vnd.usdz+zip"}]
}
</script>
{/literal}	
					
						<div class="ratio ratio-4x3" style="background-color:{$ar.model_viewer_background_color|default:'#222'};">	
							<model-viewer class="embed-responsive-item" src="./media/models/gltf/{$ar.url_glb}" ar ar-modes="webxr scene-viewer quick-look" camera-controls alt="{$ar.model_viewer_title}" ar-scale="{$ar.model_viewer_scale|default:'auto'}" {if ($ar.model_viewer_hdr ne 'none')} skybox-src="./media/textures/equirectangular/{$ar.model_viewer_hdr}" {/if} {if ($ar.model_viewer_auto_rotate eq 'true')} auto-rotate {/if} xr-environment></model-viewer>		
						</div>						
						
						<div class="description_area">
							{$ar.model_viewer_description}
						</div>					
					{/foreach}

				<!-- Loads <model-viewer> only on modern browsers: -->
				<script type="module" 
					src="js/model-viewer/dist/model-viewer.min.js">
				</script>
		
				
				{if $qrcode}		
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="product_details_desc clearfix">

									<h2>{$lang.text_test_it}</h2>
	
									<div class="relative mb-3">
										<img class="img-fluid " src="images/qrcode/{$qrcode}" alt="{$product_info.products_name}"  />
									</div>
								</div>
							</div>
						</div>
					</div>	
				{/if}
				
				</div>
			</div>
		</div>		
	{/if}

	{if $video_array}
		<div class="container">
			<div class="row">
				<div class="col-12">

				{foreach $video_array as $video}
				
					<h2>{$video.video_title}</h2>

<video
    id="my-player"
    class="ratio video-js"
    controls
    preload="{$video.video_preload}"
    poster="{$video.video_poster}"
	allowfullscreen
	autoplay loop muted playsinline
    data-setup='{}'>
	
	{if $video.video_mp4}<source src="{$video.video_mp4}" type="video/mp4"></source>{/if}
	{if $video.video_webm}<source src="{$video.video_webm}" type="video/webm"></source>{/if}
	{if $video.video_ogv}<source src="{$video.video_ogv}" type="video/ogg"></source>{/if}
  <p class="vjs-no-js">
    {$lang.text_nojs_help}
  </p>
</video>


						{if $video.video_description}		
							<div class="product_details_desc clearfix">
								{$video.video_description}	
							</div>
						{/if}


					{/foreach}

				</div>
			</div>
		</div>	
	{/if}

		<div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_details_desc clearfix">


							{if $cart_count_contents gt 0}
								{if $smarty.get.con eq '1'}
									<a href="{html_href_link content=$filename.checkout_confirmation}" class="btn btn-primary-filled" role="button">{$lang.button_back}</a> 
								{/if}
							{/if}

							{if !empty($product_info.products_url)}
								<p>{$redirect|string_format:$lang.text_more_information}</p>
							{/if}								

							{if ($product_info.products_date_available > $today)}
								<p class="text-danger">{$product_info.products_date_available|oos_date_long|string_format:$lang.text_date_available}</p>
							{else}
								{if $smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true'}
									<p>{$product_info.products_date_added|oos_date_long|string_format:$lang.text_date_added}</p>  

									{if !empty($product_info.products_last_modified)}
										<p>{$lang.text_date_last_update} <time datetime="{$product_info.products_last_modified|oos_date_short_schema}">{$product_info.products_last_modified|oos_date_short}</time></p>
									{/if}	
								{/if}		
							{/if}
                    </div>
                </div>
            </div>
        </div>




	{if $notifications_block}
		<div class="container mt-50">
			<div class="mb-5">
				<span class="d-block g-color-gray-light-v1 fs-70 mb-4">
					<i class="fa fa-pencil-square" aria-hidden="true"></i>
				</span>
				<h2 class="mb-20">{$lang.text_product_notifications}</h2>
				<p>{$lang.text_product_notifications_introduction}</p>
			</div>
		{if $notification_exists}
			<a class="btn btn-primary fs-12 m-py-12 m-px-25" href="{html_href_link content=$page_file oos_get=$get_params action=notify_remove}" role="button">{$products_name|string_format:$lang.block_notifications_notify_remove}</a>
		{else}
			<a class="btn btn-primary fs-12 m-py-12 m-px-25" href="{html_href_link content=$page_file oos_get=$get_params action=notify}" role="button">{$products_name|string_format:$lang.block_notifications_notify}</a>
		{/if}
		</div>	
	{/if}
	
		<div class="container">
            <div class="row">

{$slavery_products}

{$xsell_products}

{$up_sell_products}

{$also_purchased_products}


				</div>
			</div>
		</div>
	</div>
</section>

{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}


{if $webgl}
	{$webgl}
{/if}


{include file="phoenix/system/_footer.html"}