{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix">
					<div class="row">
						<!-- image -->
						<div class="media flex-wrap">
							<div class="thumbnail relative mb-3">
								<a href="{product_link products_id=$reviews.products_id}">
									{medium_product_image image=$reviews.products_image alt=$reviews.products_name|strip_tags}
								</a>
							</div>
						</div>
						<!-- /image -->

						<!-- reviews -->
						<div class="media-body">
							<h2><a href="{product_link products_id=$reviews.products_id}">{$reviews.products_name}</a></h2>

							<div class="clearfix m-mt-30">
							{if $reviews.verified eq 1 }
								<span class="float-right text-success"><i class="fa fa-check"></i> {$lang.text_verified_purchase}</span>
							{/if}
								<strong>{$lang.sub_title_from}</strong> {$reviews.customers_name}
							</div>

							<strong>{$lang.sub_title_date}</strong> {$reviews.date_added|oos_date_long}
							
							<hr />	

							<p><div class="rating rating-{$reviews.reviews_rating} fs-13 fw-100"><!-- rating-0 ... rating-5 --></div></p>						
							
							<p><strong>{$lang.sub_title_review}</strong></p>

							<h3>{$reviews.reviews_headline}</h3>
							
							<p>{$reviews.reviews_text|strip_tags|wordwrap:60:"<br>\n"}</p>
							
							<hr />
						</div>		
					</div>
	
					<div class="well well-lg clearfix">
						<ul class="pager">
							<li class="previous float-left"><a class="btn btn-secondary btn-default float-left" href="{html_href_link content=$filename.product_reviews products_id=$reviews.products_id}" role="button"><i class="fa fa-angle-left" aria-hidden="true"></i> {$lang.button_back}</a></li>
							<li class="next">
							{if $myUser.show_price eq 1 }						
								<a class="btn btn-primary btn-default float-right" href="{html_href_link content=$filename.home action=buy_now products_id=$reviews.products_id}" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {$lang.button_in_cart}</a>
							{else}
								<a class="btn btn-primary btn-default float-right" href="{html_href_link content=$filename.login}" role="button"><i class="fa fa-sign-in" aria-hidden="true"></i> {$lang.button_login}</a>
							{/if}	
							</li>
						</ul>
					</div>	

				</div>
			</div>
		</div>
	</div>
</section>	


{include file="phoenix/system/_footer.html"}