{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<!-- start content -->
<section class="mainContent clearfix productsContent">
	<div class="container">  
		<div class="row">

			<!-- left column -->
			<div class="col-lg-9 col-md-9 col-sm-9">
	
				<div class="clearfix shop-list-options mb-20">
					<!-- pagination -->
					<div class="m-0 float-right">
						{$pagination}
					</div>
					<!-- end pagination -->
				</div>


				<div class="product-list row  m-0">
				{section name=i loop=$products_new}
					<!-- item -->
					<div class="col-lg-12">

						<div class="product clearfix">

							<div class="thumbnail">
								<!-- product image -->
								<a class="product-image" href="{product_link products_id=$products_new[i].id}">
									{product_image dir=medium src=$products_new[i].image alt=$products_new[i].name}
								</a>
								<!-- end product image -->
							</div>

										
							<div class="product-summary">
								<h2><a href="{product_link products_id=$products_new[i].id}">{$products_new[i].name}</a></h2>
							{if ($smarty.const.SHOW_DATE_ADDED_AVAILABLE eq 'true')}
								<p>
									{$lang.text_date_added}{$products_new[i].date_added|oos_date_short}
								</p>
							{/if}
							
							{if $oEvent->installed_plugin('manufacturers')}
								{if !empty($products_new[i].manufacturer)}
								<p>
									{$lang.text_manufacturer} <a href="{html_href_link content=$filename.shop manufacturers_id=$products_new[i].manufacturers_id}">
										{$products_new[i].manufacturer}
									</a>
								</p>
								{/if}
							{/if}
								
								<!-- product short description -->
								<div class="clearfix">			
									{$products_new[i].products_short_description}
								</div>
								<!-- end product short description -->

								{if $myUser.show_price eq 1 }
								<!-- price -->
								<div class="product-price">
									{if (!empty($products_new[i].new_product_special_price))}
										<span class="price-desc">{$products_new[i].listing_until}</span><br>
										<span class="price-offer">{$products_new[i].new_product_special_price}</span>									

										{if $products_new[i].products_new_cross_out_price > 0}						
											<span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$products_new[i].products_new_cross_out_price}</span></span>
										{/if}	
									{elseif $products_new[i].new_product_price_list ne 0}
										<span class="price-old">{$lang.price_rrp} <span class="line-through">{$products_new[i].new_product_price_list}</span></span><br>
										{$products_new[i].new_product_price}																		
									{else}
										{if $products_new[i].new_product_discount_price}
											 <span class="discount_price">{$lang.text_price} {$products_new[i].new_product_discount_price}</span>
										{else}
											{$products_new[i].new_product_price}
										{/if}
									{/if}

									{if $products_new[i].products_base_price != 1}
										<br>
										<span class="units-desc">{$products_new[i].new_product_quantity|cut_number}&nbsp;{$products_units[$products_new[i].new_product_units].0}</span>
										<span class="base_price">({$products_units[$products_new[i].new_product_units].1} = {$products_new[i].products_new_base_product_price})</span>
									{/if}	
								<!-- end price -->							
								</div>
								{/if}


							{if $myUser.show_price eq 1 }
								<!-- buttons -->
								<div class="product-buttons">
									<a class="btn btn-primary" href="{html_href_link content=$filename.products_new action=buy_now page=$page products_id=$products_new[i].id}" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i> {$lang.button_in_cart}</a>
									<a class="btn btn-primary add-wishlist" href="{html_href_link content=$filename.products_new action=add_wishlist products_id=$products_new[i].id page=$page}" role="button"><i class="fa fa-heart" aria-hidden="true"></i> {$lang.button_add_wishlist}</a>
								</div>
								<!-- end buttons -->
							{/if}
							</div>

						</div>
					</div>
					<!-- end item -->
				{/section}
				</div>
				
				<span class="pangv mt-30">{$pangv} {$info_minimum_order_value}</span>
				<hr />

				<!-- pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- end pagination -->
		
			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3 col-sm-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
					{$panel.content}
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->


{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}