{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="innerWrapper clearfix">

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{$lang.text_information}</td>
          </tr>
          <tr>
            <td class="main">{$message}</td>
          </tr>
          <tr>
            <td align="right"><a href="{html_href_link content=$filename.home}" class="btn btn-primary-filled" role="button">{$lang.button_continue}<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></td>
          </tr>
        </table></td>
      </tr>
    </table>

				</div>
			</div>
		</div>
	</div>
</section>
	
{include file="phoenix/system/_footer.html"}