{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<section class="mainContent clearfix">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="innerWrapper clearfix">

				<div class="clearfix shop-list-options mb-20">
					<!-- pagination -->
					<div class="m-0 float-right">
						{$pagination}
					</div>
					<!-- end pagination -->
				</div>

				<div class="clearfix shop-list-options mb-20">
					<h5>{$reviews_information.information_heading_title}</h5>
						
					{$reviews_information.information_description}
				</div>

				{section name=i loop=$reviews}
					{if $smarty.section.i.first}
						<ul class="product-list row list-inline m-0">
					{/if}
							<!-- item -->
							<li class="col-lg-12">

								<div class="product clearfix">

									<div class="thumbnail">
										<!-- product image -->
										<a class="product-image" href="{product_link products_id=$reviews[i].products_id}">
											{product_image dir=small src=$reviews[i].products_image alt=$reviews[i].products_name}
										</a>
										<!-- /product image -->
{*
  todo	
										<div class="product-info">
											<span class="badge badge-success">NEW</span>
											<span class="badge badge-danger">SALE</span>
										</div>
*}
									</div>
										
									<div class="product-summary">
										<h2><a href="{product_link products_id=$reviews[i].products_id}">{$reviews[i].products_name}</a></h2>
											
										<!-- rating -->
										<div class="rating rating-{$reviews[i].rating} fs-13"><!-- rating-0 ... rating-5 --></div>
										<!-- /rating -->

										<h3>{$reviews[i].reviews_headline}</h3>
										
										<p>
											{$reviews[i].authors_name|string_format:$lang.text_review_by}&nbsp;({$reviews[i].word_count|string_format:$lang.text_review_word_count})
										</p>

										<p>
											{$lang.text_review_date_added} {$reviews[i].date_added|oos_date_long}
										</p>

										<p>
											{$reviews[i].review}
										</p>

										<!-- buttons -->
										<div class="product-buttons">
											<a class="btn btn-default add-wishlist" href="{html_href_link content=$filename.reviews action=add_wishlist products_id=$reviews[i].products_id page=$page}" role="button"><i class="fa fa-heart p-0" aria-hidden="true"></i></a>
											<a class="btn btn-default" href="{html_href_link content=$filename.product_reviews_info products_id=$reviews[i].products_id reviews_id=$reviews[i].reviews_id}" role="button">{$lang.button_continue} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
										</div>
										<!-- /buttons -->
									</div>

								</div>

							</li>
							<!-- /item -->
					{if $smarty.section.i.last}
						</ul>
					{/if}

				{sectionelse}
					<div class="alert alert-info" role="alert">
						{$lang.text_no_reviews}
					</div>
				{/section}
				
		
				<hr />

				<!-- pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- end pagination -->

				</div>
		
			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3 col-sm-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
					{$panel.content}
				{/if}
			{/foreach}
			</div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->

	
{include file="phoenix/system/_footer.html"}