{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix cartListWrapper">
	<div class="container">
	
	{if $cart_count_contents gt 0 }	
		<div class="row">
			<div class="col-12">

				{if !empty($smarty.session.error_cart_msg)}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>			
						<h4></h4>
						<p>{$smarty.session.error_cart_msg}</p>
					</div>
				{/if}
				
				<div class="cartListInner">


					
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>{$lang.table_heading_remove}</th>
									<th></th>							
								{if $smarty.const.PRODUCT_LIST_MODEL > 0}	  
									<th>{$lang.table_heading_model}</th>
								{/if}
									<th>{$lang.table_heading_products}</th>
									<th>{$lang.table_heading_price}</th>
									<th>{$lang.table_heading_quantity}</th>
									<th>{$lang.table_heading_total} </th>
								</tr>
							</thead>
							<tbody>
						{foreach item=product from=$products}					
								<tr>
								    <td class=""><input type="checkbox" class="form-check-input" name="cart_delete[]" value="{$product.id}">
									<td class="">
										<span class="cartImage"><a href="{product_link products_id=$product.id}">{product_image dir=small image=$product.image alt=$product.name}</a></span>
									</td>
									{if $smarty.const.PRODUCT_LIST_MODEL > 0}	  
										<td class=""><a href="{product_link products_id=$product.id}">{$product.model}</a></td>
									{/if}

									<td class="">
										<div class="d-inline-block align-middle">
											<h4 class="">
												<a href="{product_link products_id=$product.id}">{$product.name}</a>
											{if $smarty.const.STOCK_CHECK eq 'true'}
												{if $product.stock - $product.quantity < 0}
													<span class="text-warning m-0"> {$smarty.const.STOCK_MARK_PRODUCT_OUT_OF_STOCK}</span>
												{/if}
											{/if}
											</h4>
							
<!-- 																    
    if (isset($products[$i]['attributes']) && is_array($products[$i]['attributes'])) {
		reset($products[$i]['attributes']);
		<ul class="list-unstyled mb-0">
			foreach($products[$i]['attributes'] as $option => $value) {		  
				'<li> - ' . $products[$i][$option]['products_options_name'] . ' ' . $products[$i][$option]['products_options_values_name'] . '</li>';
			}
	  </ul>
    }
 -->													
										</div>
									</td>
									<td class="">{display_price price=$product.final_price tax_class_id=$product.tax_class_id}</td>
									<td class="count-input">		
										<div class="quantity">
											<span class="incr-btn" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
											<input type="number" class="quantity" id="qty" step="{$product_info.products_quantity_order_units|quantity}" min="{$product_info.products_quantity_order_min|quantity}" max="{$product_info.products_quantity_order_max|quantity}" name="cart_quantity[]" value="{$product.quantity}">
											<span class="incr-btn" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
										</div>											
									</td>
									<td align="right" class="">{display_price price=$product.final_price tax_class_id=$product.tax_class_id quantity=$product.quantity}</td>
								</tr>
						{/foreach}

							</tbody>
						</table>				
					</div>
				  
					{if $any_out_of_stock eq 1 }
						<div class="infoStockArea">
						{if $smarty.const.STOCK_ALLOW_CHECKOUT eq 'true'}
							<div class="alert alert-danger" role="alert">
								{$lang.out_of_stock_can_checkout}
							</div>
						{else}
							<div class="alert alert-danger" role="alert">
								{$lang.out_of_stock_cant_checkout}
							</div>
						{/if}
						</div>
					{/if}	

					

						<div class="row totalAmountArea">
							<div class="col-sm-4 ml-sm-auto">
								<ul class="list-unstyled">
								<!-- 
									<li>{$lang.sub_title_sub_total} <span>0.00 €</span></li>
									<li>{$lang.shipping_cost} <span>0.00 €</span></li>
									<li>{$lang.tax} <span>0.00 €</span></li>
								 -->		
									<li>{$lang.total} <span class="grandTotal">{$cart_show_total}</span></li>
								</ul>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		
		<!-- CART -->
		<div class="container pb-5 mt-n2 mt-md-n3">
			<div class="row">
				<div class="col-xl-9 col-md-8">
					<h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary"><span>{$lang.heading_products}</span><a class="font-size-sm" href="{html_href_link content=$filename.home}"><i data-feather="chevron-left" style="width: 1rem; height: 1rem;"></i>{$lang.button_continue_shopping}</a></h2>

					<form name="cart_quantity" action="{html_href_link content=$filename.shopping_cart action=update_product}" method="POST">
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}		
						{$hidden_field}


						<!-- cart content -->
							<div id="cartContent">
							<!-- cart header -->
							<div class="item head clearfix">
								<span class="cart_img"></span>
								<span class="product_name fs-13 bold">{$lang.table_heading_products}</span>
								<span class="remove_item fs-13 bold"></span>
								<span class="total_price fs-13 bold">{$lang.table_heading_total}</span>
								<span class="qty fs-13 bold">{$lang.table_heading_quantity}</span>
							</div>
							<!-- /cart header -->

							{foreach item=product from=$products}

									<!-- cart item -->
									<div class="item">
										<div class="cart_img float-left fw-100 p-10 text-left"><a class="cart-item-thumb mx-auto mr-sm-4" href="{product_link products_id=$product.id}">{product_image dir=small image=$product.image alt=$product.name}</a></div>
										<a href="{product_link products_id=$product.id}">{$product.name}</a>
											{if $smarty.const.STOCK_CHECK eq 'true'}
												{if $product.stock - $product.quantity < 0}
													<span class="text-warning m-0"> {$smarty.const.STOCK_MARK_PRODUCT_OUT_OF_STOCK}</span>
												{/if}
											{/if}
										</a>
										<a href="#" class="remove_item"><i class="fa fa-times"></i></a>
										<div class="total_price">{display_price price=$product.final_price tax_class_id=$product.tax_class_id quantity=$product.quantity}</div>
										<div class="qty"><input type="number" value="1" name="qty" maxlength="3" max="999" min="1" /> &times; {display_price price=$product.final_price tax_class_id=$product.tax_class_id}</div>
										<div class="clearfix"></div>
									</div>
									<!-- /cart item -->

							{/foreach}
									<button class="btn btn-success mt-20 mr-10 float-right"><i class="fa fa-remove"></i> CLEAR CART</button>
									<button class="btn btn-primary mt-20 mr-10 float-right" type="submit"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_update_cart}</button>

									<div class="clearfix"></div>
								</div>
								<!-- /cart content -->

					</form>

				</div>

				<!-- RIGHT -->
				<div class="col-xl-3 col-md-4 pt-3 pt-md-0">
					<h2 class="h6 px-4 py-3 bg-secondary text-center">{$lang.total}</h2>
					<hr>
					
										
										<span class="clearfix">
											<span class="float-right">$120.75</span>
											<strong class="float-left">{$lang.sub_title_sub_total}</strong>
										</span>
										<span class="clearfix">
											<span class="float-right">$0.00</span>
											<span class="float-left">Discount:</span>
										</span>
										<span class="clearfix">
											<span class="float-right">$0.00</span>
											<span class="float-left">{$lang.shipping_cost}</span>
										</span>

										<hr />

										<span class="clearfix">
											<span class="float-right fs-20">{$cart_show_total}</span>
											<strong class="float-left">{$lang.total}</strong>
										</span>

										<hr />

										
					<h3 class="h6 pt-4 font-weight-semibold"><span class="badge badge-success mr-2">Note</span>Additional comments</h3>
					<textarea class="form-control mb-3" id="order-comments" rows="5"></textarea>
		  
					{if $myUser.show_price eq 1 }
						<a href="{html_href_link content=$filename.checkout_shipping}" class="btn btn-danger btn-default btn-block" role="button"><i class="fa fa-mail-forward" aria-hidden="true"></i> {$lang.button_checkout}</a>
					{/if}		  

					<div class="pt-4">
						<div class="accordion" id="cart-accordion">
							<div class="card">
								<div class="card-header">
									<h3 class="accordion-heading font-weight-semibold"><a href="#promocode" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="promocode">{$lang.button_apply_coupon}<span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
								</div>
								<div class="collapse show" id="promocode" data-parent="#cart-accordion">
									<div class="card-body">
									<form class="needs-validation" novalidate>
										<div class="form-group">
											<input class="form-control" type="text" id="cart-promocode" placeholder="{$lang.text_apply_coupon}" required>
												<div class="invalid-feedback">{$lang.text_invalid_feedback}</div>
										</div>
										<button class="btn btn-outline-primary btn-block" type="submit">{$lang.button_apply_coupon}</button>
									</form>
									</div>
								</div>
							</div>
							
							<div class="card">
								<div class="card-header">
									<h3 class="accordion-heading font-weight-semibold"><a class="collapsed" href="#shipping" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="shipping">Shipping estimates<span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
								</div>
								<div class="collapse" id="shipping" data-parent="#cart-accordion">
									<div class="card-body">
									<form class="needs-validation" novalidate>
										<div class="form-group">
											<select class="form-control custom-select" required>
												<option value="">Choose your country</option>
												<option value="Australia">Australia</option>
												<option value="Belgium">Belgium</option>
												<option value="Canada">Canada</option>
												<option value="Finland">Finland</option>
												<option value="Mexico">Mexico</option>
												<option value="New Zealand">New Zealand</option>
												<option value="Switzerland">Switzerland</option>
												<option value="United States">United States</option>
											</select>
												<div class="invalid-feedback">Please choose your country!</div>
										</div>
										<div class="form-group">
											<select class="form-control custom-select" required>
												<option value="">Choose your city</option>
												<option value="Bern">Bern</option>
												<option value="Brussels">Brussels</option>
												<option value="Canberra">Canberra</option>
												<option value="Helsinki">Helsinki</option>
												<option value="Mexico City">Mexico City</option>
												<option value="Ottawa">Ottawa</option>
												<option value="Washington D.C.">Washington D.C.</option>
												<option value="Wellington">Wellington</option>
											</select>
												<div class="invalid-feedback">Please choose your city!</div>
										</div>
										<div class="form-group">
											<input class="form-control" type="text" placeholder="ZIP / Postal code" required>
											<div class="invalid-feedback">Please provide a valid zip!</div>
										</div>
										<button class="btn btn-outline-primary btn-block" type="submit">Calculate shipping</button>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /RIGHT -->
			</div>
		</div>
		<!-- /CART -->
							
		<div class="row">
			<div class="col-md-12">
				<span class="pangv mt-30">{$pangv}</span>
			</div>
		</div>				
	{else}
			
		<div class="row">
			<div class="col-12">		
				<div class="container text-center m-py-60">
					<div class="mb-5">
						<span class="d-block g-color-gray-light-v1 fs-70 mb-4">
							<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						</span>
						<h2 class="mb-30">{$lang.text_cart_empty}</h2>
						<p>{$lang.text_cart_empty_help}</p>
					</div>
					<a class="btn btn-primary fs-12 text-uppercase m-py-12 m-px-25" href="{html_href_link content=$filename.home}" role="button">{$lang.button_start_shopping}</a>
				</div>
			</div>
		</div>				
	{/if}			  

	</div>
</section>
<!-- end content -->

{include file="phoenix/system/_footer.html"}