{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

	<!-- start content -->
	<section id="content">
	<div class="container">  
		<div class="row">

			<!-- left column -->
			<div class="col-lg-9 col-md-9 col-sm-9">
			
			{if $panorama_info}
				<div class="embed-responsive embed-responsive-16by9 mb-30">
					<iframe  class="embed-responsive-item" src="{html_href_link content=$filename.panorama panorama_id=$panorama_info.panorama_id}"  frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen="allowfullscreen"></iframe>			
				</div>
			{/if}
			
			
			{if !empty($category.categories_description) || !empty($category.categories_image) }
				<div class="row">
					<div class="category-info">
						<div class="image">
							{category_image dir=large image=$category.categories_image alt=$category.categories_name class=image}
						</div>
						<div class="description">
							{$category.categories_description}
						</div>
					</div>			
				</div>
			{/if}
				<div class="row categories">
				{foreach item=category from=$categories}
					<div class="col-md-4 col-sm-6">
						<div class="category">
							<div class="image">
								<a href="{html_href_link content=$filename.shop category=$category.path}">
									{category_image dir=medium image=$category.image alt=$category.name class=image}
								</a>
							</div><!-- .image -->
							<div class="text">
								<h3><a href="{html_href_link content=$filename.shop category=$category.path}">{$category.name}</a></h3> 
							</div>
						</div>
					</div><!-- .category -->
				{/foreach}				
				</div><!-- .categories -->

				{$new_products}
				
				<span class="pangv mt-30">{$pangv} {$info_minimum_order_value}</span>
				
			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3 col-sm-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
					{$panel.content}
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
	</section>
	<!-- end content -->
	
{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}	