{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix cartListWrapper">
	<div class="container">
	
	{if $cart_count_contents gt 0 }	
		<div class="row">
			<div class="col-12">

				{if !empty($smarty.session.error_cart_msg)}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>			
						<h4></h4>
						<p>{$smarty.session.error_cart_msg}</p>
					</div>
				{/if}
				
				<div class="cartListInner">

					<form name="cart_quantity" action="{html_href_link content=$filename.shopping_cart action=update_product}" method="POST">
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}		
					{$hidden_field}
					
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>{$lang.table_heading_remove}</th>
									<th></th>							
								{if $smarty.const.PRODUCT_LIST_MODEL > 0}	  
									<th>{$lang.table_heading_model}</th>
								{/if}
									<th>{$lang.table_heading_products}</th>
									<th>{$lang.table_heading_price}</th>
									<th>{$lang.table_heading_quantity}</th>
									<th>{$lang.table_heading_total} </th>
								</tr>
							</thead>
							<tbody>
						{foreach item=product from=$products}					
								<tr>
								    <td class=""><input type="checkbox" class="form-check-input" name="cart_delete[]" value="{$product.id}">
									<td class="">
										<span class="cartImage"><a href="{product_link products_id=$product.id}">{product_image dir=small image=$product.image alt=$product.name}</a></span>
									</td>
									{if $smarty.const.PRODUCT_LIST_MODEL > 0}	  
										<td class=""><a href="{product_link products_id=$product.id}">{$product.model}</a></td>
									{/if}

									<td class="">
										<div class="d-inline-block align-middle">
											<h4 class="">
												<a href="{product_link products_id=$product.id}">{$product.name}</a>
											{if $smarty.const.STOCK_CHECK eq 'true'}
												{if $product.stock - $product.quantity < 0}
													<span class="text-warning m-0"> {$smarty.const.STOCK_MARK_PRODUCT_OUT_OF_STOCK}</span>
												{/if}
											{/if}
											</h4>
							
<!-- 																    
    if (isset($products[$i]['attributes']) && is_array($products[$i]['attributes'])) {
		reset($products[$i]['attributes']);
		<ul class="list-unstyled mb-0">
			foreach($products[$i]['attributes'] as $option => $value) {		  
				'<li> - ' . $products[$i][$option]['products_options_name'] . ' ' . $products[$i][$option]['products_options_values_name'] . '</li>';
			}
	  </ul>
    }
 -->													
										</div>
									</td>
									<td class="">{display_price price=$product.final_price tax_class_id=$product.tax_class_id}</td>
									<td class="count-input">
											<a class="incr-btn" data-action="decrease" href="#"><i class="fa fa-minus"></i></a>
											<input class="quantity" type="text" name="cart_quantity[]" value="{$product.quantity}">
											<a class="incr-btn" data-action="increase" href="#"><i class="fa fa-plus"></i></a>
											
                            <div class="quantity">
                                <span class="incr-btn" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <input type="number" class="quantity" id="qty" step="{$product_info.products_quantity_order_units|quantity}" min="{$product_info.products_quantity_order_min|quantity}" max="{$product_info.products_quantity_order_max|quantity}" name="cart_quantity[]" value="{$product.quantity}">
                                <span class="incr-btn" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>											
											
											
											
									</td>
									<td align="right" class="">{display_price price=$product.final_price tax_class_id=$product.tax_class_id quantity=$product.quantity}</td>
								</tr>
						{/foreach}

							</tbody>
						</table>				
					</div>
				  
					{if $any_out_of_stock eq 1 }
						<div class="infoStockArea">
						{if $smarty.const.STOCK_ALLOW_CHECKOUT eq 'true'}
							<div class="alert alert-danger" role="alert">
								{$lang.out_of_stock_can_checkout}
							</div>
						{else}
							<div class="alert alert-danger" role="alert">
								{$lang.out_of_stock_cant_checkout}
							</div>
						{/if}
						</div>
					{/if}	

					
						<div class="updateArea">				  
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{$lang.text_apply_coupon}" aria-describedby="basic-addon2">
								<button class="btn btn-primary float-right" type="submit">{$lang.button_apply_coupon}</button>
							</div>
							<button class="btn btn-primary float-right" type="submit"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_update_cart}</button>
						</div>
						<div class="row totalAmountArea">
							<div class="col-sm-4 ml-sm-auto">
								<ul class="list-unstyled">
								<!-- 
									<li>{$lang.sub_title_sub_total} <span>0.00 €</span></li>
									<li>{$lang.shipping_cost} <span>0.00 €</span></li>
									<li>{$lang.tax} <span>0.00 €</span></li>
								 -->		
									<li>{$lang.total} <span class="grandTotal">{$cart_show_total}</span></li>
								</ul>
							</div>
						</div>
						<div class="checkBtnArea">
						{if $myUser.show_price eq 1 }
							<a href="{html_href_link content=$filename.checkout_shipping}" class="btn btn-danger btn-default" role="button">{$lang.button_checkout} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						{/if}
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span class="pangv mt-30">{$pangv}</span>
			</div>
		</div>				
	{else}
			
		<div class="row">
			<div class="col-12">		
				<div class="container text-center m-py-60">
					<div class="mb-5">
						<span class="d-block g-color-gray-light-v1 fs-70 mb-4">
							<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						</span>
						<h2 class="mb-30">{$lang.text_cart_empty}</h2>
						<p>{$lang.text_cart_empty_help}</p>
					</div>
					<a class="btn btn-primary fs-12 text-uppercase m-py-12 m-px-25" href="{html_href_link content=$filename.home}" role="button">{$lang.button_start_shopping}</a>
				</div>
			</div>
		</div>				
	{/if}			  

	</div>
</section>
<!-- end content -->

{include file="phoenix/system/_footer.html"}