{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}


<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix cartListWrapper">
	<div class="container"> 
	
	{if $cart_count_contents gt 0 }	
		<div class="row">
			<div class="col-12">

				{if !empty($smarty.session.error_cart_msg)}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>			
						<h4></h4>
						<p>{$smarty.session.error_cart_msg}</p>
					</div>
				{/if}
				
				<div class="cartListInner">
				  
					{if $any_out_of_stock eq 1 }
						<div class="infoStockArea">
						{if $smarty.const.STOCK_ALLOW_CHECKOUT eq 'true'}
							<div class="alert alert-danger" role="alert">
								{$lang.out_of_stock_can_checkout}
							</div>
						{else}
							<div class="alert alert-danger" role="alert">
								{$lang.out_of_stock_cant_checkout}
							</div>
						{/if}
						</div>
					{/if}	


				</div>
			</div>
		</div>
		
		<!-- CART -->
		<div class="pb-5 mt-n2 mt-md-n3">
			<div class="row">
				<div class="col-xl-9 col-md-8">
					<h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary"><span>{$lang.heading_products}</span><a class="font-size-sm" href="{html_href_link content=$filename.home}"><i data-feather="chevron-left" style="width: 1rem; height: 1rem;"></i>{$lang.button_continue_shopping}</a></h2>

					<form name="cart_quantity" action="{html_href_link content=$filename.shopping_cart action=update_product}" method="POST">
						{if $mySystem.sed}
							<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
							<input type="hidden" name="formid" value="{$mySystem.formid}">
						{/if}		
						{$hidden_field}

					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>							
								{if $smarty.const.PRODUCT_LIST_MODEL > 0}	  
									<th>{$lang.table_heading_model}</th>
								{/if}
									<th>{$lang.table_heading_products}</th>
									<th>{$lang.table_heading_price}</th>
									<th>{$lang.table_heading_quantity}</th>
									<th align="right">{$lang.table_heading_total}</th>							
									<th></th>
								</tr>
							</thead>
							<tbody>
						{foreach item=product from=$products}
							{if (  $product.old_electrical_equipment eq 1 && $product.return_free_of_charge eq '' )}
								<tr class="table-danger">
							{else}
								<tr>
							{/if}	
									<td>
										<span class="cartImage"><a href="{product_link products_id=$product.id}">{product_image dir=small src=$product.image alt=$product.name}</a></span>
									</td>
									{if $smarty.const.PRODUCT_LIST_MODEL > 0}	  
										<td><a href="{product_link products_id=$product.id}">{$product.model}</a></td>
									{/if}

									<td>
										<div class="d-inline-block align-middle">
											<h4 class="">
												<a href="{product_link products_id=$product.id}">{$product.name}</a>
											{if $smarty.const.STOCK_CHECK eq 'true'}
												{if $product.stock - $product.quantity < 0}
													<span class="text-warning m-0"> {$smarty.const.STOCK_MARK_PRODUCT_OUT_OF_STOCK}</span>
												{/if}
											{/if}
											</h4>
											
										{if $product.products_quantity_order_min > 1 }
											<p>{$lang.products_order_qty_min_text} {$product.products_quantity_order_min|quantity}</p>
										{/if}
										{if $product.products_quantity_order_units > 1 }
											<p>{$lang.products_order_qty_unit_text} {$product.products_quantity_order_units|quantity}</p>
										{/if}							
	
				
										{if ( isset($product.attributes) && is_array($product.attributes) )}						
											{foreach key=key item=item from=$product.attributes}
												<nobr><small>&nbsp;<i> - {$product.$key.products_options_name} : {$product.$key.products_options_values_name}</i></small></nobr><br>
											{/foreach}
										{/if}

										{if $product.essential_characteristics}
											<p>{$product.essential_characteristics}</p>
										{/if}

										{if $product.products_base_price != 1}
											<p class="cart-entry-meta"><strong>{$lang.text_content}</strong> {$product.products_product_quantity|cut_number}&nbsp;{$products_units[$product.products_units_id].0}</p>
											<p class="cart-entry-meta">{$products_units[$product.products_units_id].1} = {$product.base_product_price}</p>
										{/if}


										{if $product.old_electrical_equipment eq 1 }
											<h5>{$lang.text_free_redemption}</h5>
											<p>{$lang.text_free_redemption_selection}</p>
										

											<!-- Inline radio buttons -->
											<div class="custom-control custom-radio custom-control-inline">
												<input class="custom-control-input" type="radio" id="ex-radio-{$product@iteration}" name="free_redemption[]" value="1" {if $product.return_free_of_charge eq 1}checked {/if}>
												<label class="custom-control-label" for="ex-radio-{$product@iteration}">{$lang.text_yes}</label>
											</div>
											<div class="custom-control custom-radio custom-control-inline">
												<input class="custom-control-input" type="radio" id="ex-radio-{$product@iteration+1}" name="free_redemption[]" value="0" {if $product.return_free_of_charge eq 0}checked {/if}>
												<label class="custom-control-label" for="ex-radio-{$product@iteration+1}">{$lang.text_no}</label>
											</div>
											<div class="clearfix mb-15"></div>		
										{else}
											<input type="hidden" name="free_redemption[]" value="">											
										{/if}
											<p><a href="{product_link products_id=$product.id}">{$lang.text_modify}</a> | <a href="{html_href_link content=$filename.shopping_cart action=add_wishlist products_id=$product.id}">{$lang.text_on_memo}</a></p>
										</div>
									</td>
									<td><div class="final_price"><span style="white-space: nowrap;">{display_price price=$product.final_price tax_class_id=$product.tax_class_id}</span></div></td>
									<td class="count-input">
										<div class="cart clearfix mb-15 d-flex align-items-center">
											<div class="quantity">
												<span class="qty-minus" onclick="var effect = document.getElementById('qty{$product@iteration}'); var qty{$product@iteration} = effect.value; if( !isNaN( qty{$product@iteration} ) &amp;&amp; qty{$product@iteration} &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
												<input type="number" class="qty-text" id="qty{$product@iteration}" step="{$product.products_quantity_order_units|quantity}" min="{$product.products_quantity_order_min|quantity}" max="{$product.products_quantity_order_max|quantity}" name="cart_quantity[]" value="{$product.quantity}">
												<span class="qty-plus" onclick="var effect = document.getElementById('qty{$product@iteration}'); var qty{$product@iteration} = effect.value; if( !isNaN( qty{$product@iteration} )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
											</div>
										</div>
									</td>
									<td align="right"><div class="total_price"><span style="white-space: nowrap;">{display_price price=$product.final_price tax_class_id=$product.tax_class_id quantity=$product.quantity}</span></div></td>
									<td><a href="{html_href_link content=$filename.shopping_cart action=cart_delete products_id=$product.id}" class="remove_item"><i class="fa fa-times"></i></a></td>
								</tr>

						{/foreach}

							</tbody>
						</table>				
					</div>

									<button class="btn btn-success  mt-20 mr-10 float-right" type="submit"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_update_cart}</button>
									<a class="btn btn-primary mt-20 mr-10 float-right" href="{html_href_link content=$filename.shopping_cart action=clear_cart}"> <i class="fa fa-remove"></i> {$lang.button_clear_cart}</a>

									<div class="clearfix"></div>
					</form>

				</div>

				<!-- RIGHT -->
				<div class="col-xl-3 col-md-4 pt-3 pt-md-0">
					<h2 class="h6 px-4 py-3 bg-secondary text-center">{$lang.table_heading_total}</h2>
					<hr>
					
							<div class="table-responsive">
								<table class="table">
 {if !empty($order_total_output)}
    {$order_total_output}
 {/if}
								</table>
							</div>

												  
					{if $myUser.show_price eq 1 && $error eq 0  }
						<a href="{html_href_link content=$filename.checkout_shipping}" class="btn btn-danger btn-default btn-block" role="button"><i class="fa fa-mail-forward" aria-hidden="true"></i> {$lang.button_checkout}</a>
					{/if}		  
					</form>
					<div class="pt-4">
						<div class="accordion" id="cart-accordion">
							<div class="card">
								<div class="card-header">
									<h3 class="accordion-heading font-weight-semibold"><a href="#promocode" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="promocode">{$lang.button_apply_coupon}<span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
								</div>
								<div class="collapse show" id="promocode" data-parent="#cart-accordion">
									<div class="card-body">
									<form class="needs-validation" action="{html_href_link content=$filename.shopping_cart action=promocode}" method="POST" novalidate>
										{if $mySystem.sed}
											<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
											<input type="hidden" name="formid" value="{$mySystem.formid}">
										{/if}	
										<div class="form-group">
											<input class="form-control" type="text" name="gv_redeem_code" id="cart-promocode" placeholder="{$lang.text_apply_coupon}" required>
												<div class="invalid-feedback">{$lang.text_invalid_feedback}</div>
										</div>
										<button class="btn btn-outline-primary btn-block" type="submit">{$lang.button_apply_coupon}</button>
									</form>
									</div>
								</div>
							</div>
		
							<div class="card">
								<div class="card-header">
									<h3 class="accordion-heading font-weight-semibold"><a class="collapsed" href="#shipping" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shipping">{$lang.text_shipping_estimates}<span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
								</div>
								<div class="collapse" id="shipping" data-parent="#cart-accordion">
									<div class="card-body">
									<form class="needs-validation" action="{html_href_link content=$filename.shopping_cart action=shipping}" method="POST" novalidate>		
										{if $mySystem.sed}
											<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
											<input type="hidden" name="formid" value="{$mySystem.formid}">
										{/if}
										<div class="form-group">									
											{oos_get_cart_country_list name=country selected=$country}									
										</div>
										<div class="form-group">
											<input class="form-control" id="city" name="city" type="text" value="{$city}" placeholder="{$lang.entry_city}" required" />
										</div>
										<div class="form-group">
											<input class="form-control" id="postcode" name="postcode" type="text" value="{$postcode}" placeholder="{$lang.entry_post_code}" required" />
										</div>
										<button class="btn btn-outline-primary btn-block" type="submit">{$lang.button_calculate_shipping}</button>
									</form>
									</div>
								</div>
							</div>

						</div>
					</div>	
					
				</div>
				<!-- /RIGHT -->
			</div>
		</div>
		<!-- /CART -->
							
		<div class="row">
			<div class="col-md-12">
				<span class="pangv mt-30">{$pangv} {$info_minimum_order_value}</span>
			</div>
		</div>				
	{else}
			
		<div class="row">
			<div class="col-12">		
				<div class="container text-center m-py-60">
					<div class="mb-5">
						<span class="d-block g-color-gray-light-v1 fs-70 mb-4">
							<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						</span>
						<h2 class="mb-30">{$lang.text_cart_empty}</h2>
						<p>{$lang.text_cart_empty_help}</p>
					</div>
					<a class="btn btn-primary fs-12 text-uppercase m-py-12 m-px-25" href="{html_href_link content=$filename.home}" role="button">{$lang.button_start_shopping}</a>
				</div>
			</div>
		</div>				
	{/if}			  

	</div>
</section>
<!-- end content -->

{include file="phoenix/system/_footer.html"}