{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<!-- start content -->
<section class="mainContent clearfix productsContent">
	<div class="container">
		<div class="row">

			<!-- left column -->
			<div class="col-12 col-lg-9">

				{if $page eq 1}
					{if $panorama_info}
						<div class="ratio ratio-16x9 mb-30">
							<iframe  class="embed-responsive-item" src="{html_href_link content=$filename.panorama panorama_id=$panorama_info.panorama_id}" gesture="media" allow="encrypted-media" allowfullscreen="allowfullscreen"></iframe>
						</div>
					{/if}

					{if $slider}
						<!-- CAROUSEL -->
						<div id="categoryIndicators" class="carousel slide" data-ride="carousel">
						{if $smarty.const.CATEGORYINDICATORS == 'true'}
							<ol class="carousel-indicators">
							{foreach $slider as $i}
								<li data-bs-target="#categoryIndicators" data-slide-to="{$i@iteration-1}" {if $i@first}class="active"{/if}></li>
							{/foreach}
							</ol>
						{/if}
							<div class="carousel-inner">
							{foreach $slider as $i}
							<!-- item -->
							<div class="carousel-item {if $i@first}active{/if}">
								{category_image dir=large src=$i.image alt=$category.categories_name}
							</div>
							<!-- item -->
							{/foreach}
							</div>
							<a class="carousel-control-prev" href="#categoryIndicators" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">{$lang.prevnext_slider_previous}</span>
							</a>
							<a class="carousel-control-next" href="#categoryIndicators" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">{$lang.prevnext_slider_next}</span>
							</a>
						</div>
						<!-- /CAROUSEL -->
					{/if}

					{if !empty($category.categories_description) }
						<div class="clearfix mb-5">
							<div class="">
								<h2>{$category.categories_name}</h2>
									{$category.categories_description}
							</div>
						</div>
					{/if}
				{/if}
				<!-- list options -->
				<div class="clearfix shop-list-options mb-20">
					<!-- pagination -->
					<div class="m-0 float-right">
						{$pagination}
					</div>
					<!-- end pagination -->

					<div class="options-left">
						{$product_filter_select}
{*
  todo
						<a class="btn active fa fa-th" href=""><!-- grid --></a>
						<a class="btn fa fa-list" href=""><!-- list --></a>
*}
					</div>
				</div>
				<!-- /list options -->


				<ul class="product-list row list-inline m-0">
				{foreach item=product from=$listing}
					<!-- item col-xl-3 col-lg-4 col-md-4 col-sm-6 -->
					<li class="col-xl-3 col-lg-4 col-md-4 col-sm-6">

						<div class="product">

							<div class="thumbnail">
								<!-- product image -->
								<a class="product-image" href="{product_link products_id=$product.products_id}">
									{product_image dir=medium src=$product.products_image alt=$product.products_name}
								</a>
								<!-- /product image -->

								<!-- hover buttons -->
								<div class="shop-option-over">
									<a class="btn btn-default add-wishlist" href="{html_href_link content=$page_file oos_get=$get_params action=add_wishlist products_id=$product.products_id}" title="{$lang.button_add_wishlist}" role="button"><i class="fa fa-heart p-0" aria-hidden="true"></i></a>
								</div>
								<!-- /hover buttons -->

								<!-- product more info -->
								<div class="product-info">
{*
  todo
									<span class="badge badge-success">{$lang.text_new}</span>
*}
									{if (!empty($product.listing_product_special_price))}<span class="badge badge-danger">{$lang.text_sale}</span>{/if}
								</div>
								<!-- /product more info -->
							</div>

							<div class="product-summary text-center">
								<h2><a href="{product_link products_id=$product.products_id}" title="{$product.products_name}">{$product.products_name|truncate:18:"":true|close_tags}</a></h2>

{*
  todo
								<!-- rating -->
								<div class="product-rating-line">
									<div class="rating rating-4 fs-13"><!-- rating-0 ... rating-5 --></div>
								</div>
								<!-- /rating -->
*}

								{if $myUser.show_price eq 1 }
								<!-- price -->
								<div class="product-price">
									{if (!empty($product.listing_product_special_price))}
										<span class="price-desc">{$product.listing_until}</span><br>
										<span class="price-offer">{$product.listing_product_special_price}</span>									

										{if $product.listing_cross_out_price > 0}						
											<span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$product.listing_cross_out_price}</span></span>
										{/if}	
									{elseif $product.listing_product_price_list ne 0}
										<span class="price-old">{$lang.price_rrp} <span class="line-through">{$product.listing_product_price_list}</span></span><br>
										{$product.listing_product_price}
									{else}
										{if (!empty($product.listing_discount_price))}
											<p class="clearfix"></p>
											{$lang.price_from} {$product.listing_discount_price}
										{else}
											<p class="clearfix"></p>
											{$product.listing_product_price}
										{/if}
									{/if}

									{if $product.products_base_price != 1}
										<br>
										<span class="units-desc">{$product.product_quantity|cut_number}&nbsp;{$products_units[$product.products_units].0}</span>
										<span class="base_price">({$products_units[$product.products_units].1} = {$product.listing_base_product_price})</span>
									{/if}
								{/if}
								</div>								
								<!-- /price -->
							</div>

							<!-- buttons -->
							<div class="product-buttons text-center">
								<a class="btn btn-default" href="{html_href_link content=$page_file oos_get=$get_params action=buy_now cart_quantity=$product.order_min products_id=$product.products_id}" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i> {$lang.button_in_cart}</a>
							</div>
							<!-- /buttons -->
						</div>


					</li>
					<!-- /item -->
				{/foreach}

				</ul>

				<hr />

				<!-- pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- end pagination -->

				<span class="pangv mt-30">{$pangv} {$info_minimum_order_value}</span>

			</div><!-- .col -->


			<!-- sidebar-->
			<div class="col-12 col-lg-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
					{$panel.content}
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->
	</div><!--end container-->
</section>
<!-- end content -->

{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}