{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<!-- start content -->
<section class="mainContent clearfix">
	<div class="container">  
		<div class="row">

			<!-- left column -->
			<div class="col-lg-9 col-md-9 col-sm-9">
	
				<div class="clearfix shop-list-options mb-20">
					<!-- pagination -->
					<div class="m-0 float-right">
						{$pagination}
					</div>
					<!-- end pagination -->
				</div>

				<ul class="product-list row list-inline m-0">	
				{section name=i loop=$specials}

					<!-- item -->
					<li class="col-lg-4 col-sm-4">

						<div class="product">

							<div class="thumbnail">
								<!-- product image(s) -->
								<a class="product-image" href="{product_link products_id=$specials[i].products_id}">
									{product_image dir=medium src=$specials[i].products_image alt=$specials[i].products_name}
								</a>
								<!-- end product image(s) -->

								{if $myUser.show_price eq 1 }			
								<!-- hover buttons -->
								<div class="shop-option-over">
									<a class="btn btn-default add-wishlist" href="{html_href_link content=$filename.specials action=add_wishlist products_id=$specials[i].products_id page=$page}" data-item-id="1" data-bs-toggle="tooltip" title="{$lang.button_add_wishlist}"><i class="fa fa-heart p-0" aria-hidden="true"></i></a>
								</div>
								<!-- end hover buttons -->
								{/if}
								
								<!-- product more info -->
								<div class="product-info">
									<span class="badge badge-success">NEW</span>
									<span class="badge badge-danger">SALE</span>
								</div>
								<!-- end product more info -->
										
											
							</div>
										
							<div class="product-summary text-center">
								<h2><a href="{product_link products_id=$specials[i].products_id}">{$specials[i].products_name}</a></h2>

								{if $myUser.show_price eq 1 }
								<!-- price -->
								<div class="product-price">
									{if (!empty($specials[i].specials_product_special_price))}
										<span class="price-desc">{$specials[i].specials_until}</span><br>
										<span class="price-offer">{$specials[i].specials_product_special_price}</span>									

										{if $specials[i].specials_cross_out_price > 0}						
											<span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$specials[i].specials_cross_out_price}</span></span>
										{/if}	
									{elseif $specials[i].specials_product_price_list ne 0}
										<span class="price-old">{$lang.price_rrp} <span class="line-through">{$specials[i].specials_product_price_list}</span></span><br>
										{$specials[i].specials_product_price}<br>
									{else}
										{if (!empty($specials[i].specials_discount_price))}
											<p class="clearfix"></p>
											{$lang.price_from} {$specials[i].specials_discount_price}<br>
										{else}
											<p class="clearfix"></p>
											{$specials[i].specials_product_price}<br>
										{/if}
									{/if}

									{if $specials[i].products_base_price != 1}
										<br>
										<span class="units-desc">{$specials[i].product_quantity|cut_number}&nbsp;{$products_units[$specials[i].products_units].0}</span><br>
										<span class="base_price">({$products_units[$specials[i].products_units].1} = {$specials[i].specials_base_product_price})</span>
									{/if}
								</div>
								<!-- /price -->								
								{/if}																			
										
								{if $myUser.show_price eq 1 }
								<!-- buttons -->
								<div class="product-buttons text-center">
									<a class="btn btn-default" href="{html_href_link content=$filename.specials action=buy_now page=$page products_id=$specials[i].products_id}" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i></i> {$lang.button_in_cart}</a>
								</div>
								<!-- end buttons -->
								{/if}
							</div>
						
						</div>

					</li>
					<!-- end item -->
					
				{/section}
				</ul>
				
				<span class="pangv mt-30">{$pangv} {$info_minimum_order_value}</span>
				<hr />
				<!-- pagination -->
				<div class="text-center">
					{$pagination}
				</div>
				<!-- end pagination -->
			</div><!-- .col -->

			<!-- sidebar-->
			<div class="col-lg-3 col-md-3 col-sm-3">
			{foreach $sidebar as $panel}
				{if $panel.content}
					{$panel.content}
				{/if}
			{/foreach}
            </div><!-- .col -->
			<!-- end sidebar -->
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->

{if $smarty.const.NEWSLETTER eq 'true'}
	{include file="phoenix/system/_newsletter.html"}
{/if}

{include file="phoenix/system/_footer.html"}