{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
<div class="container">
    <div class="row">
		<div class="col-md-12 mt-70">    
			{foreach $message as $info}
				{include file="phoenix/system/_message.html"}
			{/foreach}
		</div>
	</div>
</div>
{/if}

<!-- start content -->
<section id="content">
	<div class="container">
	    <div class="row">
			<div class="col-md-6">
			
				<div class="sign-form">
					<h3 class="first-child"><i class="fa fa-users" aria-hidden="true"></i> {$lang.heading_title}</h3>
					<hr>
					<form name="login" action="{html_get_link}" method="POST">
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="process">
						<input type="hidden" name="content" value="{$filename.login}">

						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="fa fa-user" aria-hidden="true"></i>
								</div>
							</div>
							<input type="email" name="email_address" class="form-control" id="email_address" placeholder="{$lang.entry_email_address}" data-original-title="" title="" autocomplete="email">
						</div>
						<br>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="fa fa-lock" aria-hidden="true"></i>
								</div>
							</div>
							<input type="password" name="password" class="form-control" id="InputPassword" placeholder="{$lang.entry_password}" data-original-title="" title="" autocomplete="current-password">
						</div>
						<br>
						<button type="submit" class="btn btn-primary w-100"><i class="fa fa-check" aria-hidden="true"></i> {$lang.button_login}</button>
						<hr>
					</form>
						<p>{$lang.text_password_forgotten} <a href="{html_href_link content=$filename.password_forgotten}">{$lang.link_password_forgotten}</a></p>
				</div>
			</div>
			
			<div class="col-md-6">	
				<div class="sign-form">
					<h3 class="first-child"><i class="fa fa-users" aria-hidden="true"></i> {$lang.text_new_customer}</h3>
					<hr>
						<p>{$lang.text_new_customer_info}</p>
					<div class="bg-light">
						<h2 class="text-center">{$lang.text_new_customer}</h2>
						<a class="btn btn-primary w-100" href="{html_href_link content=$filename.create_account}" role="button">{$lang.link_new_customer}</a>
					</div>
				</div>
			{if (!isset($smarty.session.guest_login)) }
				<div class="sign-form clearfix mt-80">			
					<h3 class="first-child"><i class="fa fa-users" aria-hidden="true"></i> {$lang.heading_guest_customer}</h3>
					<hr>
						<p>{$lang.text_guest_customer_info}</p>
					<div class="bg-light">
						<h2 class="text-center">{$lang.text_guest_customer}</h2>
						<a class="btn btn-primary w-100" href="{html_href_link content=$filename.create_account guest=true}" role="button">{$lang.link_guest_customer}</a>
					</div>
				</div>
			{/if}				
			</div>			
	
			
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->

{include file="phoenix/system/_footer.html"}