{include file="phoenix/system/_header.html"}

{include file="phoenix/system/_breadcrumbs.html"}

{if $message}
    {foreach $message as $info}
        {include file="phoenix/system/_message.html"}
    {/foreach}
{/if}

<!-- start content -->
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 offset-md-3">
				<div class="sign-form">
					<h3>{$lang.navbar_title_2}</h3>
					<hr>
					<form name="password_forgotten" action="{html_get_link}" method="POST" role="form">
					{if $mySystem.sed}
						<input type="hidden" name="{$mySystem.session_name}" value="{$mySystem.session_id}">
						<input type="hidden" name="formid" value="{$mySystem.formid}">
					{/if}
						<input type="hidden" name="action" value="process">
						<input type="hidden" name="content" value="{$filename.password_forgotten}">	
					
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fa fa-user" aria-hidden="true"></i>
									</div>
								</div>
								<input type="text"  name="email_address" class="form-control" id="email" placeholder="{$lang.entry_email_address}">
							</div>

							<br>

							<button type="submit" class="btn btn-primary w-100">{$lang.button_send}</button>
							<hr>
						</form>
						<p><a href="{html_href_link content=$filename.login}">{$lang.link_back_to_login}</a></p>
					<div class="bg-light">
						<h2 class="text-center">{$lang.text_new_customer}</h2>
						<a href="{html_href_link content=$filename.create_account}"><button type="button" class="btn btn-outline-danger w-100">{$lang.link_new_customer}</button></a>
					</div>						
				</div>
			</div>
		</div><!-- .row -->      
	</div><!--end container-->
</section>
<!-- end content -->
	
{include file="phoenix/system/_footer.html"}