      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><table width="{$discount_table}" border="0" cellpadding="2" cellspacing="2" align="center">
            <tr>
              <td>
                <table width="100%" border="0" cellpadding="3" cellspacing="3" align="center">
                  <tr>
                    <td colspan="{$colspan}" class="DiscountPriceTitle" align="center">{$lang.products_see_qty_discounts}</td>
                  </tr>
                  <tr>
                    <td class="DiscountPriceQty" align="center">{$col0}</td>
  {if $q1 > 0 }
                    <td class="DiscountPriceQty" align="center">{$col1}</td>
  {/if}
  {if $q2 > 0 }
                    <td class="DiscountPriceQty" align="center">{$col2}</td>
  {/if}
  {if $q3 > 0 }
                    <td class="DiscountPriceQty" align="center">{$col3}</td>
  {/if}
  {if $q4 > 0 }
                    <td class="DiscountPriceQty" align="center">{$col4}</td>
  {/if}
                 </tr>
                 <tr>
                   <td class="DiscountPrice" align="center">{$td0}</td>

    {if $q1 > 0 }
                   <td class="DiscountPrice" align="center">{$td1}</td>
    {/if}

    {if $q2 > 0 }
                   <td class="DiscountPrice" align="center">{$td2}</td>
    {/if}

    {if $q3 > 0 }
                   <td class="DiscountPrice" align="center">{$td3}</td>
    {/if}

    {if $q4 > 0 }
                   <td class="DiscountPrice" align="center">{$td4}</td>
    {/if}

                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>