<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html {$smarty.const.HTML_PARAMS}>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset={$smarty.const.CHARSET}">
<title>{$products_name}</title>
<base href="{$oos_base}">

{literal}
<script language="javascript"><!--
var i=0;
function resize() {
  if (navigator.appName == 'Netscape') i=40;
  if (document.images[0]) window.resizeTo(document.images[0].width +30, document.images[0].height+80-i);
  self.focus();
}
//--></script>
{/literal}
</head>
<body onload="resize();">

<center><img src="{$picture}" border="0" alt="{$products_name}" width="{$size.0}" height="{$size.1}"></center>

</body>
</html>
