/**	 Resets
*************************************************** **/

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  border: 0;
  vertical-align: top;
}

input:-webkit-autofill {
  color: #ffffff !important;
}

textarea {
  resize: none;
  outline: none !important;
}

input, button, *:focus {
  outline: none !important;
}

textarea {
  resize: vertical;
}

select {
  border: 2px solid #E5E7E9;
  height: 46px;
  padding: 12px;
  outline: none;
  line-height: 1 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

label {
  font-weight: 400;
}

iframe, fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

audio, canvas, img, video {
  vertical-align: middle;
}

p {
  display: block;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

a {
  -webkit-transition: all .300s;
  -moz-transition: all .300s;
  -o-transition: all .300s;
  transition: all .300s;
  outline: 0;
  cursor: pointer;
  &:focus, &:hover, &:active {
    outline: 0;
    cursor: pointer;
  }
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
  /* form - required */
  margin-bottom: 30px;
}


