/** Table
*************************************************** **/

.reviews{
	display: block;
	margin-bottom: 50px;
	h4{
		font-weight: 400;
		text-transform: capitalize;
		font-size: 20px;
	}
	.table-responsive{
		margin-bottom: 0;
		@include mobile{
			overflow-x: auto;
		}
		@include tablet{
			overflow-x: visible;
		}
		.table{
			margin-bottom: 0;
			thead{
				tr{
					@include add-border(3px, $m-color-primary, right-left);
					th{
						@extend %tableHead;
						@include mobile-xs{
							padding: 10px;
							text-align: center;
							font-size: 12px;
						}
						@include mobile{
							padding: 10px;
							text-align: center;
							font-size: 12px;
						}
						@include tablet{
							padding: 10px 10px 10px 20px;
							text-align: left;
							font-size: 15px;
						}
					}
				}
			}
			tbody{
				tr{
					@include add-border(3px, $m-color-light, right-left);
					td{
						@extend %tableData;
						padding-left: 20px;
						font-weight: 400;
						.btn-default{
							box-shadow: none;
							border-radius: 0;
							@include add-border(1px, $border-gray, all);
							padding: 15px 20px;
							display: inline-block;
							font-size: 12px;
							font-weight: 700;
							color: $m-color-secondary;
							@include transition(all 0.3s ease-in-out);
							text-transform: uppercase;
							&:hover{
								background-color: $m-color-primary;
								color: $m-color-white;
								border-color: $m-color-primary;
							}
						}
						&:last-child{
							text-align: center;
							padding-left: 10px;
						}
						&:first-child{
							color: $m-color-primary;
							.fa{
								color: $m-color-secondary !important;
							}
						}
						.label{
							border-radius: 0;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
%tableHead{
	background-color: $m-color-primary;
	padding: 0;
	height: 55px;
	vertical-align: middle;
	text-align: left;
	font-size: 15px;
	color: $m-color-white;
	padding-left: 20px;
	@include add-border(1px, rgba(255,255,255,0.2), right);
	border-bottom: none;
}
%tableData{
	vertical-align: middle;
	font-weight: 700;
	@include add-border(3px, $m-color-light, bottom);
	border-top: none;
}
%closeBtn{
	display: inline-block;
	float: left;
	font-size: 35px;
	margin-right: 30px;
	color: $m-color-primary;
	opacity: 1;
	line-height: 74px;
	font-weight: normal;
	@include transition(all 0.3s ease-in-out);
	&:hover{
		opacity: .8;
	}
	@include tablet{
		margin-right: 5px;
	}
	@include desktops{
		margin-right: 30px;
	}
}

.bg-confirmation {
	background-color: #d6f5e6;
}