//
// Off-canvas
// --------------------------------------------------


// Header
.offcanvas-header {
  position: fixed;
  width: 100%;
  height: $offcanvas-header-height;
  padding: $offcanvas-padding-y $offcanvas-padding-x;
  border-bottom: $offcanvas-header-border-width solid $offcanvas-header-border-color;
}

// Body
.offcanvas-body {
  position: absolute;
  left: 0;
  top: $offcanvas-header-height;
  width: 100%;
  height: calc(100% - #{$offcanvas-header-height});
  overflow-y: auto;
  .offcanvas-body-inner {
    padding: ($offcanvas-padding-y / 2) $offcanvas-padding-x;
    padding-bottom: ($offcanvas-padding-y * 1.5);
  }
}

// Firefox offcanvas header fix
@-moz-document url-prefix() {
  .offcanvas-header {
    position: relative;
  }
}

// Title
.offcanvas-title {
  margin: 0;
  font-size: $offcanvas-title-font-size;
}

.cart-entry-meta {
  margin-bottom: 0;
  font-size: 0.875rem;
}

// Cart Entries 
.cart-entries {
  .cart-entry-thumb {
    display: block;
    position: relative;
    width: 4rem;
    margin-right: .75rem;
    > a {
      display: block;
      width: 100%;
      overflow: hidden;
    }
    .item-remove-btn {
      position: absolute;
      top: -($item-remove-btn-size / 3);
      right: -($item-remove-btn-size / 3);
    }
  }
  .cart-entry-title {
    margin: 0.175rem 0 .25rem 0;
    font: {
      font-size: 0.9375rem;
      weight: 600;
    }
    > a {
      display: block;
      color: #222;
    }
    & + .star-rating {
      margin-top: -.75rem;
      & + .featured-entry-meta {
        margin-top: -.25rem;
      }
    }
  }

  .media {
    margin-bottom: $spacer;
    padding-top: .25rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}