<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td class="pageHeading">{$product_info.products_name}</td>
    <td class="pageHeading" align="right">
{if (!empty($info_special_price))}
   <s>{$info_product_price}</s><br>
   {if $product_info.products_base_price != 1}<s><span class="base_price">{$product_info.products_base_unit} = {$info_base_product_price}</span></s><br>{/if}

   <span class="special_price">{$info_product_special_price|price2image:true}</span>{$smarty.const.UNITS_DELIMITER} {$products_units[$product_info.products_units_id]}<br>
   {if $product_info.products_base_price != 1}<span class="special_base_price">{$product_info.products_base_unit} = {$info_base_product_special_price}</span></s><br>{/if}

{else}
  {if $info_max_product_discount != 0}
    <s>{$info_product_price}</s> -{$info_max_product_discount}%<br>
    <span class="discount_price">{$info_product_discount_price|price2image:true}</span>{$smarty.const.UNITS_DELIMITER} {$products_units[$product_info.products_units_id]}<br>
    {if $product_info.products_base_price != 1}<span class="discount_base_price">{$product_info.products_base_unit} = {$info_base_product_special_price}</span></s><br>{/if}

  {else}
    {if $price_discount}
       {$lang.price_from} {$price_discount|price2image}{$smarty.const.UNITS_DELIMITER} {$products_units[$product_info.products_units_id]}<br>
    {else}
      {$info_product_price|price2image}{$smarty.const.UNITS_DELIMITER} {$products_units[$product_info.products_units_id]}<br>
      {if $product_info.products_base_price != 1}<span class="base_price">{$product_info.products_base_unit} = {$info_base_product_price}</span><br>{/if}
    {/if}
  {/if}
{/if}
<span class="pangv">{$pangv}</span><br>
     </td>
  </tr>

{if $info_product_price_list > 0}
  <tr>
    <td colspan="2" align="right"><span class="smallText">{$info_product_price_list}</span></td>
  </tr>
{/if}

{if $smarty.const.PRODUCT_LIST_MODEL > 0}
  <tr>
    <td colspan="2" class="pageHeading">{$product_info.products_model}</td>
  </tr>
{/if}
</table>

