<table border="0" width="100%" cellspacing="0" cellpadding="2">
{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '1' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
  <tr>
    <td><img src="{$theme_image}/black.gif" border="0" alt="" width="100%" height="1"></td>
  </tr>
{/if}
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
{section name=i loop=$list_box_contents}
  <tr {$list_box_contents[i].params}>
   {section name=j loop=$list_box_contents[i]}
     <td align="{$list_box_contents[i][j].align}" {$list_box_contents[i][j].params}>{$list_box_contents[i][j].text}</td>
   {/section}
  </tr>
{/section}
    </table></td>
  </tr>
  <tr>
    <td><img src="{$theme_image}/black.gif" border="0" alt="" width="100%" height="1"></td>
  </tr>
{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
{/if}
</table>