//
// Placeholders
// --------------------------------------------------

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999 !important;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999 !important;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999 !important;
}