<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td height="14" class="infoBoxHeading"><img src="{$theme_image}/infobox/corner_right_left.gif" border="0" alt="" width="11" height="14"></td>
    <td width="100%" height="14" class="infoBoxHeading">{$block_heading_search}</td>
    <td height="14" class="infoBoxHeading"><img src="{$theme_image}/trans.gif" border="0" alt="" width="11" height="14"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="infoBoxContents">
  <tr>
    <td height="1"></td>
  </tr>
  <tr>
    <td align="center" class="boxText">
    <form name="quick_find" action="{html_href_link modul=$modules.search file=$filename.advanced_search_result}" method="get">
    <input type="hidden" name="mp" value="{$modules.search}">
    <input type="hidden" name="file" value="{$filename.advanced_search_result}">
    {html_js_inputbox name='keywords' size='10' value=$lang.text_search}
    <input type="hidden" name="{$oos_session_name}" value="{$oos_session_id}">
    {html_image_submit image="quick_find.gif" alt=$block_heading_search}
    <br />{$lang.block_search_text}<br />
    <a href="{html_href_link modul=$modules.search file=$filename.advanced_search}"><b>{$lang.block_search_advanced_search}</b></a></form></td>
  </tr>
  <tr>
    <td height="1"></td>
  </tr>
</table>
</td>
  </tr>
</table>
