{if $whats_new_block eq 'true'}
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td height="14" class="infoBoxHeading"><img src="{$theme_image}/infobox/corner_right_left.gif" border="0" alt="" width="11" height="14"></td>
    <td width="100%" height="14" class="infoBoxHeading">{$block_heading_whats_new}</td>
    <td height="14" class="infoBoxHeading" nowrap><a href="{html_href_link modul=$modules.products file=$filename.products_new}"><img src="{$theme_image}/infobox/arrow_right.gif" border="0" alt="{$icon_arrow_right}" width="12" height="10"></a><img src="{$theme_image}/trans.gif" border="0" alt="" width="11" height="14"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="infoBoxContents">
  <tr>
    <td height="1"></td>
  </tr>
  <tr>
    <td align="center" class="boxText">
    <a href="{product_info_link products_id=$random_product.products_id}">{html_oos_image basedir=$smarty.const.OOS_IMAGES image=$random_product.products_image alt=$random_product.products_name width=$smarty.const.SMALL_IMAGE_WIDTH height=$smarty.const.SMALL_IMAGE_HEIGHT}</a><br />
    <a href="{product_info_link products_id=$random_product.products_id}">{$random_product.products_name}</a><br />
{if (!empty($whats_new_special_price))}
   <s>{$whats_new_product_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$random_product.products_units_id]}</s><br />
   {if $random_product.products_base_price != 1}<s><span class="base_price">{$random_product.products_base_unit} = {$whats_new_base_product_price}</span></s><br />{/if}

   <span class="special_price">{$whats_new_product_special_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$random_product.products_units_id]}</span>
   {if $random_product.products_base_price != 1}<br /><span class="special_base_price">{$random_product.products_base_unit} = {$whats_new_base_product_special_price}</span></s><br />{/if}

{else}
  {if $whats_new_max_product_discount != 0}
    <s>{$whats_new_product_price}</s> -{$whats_new_max_product_discount}%<br />
    <span class="discount_price">{$whats_new_product_discount_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$random_product.products_units_id]}</span>
    {if $random_product.products_base_price != 1}<br /><span class="discount_base_price">{$random_product.products_base_unit} = {$whats_new_base_product_special_price}</span></s><br />{/if}

  {else}
    {$whats_new_product_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$random_product.products_units_id]}
    {if $random_product.products_base_price != 1}<br /><span class="base_price">{$random_product.products_base_unit} = {$whats_new_base_product_price}</span><br />{/if}

  {/if}
{/if}

<br /><span class="pangv">{$pangv}</span><br />

    </td>
  </tr>
  <tr>
    <td height="1"></td>
  </tr>
</table>
</td>
  </tr>
</table>
{/if}