    <td width="100%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>{$oosPageHeading}</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
{if $smarty.get.action eq 'success' }
      <tr>
        <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main"><img src="{$theme_image}/table_background_man_on_board.gif" border="0" alt="{$oos_heading_title}" width="175" height="198" align="left">{$lang.text_success}</td>
          </tr>
          <tr>
            <td align="right"><br /><a href="{html_href_link modul=$modules.main file=$filename.main}">{html_image_button image="continue.gif" alt=$lang.image_button_continue}</a></td>
          </tr>
        </table></td>
      </tr>
{else}
      <tr>
        <td>
{if $oEvent->installed_plugin('spell')}
 <script type="text/javascript" src="js/googiespell/AmiJS.js"></script>
 <script type="text/javascript" src="js/googiespell/googiespell.js"></script>
 <script type="text/javascript" src="js/googiespell/cookiesupport.js"></script>
 <link href="js/googiespell/googiespell.css" rel="stylesheet" type="text/css" media="all" />
{/if}
<form name="contact_us" action="{html_href_link modul=$modules.main file=$filename.contact_us action=send}" method="post"><table border="0" width="100%" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">{$lang.entry_name}<br /><input type="text" name="name" value="{$smarty.post.name}" size=40></td>
          </tr>
          <tr>
            <td class="main">{$lang.entry_email}<br /><input type="text" name="email" value="{$smarty.post.email}" size=40> {if $error eq 'true'}{$lang.entry_email_address_check_error}{/if}</td>
          </tr>
          <tr>
            <td class="main">{$lang.entry_enquiry}</td>
          </tr>
          <tr>
            <td>
<span id="spell_container" style="background-color: #ddd"></span><br />
<textarea id="tal" name="enquiry" class="textarea">{$smarty.post.enquiry|stripslashes}</textarea>
{if $oEvent->installed_plugin('spell')}
{literal}
  <script type="text/javascript">
    var googie2 = new GoogieSpell("js/googiespell/", "send_req.php?lang=");
    googie2.dontUseCloseButtons();
    googie2.setSpellContainer("spell_container");
    googie2.decorateTextarea("tal");
  </script>
{/literal}
{/if}
         </td>
          </tr>
          <tr>
            <td class="main" align="right"><br />{html_image_submit image="continue.gif" alt=$lang.image_button_continue}</td>
          </tr>
        </table></form></td>
      </tr>
{/if}
    </table></td>
