
#slider .badge,
#slider .page-header {
	border-radius: 2px;
}

ul.nav>li>a {
	display: block;
}
ul.list-group>li {
	list-style: none;
}

ul.nav.nav-pills>li {
	display: inline-block;
}
ul.list-group li>a,
ul.list-group ul:not(.collapse) {
	display: block;
	width: 100%;
}
ul.list-group ul {
	width: 100%;
}
ul.list-group li>a:after {
	border: 0;
}
ul.dropdown-menu a {
	display: block;
	width: 100%;
}
ul.row.list-inline>li,
ul.list-unstyled.list-inline>li {
	margin-right: 0;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.badge {
	padding:.3em .6em .4em;
}
pre {
	font-size:13px;
}
ul.list-unstyled .dropdown-toggle::after {
	border:0;
}
.card-default>.card-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.card-heading {
    padding: 10px 15px;
}
.card-heading>h1,
.card-heading>h2,
.card-heading>h3,
.card-heading>h4,
.card-heading>h5,
.card-heading>h6 {
	margin:0;
}
h1.card-title,
h2.card-title,
h3.card-title,
h4.card-title,
h5.card-title,
h6.card-title {
	font-size:16px;
}
.card-title a {
	display: block;
	width: 100%;
}
.media-body, 
.media-left, 
.media-right {
    display: table-cell;
    vertical-align: top;
}
.media {
    margin-top: 15px;
}
.dropdown-menu>li>a {
    font-weight: 400;
    color: #333;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: $m-color-primary;
    outline: 0;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    padding: 0;
}
ul.pagination {
	display: inline-block;
	margin: 20px 0;
}
ul.pagination>li {
	float: left;
}


section {
	display: block;
	position: relative;
	padding: 80px 0;
	border-bottom:rgba(0,0,0,0.1) 1px solid;
	background-color: #fff;
}
section:after,
section:before {
	content:" ";
	display:table;
}
section:after {
	display: block;
    content: "";
    clear: both;
}


section header.section-header {
	margin-bottom:80px;
}
section.section-xxs {
	padding:15px 0;
}
section.section-xs {
	padding:30px 0;
}
section.section-sm {
	padding:60px 0;
}
section.padding-md {
	padding:80px 0;
}
section.section-lg {
	padding:120px 0;
}
section.section-xlg {
	padding:140px 0;
}


@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}



.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}


/** sign-out
 **************************************************************** **/

.sign-out {
	@include px-to-rem( font-size, 200px);
	@include px-to-rem( line-height, 200px);
	font-weight: bold;
	color: #ddd;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

