<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="450" align="left" valign="middle" class="tbl_header">&nbsp;&nbsp;{$oos_heading_title}</td>
    <td align="left" valign="middle" class="tbl_header"><img src="{$theme_image}/trans.gif" alt=" " width="2" height="22"></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="middle" class="body_head"><img src="{$theme_image}/heading/{$oos_heading_image}" alt="{$oos_heading_title}" hspace="4" vspace="4" border="0"></td>
  </tr>
</table>
