

/* BACKGROUNDS */

.gray-bg {
  background-color: #fafbfc
}

.white-bg {
  background-color: #ffffff;
}


.black-bg {
  background-color: #262626;
}


/* MARGINS & PADDINGS */


.m-r-sm {
  margin-right: 10px;
}


.space-15 {
  margin: 15px 0;
}

.space-20 {
  margin: 20px 0;
}

.space-25 {
  margin: 25px 0;
}

.space-30 {
  margin: 30px 0;
}

/* BREADCRUMB */

.breadcrumb {
  background-color: #fafbfc;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb > li a {
  color: inherit;
}

.breadcrumb > .active {
  color: inherit;
}
