{if $best_sellers_block}
<!-- best_sellers -->
<div class="mb-60">
	<h4>{$block_heading_best_sellers}</h4>

	<div><!-- slide -->
		<ul class="list-unstyled m-0 p-0 text-left">
		{foreach name=best item=best_seller from=$best_sellers_list}
			<li class="clearfix"><!-- item -->
			{if $smarty.const.BLOCK_BEST_SELLERS_IMAGE eq 'true'}
				<div class="thumbnail featured clearfix float-left">
					<a href="{product_link products_id=$best_seller.products_id}">
						{product_image dir=small image=$best_seller.products_image alt=$best_seller.products_name}
					</a>
				</div>  
			{/if}
            <a class="block fs-12" href="{product_link products_id=$best_seller.products_id}">{$best_seller.products_name|truncate:17:"":true|close_tags}</a>
{*
  todo			
			<div class="rating rating-4 fs-13 fw-100 text-left"><!-- rating-0 ... rating-5 --></div>
			<div class="fs-18 text-left">00.00 €</div>
*}			
			</li><!-- /item -->
		{/foreach}

		</ul>
	</div><!-- /slide -->
							
</div>
<!-- /best_sellers -->
{/if}