<!-- categories -->
<div class="side-nav mb-60">

	<div class="side-nav-head">
		<button class="fa fa-bars"></button>
		<h4>{$block_heading_categories}</h4>
	</div>

	<ul class="list-group list-group-bordered list-group-noicon">
{foreach item=category from=$categories}
	{if $category.isGroupStart eq 1}<ul>{/if}
	{if $category.isActive eq 1}
		<li class="list-group-item active"><a href="{if $category.parent eq 0}{html_href_link content=$filename.shop category=$category.counter}{else}{html_href_link content=$filename.shop category=$category.path}{/if}" title=" {$category.name} "><span class="fs-11 text-muted float-right">({$category.countProductsInCategory})</span><strong>{$category.name}</strong></a></li>
	{else}
		<li class="list-group-item"><a href="{if $category.parent eq 0}{html_href_link content=$filename.shop category=$category.counter}{else}{html_href_link content=$filename.shop category=$category.path}{/if}" title=" {$category.name} "><span class="fs-11 text-muted float-right">({$category.countProductsInCategory})</span>{$category.name}</a></li>
	{/if}
	{if $category.isGroupEnd eq 1}</ul>{/if}	
{/foreach}
	</ul>

</div>
<!-- /categories -->

