{if $products_history_block}
<!-- products_history -->
<div class="m-mb-60">
	<h4>{$block_heading_products_history}</h4>

	<div><!-- slide -->
		<ul class="list-unstyled m-0 p-0 text-left">
		{foreach name=history item=products_history from=$customer_products_history}
			<li class="clearfix"><!-- item -->
				<div class="thumbnail featured clearfix float-left">
					<a href="{product_link products_id=$products_history.products_id}">
						{min_product_image image=$products_history.products_image alt=$products_history.products_name|strip_tags}
					</a>
				</div>  
				<a class="block fs-12" href="{product_link products_id=$products_history.products_id}">{$products_history.products_name|truncate:11:"":true|close_tags}</a>
{*
  todo			
				<div class="rating rating-4 fs-13 fw-100 text-left"><!-- rating-0 ... rating-5 --></div>
				<div class="fs-18 text-left">00.00 €</div>
*}	
				{if $myUser.show_price eq 1 }
					<a href="{html_href_link content=$page_file oos_get=$get_params action=buy_now products_id=$products_history.products_id}" class="btn btn-secondary float-right" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
				{/if}	
			</li><!-- /item -->
		{/foreach}

		</ul>
	</div><!-- /slide -->
							
</div>
<!-- /products_historys -->
{/if}
