{if $oEvent->installed_plugin('reviews')}
<div class="mb-60">
	<h4>{$block_heading_reviews}</h4>
	
	{if $random_product.reviews_text}
	<div class="text-center">
		<a href="{html_href_link content=$filename.product_reviews_info products_id=$random_product.products_id reviews_id=$random_product.reviews_id}">
			{small_product_image image=$random_product.products_image alt=$random_product.products_name|strip_tags}
		</a>
	</div>
	<div class="fs-12 text-left">
		<a href="{html_href_link content=$filename.product_reviews_info products_id=$random_product.products_id reviews_id=$random_product.reviews_id}">
			{$random_product.reviews_text|strip|truncate:55:"...":true|close_tags}
		</a>	
	</div>	
		
	<div class="rating rating-{$random_product.reviews_rating} fs-13 fw-100 text-center"><!-- rating-0 ... rating-5 --></div>

	{elseif (isset($smarty.get.products_id))}
	<ul class="list-group list-unstyled">
        <li class="list-group-item"><a href="{html_href_link content=$filename.product_reviews_write products_id=$smarty.get.products_id}">{$lang.button_write_review}</a></li>
        <li class="list-group-item"><a href="{html_href_link content=$filename.product_reviews_write products_id=$smarty.get.products_id}">{$lang.block_reviews_write_review}</a></li>
	</ul>
	{else}
		{$lang.block_reviews_no_reviews}
	{/if}
</div>
{/if}