{if $specials_block}
<!-- specials -->
<div class="mb-60">
	<h4>{$block_heading_specials}</h4>

	<div class="text-center">
		<a href="{product_link products_id=$specials_random_product.products_id}">
			{product_image dir=small src=$specials_random_product.products_image alt=$specials_random_product.products_name}
		</a>
	</div>
	<div class="text-center">
		<a href="{product_link products_id=$specials_random_product.products_id}">{$specials_random_product.products_name}</a>
	</div>

	{if $myUser.show_price eq 1 }
		<div class="product-price text-center">
			{if (!empty($specials_random_product_special_price))}
				<span class="price-desc">{$specials_random_until}</span><br>
				<span class="price-offer">{$specials_random_product_special_price}</span> 			
				{if $specials_random_cross_out_price > 0}						
					<span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$specials_random_cross_out_price}</span></span><br>
				{/if}
			{elseif $specials_random_product_price_list ne 0}
				<span class="price-old">{$lang.price_rrp} <span class="line-through">{$specials_random_product_price_list}</span></span><br>
				{$random_product.new_product_price}	<br>									
			{/if}

		{if $specials_random.products_base_price != 1}
			<br>
			<span class="units-desc">{$specials_random.products_product_quantity|cut_number}&nbsp;{$products_units[$specials_random.products_units_id].0}</span>
			<span class="base_price">({$products_units[$specials_random.products_units_id].1} = {$specials_random_base_product_price})</span>
		{/if}
		</div>
	{/if}
</div>
<!-- specials -->		
{/if}		
