{if $specials_block}
<!-- specials -->
<div class="mb-60">
	<h4>{$block_heading_specials}</h4>

	<div class="text-center">
		<a href="{product_link products_id=$specials_random_product.products_id}">
			{product_image dir=small image=$specials_random_product.products_image alt=$specials_random_product.products_name}
		</a>
	</div>
	<div class="text-center">
		<a href="{product_link products_id=$specials_random_product.products_id}">{$specials_random_product.products_name}</a>
	</div>
	
	{if $myUser.show_price eq 1 }
	<div class="text-center">
		<span class="price-offer">{$specials_random_product_special_price}</span> <span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$specials_random_product_price}</span></span>

		{if $specials_random_product.products_base_price != 1}
			<br>{$specials_random_product.products_product_quantity} {$products_units[$specials_random_product.products_units_id]}
			<span class="special_base_price">{$specials_random_base_product_special_price}/{$products_units[$specials_random_product.products_base_unit]}</span>
		{/if}
	</div>
	{/if}
</div>
<!-- specials -->		
{/if}		
