{if $whats_new_block}
<!-- whats_new -->
<div class="mb-60">
	<h4>{$block_heading_whats_new}</h4>

	<div class="text-center">
		<a href="{product_link products_id=$random_product.products_id}">
			{product_image dir=small src=$random_product.products_image alt=$random_product.products_name}
		</a>
	</div>
	<div class="text-center">
		<a href="{product_link products_id=$random_product.products_id}">{$random_product.products_name|truncate:18:"":true|close_tags}</a>
	</div>

	{if $myUser.show_price eq 1 }
		<div class="product-price text-center">
			{if (!empty($whats_new_product_special_price))}
				<span class="price-desc">{$whats_new_until}</span><br>
				<span class="price-offer">{$whats_new_product_special_price}</span> 			
				{if $whats_new_cross_out_price > 0}						
					<span class="price-old">{$lang.price_reduced_from} <span class="line-through">{$whats_new_cross_out_price}</span></span>
				{/if}
			{elseif $whats_new_product_price_list ne 0}
				<span class="price-old">{$lang.price_rrp} <span class="line-through">{$whats_new_product_price_list}</span></span>
				{$random_product.new_product_price}										
			{else}
				{if (!empty($random_product.new_product_discount_price))}
					<p class="clearfix"></p>
						{$lang.price_from} {$random_product.new_product_discount_price}											
				{else}
					<p class="clearfix"></p>	
					{$whats_new_product_price}
				{/if}	
			{/if}
		</div>

		<div class="text-center">
		{if $random_product.products_base_price != 1}
			<p>{$random_product.products_product_quantity|cut_number}&nbsp;{$products_units[$random_product.products_units_id].0}<br>
			<span class="base_price">({$products_units[$random_product.products_units_id].1} = {$whats_new_base_product_price})</span></p>
		{/if}
		</div>
	{/if}
</div>
<!-- /whats_new -->
{/if}